
  <app-menu></app-menu>

<div class="faqbanner">
	<div class="container">
		<h1>Reset Your Password</h1>
		<p>
			Please fill below details to reset your password.
		</p>
	
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
		     <form role="form" action="" method="post" id="">
                              <div class="modal-body mb-1 align_left">
                                  <div class="input-effect  md-form mt-3">
                                       <input class="effect-16"  
                                       type="email"
                                        [(ngModel)] = "user.username" 
                                        name="username" 
                                        id="username2"
                                        autocomplete="username"
                                         required
                                         placeholder="">
                                      <label>Your Email</label>
                                      <span class="focus-border"></span>
                                  </div> 
                                  <div class="input-effect  md-form mt-3">
                                          <input class="effect-16"   
                                          type="password"
                                          name="password"
                                          placeholder="">
                                      <label>New Password</label>
                                      <span class="focus-border"></span>
                                  </div> 
                                  <div class="input-effect  md-form mt-3">
                                          <input class="effect-16"   
                                          type="password"
                                          name="password"
                                          placeholder="">
                                      <label>Confirm New Passowrd</label>
                                      <span class="focus-border"></span>
                                  </div>

                                  <div>
                                  	<button class="btn btn-info" type="submit">SUBMIT </button>
                                  </div>
							  </div>
							</form>
	</div>
</div>
</div>
<app-foot></app-foot>

<router-outlet></router-outlet>