<section class="all_category" id="portfolio">

    <div class="container martop60px">
        <ol _ngcontent-c11="" class="breadcrumb breadcrumbcontainer">
          <li><a routerLink="/home">Home</a></li>
          <li class="active">All Wedding Categories</li>
        </ol>
      </div>


   <div class="container text-center mob_dis_none">
          <h3 class="brows_head"> <strong> Wedding Vendors by  <span class="bate_bg"> Category </span>  </strong> </h3>
         <!--  <p class="subheadertext">
      Photographers, venues, makeup artists & more at your budget & style.
          </p>   -->
        </div>
<div class="container mob_parallax mob_padd0">

<div class="col-md-3 col-6 box_img"  *ngFor='let Popular of Popular_Wedding_array'>
  <a (click) = "Categories_each(Popular)">
    <img [src]="Popular.imagePath"  class="zoom_in">
   <!--  <div class="cakes_hover">
        <img _ngcontent-c1="" class="red_bg" [src]="Popular.iconImageURL">
        
    </div> -->
    <div class="tranparentlayer">
      <h5>{{Popular.categoryName}}</h5> 
      <p>{{Popular.listingCount}} listing </p>
    </div>
  </a>
</div>

</div>

</section>


