.all_category{

   padding-top: 100px;
   padding-bottom: 30px;
}
.brows_head{
    font-size: 2rem;
}

// .box_img h6 ,.box_img p{
//   position: absolute;
//   color: #fff;
//   top: 40%;
//   left:0px;
//   font-size: 18px;
//   text-align: center;
//   width:100%;

// }
.box_img{
  margin-bottom: 20px;

}
.box_img img{
  border-radius: 5px;
  height: 180px;
  width: 100%;
}
.abc{position: relative;    transition: all .25s;
   
  
}
.abc:hover{
    ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}


// .abc::after{
//     position: absolute;
//     width: 100%;
//     height: 180px;
//     background: rgba(0,0,0,.4);
//     content: "";
//     top: 0;
//     border-radius: 5px;
//     left: 0px;
// }
.bate_bg{
  color: #e72e77;
}
.cakes_hover {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff; position: absolute;

}
.cakes_hover i, .cakes_hover img {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 100%;
}
.cakes_hover .red_bg{
  background-color: #f62459;
}
.cakes_hover .orange_bg{
  background-color: #f9690e;
}
.cakes_hover .dark_orange{
  background-color: #f89406;
}
.cakes_hover .lightgreen{
  background-color: #27ccab;
}
.cakes_hover .light_blue{
  background-color: #7747ff;
}
.cakes_hover .voilet{
  background-color: #bf55ec;
}
.cakes_hover .blue{
  background-color: #19b5fe;
}
.cakes_hover .light_red{
  background-color: #f03434;
}
.cakes_hover .yellow{
  background-color: #ffd200;
}
.cakes_hover .wedding_img{
  background-color: #a8e619;
}
.cakes_hover .jwellry_bg{
  background-color: #c719e6;
}
.cakes_hover .mahndi_bg{
  background-color: #65aa0b;
}
.cakes_hover h5{
  margin-top: 50px;
  margin-bottom: 0;
}

@media(max-width: 767px){
 /*.mob_parallax{
    background-image: url('../../assets/img/parallax1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
 }*/
 .mob_dis_none{
   display: none;
 }
 
}
