

<section class="all_category" id="portfolio">
   <div class="container text-center mob_dis_none">
          <h3 class="brows_head"> <strong> Find Vendors by Category <span class="bate_bg"> Category </span>  </strong> </h3>
          <p class="subheadertext">
      Photographers, venues, makeup artists & more at your budget & style.
          </p>  
        </div>
<div class="container mob_parallax">

<div class="col-md-3 col-xs-12 box_img">

<a href="#"><div class="abc">
  <img src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" class="img-responsive" alt=""> 
  <div class="cakes_hover">
      <img _ngcontent-c1="" class="red_bg" src="https://s3.us-east-2.amazonaws.com/prefect-image/Wedding_cake.svg">
    <h5> <strong>Cakes </strong>  </h5> 
    <p>20 listing </p>
  </div>
  </div>


</a>
</div>


<div class="col-md-3 col-xs-12 box_img">
  <a href="#"> <div class="abc"> <img src="../../assets/img/decoraters.jpg" class="img-responsive" alt="">
    <div class="cakes_hover">
        <img  class="orange_bg" src="https://s3.us-east-2.amazonaws.com/prefect-image/wedding_decorator.svg">
      <h5> <strong>Decorators </strong>  </h5> 
      <p>30 listing </p>
    </div>
  </div>


</a>
</div>


<div class="col-md-3 col-xs-12 box_img"> 
 <a href="#"><div class="abc"><img src="../../assets/img/view_all_icon.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="dark_orange" src="https://s3.us-east-2.amazonaws.com/prefect-image/wedding_decorator.svg">
    <h5> <strong>Pamper Packages </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>
</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img _ngcontent-c1="" src="https://s3.us-east-2.amazonaws.com/prefect-image/bear.jpeg" class="img-responsive" >
  <div class="cakes_hover">
      <img class="lightgreen" src="https://s3.us-east-2.amazonaws.com/prefect-image/drinks_beverages.svg" alt="">
    <h5> <strong> Drinks </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>

</a> 
</div>


<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"> <img src="../../assets/img/fashion_icon.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="light_blue" src="https://s3.us-east-2.amazonaws.com/prefect-image/Fashion&Clothing.svg" alt="">
    <h5> <strong> Fashion </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>

</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"> <img src="https://s3.us-east-2.amazonaws.com/prefect-image/fower.jpeg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="voilet" src="https://s3.us-east-2.amazonaws.com/prefect-image/florist.svg" alt="">
     <h5> <strong> Florists </strong>  </h5> 
     <p>20 listing </p>
   </div>
</div>


</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"> <img src="../../assets//img/catering_img.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="blue" src="https://s3.us-east-2.amazonaws.com/prefect-image/florist.svg" alt="">
    <h5> <strong> Catering </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>
</a>
</div>

<div class="col-md-3 col-xs-12 box_img"> 
<a href="#"> <div class="abc"><img src="../../assets/img/wedding_img.JPG" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="light_red" src="https://s3.us-east-2.amazonaws.com/prefect-image/Footwear.svg" alt="">
    <h5> <strong> Footwear </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>
</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/Honeymoon.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="yellow" src="https://s3.us-east-2.amazonaws.com/prefect-image/honeymoon.svg" alt="">
     <h5> <strong> Honeymoon </strong>  </h5> 
     <p>20 listing </p>
   </div>
</div>
</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/wedding-card.png" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="wedding_img" src="https://s3.us-east-2.amazonaws.com/prefect-image/stationary.svg" alt="">
     <h5> <strong> Wedding card </strong>  </h5> 
     <p>20 listing </p>
   </div>

</div>


</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"> <div class="abc"><img src="../../assets/img/jwellry.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="jwellry_bg" src="https://s3.us-east-2.amazonaws.com/prefect-image/Jewellery.svg" alt="">
    <h5> <strong> Jewellery </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>


</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/mehndi.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="mahndi_bg" src="https://s3.us-east-2.amazonaws.com/prefect-image/stationary.svg" alt="">
    <h5> <strong> Mehendi </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>

</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/celebrate.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="light_red" src="https://s3.us-east-2.amazonaws.com/prefect-image/Footwear.svg" alt="">
    <h5> <strong> Marriage Celebrant </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>

 
</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/music_dj.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
     <img class="yellow" src="https://s3.us-east-2.amazonaws.com/prefect-image/music_dj.svg" alt="">
    <h5> <strong> Music, DJs </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>
</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/wed_acce.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="light_blue" src="https://s3.us-east-2.amazonaws.com/prefect-image/Fashion&Clothing.svg" alt="">
    <h5> <strong> Accessories </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>


</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/photo.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="yellow" src="https://s3.us-east-2.amazonaws.com/prefect-image/Photography.svg" alt="">
    <h5> <strong> Photography </strong>  </h5> 
    <p>20 listing </p>
  </div>

</div>


</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/vanue.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="jwellry_bg" src="https://s3.us-east-2.amazonaws.com/prefect-image/Venues.svg" alt="">
     <h5> <strong> Venues </strong>  </h5> 
     <p>20 listing </p>
   </div>
</div>


</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/car.jpg" class="img-responsive" alt="">

  <div class="cakes_hover">
     <img class="light_red" src="https://s3.us-east-2.amazonaws.com/prefect-image/wedding_car.svg" alt="">
    <h5> <strong> Wedding Cars </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>


</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/planner.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="mahndi_bg" src="https://s3.us-east-2.amazonaws.com/prefect-image/florist.svg" alt="">
    <h5> <strong> Wedding Planner </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>

</a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/fitness.jpg" class="img-responsive" alt="">
  <div class="cakes_hover">
      <img class="light_blue" src="https://s3.us-east-2.amazonaws.com/prefect-image/Fashion&Clothing.svg" alt="">
    <h5> <strong> Shape & Fitness </strong>  </h5> 
    <p>20 listing </p>
  </div>
</div>
</a>
</div>



</div>

</section>


