.all_category{

   padding-top: 100px;
   padding-bottom: 30px;
}
.brows_head{
    font-size: 2rem;
    margin-bottom:30px;
}

// .box_img h6 ,.box_img p{
//   position: absolute;
//   color: #fff;
//   top: 40%;
//   left:0px;
//   font-size: 18px;
//   text-align: center;
//   width:100%;

// }
.box_img{
  margin-bottom: 20px;
  
}


    .fade-ani{opacity:0;position:relative;transition:all ease-out .5s 0s;}
    .fade-up{bottom:-50px;}
    .fade-down{top:-50px;}
    .fade-left{left:-50px;}
    .fade-right{right:-50px;}
    
    .fade-ani.showing{}
    .fade-in.showing{opacity:1;}
    .fade-up.showing{bottom:0px;opacity:1;}
    .fade-down.showing{top:-0px;opacity:1;}
    .fade-left.showing{left:-0px;opacity:1;}
    .fade-right.showing{right:-0px;opacity:1;}

    
    
.box_img img{
  border-radius: 5px;
  min-height: 165px;
  max-height: 165px;
  width: 100%;
}
.abc{position: relative;    transition: all .25s;
   
  
}
.abc:hover{
    ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}


// .abc::after{
//     position: absolute;
//     width: 100%;
//     height: 180px;
//     background: rgba(0,0,0,.4);
//     content: "";
//     top: 0;
//     border-radius: 5px;
//     left: 0px;
// }
.bate_bg{
  color: #e72e77;
}
.cakes_hover {
  position: absolute;
  top: 10px;
  left: 25px;
  color: #fff; position: absolute;
  text-shadow: 0PX 0PX ;

}
.cakes_hover i, .cakes_hover img {
  width: 40px;
  min-height: inherit;
  height: 40px;
  padding: 10px;
  border-radius: 100%;
}
.cakes_hover .red_bg{
  background-color: #f62459;
}
.cakes_hover .orange_bg{
  background-color: #f9690e;
}
.cakes_hover .dark_orange{
  background-color: #f89406;
}
.cakes_hover .lightgreen{
  background-color: #27ccab;
}
.cakes_hover .light_blue{
  background-color: #7747ff;
}
.cakes_hover .voilet{
  background-color: #bf55ec;
}
.cakes_hover .blue{
  background-color: #19b5fe;
}
.cakes_hover .light_red{
  background-color: #f03434;
}
.cakes_hover .yellow{
  background-color: #ffd200;
}
.cakes_hover .wedding_img{
  background-color: #a8e619;
}
.cakes_hover .jwellry_bg{
  background-color: #c719e6;
}
.cakes_hover .mahndi_bg{
  background-color: #65aa0b;
}
.cakes_hover h5{
  margin-top: 50px;
  margin-bottom: 0;
}
.box_img img.img-responsive{
  transition: all 0.3s;
}
.box_img:hover img.img-responsive{
  transform: scale(1.2);
}
.box_img a{
display:block;overflow: hidden;border-radius:5px;}


@media(max-width: 767px){

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}

 /*.mob_parallax{
    background-image: url('../../assets/img/parallax1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
 }*/
 .all_category{

   padding-top: 62px;
}
 .box_img img{
  border-radius: 0px;
  min-height: inherit;
  max-height:inherit;
  width: 100%;
  margin-top: -50px;
}
 .cakes_hover img {
   display: none;
}
.box_img a {
    border-radius: 0px;
}
.cakes_hover h5 {
    margin-top: 50px;
}
.cakes_hover p{
  display: none;
}
 .mob_dis_none{
   display: none;
 }
 .mob_padd0{
   padding: 0px;
 }
 .box_img{
   margin-bottom: 0px;
   padding: 0;
   height: 150px;
   border-bottom: 2px solid #fff;
   overflow: hidden;
   border-radius:0px;
 }
 .cakes_hover{
   left: 0;
   width: 100%;
   text-align: center;
   text-shadow: 10px 10px 20px #000!important;
 }
}
