<app-menu></app-menu>
<section class="p-0 container" id="portfolio">
  <div class="container-fluid p-0">

      <div class="container text-center">
          <h3 class="h4"> Browse Our Popular Category</h3>
          <p class="subheadertext">
      Photographers, venues, makeup artists & more at your budget & style.
          </p>  
        </div>
    <div class="row no-gutters popup-gallery">
    
      <div class="col-lg-4 col-sm-6 galleryview pad_leftd">
        <a class="portfolio-box" href="../../assets/img/hotel.jpg">
          <img class="img-fluid" src="../../assets/img/hotel.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Hotel
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 galleryview">
          <a class="portfolio-box" href="../../assets/img/makeup.JPG">
            <img class="img-fluid" src="../../assets/img/makeup.JPG" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                 Bridal Makeup
                </div>
              </div>
            </div>
          </a>
        </div>
      <div class="col-lg-4 col-sm-6 galleryview pad_rigtd">
        <a class="portfolio-box" href="../../assets/img/cake.jpg">
          <img class="img-fluid" src="../../assets/img/cake.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Wedding cake
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 galleryview pad_leftd">
        <a class="portfolio-box" href="../../assets/img/camera1.jpg">
          <img class="img-fluid" src="../../assets/img/camera1.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Wedding Photographers
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 galleryview">
        <a class="portfolio-box" href="../../assets/img/FOOD.jpg">
          <img class="img-fluid" src="../../assets/img/camera1.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Wedding Catering
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 galleryview pad_rigtd">
        <a class="portfolio-box" href="../../assets/img/hall.jpg">
          <img class="img-fluid" src="../../assets/img/hall.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Wedding Decorators
              </div>
            </div>
          </div>
        </a>
      </div>
      
    </div>
  </div>
</section>


<app-foot></app-foot>
<router-outlet></router-outlet>