.all_category{
   padding-top: 60px;
   padding-bottom: 30px;
}
.brows_head{
    font-size: 2rem;
    margin-bottom:30px;
}

// .box_img h6 ,.box_img p{
//   position: absolute;
//   color: #fff;
//   top: 40%;
//   left:0px;
//   font-size: 18px;
//   text-align: center;
//   width:100%;

// }
.box_img{
  margin-bottom: 20px;
  
}
.box_img img{
  border-radius: 5px;
  min-height: 165px;
  max-height: 165px;
  width: 100%;
}
.abc{position: relative;    transition: all .25s;
   
  
}
.abc:hover{
    ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}


// .abc::after{
//     position: absolute;
//     width: 100%;
//     height: 180px;
//     background: rgba(0,0,0,.4);
//     content: "";
//     top: 0;
//     border-radius: 5px;
//     left: 0px;
// }
.bate_bg{
  color: #e72e77;
}
.cakes_hover {
  position: absolute;
  top: 10px;
  left: 25px;
  color: #fff; position: absolute;
  text-shadow: 0PX 0PX ;

}
.cakes_hover i, .cakes_hover img {
  width: 40px;
  min-height: inherit;
  height: 40px;
  padding: 10px;
  border-radius: 100%;
}
.cakes_hover .red_bg{
  background-color: #fff;
}
.cakes_hover .orange_bg{
  background-color: #f9690e;
}
.cakes_hover .dark_orange{
  background-color: #f89406;
}
.cakes_hover .lightgreen{
  background-color: #27ccab;
}
.cakes_hover .light_blue{
  background-color: #7747ff;
}
.cakes_hover .voilet{
  background-color: #bf55ec;
}
.cakes_hover .blue{
  background-color: #19b5fe;
}
.cakes_hover .light_red{
  background-color: #f03434;
}
.cakes_hover .yellow{
  background-color: #ffd200;
}
.cakes_hover .wedding_img{
  background-color: #a8e619;
}
.cakes_hover .jwellry_bg{
  background-color: #c719e6;
}
.cakes_hover .mahndi_bg{
  background-color: #65aa0b;
}
.tranparentlayer{
  width: calc(100% - 30px);
  position: absolute;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.5);
}
.tranparentlayer h5{
  font-size: 13px!important;
  font-weight: 650;
  text-shadow: 0px 0px 10px #fff!important;
  margin: 3px 10px -5px;
  font-family:cursive!important;
}
.tranparentlayer p{
  margin-bottom: 3px;
  padding-left:10px;
}
.breadcrumbcontainer{
  background: transparent;
  padding: 10px 0px;
  float: left;
  margin-bottom:0px;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 0;
}
.breadcrumb>li+li:before{
    padding: 0 5px;
    color: #333;
    content: ">"!important;
}
.cakes_hover h5{
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 16px!important;
  font-weight: bold;
  text-shadow: 0px 0px 10px #fff!important;
  width:150px;
}


.box_img a{
display:block;overflow: hidden;border-radius:5px;
background-position: center 0px;
background-size:100%;
height:165px;
transition: all 0.3s;
}
.box_img .zoom_in{
  transition: all .5s;
}
.box_img:hover .zoom_in{
  transform: scale(1.2);
}
.cakebg{
  background-image:url("https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg");
}
.decoratesimg{
   background-image:url("../../assets/img/decoraters.jpg");
}
.pamperimg{
   background-image:url("../../assets/img/view_all_icon.png");
}
.drinksimg{
   background-image:url("https://s3.us-east-2.amazonaws.com/prefect-image/bear.jpeg");
}
.fasionimg{
   background-image:url("../../assets/img/fashion_icon.jpg");
}
.flowerbg{
   background-image:url("https://s3.us-east-2.amazonaws.com/prefect-image/fower.jpeg");
}
.cateringbg{
   background-image:url("../../assets/img/catering_img.jpg");
}
.footwearbg{
   background-image:url("../../assets/img/wedding_img.JPG");
}
.honeymoonbg{
   background-image:url("../../assets/img/Honeymoon.jpg");
}
.wedcardbg{
background-image:url(" ../../assets/img/wedding-card.png");
}
.jewelbg{
  background-image:url("../../assets/img/jwellry.jpg");
}

.mehendibg{
  background-image:url("../../assets/img/mehndi.jpg");
}
.celebg{
  background-image:url("../../assets/img/celebrate.jpg");
}
.jewelbg{
  background-image:url("../../assets/img/jwellry.jpg");
}
.djbg{
  background-image:url("../../assets/img/music_dj.jpg")
}
.accessorbg{
   background-image:url("../../assets/img/wed_acce.jpg")
}
.photobg{
  background-image:url("../../assets/img/photo.jpg")
}
.venuebg{
  background-image:url("../../assets/img/vanue.jpg")
}
.carbg{
  background-image:url("../../assets/img/car.jpg")
}
.plannerbg{
  background-image:url("../../assets/img/planner.jpg")
}
.fitnessbg{
  background-image:url("../../assets/img/fitness.jpg")
}

@media(max-width: 767px){
 .all_category{
   padding-top: 62px;
}
a.homelinkmobile{
 display:inline-block;
 float:left;
   color:#333;
}
a.homelinkmobile i{
  color:#333;
}
.brows_head{
  font-size:18px!important;
  margin-bottom: 10px;
  margin-top: 10px;
}
 .box_img img{
  border-radius: 0px;
  min-height: inherit;
  max-height:inherit;
  width: 100%;/*
  margin-top: -50px;*/
  position:relative;
}
.cakes_hover img {
  display: none;
}
.box_img a {
  border-radius: 0px;
 background-attachment: fixed;
 height: 132px!important;
}
.tranparentlayer{
    background: rgba(255, 255, 255, .5);
    width: 95%;
 margin: 0px auto;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 14px;
    padding: 5px 0px;
    height: 55px;
}
.tranparentlayer p{margin-bottom: 0px!important;font-size:.8rem!important;font-weight:400;}
.cakes_hover h5 {
    margin-top: 0px;
    padding:0px;
    font-size:16px;
    font-weight: normal;
    letter-spacing: 1px;
}
/*.cakes_hover p{
  display: none;
}
*/ 
.mob_dis_none{
   display: none;
 }
 .mob_padd0{
   padding: 0px;
 }
 .box_img{
   margin-bottom: 0px;
   padding: 5px;
   border-bottom: 2px solid #fff;
   overflow: hidden;
   border-radius:0px;
   float: left;
 }
 .cakes_hover{
   left: 0;
   top:0px;
   width: 100%;
   text-align: center;
   text-shadow: 10px 10px 20px #000!important;
 }
}
