.errorbox{
padding:100px 0px;
}
.error{
	padding-top:40px;
}
.error h1 {
    font-size: 200px;
    line-height: 1 !important;
    font-weight: 500;
}
.fadeInRight {
    animation-name: fadeInRight;
}
.fadeInLeft {
    animation-name: fadeInLeft;
}
.lis-font-weight-500 {
    font-weight: 500;
}
.btn-primary {
    background-color: #ff214f;
    border-color: #ff214f;
    color:#fff!important;
}