
<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
       
            <app-adminsidebar></app-adminsidebar>
        
    </div>
    <div id="page-content-wrapper">    
        <div class="container-fluid nopadd">                    
            <app-adminnavbar></app-adminnavbar>
            <div class="container-fluid Analytics">
                <h2> Dashboard</h2>
                <div class="row">
                  
                <div class="col-md-3">
                      <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                          <div class="card-icon">
                            <i class="material-icons">store</i>
                          </div>
                          <p class="card-category">Impressions</p>
                          <h3 class="card-title"> 184</h3>
  
                        </div>
                        <div class="card-footer">
                                <div class="stats">
                                <i class="material-icons text-danger">warning</i>
                                <a href="#">Storefront views</a>
                                </div>
                            </div>
                      </div>     
                </div>
  
                <div class="col-md-3">
                        <div class="card card-stats">
                          <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon rose">
                              <i class="material-icons">equalizer</i>
                            </div>
                            <p class="card-category">Enquiries & Leads</p>
                            <h3 class="card-title"> 53</h3>
                          </div>
                          <div class="card-footer">
                                  <div class="stats">
                                  <i class="material-icons ">local_offer</i>
                                  <a href="#">Contact From & Job Pool</a>
                                  </div>
                              </div>
                        </div>     
                  </div>
  
                  <div class="col-md-3">
                        <div class="card card-stats">
                          <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon green_bg">
                              <i class="material-icons">favorite_border</i>
                            </div>
                            <p class="card-category">Love count</p>
                            <h3 class="card-title"> 4</h3>
                          </div>
                          <div class="card-footer">
                                  <div class="stats">
                                  <i class="material-icons ">date_range</i>
                                  <a href="#"> No of times images are bookmark</a>
                                  </div>
                              </div>
                        </div>     
                  </div>
  
                  <div class="col-md-3">
                        <div class="card card-stats">
                          <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon green_bg1">
                              <i class="material-icons">message</i>
                            </div>
                            <p class="card-category">Reviews</p>
                            <h3 class="card-title"> 15</h3>
                          </div>
                          <div class="card-footer">
                                  <div class="stats">
                                  <i class="material-icons">date_range</i>
                                  <a href="#"> update</a>
                                  </div>
                              </div>
                        </div>     
                  </div>
  
                </div>
            </div>


            <div class="row">
                  
                <div class="col-md-7">
                   <app-admincalender></app-admincalender>
                </div>
                <div class="col-md-5 card" >
                   <div class="box1"></div>
                   <div  class="box2"></div>
                   <div  class="box3"></div>
                 </div>
            </div>       
            <app-foot></app-foot>
        </div>
    </div> 
</div>



    
    

<router-outlet></router-outlet> 