<app-menu></app-menu>

<!-- <div id="wrappervendorsidbar">
  <app-vendorsidebar></app-vendorsidebar>
</div> -->

<section class="contact_us fixedtik">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d396154.2548715597!2d75.79027847337561!3d22.708063533462894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1530948933000"
    width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

</section>
<div class="container-fluid contact_us_list">
  <div class="container fixedtik">
    <div class="">
      <div class="col-md-6">
        <h5> Find Us There</h5>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard </p>
        <form>
          <legend> <i class="fa fa-mobile" aria-hidden="true"></i>
            <ul>
              <li>Phone</li>
              <li> 1234567889</li>
            </ul>
          </legend>
          <legend> <i class="fa fa-fax" aria-hidden="true"></i>
            <ul>
              <li>Fax</li>
              <li> 1234567889</li>
            </ul>
          </legend>
          <legend> <i class="fa fa-globe" aria-hidden="true"></i>
            <ul>
              <li>Web</li>
              <li class="pink"> www.perfectwed.com</li>
            </ul>
          </legend>
          <legend><i class="fa fa-envelope-o" aria-hidden="true"></i>
            <ul>
              <li>Email</li>
              <li class="pink"> www.perfectwed.com</li>
            </ul>
          </legend>

        </form>
      </div>

      <div class="col-md-6 cont_bg">
        <div>
          <h4>Getting in touch is easy!</h4>
        </div>
        <form name="form" (ngSubmit)="list.form.valid && contact(list)" #list="ngForm" novalidate>
            <input type="hidden" data-form-email="true">
            <div class="form-group">
              <input 
                type="text" 
                [(ngModel)]="contactInfoObj.name" 
                #name="ngModel" 
                [ngClass]="{ 'is-invalid': list.submitted && name.invalid }"
                class="form-control" 
                name="name" 
                required 
                placeholder="Name*"
              />
              <div *ngIf="list.submitted && name.invalid" class="invalid-feedback">
                  <div *ngIf="name.errors.required">Name is required</div>
              </div>
            </div>
            <!-- <div class="form-group col-md-6">
                <input 
                  type="text" 
                  [(ngModel)]="contactInfoObj.firstName" 
                  #name="ngModel" 
                  [ngClass]="{ 'is-invalid': list.submitted && firstName.invalid }"
                  class="form-control" 
                  name="firstName" 
                  required 
                  placeholder="firstName*"
                />
                <div *ngIf="list.submitted && firstName.invalid" class="invalid-feedback">
                    <div *ngIf="firstName.errors.required">firstName is required</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                  <input 
                    type="text" 
                    [(ngModel)]="contactInfoObj.lastName" 
                    #name="ngModel" 
                    [ngClass]="{ 'is-invalid': list.submitted && lastName.invalid }"
                    class="form-control" 
                    name="lastName" 
                    required 
                    placeholder="lastName*"
                  />
                  <div *ngIf="list.submitted && lastName.invalid" class="invalid-feedback">
                      <div *ngIf="lastName.errors.required">lastName is required</div>
                  </div>
                </div> -->
            <div class="form-group">
              <input 
                type="email" 
                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,}$" 
                class="form-control" 
                [(ngModel)]="contactInfoObj.email"
                #email="ngModel" 
                [ngClass]="{ 'is-invalid': list.submitted && email.invalid }"
                name="email" 
                required 
                placeholder="Email*" 
              />
              <div *ngIf="list.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">email is required</div>
                  <div *ngIf="email.errors.email">Email must be a valid email address</div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <input 
                type="text" 
                class="form-control" 
                (keypress)="keyPress($event)" 
                [(ngModel)]="contactInfoObj.phoneNumber"
                #phoneNumber="ngModel" 
                [ngClass]="{ 'is-invalid': list.submitted && phoneNumber.invalid }"
                name="phoneNumber" 
                required
                placeholder="phone Number*"
                minlength="7"
                maxlength="10" 
              />
              <div *ngIf="list.submitted && phoneNumber.invalid" class="invalid-feedback">
                  <div *ngIf="phoneNumber.errors.required">phoneNumber is required</div>
                  <div *ngIf="phoneNumber.errors.minlength">phoneNumber is minimum 7 digit</div>  
              </div>
              <small class="form-text text-muted danger">{{Phone_no}}</small>
            </div>
            <!-- <div class="form-group">
              <select name="subjects" class="form-control" [(ngModel)]="subjects" id="subjects">
                  <option [value]="undefined" disabled>Please Select</option>
                  <option *ngFor="let subject of subjects ;let s =index" value="">{{subject}}</option>
              </select>
            </div> -->
            <div class="form-group">
               <input 
                type="tel" 
                class="form-control" 
                [(ngModel)]="contactInfoObj.subject" 
                #subject="ngModel" 
                [ngClass]="{ 'is-invalid': list.submitted && subject.invalid }"
                name="subject" 
                required
                placeholder="Subject"
              />
              <div *ngIf="list.submitted && subject.invalid" class="invalid-feedback">
                  <div *ngIf="subject.errors.required">subject is required</div>
              </div> 
              <input 
                type="hidden" 
                class="form-control" 
                [(ngModel)]="contactInfoObj.messageType"
                value="messageType" 
                name="messageType"
                placeholder="messageType" 
              />
            </div>
             <div class="form-group">
              <textarea 
              class="form-control" 
              name="message" 
              [(ngModel)]="contactInfoObj.message" 
              #message="ngModel" 
              [ngClass]="{ 'is-invalid': list.submitted && message.invalid }"
              placeholder="Message"
              required 
              rows="3">
            </textarea>
            <div *ngIf="list.submitted && message.invalid" class="invalid-feedback">
                <div *ngIf="message.errors.required">message is required</div>
            </div>
            </div>
            <div>
                <re-captcha (resolved)="resolved($event)" siteKey="Site_key"></re-captcha>
            </div>
            <br>
            <div>
              <button type="submit" [disabled]="!list.valid" class="btn btn-lg btn-danger">Submit Message</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<app-foot></app-foot>

<router-outlet></router-outlet>