<div id="wrappervendor" class="">
  <app-menu></app-menu>
	<div class="container mobnopadd ipad100">
	  	<div class="col-sm-12 detail_page nopadd">
		   <div class="card inspirationhead">
	  			<a routerLink="../../home" class="backlink"> 
		            <i class="material-icons">arrow_back_ios</i>
		            Go Back
		        </a>
      			<h2 class="text-center">PORTFOLIO & ALBUMS</h2>
   			</div>
	    </div>
	    <div class="boxLightStyles">
	   		<div class="container row martop15px">
				 
		        <div class="col-6 col-sm-3" *ngFor='let vd of albums; let i=index'>
		        	
					<!-- <div *ngFor='let filepath of vd.albumImages'>
		        	  <a routerLink="../Photogallerydetail">
		              <div class="thumbnail text-center">
		              	<img  *ngIf="filepath" [src]='filepath.path' alt="...">
		               <div>
		                  My Portfolio 
		                  <br/> 
		                  ({{i}} Images)
		               </div>
		              </div>
					  </a>
					</div> -->
					<div class="thumbnail text-center">
						
						<a routerLink="../Photogallerydetail">
							<img  src='https://s3.us-east-2.amazonaws.com/prefect-image/store_noimg.jpg'>
							<div class="albumname">{{vd.albumName | json}}</div>
						</a> 	
					</div>
				</div>
		    <div class="col-6 col-sm-3" *ngFor='let portpi of vendorDetails?.portfolios  ' >
              <div class="thumbnail text-center" >
                    <img  [src]="portpi.path" alt="...">
                    <div class="albumname">Portfolio</div>
              </div>
          </div>
			</div>
		</div>
   </div>
<app-foot></app-foot>
</div>
<router-outlet></router-outlet>