<app-menu></app-menu>



<div class="photo_cont container-fluid ">
  <div class="container-fluid ">
   <div class="col-md-8 photo_gallary ">
   	<div class="col-md-4 col-sm-4 col-xs-4 padd_zero respon_mob ">
      <div class="">
		 <select class="photo_graphy bor_righ">
		    <option>Photography</option>
		    <option>Photo</option>
		    <option>Photo</option>
		</select>

       </div>
   	</div>

	<div class="col-md-4 col-sm-4 col-xs-4 pad_left respon_mob">
      <div class="">
		 <select class="photo_graphy">
		    <option>Allcity</option>
		    <option>city</option>
		    <option>city</option>
		</select>

       </div>
	   </div>
	   
	   <div class="col-md-4 col-sm-4 col-xs-4 padd_zero pad_left1 respon_mob">
		<div class="">
		   <select class="photo_graphy">
			  <option>Colors</option>
			  <option>color</option>
			  <option>color</option>
		  </select>
  
		 </div>
		 </div>
 
   </div>

   <div class="col-md-4 col-sm-12 col-xs-12 input_div ">
    <p class="Search_bar"><i class="fa fa-search" aria-hidden="true"></i> <input type="text" placeholder="Search..">  </p>
      
      
    </div>

 </div>
</div>


<div class="container pre_wedd">
  <div class="col-md-12">

  	<div class="col-md-8 col-sm-12 col-xs-12">
        <p class="span_ta"><i class="fa fa-tags" aria-hidden="true"></i>Popula #Tags <span> Pre Weddin Shoots</span></p> 
  	</div>
      

  </div>

</div>

<section class="cards_banner">
  <div class="container">
   <div class="col-md-12">
     <div class="col-md-4">
       <div class="card mb-2 bordre_rad1 bordre_rad1">
                    <img class="card-img-top img-responsive" src="../../assets/img/sup_photo.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col-md-8 card_body_inner">
                            <a href="#"> <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon"></a>
                            <div class="in_list">

                              <ul style="margin: 0%;padding: 0%;">
                                <li ><a style="margin-left: 15px; color: pink" href="#"> Aashish </a></li>
                                <li style="float: left;margin-left: 10px;"> <a href="#">  Photographer Indore </a></li>
                              </ul> 
                            
                          </div>
                          </div>  
                        <div class="col-md-4 in_list">
                            <ul style="margin: 0%;padding: 0%;">
                                <li style="margin-left: 18px;" class="fa fa-star checked"> <a href="#" style="color: #fff;"> &nbsp; 4.9</a></li>
                                <li style="float: left;margin-left: 17px;"> <a href="#"> 8 reviews</a></li>
                              </ul>  

                          
                        </div>
  
                      </div>
                </div>
     </div>

    <div class="col-md-4">
       <div class="card mb-2 bordre_rad1 bordre_rad1">
                    <img class="card-img-top img-responsive" src="../../assets/img/sup_photo.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col-md-8 card_body_inner">
                            <a href="#"> <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon"></a>
                            <div class="in_list">

                              <ul style="margin: 0%;padding: 0%;">
                                <li ><a style="margin-left: 15px; color: pink" href="#"> Aashish </a></li>
                                <li style="float: left;margin-left: 10px;"> <a href="#">  Photographer Indore </a></li>
                              </ul> 
                            
                          </div>
                          </div>  
                        <div class="col-md-4 in_list">
                            <ul style="margin: 0%;padding: 0%;">
                                <li style="margin-left: 18px;" class="fa fa-star checked"> <a href="#" style="color: #fff;"> &nbsp; 4.9</a></li>
                                <li style="float: left;margin-left: 17px;"> <a href="#"> 8 reviews</a></li>
                              </ul>  

                          
                        </div>
  
                      </div>
                </div>
     </div>


    <div class="col-md-4">
       <div class="card mb-2 bordre_rad1 bordre_rad1">
                    <img class="card-img-top img-responsive" src="../../assets/img/sup_photo.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col-md-8 card_body_inner">
                            <a href="#"> <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon"></a>
                            <div class="in_list">

                              <ul style="margin: 0%;padding: 0%;">
                                <li ><a style="margin-left: 15px; color: pink" href="#"> Aashish </a></li>
                                <li style="float: left;margin-left: 10px;"> <a href="#">  Photographer Indore </a></li>
                              </ul> 
                            
                          </div>
                          </div>  
                        <div class="col-md-4 in_list">
                            <ul style="margin: 0%;padding: 0%;">
                                <li style="margin-left: 18px;" class="fa fa-star checked"> <a href="#" style="color: #fff;"> &nbsp; 4.9</a></li>
                                <li style="float: left;margin-left: 17px;"> <a href="#"> 8 reviews</a></li>
                              </ul>  

                          
                        </div>
  
                      </div>
                </div>
     </div>



   </div>

   <div class="col-md-12 card_ban2">
     <div class="col-md-4">
       <div class="card mb-2 bordre_rad1 bordre_rad1">
                    <img class="card-img-top img-responsive" src="../../assets/img/sup_photo.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col-md-8 card_body_inner">
                            <a href="#"> <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon"></a>
                            <div class="in_list">

                              <ul style="margin: 0%;padding: 0%;">
                                <li ><a style="margin-left: 15px; color: pink" href="#"> Aashish </a></li>
                                <li style="float: left;margin-left: 10px;"> <a href="#">  Photographer Indore </a></li>
                              </ul> 
                            
                          </div>
                          </div>  
                        <div class="col-md-4 in_list">
                            <ul style="margin: 0%;padding: 0%;">
                                <li style="margin-left: 18px;" class="fa fa-star checked"> <a href="#" style="color: #fff;"> &nbsp; 4.9</a></li>
                                <li style="float: left;margin-left: 17px;"> <a href="#"> 8 reviews</a></li>
                              </ul>  

                          
                        </div>
  
                      </div>
                </div>
     </div>

     <div class="col-md-4">
       <div class="card mb-2 bordre_rad1 bordre_rad1">
                    <img class="card-img-top img-responsive" src="../../assets/img/sup_photo.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col-md-8 card_body_inner">
                            <a href="#"> <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon"></a>
                            <div class="in_list">

                              <ul style="margin: 0%;padding: 0%;">
                                <li ><a style="margin-left: 15px; color: pink" href="#"> Aashish </a></li>
                                <li style="float: left;margin-left: 10px;"> <a href="#">  Photographer Indore </a></li>
                              </ul> 
                            
                          </div>
                          </div>  
                        <div class="col-md-4 in_list">
                            <ul style="margin: 0%;padding: 0%;">
                                <li style="margin-left: 18px;" class="fa fa-star checked"> <a href="#" style="color: #fff;"> &nbsp; 4.9</a></li>
                                <li style="float: left;margin-left: 17px;"> <a href="#"> 8 reviews</a></li>
                              </ul>  

                          
                        </div>
  
                      </div>
                </div>
     </div>


    <div class="col-md-4">
       <div class="card mb-2 bordre_rad1 bordre_rad1">
                    <img class="card-img-top img-responsive" src="../../assets/img/sup_photo.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col-md-8 card_body_inner">
                            <a href="#"> <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon"></a>
                            <div class="in_list">

                              <ul style="margin: 0%;padding: 0%;">
                                <li ><a style="margin-left: 15px; color: pink" href="#"> Aashish </a></li>
                                <li style="float: left;margin-left: 10px;"> <a href="#">  Photographer Indore </a></li>
                              </ul> 
                            
                          </div>
                          </div>  
                        <div class="col-md-4 in_list">
                            <ul style="margin: 0%;padding: 0%;">
                                <li style="margin-left: 18px;" class="fa fa-star checked"> <a href="#" style="color: #fff;"> &nbsp; 4.9</a></li>
                                <li style="float: left;margin-left: 17px;"> <a href="#"> 8 reviews</a></li>
                              </ul>  

                          
                        </div>
  
                      </div>
                </div>
     </div>



   </div>
 
  </div>

</section>



<app-foot></app-foot>
<router-outlet></router-outlet> 














