<app-menu></app-menu>



<div class="photo_cont container-fluid " style="margin-top:80px;">
  <div class="container-fluid ">
   <div class="col-md-8 photo_gallary ">
   	<div class="col-md-4 col-sm-4 col-xs-4 padd_zero respon_mob ">
      <div class="">
		 <select class="photo_graphy bor_righ">
		    <option>Photography</option>
		    <option>Photo</option>
		    <option>Photo</option>
		</select>

       </div>
   	</div>

	<div class="col-md-4 col-sm-4 col-xs-4 pad_left respon_mob">
      <div class="">
		 <select class="photo_graphy">
		    <option>Allcity</option>
		    <option>city</option>
		    <option>city</option>
		</select>

       </div>
	   </div>
	   
	   <div class="col-md-4 col-sm-4 col-xs-4 padd_zero pad_left1 respon_mob">
		<div class="">
		   <select class="photo_graphy">
			  <option>Colors</option>
			  <option>color</option>
			  <option>color</option>
		  </select>
  
		 </div>
		 </div>
 
   </div>

   <div class="col-md-4 col-sm-12 col-xs-12 input_div ">
    <p class="Search_bar"><i class="fa fa-search" aria-hidden="true"></i> <input type="text" placeholder="Search..">  </p>
      
      
    </div>

 </div>
</div>


<div class="container pre_wedd">
  <div class="col-md-12">
  	<div class="col-md-8 col-sm-12 col-xs-12">
        <p class="span_ta"><i class="fa fa-tags" aria-hidden="true"></i>Popula #Tags <span> Pre Weddin Shoots</span></p> 
  	</div>
  </div>

</div>
<div class="container">
  <div class="row container-gallery" style="position: relative; height: 1078.56px;">
    <div class="col-md-3 col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 0px;">
      <div class="post-container">
        <div class="post-option">
          <ul class="list-options">
            <li><a href="detail.html"><i class="fa fa-plus"></i> <span>Detail</span></a></li>
            <li><a href="#"><i class="fa fa-comment"></i> <span>Comment</span></a></li>
            <li><a href="#"><i class="fa fa-cloud-download"></i> <span>Download</span></a></li>
            <li><a href="#"><i class="fa fa-heart"></i> <span>Love</span></a></li>
          </ul>
        </div>
        <div class="post-image">
          <a href="img/fransisca-post-image01-big.jpg" class="img-group-gallery cboxElement" title="Lorem ipsum dolor sit amet"><img src="http://templateninja.net/themes/fransisca/v1.1/img/fransisca-post-image01.jpg" class="img-responsive" alt="fransisca gallery"></a>
        </div>
        <div class="post-meta">
          <ul class="list-meta list-inline">
            <li><i class="fa fa-eye"></i> 117</li>
            <li><i class="fa fa-comment"></i> 7</li>
            <li><i class="fa fa-cloud-download"></i> 8</li>
            <li><i class="fa fa-heart"></i> 9</li>
          </ul>
        </div>
        <div class="post-desc">
          <i class="fa fa-tags"></i> Tags : <a href="#">Tower</a>, <a href="#">City</a>, <a href="#">Building</a>
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="col-md-3 col-sm-6 col-xs-12" style="position: absolute; left: 292px; top: 0px;">
      <div class="post-container">
        <div class="post-option">
          <ul class="list-options">
            <li><a href="detail.html"><i class="fa fa-plus"></i> <span>Detail</span></a></li>
            <li><a href="#"><i class="fa fa-comment"></i> <span>Comment</span></a></li>
            <li><a href="#"><i class="fa fa-cloud-download"></i> <span>Download</span></a></li>
            <li><a href="#"><i class="fa fa-heart"></i> <span>Love</span></a></li>
          </ul>
        </div>
        <div class="post-image">
          <a href="img/fransisca-post-image01-big.jpg" class="img-group-gallery cboxElement" title="Lorem ipsum dolor sit amet"><img src="http://templateninja.net/themes/fransisca/v1.1/img/fransisca-post-image01.jpg" class="img-responsive" alt="fransisca gallery"></a>
        </div>
        <div class="post-meta">
          <ul class="list-meta list-inline">
            <li><i class="fa fa-eye"></i> 117</li>
            <li><i class="fa fa-comment"></i> 7</li>
            <li><i class="fa fa-cloud-download"></i> 8</li>
            <li><i class="fa fa-heart"></i> 9</li>
          </ul>
        </div>
        <div class="post-desc">
          <i class="fa fa-tags"></i> Tags : <a href="#">Tower</a>, <a href="#">City</a>, <a href="#">Building</a>
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="col-md-3 col-sm-6 col-xs-12" style="position: absolute; left: 585px; top: 0px;">
      <div class="post-container">
        <div class="post-option">
          <ul class="list-options">
            <li><a href="detail.html"><i class="fa fa-plus"></i> <span>Detail</span></a></li>
            <li><a href="#"><i class="fa fa-comment"></i> <span>Comment</span></a></li>
            <li><a href="#"><i class="fa fa-cloud-download"></i> <span>Download</span></a></li>
            <li><a href="#"><i class="fa fa-heart"></i> <span>Love</span></a></li>
          </ul>
        </div>
        <div class="post-image">
          <a href="img/fransisca-post-image02-big.jpg" class="img-group-gallery cboxElement" title="Lorem ipsum dolor sit amet"><img src="http://templateninja.net/themes/fransisca/v1.1/img/fransisca-post-image02.jpg" class="img-responsive" alt="fransisca gallery"></a>
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="col-md-3 col-sm-6 col-xs-12" style="position: absolute; left: 877px; top: 0px;">
      <div class="post-container">
        <div class="post-option">
          <ul class="list-options">
            <li><a href="detail.html"><i class="fa fa-plus"></i> <span>Detail</span></a></li>
            <li><a href="#"><i class="fa fa-comment"></i> <span>Comment</span></a></li>
            <li><a href="#"><i class="fa fa-cloud-download"></i> <span>Download</span></a></li>
            <li><a href="#"><i class="fa fa-heart"></i> <span>Love</span></a></li>
          </ul>
        </div>
        <div class="post-image">
          <a href="img/fransisca-post-image03-big.jpg" class="img-group-gallery cboxElement" title="Lorem ipsum dolor sit amet"><img src="http://templateninja.net/themes/fransisca/v1.1/img/fransisca-post-image03.jpg" class="img-responsive" alt="fransisca gallery"></a>
        </div>
        <div class="post-meta">
          <ul class="list-meta list-inline">
            <li><i class="fa fa-eye"></i> 2317</li>
            <li><i class="fa fa-comment"></i> 212</li>
            <li><i class="fa fa-cloud-download"></i> 1891</li>
            <li><i class="fa fa-heart"></i> 789</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="col-md-3 col-sm-6 col-xs-12" style="position: absolute; left: 585px; top: 387px;">
      <div class="post-container">
        <div class="post-option">
          <ul class="list-options">
            <li><a href="detail.html"><i class="fa fa-plus"></i> <span>Detail</span></a></li>
            <li><a href="#"><i class="fa fa-comment"></i> <span>Comment</span></a></li>
            <li><a href="#"><i class="fa fa-cloud-download"></i> <span>Download</span></a></li>
            <li><a href="#"><i class="fa fa-heart"></i> <span>Love</span></a></li>
          </ul>
        </div>
        <div class="post-image">
          <a href="img/fransisca-post-image04-big.jpg" class="img-group-gallery cboxElement" title="Lorem ipsum dolor sit amet"><img src="http://templateninja.net/themes/fransisca/v1.1/img/fransisca-post-image04.jpg" class="img-responsive" alt="fransisca gallery"></a>
        </div>
        <div class="post-desc">
          <i class="fa fa-tags"></i> Tags : <a href="#">Nature</a>
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="col-md-3 col-sm-6 col-xs-12" style="position: absolute; left: 877px; top: 441px;">
      <div class="post-container">
        <div class="post-option">
          <ul class="list-options">
            <li><a href="detail.html"><i class="fa fa-plus"></i> <span>Detail</span></a></li>
            <li><a href="#"><i class="fa fa-comment"></i> <span>Comment</span></a></li>
            <li><a href="#"><i class="fa fa-cloud-download"></i> <span>Download</span></a></li>
            <li><a href="#"><i class="fa fa-heart"></i> <span>Love</span></a></li>
          </ul>
        </div>
        <div class="post-image">
          <a href="img/fransisca-post-image05-big.jpg" class="img-group-gallery cboxElement" title="Lorem ipsum dolor sit amet"><img src="http://templateninja.net/themes/fransisca/v1.1/img/fransisca-post-image05.jpg" class="img-responsive" alt="fransisca gallery"></a>
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="col-md-3 col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 462px;">
      <div class="post-container">
        <div class="post-option">
          <ul class="list-options">
            <li><a href="detail.html"><i class="fa fa-plus"></i> <span>Detail</span></a></li>
            <li><a href="#"><i class="fa fa-comment"></i> <span>Comment</span></a></li>
            <li><a href="#"><i class="fa fa-cloud-download"></i> <span>Download</span></a></li>
            <li><a href="#"><i class="fa fa-heart"></i> <span>Love</span></a></li>
          </ul>
        </div>
        <div class="post-image">
          <a href="img/fransisca-post-image06-big.jpg" class="img-group-gallery cboxElement" title="Lorem ipsum dolor sit amet"><img src="http://templateninja.net/themes/fransisca/v1.1/img/fransisca-post-image06.jpg" class="img-responsive" alt="fransisca gallery"></a>
        </div>
        <div class="post-meta">
          <ul class="list-meta list-inline">
            <li><i class="fa fa-eye"></i> 117</li>
            <li><i class="fa fa-comment"></i> 7</li>
            <li><i class="fa fa-cloud-download"></i> 8</li>
            <li><i class="fa fa-heart"></i> 9</li>
          </ul>
        </div>
        <div class="post-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="col-md-3 col-sm-6 col-xs-12" style="position: absolute; left: 292px; top: 498px;">
      <div class="post-container">
        <div class="post-option">
          <ul class="list-options">
            <li><a href="detail.html"><i class="fa fa-plus"></i> <span>Detail</span></a></li>
            <li><a href="#"><i class="fa fa-comment"></i> <span>Comment</span></a></li>
            <li><a href="#"><i class="fa fa-cloud-download"></i> <span>Download</span></a></li>
            <li><a href="#"><i class="fa fa-heart"></i> <span>Love</span></a></li>
          </ul>
        </div>
        <div class="post-image">
          <a href="img/fransisca-post-image07-big.jpg" class="img-group-gallery cboxElement" title="Lorem ipsum dolor sit amet"><img src="http://templateninja.net/themes/fransisca/v1.1/img/fransisca-post-image07.jpg" class="img-responsive" alt="fransisca gallery"></a>
        </div>
        <div class="post-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
    <!-- break -->

    <!-- begin:pagination -->
    <div class="col-md-12" style="position: absolute; left: 0px; top: 996px;">
      <ul class="pagination">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
    <!-- end:pagination -->
  </div>
</div>

<app-foot></app-foot>
<router-outlet></router-outlet> 














