<div id="wrappervendor" class="">
    <app-menu></app-menu>
    <section class="container-fluid tips fixedtik">
        <div class="select">
            <div class="searchtopbar">
                <form (ngSubmit)="find_photo(list)" #list="ngForm" class="row rowset">
                    <div class="col-md-2 col-3">
                        <select class="form-control round_first" [(ngModel)]="category" name="categoryId" >
                            <option value='undefined'> All Categories </option>
                            <option *ngFor='let list_Categories of categories' [value]="list_Categories.categoryId" > 
                                {{list_Categories.categoryName}}
                            </option>
                        </select>
                    </div>
                    <div class="colorselect col-md-2 col-4">
                            <span class="head">Select Color Tag <span class="caret"></span></span>
                            <div class="colorlist">
                                <ul>
                                    <li *ngFor='let c of colors'  (click)='colourArray(c)'  style="color:black">
                                        <i class="fa fa-check ticklist" *ngIf='c.isSelected'></i>
                                        <span class="colortag"  [style.background-color]='c.colorName'></span>
                                         {{c.colorName}}
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="col-md-8 col-5 Search_img"  >
                        <input type="text"  [(ngModel)]="photo_search_param.searchQuery"  type="text" name="searchQuery"  placeholder="Tags Name" class="searchinput">
                        <input type="submit"  value=""  class="search-button">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="container-fluid clearclass">
                <section id="wrapper" class="mobileviewfix">

                    <div class="container">    
                        <div *ngIf = "colout_tag ">
                            <span *ngFor="let colour_tag of photo_search_param.color" >
                                    <span  *ngIf = "colour_tag != ''  " class="colortag"  [style.background-color]='colour_tag'> </span>
                            </span>
                        </div>
                     
                        <div *ngIf = "showTag2">
                            <div class="tagnamediv"   *ngFor="let item of pagedItems | slice:0:1 ;let i=index ">
                                <div *ngFor="let tag of item?.tags | slice:0:1 ;let i=index " >  
                                    <span class="tagstik" *ngIf = "tag != '' " > 
                                        {{tag}}
                                    </span>   
                                </div>
                            </div> 
                        </div>
                        <div style="position:relative;min-height:100vh;" id="categoryProductContainer"  >
                            <h1>{{error_1}}</h1>
                            <div class="span2 pcon prodcont actioninside" *ngFor="let item of pagedItems">
                                <div (click) = "popup(item)">
                                    <a data-fancybox="cl-group" (click)="classAdd(item)"  class="fancybox" title="{{item.district}}" href="{{item.imageURL}}" [attr.data-caption]="item.nameOfBusiness" >
                                        <img *ngIf="item"  [src]="item.imageURL"/>
                                    </a>
                                        <div class="clearfix"></div>
                                        <div class="photodetail">
                                            <p class="detaildiv">
                                                <span class="vendorlogoimg"><img src="../../assets/img/noImg.png"/></span>
                                               <span class="photdetailtext">
                                                <span>{{item.nameOfBusiness}}</span>
                                                <span *ngIf="item?.tags == null">No Tags </span>
                                                <span *ngIf="item?.tags != null">{{item.tags}}</span>
                                            </span>
                                            </p>   


                                          
                                            <div *ngFor='let colour of item.colorTags' >
                                                    <div *ngIf = "colour != null">
                                                        <span class="colortag" style="    width: 19px !important;
                                                        border-radius: 59px;" [style.background-color]='colour'>                           
                                                        </span>
                                                    </div>
                                            </div>
                                            <div *ngFor='let colour1 of item.tags' >
                                                    <div *ngIf = "colour1 != ''">
                                                        <span class="colortag">     
                                                           {{colour1}}                      
                                                        </span>
                                                    </div>
                                                </div>


                                            <div class="linkdiv">
                                                <div class="halfdiv"> 
                                                    <i class="material-icons">favorite_border</i> 
                                                   &nbsp;<span> </span>
                                                </div>
                                                <div class="halfdiv"> 
                                                    <i class="material-icons">share</i>
                                                </div>
                                            </div>
                                        </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </section>
    </div>   
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <a href="#" class="close" data-dismiss="modal"> </a>
            <img class="popupimg" *ngIf="pho_data"  [src]="pho_data.imageURL">
            <div class="modal-footer" style="background-color: white;">
                <div class="popupdetail">
                    <div class="col-sm-6 text-left">
                        <h4>{{pho_data.nameOfBusiness}} </h4>
                        <p>
                            <span><i class="fa fa-map-marker"></i> {{pho_data.district}}</span>
                        </p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <i class="material-icons setlink">favorite_border</i>
                        &nbsp;
                        <i class="material-icons setlink">share</i>
                        <div class="clearfix"></div>
                        <div *ngFor='let colour of pho_data.colorTags' >
                            <div *ngIf = "colour != ''">
                                <span class="colortag"  [style.background-color]='colour'>                           
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img *ngIf='loading' src="https://www.walgreens-hearing.com/img/loader.gif" style="bottom:35%;position: fixed;z-index:99999;margin-left:40%">
    <div class="clearfix"></div>
    <app-foot></app-foot>
</div>
<router-outlet></router-outlet> 
