<div id="wrappervendor" class="">
	<app-menu></app-menu>

	<div class="eventbanner">
		<img src="https://s3.us-east-2.amazonaws.com/prefect-image/wed.jpeg" class="img-responsive" />
	</div>
	<section class="container event_div">
		<div class="container-fluid nopadd">
			<div class="eventsearchbox">
				<h1>Find your next experience</h1>
				<div class="form-group row">
					<div class="col-sm-4">
						<input type="text" name="" class="form-control" placeholder="Search Events">
					</div>
					<div class="col-sm-3">
						<select class="form-control">
							<option>All Location</option>
						</select>
					</div>
					<div class="col-sm-3 col-6">
						<select class="form-control">
							<option>Event Type</option>
						</select>
					</div>
					<div class="col-sm-2  col-6">
						<select class="form-control">
							<option>All Dates</option>
						</select>
					</div>

				</div>
			</div>
			<div class="row eventlisting">
				<div class="col-sm-4">
					<div class="card cardshadow">
						<img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
						<div class="ribbon ribbon-top-right"><span>FREE</span></div>
						<div class="card-block text-center">
							<div class="eventbtnholder">
								<button class="purple-gradient borradius50per">
									<i class="material-icons">share</i>
								</button>
								<button class="purple-gradient borradius50per">
									<i class="material-icons">
										bookmark_border
									</i>
								</button>
							</div>
							<div class="eventdate col-sm-2">
								<span>Nov</span>
								<span class="date">09</span>
							</div>
							<div class="col-sm-10 heightadjust">

								<div class="eventtitle">
									<a routerLink="../event_list">Free Modelling Workshop - Be a Model.</a>
								</div>
								<div class="eventvenue">
									Wed, Nov 09 in Indore Marriott Hotel, Indore
								</div>
							</div>
							<div class="col-sm-12 footericon">
								<span>
									<i class="material-icons">bookmark</i> 0
								</span>
								<span>
									<i class="material-icons">visibility</i> 85
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card cardshadow">
						<img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
						<div class="ribbon ribbon-top-right"><span>FREE</span></div>
						<div class="card-block text-center">
							<div class="eventbtnholder">
								<button class="purple-gradient borradius50per">
									<i class="material-icons">share</i>
								</button>
								<button class="purple-gradient borradius50per">
									<i class="material-icons">
										bookmark_border
									</i>
								</button>
							</div>
							<div class="eventdate col-sm-2">
								<span>Nov</span>
								<span class="date">09</span>
							</div>
							<div class="col-sm-10 heightadjust">
								<div class="eventtitle">
									<a routerLink="../event_list">Free Modelling Workshop - Be a Model.</a>
								</div>
								<div class="eventvenue">
									Wed, Nov 09 in Indore Marriott Hotel, Indore
								</div>
							</div>
							<div class="col-sm-12 footericon">
								<span>
									<i class="material-icons">bookmark</i> 0
								</span>
								<span>
									<i class="material-icons">visibility</i> 85
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">

					<div class="card cardshadow">
						<img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
						<div class="ribbon ribbon-top-right"><span>FREE</span></div>
						<div class="card-block text-center">
							<div class="eventbtnholder">
								<button class="purple-gradient borradius50per">
									<i class="material-icons">share</i>
								</button>
								<button class="purple-gradient borradius50per">
									<i class="material-icons">
										bookmark_border
									</i>
								</button>
							</div>
							<div class="eventdate col-sm-2">
								<span>Nov</span>
								<span class="date">09</span>
							</div>
							<div class="col-sm-10 heightadjust">
								<div class="eventtitle">
									<a routerLink="../event_list">Free Modelling Workshop - Be a Model.</a>
								</div>
								<div class="eventvenue">
									Wed, Nov 09 in Indore Marriott Hotel, Indore
								</div>
							</div>
							<div class="col-sm-12 footericon">
								<span>
									<i class="material-icons">bookmark</i> 0
								</span>
								<span>
									<i class="material-icons">visibility</i> 85
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card cardshadow">
						<img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
						<div class="ribbon ribbon-top-right"><span>FREE</span></div>
						<div class="card-block text-center">
							<div class="eventbtnholder">
								<button class="purple-gradient borradius50per">
									<i class="material-icons">share</i>
								</button>
								<button class="purple-gradient borradius50per">
									<i class="material-icons">
										bookmark_border
									</i>
								</button>
							</div>
							<div class="eventdate col-sm-2">
								<span>Nov</span>
								<span class="date">09</span>
							</div>
							<div class="col-sm-10 heightadjust">
								<div class="eventtitle">
									<a routerLink="../event_list">Free Modelling Workshop - Be a Model.</a>
								</div>
								<div class="eventvenue">
									Wed, Nov 09 in Indore Marriott Hotel, Indore
								</div>
							</div>
							<div class="col-sm-12 footericon">
								<span>
									<i class="material-icons">bookmark</i> 0
								</span>
								<span>
									<i class="material-icons">visibility</i> 85
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card cardshadow">
						<img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
						<div class="ribbon ribbon-top-right"><span>FREE</span></div>
						<div class="card-block text-center">
							<div class="eventbtnholder">
								<button class="purple-gradient borradius50per">
									<i class="material-icons">share</i>
								</button>
								<button class="purple-gradient borradius50per">
									<i class="material-icons">
										bookmark_border
									</i>
								</button>
							</div>
							<div class="eventdate col-sm-2">
								<span>Nov</span>
								<span class="date">09</span>
							</div>
							<div class="col-sm-10 heightadjust">
								<div class="eventtitle">
									<a routerLink="../event_list">Free Modelling Workshop - Be a Model.</a>
								</div>
								<div class="eventvenue">
									Wed, Nov 09 in Indore Marriott Hotel, Indore
								</div>
							</div>
							<div class="col-sm-12 footericon">
								<span>
									<i class="material-icons">bookmark</i> 0
								</span>
								<span>
									<i class="material-icons">visibility</i> 85
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card cardshadow">
						<img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
						<div class="ribbon ribbon-top-right"><span>FREE</span></div>
						<div class="card-block text-center">
							<div class="eventbtnholder">
								<button class="purple-gradient borradius50per">
									<i class="material-icons">share</i>
								</button>
								<button class="purple-gradient borradius50per">
									<i class="material-icons">
										bookmark_border
									</i>
								</button>
							</div>
							<div class="eventdate col-sm-2">
								<span>Nov</span>
								<span class="date">09</span>
							</div>
							<div class="col-sm-10 heightadjust">
								<div class="eventtitle">
									<a routerLink="../event_list">Free Modelling Workshop - Be a Model.</a>
								</div>
								<div class="eventvenue">
									Wed, Nov 09 in Indore Marriott Hotel, Indore
								</div>

							</div>
							<div class="col-sm-12 footericon">
								<span>
									<i class="material-icons">bookmark</i> 0
								</span>
								<span>
									<i class="material-icons">visibility</i> 85
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card row">
				<div class="page-nation">
					<ngb-pagination [collectionSize]="70" [(page)]="page2" [boundaryLinks]="true" class="abc123"></ngb-pagination>
					<span class="totalpage">24 Pages</span>
					<!-- <hr>
                  <p>Current page: {{page2}}</p> -->
				</div>
			</div>
		</div>


	</section>
	<div class="clearfix"></div>
	<app-foot></app-foot>
</div>
<router-outlet></router-outlet>