
.material-icons{
  font-size: 13px;
}

.eventbanner{
	padding-top:0px;
}
.nopadd{
	padding:0px;
}
.eventsearchbox{
	max-width:90%;
	padding:20px;
	background:#fff;
	border-radius:10px;
	margin:-80px auto 30px auto;
	z-index:9;
	position:relative;
}
.eventsearchbox h1{
	margin:10px auto 30px auto;
	text-align:center;
	color:#dc0070;
	font-size:30px;
}
.eventimg{
  width:100%!important;
  height: 160px!important;
  object-fit: cover!important;
  cursor: pointer;
}
.eventsearchbtn{
  -webkit-appreance: none;
  border-radius: 20px;
  border: 0px solid #fff;
  box-shadow: 0px 0px 10px #ccc;
  background: #dc0070;
  width: 100%;
  color: #fff;
  height: 38px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.eventsearchbox input{
	border-radius:20px;
	border:0px solid #fff;
	box-shadow:0px 0px 10px #ccc;
}
.eventsearchbox select{
    -webkit-appreance:none;
	border-radius:20px;
	border:0px solid #fff;
	box-shadow:0px 0px 10px #ccc;
}
.eventlisting .card-block{
	padding:10px!important;
  position:relative;
  cursor: pointer;
}
.eventdate{
padding:3px 0px 0px 0px;
}
.eventdate span{
    text-align: center;
    display: block;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}
.eventdate p{
  color: #dc0070;
  font-size: 14px;
}

.heightadjust{
  min-height:110px;
}
.footericon{
  text-align:right;
  font-size:14px;
  padding-right:0px;
}
.footericon span{float:right;margin-right:10px;}
.footericon i{    
  float: left;
  font-size:16px;
  line-height:25px;
  margin-right:5px;
}
.eventtitle{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-bottom:5px;
    line-height: 20px;
}
.eventtitle a{
color: #3498db!important;
}
.eventvenue{
	text-align:left;
	font-size:14px;
  line-height:18px;
}
.eventbtnholder{
    position: absolute;
    right: 5px;
    z-index: 999;
    top: 125px;
}
.eventlisting .cardshadow{
	overflow:hidden!important;
	box-shadow:0px 0px 10px #ccc!important;
}
.ribbon {
  width: 110px;
  height: 110px;
  overflow: hidden;
  position: absolute;
  transform: rotate(45deg);
  right:0px;
  top:0px;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 110px;
  padding: 5px 0;
  background-color: #0d8d09;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 14px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

.eventbtnholder button i{display:flex;}
.purple-gradient {
    background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: -o-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
    padding:5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.12);
    outline:none;
    border:0px;
    margin:0px 3px;
    color:#fff;
    border-radius:50%;
}
.borradius50per{
    border-radius:50%;
    // background: #fff!important;
    border:1px solid #e5e5e5!important;
    padding:5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.12);
    outline:none;
    border:0px;
    margin:0px 3px;
    color:#000;
}
.borradius50per:hover{
    border-radius:50%;
    background: #e5e5e5!important;
    border:1px solid #e5e5e5!important;
    padding:5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.12);
    outline:none;
    border:0px;
    margin:0px 3px;
    color:#000;
}
.totalpage{
  color:#aeaeaf;
  position: absolute;
  top:5px;
  right: 10px; 
  text-transform:uppercase;
  font-weight: bold;
  }
.page-nation{
  position: relative;
}
  .eventprice{
    text-align: left;
    padding: 5px 0px;
    font-weight: bold;
    font-size: 16px;
    color: #f16124;
  }
@media(max-width: 768px){
.totalpage{
  position: relative; 
  text-align:center;
  display:block;
  margin-top:-7px;
  margin-bottom:20px;
  }
	.eventbanner{
	padding-top:60px;
	}
	.eventdate{
		display:none;
	}
	.eventtitle{
	    font-size: 16px;
	    font-weight: 600;
	    text-align: center;
	    min-height: inherit;
	    line-height: 20px;
      color:#3498db; 
	}
	.eventvenue{
		text-align:center;
	}
	.eventsearchbox{
	max-width:100%;
	padding:10px 10px 0px;
	background:#fff;
	border-radius:10px;
	margin:-25px auto 0px auto;
	box-shadow:0px 0px 10px #ccc;
}
.eventsearchbox h1{
	margin:5px auto 10px auto;
	font-size:16px;
	font-weight:bold;
}
.eventsearchbox input{
margin-bottom:15px;
}
.eventsearchbox select{
margin-bottom:15px;
}
}
@media(max-width: 960px){
 .event_div{
  max-width:inherit;
 }
}
@media(max-width: 767px){
 .event_div{
  max-width:inherit;
 }
}
@media(max-width: 320px){
 ngb-pagination.abc123 li a {
    padding: 10px 7px !important;
}
}