<div id="wrappervendor" class="">
	<app-menu></app-menu>

	<div class="eventbanner">
		<img style="height: 107%;width: 101%"  src="https://s3.us-east-2.amazonaws.com/prefect-image/wed.jpeg" class="img-responsive" />
	</div>
	<section class="container event_div">
		<div class="container-fluid nopadd">
			<!-- search part  -->
			<div class="eventsearchbox">
				<h1>Find your next experience</h1>
				<form (ngSubmit)="event()" #list="ngForm">
					<div class="form-group row">
						<div class="col-sm-3">
							<input [(ngModel)]="searchQuery" type="text" name="searchQuery" class="form-control" placeholder="Search Events" (keyup)="changeData('title')">
						</div>
						<div class="col-sm-3">
							<select class="form-control" name="location" [(ngModel)]="location" id="location" (change)="changeData('location')">
								<option value="All" selected>All Location</option>
								<option *ngFor='let list_locations of locations'> {{list_locations.name}}</option>
							</select>
						</div>
						<div class="col-sm-3 col-6">
							<select class="form-control" name="eventType" [(ngModel)]="eventType" id="eventType" (change)="changeData('eventType')">

								<option value="All" selected>All Events </option>
								<option>Free</option>
								<option>Paid</option>
							</select>
						</div>
						<div class="col-sm-3  col-6">
							<select class="form-control" name="dates" [(ngModel)]="dates" id="dates" (change)="changeData('datesFilter')">
								<option value="All" selected>All Dates</option>
								<option>NextMonth</option>
								<option>ThisWeek</option>
								<option>Tomorrow</option>
								<option>Today</option>
							</select>
						</div>

						<!-- <div class="col-sm-2  col-6">
									<select class="form-control"  name="pageSize"  [(ngModel)]="pageSize"  id="pageSize">
										<option selected [value]="1">10 - 20</option>
										<option [value]="2">20 - 30</option>
										<option [value]="3">30 - 40</option>
										<option [value]="5">40 - 50</option>
										<option [value]="60">50 - 60</option>
									</select>
								</div> -->
						<!-- <div class="col-sm-2  col-6">
							<button type="submit" class="eventsearchbtn"> search </button>
						</div> -->
					</div>
				</form>

			</div>
			<!-- search part  end -->
			<div class="row eventlisting">
				<div class="container">
					<div class="text-center">
						<p *ngIf="pagedItems?.length == 0">No Events Found!!!</p>
						<!-- items being paged -->
						<div class="col-sm-4 " *ngFor="let item of pagedItems ">
							<div class="card cardshadow">
								<div class="eventbtnholder">
										<button class="borradius50per purple-gradient">
											<i class="material-icons">share</i>
										</button>

										<!-- <button class="borradius50per purple-gradient"> -->
										<button class="borradius50per" (click)="apiService.bookMark(item,'event','bookmarked','eventPage')">
											<i class="material-icons">
												bookmark_border
											</i> 
										</button>
								</div>
								<div (click)="goToNextPage(item)">
									<img class="card-img-top img-fluid eventimg" *ngIf="item.files" [src]="item.files.path">

									<div class="ribbon ribbon-top-right" *ngIf="item?.entryFee == null; else entry">
										<span>Free</span>
									</div>

									<!-- <ng-template #entry>
										<div class="ribbon ribbon-top-right"><span>{{item.entry}}</span></div>
									</ng-template> -->

									<!-- <div class="ribbon ribbon-top-right" >
										<span>{{item.entry}}</span>
									</div> -->

									<div class="card-block text-center">
										
										<div class="eventdate col-sm-4" *ngFor='let Date of item.eventsDates | slice:0:1 ;let i=index '>
										<p><span> Start Date </span>  {{Date.startDateString | date}}</p>
										<p><span> End Date </span> {{Date.endDateString | date}} </p>

										<p>

										</p>


												<!-- <p *ngIf="Date.duration === 1">
													<span>Duration</span>{{Date.duration*24}} Hours
												</p> -->
											<p *ngIf="Date.duration === 1">
														<span>Duration</span> {{Date.duration}} Day
												</p>	
											<p *ngIf="Date.duration > 1">
													<span>Duration</span> {{Date.duration}} Days
											</p>
											<!-- Duration {{Date.duration}} Days -->
										




										</div>
										<div class="col-sm-8 heightadjust">

											<div class="eventtitle">
												<!--  routerLink="../event_list"p -->
												{{item.eventTitle}}
											</div>
											<div class="eventvenue">
												<table>
													<tr>
														<td valign="top" style="font-size: 18px;padding-top: 5px;">
															<i class="material-icons">location_on</i>
														</td>
														<td style="padding: 5px;">
															<strong>{{item.venueName}}</strong>,
														{{item.location}}
														</td>
													</tr>
												</table>
											</div>
											<div class="eventprice" *ngIf="item.entryFee == null">
												Free
											</div>
											<div class="eventprice" *ngIf="item.entryFee != null">
											 	{{item.entryFee}}
											</div>
											
											
										</div>
										<div class="col-sm-12 footericon">
												<span>
													<i class="material-icons">bookmark</i> {{item.numberOfBookmarks}}
												</span>
												<span>
													<i class="material-icons">visibility</i> {{item.numberOfViews}}
												</span>
											</div>
									</div>
								</div>
						</div>
						</div>
		            	<div class="clearfix"></div>
						<!-- pager -->
							<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
								<li [ngClass]="{disabled:pager.currentPage === 1}">
									<a (click)="setPage(1)">First</a>
								</li>
								<li [ngClass]="{disabled:pager.currentPage === 1}">
									<a (click)="setPage(pager.currentPage - 1)">Previous</a>
								</li>
								<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
									<a (click)="setPage(page)">{{page}}</a>
								</li>
								<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
									<a (click)="setPage(pager.currentPage + 1)">Next</a>
								</li>
								<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
									<a (click)="setPage(pager.totalPages)">Last</a>
								</li>
							</ul>
						<!-- pager end -->
					</div>
				</div>
				<hr />
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
	<app-foot></app-foot>
</div>
<router-outlet></router-outlet>