.banner
{
    background-color: aqua;
    padding-top: 116px;
    margin-top: -2px;
    width: 100%;
    height: 388px;
}
.innerbanner{
    background-color: red;
    height: 271px;
  
}
.img-fluid{
    height: 269px;
    
}