<app-menu></app-menu>
<app-tool></app-tool>
<div class="banner" >
    <div class="innerbanner container " >
       <div class="col-md-4  " style="background-color: azure; height: 270px;">
          <img class="img-fluid" src="https://images.pexels.com/photos/38870/pexels-photo-38870.jpeg?auto=compress&cs=tinysrgb&h=350"  alt="">
       </div>
       <div class="col-md-8" style="background-color: beige; height: 270px;">
        
        </div>
      </div>
</div>

<router-outlet></router-outlet> 

<!-- <app-foot></app-foot> -->
<div ngbDropdown >
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>General</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item">Join a Wedding</button><hr>
      <button class="dropdown-item">Indox</button>
      <button class="dropdown-item">Bookings</button>
      <button class="dropdown-item">Settings</button>
      <button class="dropdown-item">Download App</button>
      <button class="dropdown-item">Logout</button>
  </div>
</div>
