<app-menu></app-menu>
<app-tool></app-tool>
<app-userbanner></app-userbanner>
<div class="col-md-12">
  <div class="row">
      <div class="col-md-3">
          <img class="img-fluid" src="../../assets/img/hotel.jpg" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
          <img class="img-fluid" src="../../assets/img/hotel.jpg" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
          <img class="img-fluid" src="../../assets/img/hotel.jpg" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
          <img class="img-fluid" src="../../assets/img/hotel.jpg" class="img-responsive" alt="">
      </div>
  </div>
  <div class="row">
      <div class="col-md-3">
          <img class="img-fluid" src="../../assets/img/hotel.jpg" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
          <img class="img-fluid" src="../../assets/img/hotel.jpg" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
          <img class="img-fluid" src="../../assets/img/hotel.jpg" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
          <img class="img-fluid" src="../../assets/img/hotel.jpg" class="img-responsive" alt="">
      </div>
  </div>
</div>
<app-foot></app-foot>
<router-outlet></router-outlet> 