
<div class="container-fluid nopadd tool_icons" style="margin-top: 80px;">


    <div class="col-md-2">
       <a id="Supplier">

        <div class="sim-button button12">
            <p> <span class="bg-icon_tools_s452c8ca858_16"></span> </p>
            <p> Featured Supplier </p>
        </div>
      </a>   
     </div>

  <div class="col-md-2">
       <a id="Location">

        <div class="sim-button button12">
            <p>  <span class="bg-icon_tools_s452c8ca858_14"></span> </p>
            <p> Featured Location </p>
        </div>
      </a>   
     </div>


  <div class="col-md-2">
       <a id="Banner">

        <div class="sim-button button12">
            <p>  <span class="bg-icon_tools_s452c8ca858_10"></span> </p>
            <p>  Banner</p>
        </div>
      </a>   
     </div>

  
      <div class="col-md-2">
       <a  id="Result">

        <div class="sim-button button12">
            <p>    <span class="bg-icon_tools_s452c8ca858_05"></span> </p>
            <p>   Featured Result </p>
        </div>
      </a>   
     </div>

      <div class="col-md-2">
       <a  id="Carrers">

        <div class="sim-button button12">
            <p>    <span class="bg-icon_tools_s452c8ca858_10"></span> </p>
            <p>   Carrers </p>
        </div>
      </a>   
    </div>



</div>
