.large_subtext {
    font-size: 14px!important;
    margin: 2px 0;
    color: #414141;
    font-weight: 700;
    text-transform: uppercase;
}
.boxLightStyles{
    width: 100%;
     margin: 20px 0;
     border: 1px solid #f0f0f0;
     border-radius: 2px;
     transition: all .5s;
     overflow:hidden;
     padding: 15px;
    background: #fff;
 }

.whitetext{
    color:#fff!important;
}

 .ipad100{
    margin-top: 50px;
 }
 .backlink{
    position: absolute;
    top: 15px;
    left: 28px;
 }
.inspirationhead{
    padding: 10px 0;
}
 .backlink i{
    position: relative;
    top: 5px;
 }

 .borradius50per{
    border-radius:50%;
}
.btnradius50per{
    border-radius: 50% !important;
    font-size: 15px !important;
    padding: 0px !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 12px !important;
    margin: 0px !important;
    background: #ff0000 !important;
    border: 0px !important;
    color: #fff !important;
    font-weight: 600 !important;
    }
.large_subtext {
    font-size: 14px!important;
    margin: 2px 0;
    color: #414141;
    font-weight: 700;
    text-transform: uppercase;
}
.dealsinner{
    border: 1px solid #2196f3 !important;
    margin: 15px 0px;
    padding: 15px;
}
.dealsinner .btntik{
    width: 36px;
    height: 36px;
    margin: 0px 5px;
    color: #fff;
    float: left;
}
.dealsinner h1{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.dealsinner p {
    margin-bottom: 0px;
    line-height: 20px;
}
.purple-gradient{
    background: #fff !important;
    padding: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    outline: none;
    border: 1px solid #ff6ec4;
}
.purple-gradient:hover {
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
    padding: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    outline: none;
}