<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
        <app-adminsidebar></app-adminsidebar>   
    </div>
    <div id="page-content-wrapper">    
        <div class="container-fluid nopadd">                    
            <app-adminnavbar></app-adminnavbar>
            <div class="container-fluid">   
            <div class="card">
                <div class="search-div">
                        <input class="searchinput" placeholder="Search" type="text">
                        <button class="addbtn" class="addbtn" data-toggle="modal" data-target="#addnewmember">
                            <i class="material-icons">add</i>
                            Add Member
                        </button>
                        <div class="selectoption">
                            <label>Show</label>
                            <select>
                                <option>All</option>
                            </select>
                        </div>
                </div>  
                <div class="clearfix"></div>
                <div class="col-sm-12 table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col" class="font14px">Users</th>
                            <th scope="col" class="font14px">Message</th>
                            <th scope="col" class="font14px">Tickets</th>
                            <th scope="col" class="font14px">Events</th>
                            <th scope="col" class="font14px">Feedbacks</th>
                            <th scope="col">
                                <i class="material-icons">
                                    more_horiz
                                </i>
                            </th>
                            <th scope="col">
                                <i class="material-icons">
                                    more_horiz
                                </i>
                            </th>
                            <th>
                                Actions
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                                <div class="userdetailbox">
                                    <img src="https://www.shareicon.net/data/128x128/2015/09/18/103157_man_512x512.png" class="image-circle"/>

                                    <span class="blue">Eric Lewis</span>&nbsp;
                                    <span class="font12px">(Owner)</span><br/>
                                    <span class="font12px">Team Member</span>
                                </div>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td></td>
                            <td>
                                <button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit Member Details">
                                    <i class="material-icons">how_to_reg</i>
                                </button>&nbsp;&nbsp;
                                <button  class="btn btn-warning"  data-toggle="tooltip" data-placement="top" title="Edit Access Privileges">
                                    <i class="material-icons">edit</i>
                                </button>&nbsp;&nbsp;
                                <button  class="btn btn-danger"  data-toggle="tooltip" data-placement="top" title="Remove">  
                                    <i class="material-icons">clear</i>
                                </button>   
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <div class="userdetailbox">
                                    <img src="https://www.shareicon.net/data/128x128/2015/09/18/103157_man_512x512.png" class="image-circle"/>

                                    <span class="blue">Eric Lewis</span>&nbsp;
                                    <span class="font12px">(Owner)</span><br/>
                                    <span class="font12px">Team Member</span>
                                </div>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td></td>
                            <td>
                                <button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit Member Details">
                                    <i class="material-icons">how_to_reg</i>
                                </button>&nbsp;&nbsp;
                                <button  class="btn btn-warning"  data-toggle="tooltip" data-placement="top" title="Edit Access Privileges">
                                    <i class="material-icons">edit</i>
                                </button>&nbsp;&nbsp;
                                <button  class="btn btn-danger"  data-toggle="tooltip" data-placement="top" title="Remove">  
                                    <i class="material-icons">clear</i>
                                </button>  
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <div class="userdetailbox">
                                    <img src="https://www.shareicon.net/data/128x128/2015/09/18/103157_man_512x512.png" class="image-circle"/>

                                    <span class="blue">Eric Lewis</span>&nbsp;
                                    <span class="font12px">(Owner)</span><br/>
                                    <span class="font12px">Team Member</span>
                                </div>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td></td>
                            <td>
                               <button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit Member Details">
                                    <i class="material-icons">how_to_reg</i>
                                </button>&nbsp;&nbsp;
                                <button  class="btn btn-warning"  data-toggle="tooltip" data-placement="top" title="Edit Access Privileges">
                                    <i class="material-icons">edit</i>
                                </button>&nbsp;&nbsp;
                                <button  class="btn btn-danger"  data-toggle="tooltip" data-placement="top" title="Remove">  
                                    <i class="material-icons">clear</i>
                                </button>   
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <div class="userdetailbox">
                                    <img src="https://www.shareicon.net/data/128x128/2015/09/18/103157_man_512x512.png" class="image-circle"/>

                                    <span class="blue">Eric Lewis</span>&nbsp;
                                    <span class="font12px">(Owner)</span><br/>
                                    <span class="font12px">Team Member</span>
                                </div>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td></td>
                            <td>
                                <button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit Member Details">
                                    <i class="material-icons">how_to_reg</i>
                                </button>&nbsp;&nbsp;
                                <button  class="btn btn-warning"  data-toggle="tooltip" data-placement="top" title="Edit Access Privileges">
                                    <i class="material-icons">edit</i>
                                </button>&nbsp;&nbsp;
                                <button  class="btn btn-danger"  data-toggle="tooltip" data-placement="top" title="Remove">  
                                    <i class="material-icons">clear</i>
                                </button>     
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <div class="userdetailbox">
                                    <img src="https://www.shareicon.net/data/128x128/2015/09/18/103157_man_512x512.png" class="image-circle"/>

                                    <span class="blue">Eric Lewis</span>&nbsp;
                                    <span class="font12px">(Owner)</span><br/>
                                    <span class="font12px">Team Member</span>
                                </div>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td class="green">
                                <i class="material-icons">
                                    done
                                </i>
                            </td>
                            <td></td>
                            <td>
                                <button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit Member Details">
                                    <i class="material-icons">how_to_reg</i>
                                </button>&nbsp;&nbsp;
                                <button  class="btn btn-warning"  data-toggle="tooltip" data-placement="top" title="Edit Access Privileges">
                                    <i class="material-icons">edit</i>
                                </button>&nbsp;&nbsp;
                                <button  class="btn btn-danger"  data-toggle="tooltip" data-placement="top" title="Remove">  
                                    <i class="material-icons">clear</i>
                                </button>     
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                   </div>  
            <app-foot></app-foot>
        </div>
    </div> 
</div>



    <div class="modal fade" id="addnewmember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Admin User Details
                    </h4>
                   
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                   
                <div class="modal-body">
                    <div class="card">         
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-effect form-group md-form ">
                                        <input class="effect-16 validate" type="text" placeholder="" required="required">
                                        <label>First Name</label>
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-effect form-group md-form ">
                                        <input class="effect-16 validate" type="text" placeholder="" required="required">
                                        <label>Last Name</label>
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-effect form-group md-form ">
                                            <input class="effect-16 validate" type="email" placeholder="" required="required">
                                            <label>Email</label>
                                            <span class="focus-border"></span>
                                        </div>
                                    </div>
                            </div>                                      
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-effect form-group md-form ">
                                        <input class="effect-16 validate" type="text" placeholder="" required="required">
                                        <label>Phone Number</label>
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                            </div>                     
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-effect form-group md-form ">
                                        <input class="effect-16 validate" type="text" placeholder="" required="required">
                                        <label>Address</label>
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-effect form-group md-form ">
                                        <select  class="effect-16 validate" required="required">
                                            <option class="green">Team Member</option>
                                            <option class="red">Team Lead</option>
                                        </select>
                                        <label></label>
                                        <span class="focus-border dateborder"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Access Privileges</label>
                                        <div class="funkyradio">
                                            <div class="funkyradio-info">
                                              <input type="checkbox" name="checkbox" id="Users" checked/>
                                              <label for="Users" data-toggle="tooltip" data-placement="top" title="User Description Here"> 
                                                Users
                                              </label>
                                            </div>
                                            <div class="funkyradio-info">
                                              <input type="checkbox" name="checkbox" id="Message"/>
                                              <label for="Message" data-toggle="tooltip" data-placement="top" title="Message Description Here"> 
                                                Message
                                              </label>
                                            </div>
                                            <div class="funkyradio-info">
                                              <input type="checkbox" name="checkbox" id="Tickets"/>
                                              <label for="Tickets" data-toggle="tooltip" data-placement="top" title="Tickets Description Here"> 
                                                 Tickets
                                              </label>
                                            </div>
                                            <div class="funkyradio-info">
                                              <input type="checkbox" name="checkbox" id="Events"/>
                                              <label for="Events" data-toggle="tooltip" data-placement="top" title="Events Description Here"> 
                                                 Events
                                              </label>
                                            </div>
                                            <div class="funkyradio-info">
                                              <input type="checkbox" name="checkbox" id="Feedback"/>
                                              <label for="Feedback" data-toggle="tooltip" data-placement="top" title="Feedback Description Here"> 
                                                 Feedback
                                              </label>
                                            </div>
                                        </div>
                                        
                                       
                            </div>
                        </div> 
                    </div>
                </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-info whitetext" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>  
              </div>
            </div>
</div>
    

<router-outlet></router-outlet> 