<section id="login">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card gradient-indigo-purple text-center width-400 shadownone">
          <div class="card-img overlap loginhead">
            <h1 id="loginheading">User Log in</h1>
            <h1 id="signupheading"> User Sign up</h1>
            <div class="loginsocial">
              <a  (click)="socialSignIn('facebook')"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a (click)="socialSignIn('google')"><i class="fa fa-google-plus"></i></a>
            </div>
             </div>
          <div class="card-body loginbody">
              <form novalidate="" (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="form-group" id ="signupform">
                      <div class="col-md-12">
                          <i class="material-icons pull-left">face</i>
                        <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name" >
                      </div>
                    </div>
                <div class="form-group">  
                  <div class="col-md-12">
                      <i class="material-icons">email</i>
                    <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email" >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                      <i class="material-icons">lock_outline</i>
                    <input type="password" class="form-control" name="inputPass" id="inputPass" placeholder="Password">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <button type="submit" class="textbtn" (click)="vendor()"  >Lets Go</button><br>                
                    </div>
                </div>
              </form>
          </div>
          <hr>
            <a id="new" (click)="loadScript()" class="btn btn-outline-info">user sign up ?</a>
            <a id="signinuser" class="btn btn-outline-info">sign in?</a>
            <div class="float-right"><a routerLink="../register" class="red">Business Sign In</a></div>
    
        </div>
      </div>
</section>
