<section id="login">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card gradient-indigo-purple text-center width-400 shadownone">
          <div class="card-img overlap loginhead">
            <h1>Log in</h1>
            <div class="loginsocial">
              <a  (click)="socialSignIn('facebook')"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a (click)="socialSignIn('google')"><i class="fa fa-google-plus"></i></a>
            </div>
             </div>
          <div class="card-body loginbody">
              <form novalidate="" (ngSubmit)="onSubmit()" #f="ngForm">
                  <div class="form-group">
                      <div class="col-md-12">
                          <i class="material-icons pull-left">face</i>
                        <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name" >
                      </div>
                    </div>
                <div class="form-group">
                  <div class="col-md-12">
                      <i class="material-icons">email</i>
                    <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email" >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                      <i class="material-icons">lock_outline</i>
                    <input type="password" class="form-control" name="inputPass" id="inputPass" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <button type="submit" class="textbtn"  >Lets Go</button><br>
                    <a routerLink="vendor">vendor</a>
                    </div>
                </div>
              </form>
          </div>
          <div class="card-footer">
            <div class="float-right"><a id="hide" (click)="open(signupContent)" (click)="loadScript()"class="red">New User?</a></div>
          </div>
        </div>
      </div>
</section>

<ng-template #signupContent let-c="close" let-d="dismiss">
  <div class="modal-body">
      <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <app-register></app-register>
      <!--Registration Page Ends-->
  </div>
 </ng-template>
