<nav class="navbar navbar-expand-lg navbar-light  headernav" id="mainNav">
    <div class="container mrg_top_menu">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Wedding</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">

             <ul class="navbar-nav ml-auto fmc-dropdown-perspective">
                <li class="nav-item dropdown">
                        <a id="dropdownMenuButton" class="nav-link js-scroll-trigger dropdown-toggle" data-toggle="dropdown"  href="#about">Wedding Suppliers</a>

                        <div class="col-md-12 dropdown-menu fmc-dropdown-content-perspective" aria-labelledby="dropdownMenuButton">
                                <div class="col-md-6 col-xs-12">
                                        <ul>
                                                <li>
                                                        <a href="#" class="dropdown-item"><i class="fa fa-camera" aria-hidden="true"></i>  <span>Cakes </span> </a>
                                                  </li>
                                            <li>
                                                  <a href="#" class="dropdown-item"><i class="fa fa-camera" aria-hidden="true"></i>  <span>Decorators & Wedding Stylist </span> </a>
                                            </li>
                                            <li>
                                                  <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i>  <span>Drinks and Beverages </span> </a>
                                            </li>
                                            <li>
                                                  <a href="#" class="dropdown-item"><i class="fa fa-paint-brush" aria-hidden="true"></i> <span>Fashion & Clothing</span> </a>
                                            </li>
                                            <li>
                                                  <a href="#" class="dropdown-item"> <i class="fa fa-paint-brush" aria-hidden="true"></i>  <span>Florists, Bouquets and Centerpiece </span> </a>
                                            </li>
                                            <li>
                                              <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"></i>  <span>Food & Catering </span> </a>
                                        </li>
                                        <li>
                                          <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i>  <span>Footwear</span> </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i> <span>Honeymoon & Travel</span> </a>
                                </li>
                                <li>
                                  <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"></i>  <span>Invitation Cards & Wedding Stationary </span> </a>
                            </li>
                            <li>
                              <a href="#" class="dropdown-item"><i class="fa fa-camera" aria-hidden="true"> </i> <span>Jewellery & Wedding Rings </span> </a>
                           </li>
                          
                        </ul>  
                    </div>


                    <div class="col-md-6 col-xs-12">
                            <ul>
                                    <li>
                                            <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i> <span>Make Up, Hair &Mehendi</span> </a>
                                           </li>
                                <li>
                                      <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"></i> <span> Marriage Celebrant</span> </a>
                                </li>
                                <li>
                                      <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i>  <span>Music, DJs & Entertainment </span> </a>
                                </li>
                                <li>
                                      <a href="#" class="dropdown-item"><i class="fa fa-paint-brush" aria-hidden="true"></i> <span>Other wedding Supplies & Accessories</span> </a>
                                </li>
                                <li>
                                      <a href="#" class="dropdown-item"> <i class="fa fa-paint-brush" aria-hidden="true"></i>  <span>Photography, Videography & Cinematography</span> </a>
                                </li>
                                <li>
                                  <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i>  <span>Venues</span> </a>
                            </li>
                            <li>
                              <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"></i>  <span>Wedding Cars & Transport</span> </a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i> <span>Wedding Planner & Event Management</span> </a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i> <span>Shape & Fitness </span> </a>
                </li>
                <li>
                  <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i> <span>Pamper Packages </span> </a>
            </li>
           
                            </ul>  
                          </div> 

                          <div class="clearfix"> </div>
                          <div class="are_you">
                              <div class="col-md-6 col-xs-12">
                                  <p class="vendo">Are you a vendor?</p>
                              </div>
                              <div class="col-md-6 col-xs-12">
                                  <p class="regi"> <a href="#"> Register Now</a>  </p>
                              </div>
                          </div>

                        </div> 
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" routerLink="photo">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" routerLink="tips">Tips & Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Events</a>
                </li>
                <li class="nav-item">



                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" (click)="open(loginContent)">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" (click)="open(signupContent)">signup</a>
                </li>
            </ul> 
        </div>
    </div>
</nav>

<!--Modal Login content start-->


<ng-template #loginContent let-c="close" let-d="dismiss">
<div class="modal-body logincontainer">
    <app-login></app-login>
</div>
</ng-template>

<ng-template #signupContent let-c="close" let-d="dismiss">
<div class="modal-body">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <app-register></app-register>
</div>
</ng-template>
<!--Modal signup content end-->
<router-outlet></router-outlet>