
.logincontainer{padding: 0px!important;max-width: 340px!important;background: #ffffff;margin-left: auto;margin-right: auto;border-radius: 5px;}


#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #f05f40;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #F05F40 !important;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: transparent;
  }
  .headernav{
    background: rgba(0,46,119, 0.5)!important;
    position: fixed;
    width: 100%;
  
  }




#navbarResponsive{
  margin-left: 20% !important;
}


.headernav {
    height:80px !important;
    -ms-transition:     all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}

.headernav.head_small {
    height: 60px !important;
    line-height: 35px;
    background: rgba(0, 46, 119, 0.99) !important;
}

  .dropdown:hover>.dropdown-menu {
      display: block;
    }
    
    .dropdown>.dropdown-toggle:active {
      /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
.dropdown-menu ul{
  margin: 0%;
  padding: 0%;
}
.dropdown-menu{
  width:100%;min-width: 720px;
}
.dropdown-menu ul li{
  list-style-type: none;
}
.dropdown-menu ul li a i{
  margin-right: 15px;
}
.dropdown-menu span{
  font-size: 13px;
}

  .dropdown-menu ul li a:hover{
        background-color:unset !important;
         color: #e72e77 !important;
       }
    
       dark-modal .modal-content {
        background-color: #292b2c;
        color: white;
      }
      .dark-modal .close {
        color: white;
      }


.are_you{
        width: 100%;
         border-top: 1px solid #d7d7d7;
        padding: 10px;
        margin-top: 30px;
        
      }
       .are_you .vendo{
         padding: 0%;
         margin: 0%;
         margin-left: 20px;
       }
       .are_you .regi{
         padding: 0%;
         margin: 0%;
         text-align: right;
        margin-right: 20px;
        
       }
      .are_you .regi a{
        padding: 0%;
         margin: 0%;
        
       color: #e72e77;
      }

  


      @media (min-width: 992px) {
        #mainNav {
          border-color: transparent;
          background-color: transparent;
        }
        #mainNav .navbar-brand {
          color: rgba(255, 255, 255, 0.7);
          line-height: 40px;
        }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: #fff;
        }
        #mainNav .navbar-nav > li.nav-item > a.nav-link {
          padding: 0.5rem 1rem;
        }
        #mainNav .navbar-nav > li.nav-item > a.nav-link,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
          color: rgba(255, 255, 255, 0.7);
        }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #fff;
        }
        #mainNav.navbar-shrink {
          border-bottom: 1px solid rgba(33, 37, 41, 0.1);
          background-color: #fff;
        }
        #mainNav.navbar-shrink .navbar-brand {
          color: #F05F40;
        }
        #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
          color: #f05f40;
        }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #212529;
        }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #F05F40;
        }
      }
    

      @media (max-width:767px){
        #mainNav .container::before,#mainNav .container::after{
          display: none;
        }
        #mainNav .navbar-brand{
          float: inherit;
          line-height: 40px;
          padding-left: 0px;
          color: #ffffff;
          width: 112px;
          margin: 0px auto;
        }
        .navbar-light .navbar-toggler-icon {
          background-image: none!important;
          background: #ffffff;
          height: 2px;
          border-radius: 5px;
          margin: 5px 0px;
          display: block;
      }
        .navbar-nav > li {
          float: left;
          width: 100%;
          text-align: left;
      }
      .dropdown-menu ul li a:hover{
        background-color:unset !important;
         color: #e72e77 !important;
       }
       .navbar-collapse{
        background: #ffffff!important;
        
      }
      .navbar-collapse{
        overflow: hidden;
      }
      .dropdown-menu{
        z-index: 99999;
        display: none !important;
      }
      .navbar-toggler{
        position: absolute;
      }
     .navbtntik{
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      position: absolute;
     }
      #navbarResponsive{
      margin-left: 0% !important;
      position: absolute;
        top: 80px;
    }
    .dropdown-toggle::after{display:none !important;}
    
    
    .headernav.head_small{
        height: auto !important;}
    
       
    #navbarResponsive{
      position: fixed;
      top: 0;
      z-index: 1;
      height: 100%; 
      width: 280px;
      display: block;
      
    }
      .navbar-collapse {
        transition: 1s;
        left: -280px;
    }
.in{
  left: 0px!important;
}
.fmc-dropdown-perspective{
     margin-top: 30px;
}
#navbarResponsive{
   background-color: #f3f3f3 !important;
}
#navbarResponsive ul li::after{
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    display: block !important;
    right: 0 !important;
    left: 16px !important;
    content: '' !important;
   
    border-color: #ccc !important;
}
.nav-item .mob_arrow::after{
   border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    display: block;
    width: 8px;
    height: 8px;
    margin: auto;
    transform: rotate(135deg);
    right: 23px;
    left: auto;
    position: absolute;
    top: 0;
    content: '';
    bottom: 0;
}

    }
    















