

  <div class="modal fade loginboxmodal " id="MMM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Modal cascading tabs-->
            <div class="modal-c-tabs text-right">
                <!-- Nav tabs -->
                <button type="button" class="btn waves-effect ml-auto closebtn" data-dismiss="modal">&times;</button>
                <ul class="nav nav-tabs tabs-2 light-blue darken-3 customerlogin" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active logintab" data-toggle="tab" href="#panel7" role="tab">
                        <i class="fa fa-user mr-1"></i> Couples
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link registertab" data-toggle="tab" href="#panel9" role="tab" >
                        <i class="fa fa-user-plus mr-1"></i> Vendors
                    </a>
                </li>
                </ul>
            
                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Panel 7-->
                        <div class="tab-pane fade in active" id="panel7" role="tabpanel">
                            <!--Body-->
                            <form role="form" action="" method="post" id="id7" >
                                <div class="modal-body mb-1 align_left">
                                    <div class="input-effect  md-form mt-3">
                                        <input class="effect-16"  type="email"  required="required" placeholder="">
                                        <label>Your Email</label>
                                        <span class="focus-border"></span>
                                    </div> 
                                    <div class="input-effect  md-form mt-3">
                                        <input class="effect-16"   type="password" required="required"  name="email" placeholder="">
                                        <label>Password</label>
                                        <span class="focus-border"></span>
                                    </div>   
                                    <div class="text-center mt-2" >
                                            <p class="pt-1 text-right">
                                                    <a  href="#" class="pink-text">Forgot Password</a>
                                            </p>
                                        <button class="btn btn-info" routerLink="../User/Timeline">SIGN IN
                                            <!-- <i class="fa fa-sign-in ml-1"></i> -->
                                        </button>
                                       <!--  <button class="btn btn-info" >SIGN IN
                                           -->  <!-- <i class="fa fa-sign-in ml-1"></i> -->
                                        <!-- </button> -->
                                        <p class="text-center">or Sign up with: </p>
                                    </div>
                                </div>
                            </form>
                            <!--Footer-->
                            <div class="footer_span text-center">
                            <a href=""> <span><i class="fa fa-facebook" aria-hidden="true"></i></span>  </a> 
                            <a href=""> <span><i class="fa fa-twitter" aria-hidden="true"></i></span>  </a>  
                            <a href=""><span><i class="fa fa-google-plus" aria-hidden="true"></i></span> </a>  
                            <p>Already a member? <a (click)="loadScript()">Sign Up </a>  </p>
                            </div>     
                        </div>
                    <!--/.Panel 7-->
                    <!--Panel 8-->
                        <div class="tab-pane fade" id="panel8" role="tabpanel">
                            <!--Body-->
                                <form role="form" action="" method="post" id="id8" (ngSubmit)="userSubmit()" #f="ngForm">
                                    <div class="modal-body mb-1 align_left">               
                                        
                                        <div class="input-effect form-group md-form mt-3">
                                            <input class="effect-16"  type="email" required="required" [(ngModel)] = "userSingUp.email" name="email" placeholder="">
                                            <label>Your Email</label>
                                            <span class="focus-border"></span>
                                        </div>   
                                        <div class="input-effect form-group md-form mt-3">
                                            <input class="effect-16"  type="password" required="required" [(ngModel)] = "userSingUp.password" name="password" placeholder="">
                                            <label>Password</label>
                                            <span class="focus-border"></span>
                                        </div>  
                                        <div class="input-effect form-group md-form mt-3">
                                            <input class="effect-16"  type="password" required="required" [(ngModel)] = "userSingUp.confirmpass" name="confirmpass"  placeholder="">
                                            <label>Confirm Password</label>
                                            <span class="focus-border"></span>
                                        </div>  
                                        <div class="text-center form-sm mt-2">
                                        <button class="btn btn-info">SIGN UP</button> 
                                        <p class="pt-1">or Sign up with:</p>
                                <!-- <a data-toggle="tab" href="#panel7" role="tab" class="pink-text signin_click" >up with</a> -->
                                        </div>
                                    </div>
                                </form>
                                <div class="footer_span text-center">
                                    <a href=""> <span><i class="fa fa-facebook" aria-hidden="true"></i></span>  </a> 
                                    <a href=""> <span><i class="fa fa-twitter" aria-hidden="true"></i></span>  </a>  
                                    <a href=""><span><i class="fa fa-google-plus" aria-hidden="true"></i></span> </a>  
                                    <p>Already a member? <a (click)="loadScript()">Sign In </a>  </p>
                                </div>  
                        </div>
                    <!--/.Panel 8-->
                  
                    <div class="tab-pane fade" id="panel9" role="tabpanel">
                            
                        <form role="form" action="" method="post" (ngSubmit)="onSubmit()" #f="ngForm">
                            <div class="modal-body mb-1 align_left">
                                <div class="input-effect form-group md-form mt-3">
                                    <input class="effect-16"  type="email" [(ngModel)] = "user.username" name="username" required="required" placeholder="">
                                    <label>Your Email</label>
                                    <span class="focus-border"></span>
                                </div>   
                                <div class="input-effect">
                                    <input class="effect-16"   type="password" [(ngModel)] = "user.password" name="password" required="required"  placeholder="">
                                    <label>Password</label>
                                    <span class="focus-border"></span>
                                </div>   
                                <div class="text-center mt-2">

                                        <p class="pt-1 text-right">
                                                <a  href="#" class="blue-text">Forgot Password</a>
                                            </p>
                                   <button class="btn btn-vendor vendor" type="submit" id="type-success" (click)="typeSuccess()" >SIGN IN 
                                     </button>
                                     <p class="text-center">or Sign up with: </p>
                                     

            
                                    <!-- <p class="pt-1">Not a member? 
                                        <a  data-dismiss="modal" routerLink="../register" class="blue-text">Sign up</a>
                                    </p> -->
                                </div>    
                            </div>
                        </form>
                        <div class="footer_span1 text-center">
                                <a href=""> <span><i class="fa fa-facebook" aria-hidden="true"></i></span>  </a> 
                                <a href=""> <span><i class="fa fa-twitter" aria-hidden="true"></i></span>  </a>  
                                <a href=""><span><i class="fa fa-google-plus" aria-hidden="true"></i></span> </a>  
                                 <p>Already a member? <a routerLink="../register" class="signuplink">Sign Up </a>  </p>
                                </div>
                    </div>
                   <!--/.Panel 8-->

                </div>
            </div>
        </div>
       <!--/.Content-->
    </div>
 </div>
 <router-outlet></router-outlet>