.logincontainer{padding: 0px!important;max-width: 340px!important;background: #ffffff;margin-left: auto;margin-right: auto;border-radius: 5px;}
.userimgtop{
  border-radius:50%;
}
.notifiybtn{
background: transparent;
    border: 0px solid #fff;
    color: #fff;
    margin-top: 5px;
    height: 56px;
    width: 35px;
    padding: 0px;
}
.notification-dropdown{
   top:47px!important;
   min-width:350px!important;
   width:100%!important;
}
.notifyimgbox{
  width:50px;
  height:50px;
  float:left;
  margin-right:10px;
}
.notifyimgbox img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.forgotlock{
  margin:30px auto auto;
}
.forgothead{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 999;
  }
  #mainNav .navbar-brand {
    font-weight: 600;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  .navbar-light .navbar-toggler{
  border:0px solid #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #f05f40;
  }
  .navbar .navbar-nav .dropdown-menu{
  border:0px solid #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #212529;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #F05F40 !important;
    background-color: transparent;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: transparent;
  }
  .headernav{
    background: rgba(0,46,119, 0.5)!important;
    position: fixed;
    width: 100%;
    z-index:99;
  }
  .user i{
    float:inherit;
    margin-right:2px;
    margin-top:18px;
  }
  .user a.dropdown-item{
    overflow: hidden;
  }
  .user a.dropdown-item i{
    float:left;
  }
  .user .dropdown-toggle::after {
    border-top: 0.2em solid;
    border-right: 0.2em solid transparent;
    border-left: 0.2em solid transparent;
    display:none;
}
  .user.dropdown{
  width:35px;
  padding:0px;
  text-align:center;
  }
   .user.dropdown i{float:inherit;}
  .user .dropdown-menu{
    min-width: inherit!important;
    width: 140px;
    max-width: 140px;
  }
.loginhome{
    background: no-repeat;
    border: 0px solid #fff;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    height:30px;
    line-height:30px;
    padding-right: 0px;
}
.loginhome i{
  float:left;
  margin-top:2px;
}
.loginhome span{
  float:left;
}
/*#navbarResponsive{
  margin-left: 10% !important;
}*/
.headernav {
    height:60px !important;
    -ms-transition:     all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}

.headernav.head_small {
    height: 60px !important;
    line-height: 35px;
  background: linear-gradient(40deg,#e60060,#f09) !important;
}

  .dropdown:hover>.dropdown-menu {
      display: block;
    }
    .dropdown>.dropdown-toggle:active {
      /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
  .closebtn{
    background: #ffffff !important;
    border: 0px solid #fff !important;
    font-size: 20px !important;
    border-radius: 50%;
    padding: 0;
    z-index: 999999;
    top: 70px;
    right: 9px!important;
    width: 30px;
    font-weight: bold;
    height: 30px;
    line-height:20px;
    padding-bottom: 5px!important;
  }
.loginboxmodal{
  z-index:99999;
  // max-width: 90%;
  margin: 0px auto;
}
.dropdown-menu ul{
  margin: 0%;
  padding: 0%;
}
.dropdown-menu{
  width:100%;
}
.dropdown-menu ul li{
  list-style-type: none;
}
.dropdown-menu ul li a i{
  margin-right: 15px;
}
.dropdown-menu span{
  font-size: 13px;
}

  .dropdown-menu ul li a:hover{
        background-color:unset !important;
         color: #e72e77 !important;
       }
    
       dark-modal .modal-content {
        background-color: #292b2c;
        color: white;
      }
      .dark-modal .close {
        color: white;
      }


.are_you{
        width: 100%;
         border-top: 1px solid #d7d7d7;
        padding: 10px;
        margin-top: 30px;
        
      }
       .are_you .vendo{
         padding: 0%;
         margin: 0%;
         margin-left: 20px;
       }
       .are_you .regi{
         padding: 0%;
         margin: 0%;
         text-align: right;
        margin-right: 20px;
        
       }
      .are_you .regi a{
        padding: 0%;
         margin: 0%;
        
       color: #e72e77;
      }

  
.mobileshow{
  display:none;
}
.dropdown-menu ul li{
  width:50%;
  float: left;
}
#navbarResponsive ul .nav-item{
height:60px!important;
position:relative;
}
#navbarResponsive ul .nav-item a{
line-height:60px!important;
padding-bottom:0px!important;
padding-top:5px!important;
}
#navbarResponsive ul .nav-item:after, #navbarResponsive .nav-item:before {
 content: "";
    position: absolute;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
}
#navbarResponsive ul .nav-item.dropdown:before {
    width: 0;
    height: 0;
    border-top: 5px solid #ff75a2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    z-index: 9999;
}
#navbarResponsive ul .nav-item:after {
    width: 100%;
    height: 2px;
    background-color: #ff75a2;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}
#navbarResponsive ul .nav-item.dropdown:hover:before {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
}
#navbarResponsive ul .nav-item:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.weddingicon li a img{
  width: 25px!important;
}
.weddingicon .dropdown-item{
  font-size:14px!important;
  line-height:normal!important;
}
#navbarResponsive ul li .dropdown-menu ul li a{
line-height:40px!important;
}
.regi a{
  line-height:32px!important;
}
.homedropdown{
  min-width:730px;
  left:-100px
}

.bg-icon_tools_s452c8ca858_14 {
    width: 29px; height: 30px;
    background: url('https://s3.us-east-2.amazonaws.com/prefect-image/user_sprite.png') -10px -10px;
    display: inline-block;
}
.bg-icon_tools_s452c8ca858_16 {
    width: 29px; height: 30px;
    background: url('https://s3.us-east-2.amazonaws.com/prefect-image/user_sprite.png') -10px -60px;
    display: inline-block;
}

.bg-icon_tools_s452c8ca858_17 {
    width: 27px; height:30px;
    background: url('https://s3.us-east-2.amazonaws.com/prefect-image/user_sprite.png') -111px -57px;
    display: inline-block;
}

.bg-icon_tools_s452c8ca858_02 {
    width: 28px; height:30px;
    background: url('https://s3.us-east-2.amazonaws.com/prefect-image/user_sprite.png') -111px -10px;
    display: inline-block;
}

.bg-icon_tools_s452c8ca858_05 {
    width: 32px; height:30px;
    background: url('https://s3.us-east-2.amazonaws.com/prefect-image/user_sprite.png') -59px -60px;
    display: inline-block;
}

.bg-icon_tools_s452c8ca858_09 {
    width: 27px; height:30px;
    background: url('https://s3.us-east-2.amazonaws.com/prefect-image/user_sprite.png') -10px -109px;
    display: inline-block;
}

.bg-icon_tools_s452c8ca858_10 {
    width: 32px; height:30px;
    background: url('https://s3.us-east-2.amazonaws.com/prefect-image/user_sprite.png') -59px -10px;
    display: inline-block;
}
.right_listing{
    position: relative;
    top: 6px;
}
.userhomemenu{
  width:200px;
  top:0px!important;
  left:-75px!important;
  padding:0px;
}
.userhomemenu .dropdown-divider{
  margin:0px;
}
.userhomemenu .dropdown-item span:first-child{
  float:left;
  margin-right:10px;
}
.vendorpicsec{
  padding:10px 5px;
  background: #fff;
  overflow: hidden;
  border-bottom:1px solid #e5e5e5;
}
.userhomemenu{
  padding-top:0px;
} 
.vendorpicsec .imgsection{
text-align:center;
margin-bottom:5px;
}
.vendorpicsec .imgsection img{
max-width: inherit!important;
  width: 80px!important;
  height: 80px!important;
  object-fit: cover;
}
.vendorpicsec .detailsection {
  font-size: 16px;
  padding-top: 5px;
  text-align:center;
  color:#d8005a;
  text-transform:capitalize;
}
.loginboxmodal  .nav>li>a{
  padding:10px!important;
}
 .loginboxmodal .modal-content{
  width:96%!important;
  margin:0px auto!important;
}
// loginpage
.vendor{padding-top: 4%;}
.light-blue.darken-3 {
    background: linear-gradient(40deg, #ff0047, #883eff) !important;
}
.modal-dialog{
  max-width: 500px!important;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
}
.modal-dialog .modal-content {    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border: 0;}
.modal-dialog .modal-content .tab-content{
  background:#ffffff!important;
  margin-top: -30px;
  padding-top: 30px;
  border-radius: 5px;
}
.modal-dialog.cascading-modal .modal-c-tabs .nav-tabs {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin: 0px auto 0px auto;
    max-width: 70%;
    z-index: 99999;
    position: relative;
    border-radius: 5px;
    padding:10px;
}
.modal-dialog.cascading-modal .nav-tabs li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.modal-dialog.cascading-modal .nav-tabs li a {
    text-align: center;
    border:0px solid #fff!important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nav-tabs .nav-item .nav-link {
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    background-color: inherit;
    color: #fff;
}
.nav-tabs .nav-item .nav-link.active {
    background-color: rgba(0,0,0,.2)!important;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.modal-dialog.cascading-modal .modal-body, .modal-dialog.cascading-modal .modal-footer {
    padding-left: 2rem;
    padding-right: 2rem;
    color: #616161;
}
.md-form {
    position: relative;
}
.md-form input{
  border:0px solid #fff;
  border-bottom:1px solid #A6A9AE;
  border-radius:0px;
  box-shadow: none!important;
}
.md-form.form-sm .prefix {
    top: .35rem;
    font-size: 1.5rem;
}
.md-form.form-sm .prefix~input, .md-form.form-sm .prefix~textarea {
    margin-left: 2rem;
    width: -webkit-calc(100% - 2rem);
    width: calc(100% - 2rem);
}
.md-form.form-sm .prefix~label {
    margin-left: 2rem;
    font-size: .875rem;
}
.btn-info{
  color: #fff!important;
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  background: linear-gradient(40deg,#e60060,#f09) !important;
  border:0px solid #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-vendor{
  color: #fff!important;
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  background: linear-gradient(40deg,#6ca0f5,#a600fb ) !important;
  border:0px solid #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-info:not([disabled]):not(.disabled).active, .btn-info:not([disabled]):not(.disabled):active, .show>.btn-info.dropdown-toggle {
-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
background-color: #e72e77!important;
}
.bordashpad{
  padding: 10px;
  width: 100%;
  text-align: center;
}
.bordashpad .btn{
  margin-bottom: 0px;
}
a.pink-text{
  color:#e72e77!important;
}
a.blue-text{
  color:#090de0!important;
}
//input
:focus{outline: none;}
.input-effect{position:relative; height: 33px; }
.input-effect .effect-16{
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    z-index: 2;
    position: relative;
    width: 100%;
}
.input-effect .effect-16 ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 7px;
    color: #aaa;
    transition: 0.3s;
    z-index: 1;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.input-effect .effect-16 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(240, 17, 140);
    transition: 0.4s;
}
.input-effect .effect-16:focus ~ label{
    top: -16px;
    font-size: 12px;
    color:  rgb(240, 17, 140);
    transition: 0.3s;
}
.input-effect .effect-16:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;

}
.align_left{
    text-align: left;
}
.logo_icon{background: url('https://s3.us-east-2.amazonaws.com/prefect-image/logo_icon.png');
    background-repeat: no-repeat;
    padding-left: 54px;
    height: 58px;
    color: #ffffff !important;
    background-size: 21%;
    background-position: left center;
    font-size: 16px;
  }
.tikright{ background: url('https://s3.us-east-2.amazonaws.com/prefect-image/dots.png center');
  width: 30px; height: 29px; background-repeat:no-repeat; border: none;
  position:fixed;right:5px;text-align:center;
}
.tikright i{
  font-size:30px;
  color:#fff;
  float:inherit;
}
//user icon 
.header-joined {
  margin-top: 2px;
  line-height: 23.8px;
  float: right;
  position: relative;
  user-select: none;}

  .footer_span span{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin-right: 20px;
    padding: 8px 30px;
    border-radius: 20px;
    color: #e72e77;
  }
  .footer_span1 span{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin-right: 20px;
    padding: 8px 30px;
    border-radius: 20px;
    color: #2e4ae7;
  }
  .footer_span p{
    margin-top: 30px;
  }
  .footer_span1 p{
    margin-top: 30px;
  }
  .footer_span1 p a{
    color: #2e4ae7;
  }
  .footer_span p a{
    color: #e72e77;
  }
  .footer_span a:last-child span{
     margin-right: 0px!important;
   
  }
.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
.sidebar-nav>.sidebar-brand a .material-icons{top: 5px!important;
  position: relative;
  }
  .sidebar-nav>.sidebar-brand a {
    color: #999999;
  }
  .usernavmenu img {
    margin-right: 10px;
    width:20px;
}
.py-3{
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.chartmainhead h4{
    text-align:center;
    font-size:18px;
    margin:0px;
    font-weight:bold;
    width:100%;
}
.chartmainhead h4 i{float: left;}
.chartpara{
    text-align:center;
    font-size:16px;
    font-weight:normal;
    padding:5px 20px;
}
 ul.starhead{
  list-style:none;
  padding-left:0;
  font-size: 24px !important;
    margin: 24px 0 !important;
}
ul.starhead  li{
  display:inline-block;
  margin:0 3px;
}
.fa{
  color:#cdc6c6;

}
.fa:hover{
  color:#fde16d;
}
/*table*/
i.fa.fa-pencil {
    color: #8fe3c3;
    font-size: 22px;
}
i.fa.fa-times {
    font-size: 22px;
    color: #ff7181;
}
i.fa.fa-star {
    color:#fde16d;
    font-size: 22px;
}
i.fa.fa-star-o {
    font-size: 22px;
}
.feedbackfooter{
  display: block;
  text-align: center;
}
.feedbackfooter button{
color:#ffffff!important;
}
.btn100per{
  width:100%;
  margin: 10px 0px;
  padding:5px;
  box-shadow: none;
  outline: none!important;
  border:1px solid #e5e5e5;
  background:#fff;
  text-align: left;
}
.btn100per img{
  float:left;
  margin-right: 10px;
  max-width: 30px;
}
.btn100per i{
  float:right;
  margin-right: 10px;
  margin-left: 10px;
}

/* File Upload */
.fake-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fileUpload {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /*padding: 35%;*/
    float: right;
    max-width: 120px;
    background: #e5e5e5;
}
input[type="file"]{
  height: 45px;
}
.receipthead{
  font-weight:bold;
  font-size:16px;
  line-height:40px;
}
.fileUpload #logo-id {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height:100%;
}
.fileUpload i {
    color: #efefef;
}
.main-img-preview {
width:100%;
}
.img-preview {
    max-width: 100%;
    max-height:100%;
}
.main-img-preview {
    position:relative;
}
.input-group-btn {
    position:absolute;
    top: 6px;
    right: 20px;
    padding-top:0;
    /*width:30px;
    height:30px;*/
}

.logintab i.fa, .registertab i.fa{
  color:#fff!important;
}
/* form starting stylings ------------------------------- */

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-top:10px;
}
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/

 .field label, .field input, .field select {
  transition: all 0.2s;
  touch-action: manipulation;
}

 .field  input, .field select{
  font-size: 1.2em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0 0 10px 0;
  cursor: text;
  z-index:999;
  background:transparent;
}

 .field input:focus,   .field select:focus {
  outline: 0;
  border-bottom: 1px solid #f0118c;
}

 .field label {
  text-transform: uppercase;
  margin-bottom: 0px;
  letter-spacing: 0.05em;
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
 .field input:placeholder-shown + label, .field select:placeholder-shown + label {
  cursor: text;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem);
  transition: .5s all;
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
   transition: .5s all;
}
/**
* Show the placeholder when the input is focused.
*/
 .field input:focus::-webkit-input-placeholder,  .field select:focus::-webkit-input-placeholder {
  opacity: 0;
  color:#f0118c;
}
 .field input::placeholder{
  color:#fff!important;
 }
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
 .field input:not(:placeholder-shown) + label,
 .field input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
 .field select:not(:placeholder-shown) + label,
 .field select:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
 #mainNav .navbar-nav > li.nav-item > a.nav-link {
  padding: 0.5rem 15px;
  color: #fff;
  font-size: .9rem;
}

@media only screen 
and (min-device-width : 992px) 
and (max-device-width : 1100px) {
/*  #navbarResponsive{
    margin-left: 4% !important;
  }*/
  .navbar-nav.right_listing > li{
  width: inherit!important;
  }
  .userhomemenu {
  left: -110px !important;
  }
   #mainNav .navbar-nav > li.nav-item > a.nav-link {
  padding: 0 10px!important;
  color: #000;
  font-size: 12px;
  }
  .container{
  max-width: 100%!important;
  }
 .loginhome{
  font-size: 12px;
  }


}

@media (min-width: 992px) {

        #mainNav {
          border-color: transparent;
          background-color: transparent;
        }
        #mainNav .navbar-brand {
          color: #fff;
          line-height: 40px;
          margin-right: 0px;
        }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: #fff;
        }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #fff;
        }

        #mainNav.navbar-shrink {
          border-bottom: 1px solid rgba(33, 37, 41, 0.1);
          background-color: #fff;
        }
        #mainNav.navbar-shrink .navbar-brand {
          color: #F05F40;
        }
        #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
          color: #f05f40;
        }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #212529;
        }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #F05F40;
        }
      
}

@media (max-width:991px){
 
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 5px!important;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #000;
    font-size: 14px;
  }
  .right_listing{
    position: absolute;
    top: 16px;
    margin-right: 0px;
    right: 6px;
  }
  .right_listing .nav-link {
  color: #fff!important;
  }
  .vendorappbtn, .vendorappbtnclose{
  position:absloute;
  right:0px;
  }
  .navbar-nav.right_listing > li{
  width: inherit!important;
  }
  #mainNav .navbar-brand{
  position:absolute;
  right:0px;
  left:0px;
  width:218px;
  }
  .mobilenone{
  display: none;
  }
  .notifiybtn{
  display:none;
  }
  .user .dropdown-menu{
    left:inherit!important;
    right:10px;
  }
  .user.loginhome span {
  display:inline-block!important;
  }
  .user.loginhome .dropdown-item i {
  font-size: 24px!important;
  }
  .weddingicon{
  background:#fff!important;
  }
  #navbarResponsive ul .nav-item{
  height:45px!important;
  position:relative;
  }
  #navbarResponsive ul .nav-item:after, #navbarResponsive .nav-item:before {
  display:none!important;
  }
  #navbarResponsive ul .nav-item:hover:before {
   display:none!important;
  }
  #navbarResponsive ul .nav-item:hover:after {
   display:none!important;
  }
  #navbarResponsive ul .nav-item:after, #navbarResponsive .nav-item:before {
    display:none;
  }
  .weddingicon li a img{
    width: 24px!important;
  }
  a.mobileslidewednav{
    font-size: .9rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #212529;
  }
  .weddingicon .dropdown-item{
     white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 3px 10px;
  }
    .mobileshowwebnav {
      min-width: inherit;
      top:-45px;
      left:266px;
      width: 282px;
      display: block;
      overflow: scroll;
      transition: left .5s;
      padding-top: 0px;
      height: 101vh;
      overflow: scroll;
    }
  .navbar .navbar-nav {
    display: block;
    margin-right: -30px!important;
}
    .show .mobileshowwebnav {
      left:-16px!important;
    }
  .iconright{
    float: right;
    margin-right: 25px;
    margin-top:15px;
  }
  .mobileshow{
    display:block;
  }
  .navbar-toggler{
    height: 18px;
    width: 24px;
    padding:1px 0px;
    margin-left: 5px;
    top: 10px;
    left: 10px;
  }
  .navbar-toggler div{
  background:#fff;
  }
  .dark_footer{
    padding:10px 0px!important;
  }
  .navheadtext{
    font-weight: bold;
    font-size: .9em;
    text-transform: uppercase;;
  }
  .dark_footer img{
    width:35px!important;
  }

  .loginhome i {
    margin-top: 0px;
    font-size: 30px;
  }
  .loginhome span{
    display:none;
  }
  .loginhome{
    position:absolute;
    width:40px;
    right:5px;
    padding-right: 0px;
  }
  .loginhome.dropdown{
    right:40px;
  }
  #mainNav .container::before,#mainNav .container::after{
    display: none;
  }
  #mainNav .navbar-brand
  {
    float: inherit;
    line-height: 40px;
    padding-left: 0px;
    color: #ffffff;
    width: 218px;
    margin: 0px auto;
    padding-left: 41px;
    background-size: 16%;
    line-height: 44px;
    background-position:left center;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: none!important;
            background: #ffffff;
            height: 2px;
            border-radius: 5px;
            margin: 5px 0px;
            display: block;
        }
          .navbar-nav > li {
            float: left;
            width: 100%;
            text-align: left;
        }
        .dropdown-menu ul li a:hover{
          background-color:unset !important;
           color: #e72e77 !important;
         }
         .dropdown-menu ul li{
    width:100%;
    float:inherit;
  }
  .mobinherit{
    position: inherit!important;
  }
         .navbar-collapse{
          background: #ffffff!important;
          
        }
        .navbar-collapse{
          overflow: hidden;
        }
       
        .navbar-toggler{
          position: absolute;
        }
        .navbtntik{
          opacity: 0;
       }
       .navbtntik, .tikrightclose{
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        position: absolute;
        display:none;
       }
        #navbarResponsive{
        margin-left: 0% !important;
        position: absolute;
        top: 80px;
      }
      .dropdown-toggle::after{display:none !important;}
      .headernav.head_small{
      height: 60px !important;}
  #navbarResponsive{
        position: fixed;
        top: 0;
        z-index: 1;
        height: 100%; 
        width: 280px;
        display: block;
        box-shadow:0px 0px 80px;
        overflow: hidden!important;
      }
        .navbar-collapse {
          transition: .2s;
          left: -280px;
      }
  .in{
    left: 0px!important;
  }

  #navbarResponsive{
     background-color: #f3f3f3 !important;
  }
  #navbarResponsive ul li::after{
      border-bottom-width: 1px !important;
      border-bottom-style: solid !important;
      display: block !important;
      right: 0 !important;
      left: 16px !important;
      content: '' !important;
      border-color: #ccc !important;
  }
  .nav-item .mob_arrow::after{
     border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      display: block;
      width: 8px;
      height: 8px;
      margin: auto;
      transform: rotate(135deg);
      right: 23px;
      left: auto;
      position: absolute;
      top: 0;
      content: '';
      bottom: 0;
  }
  .headernav {
      height:60px !important;
      z-index:99999;
  }
   #mainNav {
   padding-left: 5px;padding-right: 5px;
   }
   .weddingicon li.backsilde{
  font-size: .9rem!important;
      font-weight: 600!important;
      text-transform: uppercase!important;
      color: #212529!important;
      background: #e5e5e5;
      text-align: center;
      height:35px!important;
      line-height:35px!important;
  }.are_you{display: none;}
   .weddingicon li.backsilde i.material-icons{
    margin-left: 10px;
      float: left;
      font-size: 20px;
      line-height: 30px;
      padding-left: 13%;
      position: absolute;
      left: 0px;
  }
  .pace-running .headernav{
    width:375px!important;
  }
}

@media only screen 
  and (min-device-width : 420px) 
  and (max-device-width : 900px) {
  .modal-dialog{
    max-width: 300px!important;
  }
  .modal {
      z-index: 99999!important;
  }
  .chartpara{
      font-size: 14px!important;
      padding: 0px 4px!important;
      line-height: 18px!important;
  }
  #basicModal .modal-header {
      padding: 10px 5px;
  }
  .navbar .navbar-nav {
    display: block;
    margin-right: -30px!important;
}
  .chartmainhead h4{
      font-size: 15px!important;
      line-height: 20px;
  }
  .feedbackrate img{
    max-width:85px!important;
  }
  ul.starhead{
    margin:0px 0px 10px 0px!important;
  }
  .feedbackrate .feedbackfooter button{
    margin-bottom:0px!important;
  }
  .navbar-nav>li.usernavmenu>.blackoverlaymainuser .dropdown-menu{
    overflow:scroll;
  }
  #navbarResponsive{
    height:100vh!important;
    overflow-x:hidden!important;
    overflow-y:scroll!important;
  }
  .right_listing{
    top: 15px;
}
  .show .mobileshowwebnav {
      top:-45px!important;
    }
  .navbar-nav>li.usernavmenu>a, .navbar-nav>li.usernavmenu>a>i.material-icons, .navbar-nav>li.notilink>a, .navbar-nav>li.notilink>a>i.material-icons {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 30px!important;
}
  .notification.badge {
    font-size: 12px!important;
    right: -2px!important;
}
  .navbar-nav.right_listing > li {
    width: inherit !important;
    margin: 0px 10px;
}
.navbar-nav>li.usernavmenu>.dropdown {
    display: block!important;
}
.navbar-nav>li.usernavmenu>.blackoverlaymainuser .dropdown-menu {
    height: 100vh;
    right: 0px;
    left: inherit!important;
    top: -2px!important;
    border-radius: 0px!important;
    position: absolute!important;
    border: 0px solid #e5e5e5;
    box-shadow: 0px 0px 20px #000;
    transition: 1s;
    display: block!important;
}
.blackoverlaymainuser {
    background: rgba(0,0,0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    right: -100%;
    transition: right .8s;
    z-index: 999;
}
.mobileshowwebnav {
    top:-45px!important;
    /*left:-308px!important;*/
    width:293px!important;
  }
  .locationbox h2 {
    font-size:15px !important;
  }
  button.navbar-toggler.tik.hidden-md.hidden-lg, button.navbar-toggler.hidden-md.hidden-lg  {
    left: 11px;
    top: 6px !important;
    transition: .2s;
  }

}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 812px) {
  
}

@media only screen and (max-width: 767px) {
  .just_picture{
    display: none;
  }
    .right_listing{
        top: 6px;
    }
    .modal-dialog{
      max-width: 94%!important;
    }
    .modal {
        z-index: 99999!important;
    }
    button.navbar-toggler.tik.hidden-md.hidden-lg, button.navbar-toggler.hidden-md.hidden-lg  {
        left: 11px;
        top: 20px !important;
        transition: .2s;
    }
    .notification-dropdown{
       top:40px!important;
       min-width:350px!important;
       width:100%!important;
       left:-285px!important;
    }
   .imgsection img{
    max-width: 32px;
    margin-top: 5px;
   }
   .userhomemenu a{
    display: block;
    padding:10px;
    color:#333;
   }
    .userhomemenu a span{
    font-size:16px;
   }
   .userhomemenu img{
    max-width: 25px;
    margin-right: 10px;
   }
}


