<app-menu></app-menu>

<div class="sign_up_container container" id="up">
    <h2 class="text-center font-bold pt-4 pb-5 mb-5"><strong> Vendor Registration </strong></h2>
    <!-- Stepper -->
    <div class="steps-form-2" (click)="loadScript()">
        <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
            <div class="steps-step-2">
                <a  type="button" class="btn btn-blue-grey btn-circle-2 waves-effect"
                    data-toggle="tooltip" data-placement="top" title="Your Business Category "><i class="fa fa-folder-open-o"
                        aria-hidden="true"></i>
                </a>
                <div class="clearfix"></div>
                <p class="ml-yb"> Your Business Category </p>
            </div>
            <div class="steps-step-2">
                <a type="button" class="btn btn-blue-grey btn-circle-2 waves-effect"
                    data-toggle="tooltip" data-placement="top" title="General Information"><i class="fa fa-pencil"
                        aria-hidden="true"></i>
                </a>
                <p> General Information </p>
            </div>
            <div class="steps-step-2">
                <a  type="button" class="btn btn-blue-grey btn-circle-2 waves-effect"
                    data-toggle="tooltip" data-placement="top" title="Business Information"><i class="fa fa-photo"
                        aria-hidden="true"></i>
                </a>
                <p> Business Information </p>
            </div>
            <div class="steps-step-2">
                <a  type="button" class="btn btn-amber btn-circle-2 waves-effect"
                    data-toggle="tooltip" data-placement="top" title="Payment"><i class="fa fa-check" aria-hidden="true"></i>
                </a>
                <p> Payment </p>
            </div>
        </div>
    </div>


     <!-- Fourth Step -->
<form role="form" method="post" class="mt-25 mtx-0" (ngSubmit)="onSubmit()" #f="ngForm">   
<div class="row setup-content-2" id="step-4">
        <div class="col-md-12">
            <div class="card">
                <div>
                    <p class="text-center"><strong>PICK THE BEST PLAN FOR YOU</strong></p>
                    <ul class="tabbingdesign">
                        <li class="card-title gradint_blue Suppliertab">Semi Annually</li>
                        <li class="card-title Registertab">Annually</li>
                        <img src="../../assets/img/arrow.svg" class="tabarrow" />
                    </ul>
                   <div class="clearfix"></div>
                    <span class="arrowimg">
                        <img src="https://s3.us-east-2.amazonaws.com/prefect-image/imgpsh_fullsize.png"/>
                    </span>
                    <p class="text-center">Paying Annually you get <br/><strong>2 additional months for free!</strong></p>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <div class="col-sm-12 mobtextcenter">
                        <input type="text" class="vouchercodeinput" placeholder="Voucher Code" />
                        <button class="btn btnbluecode gradint_blue">Enter</button>
                        <span class="greentext">Voucher Applied 50% Off</span>
                    </div>
                </div>
                <section id="filter" style="display: block;">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card martop0px" >
                                    <div id="membershipcarousel" class="owl-carousel" >
                                        <div  class="col-sm-12" *ngFor="let plan of planArray">
                                            <div class="panel card item" >
                                                <div class="panel-heading arrow_box text-center">
    
                                                    <span class="mostpopulartext" *ngIf="plan.monthlyPrice == 0">Free</span>
                                                    <span class="mostpopulartext" *ngIf="plan.title == 'Premium'">Most Popular</span>
                                                    <span class="mostpopulartext" *ngIf="plan.title == 'Ultimate'">Best Value</span>
                                                    <h3>{{ plan.title}}</h3>
                                                    <div class="pricesec">
                                                        <table align="center">
                                                            <tr>
                                                                <td>MUR</td>
                                                                <td>
                                                                    <div class="pricebig">{{plan.monthlyPrice}}</div>
                                                                </td>
                                                                <td class="text-left lineheight16px">00<br/>/Month</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="basiccard"> Total {{plan.monthlyPrice * 6}}.00</div>
    
                                        </div>
                                        
                                                <ul class="list-group list-group-flush text-center">
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isStoreFront">check_circle</i><i *ngIf="!plan.isStoreFront" class="material-icons redtext">cancel</i> Storefront</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isLeadManagement">check_circle</i><i *ngIf="!plan.isLeadManagement" class="material-icons redtext">cancel</i> Leads Management</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isLinkedAccount">check_circle</i><i *ngIf="!plan.isLinkedAccount" class="material-icons redtext">cancel</i> Linked Accounts</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isCalendar">check_circle</i><i *ngIf="!plan.isCalendar" class="material-icons redtext">cancel</i> Wedding Calendar</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isPromoteProfile">check_circle</i><i *ngIf="!plan.isPromoteProfile" class="material-icons redtext">cancel</i> Promote Profile</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isPublishEvents">check_circle</i><i *ngIf="!plan.isPublishEvents" class="material-icons redtext">cancel</i> Publish Events</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isReviewManagement">check_circle</i><i *ngIf="!plan.isReviewManagement" class="material-icons redtext">cancel</i> Review Management</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="!plan.isdealsAndDiscount">check_circle</i><i *ngIf="plan.isdealsAndDiscount" class="material-icons redtext">cancel</i> Deals & Discounts</li>
    
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.pinnedReviews">check_circle</i><i *ngIf="!plan.pinnedReviews" class="material-icons redtext">cancel</i> Pinned reviews</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.unlimitedPhotos">check_circle</i><i *ngIf="!plan.unlimitedPhotos" class="material-icons redtext">cancel</i> Limited Photos</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.unlimitedAlbums">check_circle</i><i *ngIf="!plan.unlimitedAlbums" class="material-icons redtext">cancel</i> Unlimmited Album</li>
                                                    <li class="list-group-item" *ngIf="plan.performanceAnalytics == 0 "><i class="material-icons bluetext">report</i>  No Performance Analytics</li>
                                                    <li class="list-group-item" *ngIf="plan.performanceAnalytics == 1 "><i class="material-icons bluetext">report</i>  Basic Performance Analytics</li>
                                                    <li class="list-group-item" *ngIf="plan.performanceAnalytics == 2 "><i class="material-icons bluetext">report</i>  Advanced Performance Analytics</li>
                                                    <li class="list-group-item"><i class="material-icons bluetext">report</i> {{plan.noOfLocationAllowed}} locations</li>
    
                                                    <!-- Low Priority -->
                                                    <li class="list-group-item" *ngIf="plan.priorityInSearch == 0"><i class="material-icons bluetext" >report</i> Low Priority in Search Results </li>
                                                    <li class="list-group-item" *ngIf="plan.priorityInSearch == 1"><i class="material-icons bluetext" >report</i> Medium Priority in Search Results </li>
                                                    <li class="list-group-item" *ngIf="plan.priorityInSearch == 2"><i class="material-icons bluetext" >report</i> High Priority in Search Results </li>
                                                    <!-- Low Priority -->
    
                                        </ul>
                                                <div class="panel-footer text-center">
                                                    <a class="btn btnchoosetik" type="button" 
                                                    (click)= 
                                                    "idgenerate(plan)">Select
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
                <section id="action" style="display: none;">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card martop0px">
                                    <div id="membershipcarouselann" class="owl-carousel" >
                                        <div class="col-sm-12" *ngFor="let plan of planArray">
                                            <div class="panel card item">
                                                <div class="panel-heading arrow_box text-center">
                                                        <span class="mostpopulartext" *ngIf="plan.monthlyPrice == 0">Free</span>
                                                        <span class="mostpopulartext" *ngIf="plan.title == 'Premium'">Most Popular</span>
                                                        <span class="mostpopulartext" *ngIf="plan.title == 'Ultimate'">Best Value</span>
                                                        <h3>{{ plan.title}}</h3>
                                                        <div class="pricesec">
                                                            <table align="center">
                                                                <tr>
                                                                    <td>MUR</td>
                                                                    <td>
                                                                            <div class="pricebig">{{(plan.monthlyPrice * (12 - plan.noOfMonthFeeOff))/12 | number: '1.0-0'}} </div></td>
                                                                    <td class="text-left lineheight16px" > <p class="nomar" [innerHtml]="getDecimal(plan.monthlyPrice,plan.noOfMonthFeeOff)"></p>/Monthly</td>
                                                                
                                                                </tr>
                                                            </table>
                                                        </div>
                                                </div>
    
                                                <ul class="list-group list-group-flush text-center">
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isStoreFront">check_circle</i><i *ngIf="!plan.isStoreFront" class="material-icons redtext">cancel</i> Storefront</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isLeadManagement">check_circle</i><i *ngIf="!plan.isLeadManagement" class="material-icons redtext">cancel</i> Leads Management</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isLinkedAccount">check_circle</i><i *ngIf="!plan.isLinkedAccount" class="material-icons redtext">cancel</i> Linked Accounts</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isCalendar">check_circle</i><i *ngIf="!plan.isCalendar" class="material-icons redtext">cancel</i> Wedding Calendar</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isPromoteProfile">check_circle</i><i *ngIf="!plan.isPromoteProfile" class="material-icons redtext">cancel</i> Promote Profile</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isPublishEvents">check_circle</i><i *ngIf="!plan.isPublishEvents" class="material-icons redtext">cancel</i> Publish Events</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.isReviewManagement">check_circle</i><i *ngIf="!plan.isReviewManagement" class="material-icons redtext">cancel</i> Review Management</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="!plan.isdealsAndDiscount">check_circle</i><i *ngIf="plan.isdealsAndDiscount" class="material-icons redtext">cancel</i> Deals & Discounts</li>
    
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.pinnedReviews">check_circle</i><i *ngIf="!plan.pinnedReviews" class="material-icons redtext">cancel</i> Pinned reviews</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.unlimitedPhotos">check_circle</i><i *ngIf="!plan.unlimitedPhotos" class="material-icons redtext">cancel</i> Limited Photos</li>
                                                    <li class="list-group-item"><i class="material-icons greentext" *ngIf="plan.unlimitedAlbums">check_circle</i><i *ngIf="!plan.unlimitedAlbums" class="material-icons redtext">cancel</i> Unlimmited Album</li>
                                                    <li class="list-group-item" *ngIf="plan.performanceAnalytics == 0 "><i class="material-icons bluetext">report</i>  No Performance Analytics</li>
                                                    <li class="list-group-item" *ngIf="plan.performanceAnalytics == 1 "><i class="material-icons bluetext">report</i>  Basic Performance Analytics</li>
                                                    <li class="list-group-item" *ngIf="plan.performanceAnalytics == 2 "><i class="material-icons bluetext">report</i>  Advanced Performance Analytics</li>
                                                    <li class="list-group-item"><i class="material-icons bluetext">report</i> {{plan.noOfLocationAllowed}} locations</li>
    
                                                    <!-- Low Priority -->
                                                    <li class="list-group-item" *ngIf="plan.priorityInSearch == 0"><i class="material-icons bluetext" >report</i> Low Priority in Search Results </li>
                                                    <li class="list-group-item" *ngIf="plan.priorityInSearch == 1"><i class="material-icons bluetext" >report</i> Medium Priority in Search Results </li>
                                                    <li class="list-group-item" *ngIf="plan.priorityInSearch == 2"><i class="material-icons bluetext" >report</i> High Priority in Search Results </li>
                                                    <!-- Low Priority -->
    
                                        </ul>
                                                <div class="panel-footer text-center">
                                                    <a class="btn btnchoosetik" type="button" (click)= "annualPrice(plan)">Select
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
                <div class="clearfix"></div>
                <div class="col-sm-12 btnholder">
                    <button class="btn btn-raised prevBtn-2 gradint_blue white signup_nextbtn btnborradius pull-left" type="button" [routerLink]="['/register/step-third']">Previous</button>
                    <button class="btn btn-raised gradint_blue white nextBtn-2 signup_nextbtn btnborradius pull-right" type="submit" [disabled]="!f.valid" >Submit</button>
                </div>   
            </div>
        </div>
     </div>    
    
    
    </form>
    </div>
    <app-foot></app-foot>
    <router-outlet></router-outlet>