<div id="wrappervendor" class="" style="text-align:center;background-color:white;">
  <app-menu></app-menu>
  <app-tool></app-tool>
  <div id="wrappervendorsidbar">
    <app-vendorsidebar></app-vendorsidebar>
  </div>
<div style="margin:100px 0px; "> </div>
 

<section class="couple-hero-section-img text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 banner-heading">
                    <h1 class="hero-title">Wedding Planner for Your Special Day</h1>
                    <p class="banner-text">Make wedding planning easier by using this template to keep your information in one place. Track to-dos, compare vendors, monitor your budget, and plan the ceremony.</p>
                    <a href="#" class="btn btn-primary">Start planning Today</a> 
                  </div>
            </div>
        </div>
</section>


<section class="icon-div">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-3 wedding-icon1">
          <a href="#venders1"><img src="../../assets/img/icon1.svg">
          <h6>Find your vendors & compare</h6></a>
      </div>
      <div class="col-md-3 col-3 wedding-icon2">
          <a href="#guestlist1"><img src="../../assets/img/icon2.svg">
          <h6>Manage your guest list & </h6></a>
      </div>
      <div class="col-md-3 col-3 wedding-icon3">
          <a href="#checklist1"><img src="../../assets/img/icon3.svg">
          <h6>On your checklist</h6></a>
      </div>
      <div class="col-md-3 col-3 wedding-icon4">
          <a href="#control1"><img src="../../assets/img/icon4.svg">
          <h6>control your expenses</h6></a>
      </div>
    </div>
  </div>  
</section>

<!--background-image-->
<section id="venders1" class="check-list">
  <div class="section-space80">
        <div class="container">
            <h3>find vendors & compare</h3>
            <div class="row">
                <div class="col-md-6">
                  <img src="../../assets/img/checklist-img.png">
               <!--    <ul class="Create-list">
                    <li>Plan your engagement party
                        <div class="icon123">
                            <span class="red-dote"><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                         </div>   
                    </li>
                    <li>Set up your registry
                         <div class="icon123">
                            <span class="red-dote"><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                         </div> 
                    </li>
                    <li>Decide on your budget
                          <div class="icon123">
                            <span class="green-dote"><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                         </div>
                    </li>
                    <li>Select your wedding party
                        <div class="icon123">
                            <span class="green-dote"><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                         </div>
                    </li>
                  </ul> -->
                </div>
                <div class="col-md-2">

                </div>  
                <div class="col-md-4">
                    <div class="content-div">
                        <h1>Create Easy To Dos &amp; Checklist</h1>
                        <p>Get your planning sorted with our free wedding planning checklist! Vestibulum ultrices nisl nec tincidunt vestibulum asellus laoreet aliquam tincidunt ullam elementum dictum rutrum. </p>
                        <a href="#" class="btn-link">Get Started </a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="checklist1" class="planner-estimater">
        <div class="container">
            <h3>checklist</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="content-div">
                        <h1>Budget Planner &amp; Estimater</h1>
                        <p>Budget estimator tool that lets you specify your program plan. Enter your estimates for each category below. You can add, remove, or customize any categories that don't apply. </p>
                        <a href="#" class="btn-link">Get Started </a> </div>
                </div>
                <div class="col-md-2">

                </div>  
                <div class="col-md-6">

                 <img src="../../assets/img/budget-img.png" alt="" class="img-responsive"> 

               </div>
            </div>
        </div>
</section>


<section id="guestlist1" class="guest-list">
        <div class="container">
            <h3>guest list</h3>
            <div class="row">
                <div class="col-md-6">
                  <img src="../../assets/img/guest-img.png">
                </div>
                <div class="col-md-2">

                </div> 
                <div class="col-md-4">
                    <div class="content-div">
                        <h1>Guest List</h1>
                        <p>Get your planning sorted with our free wedding planning checklist! Vestibulum ultrices nisl nec tincidunt vestibulum asellus laoreet aliquam tincidunt ullam elementum dictum rutrum. </p>
                        <a href="#" class="btn-link">Get Started </a> </div>
                </div>
            </div>
        </div>
</section>


<section id="control1" class="setting-div">
        <div class="container">
            <h3>control your expenses</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="content-div">
                        <h1>Seating Chart & Table  &amp; Arrangement</h1>
                        <p>Get your planning sorted with our free wedding planning checklist! Vestibulum ultrices nisl nec tincidunt vestibulum asellus laoreet aliquam tincidunt ullam elementum dictum rutrum. </p>
                        <a href="#" class="btn-link">Get Started </a> </div>
                </div>
                <div class="col-md-2">
                   
                </div>
                <div class="col-md-6">
                    <img src="../../assets/img/setting.png">
                </div>
            </div>
        </div>
</section>

<section class="start-planning">
        <div class="container">
          <!-- <h3>start planning</h3> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="planning-content">
                        <h1>Start Planning Your Wedding Day</h1>
                        <p>Just Engaged - Start Your First Wedding Planning To Do, Budget, Checklist, Guest list, Favourite.</p>
                        <a href="#" class="btn btn-primary">Start planning Today</a> 
                      </div>
                </div>
            </div>
        </div>
</section>



<section class="list-anywhere">
        <div class="container">
            <div class="row">
              <div class="col-md-2">

                 </div> 
                <div class="col-md-5">
                    <div class="tool-description text-center1">
                        <h1>Your To-Do List Anywhere</h1>
                        <p>Various versions have evolved over the years, sometimes by accident, simple dummy sometimes on purpose injected humour and the like.</p>
                        <a href="#"><img src="../../assets/img/button-app-store.png" alt=""></a>&nbsp;
                        <a href="#"><img src="../../assets/img/button-google-play.png" alt=""></a>
                    </div>
                </div>
                <!-- <div class="col-md-1">

                 </div>  -->
                <div class="col-md-5">
                    <div class="app-mobile"> <img src="../../assets/img/mobile.png" alt="" class="img-responsive"> </div>
                </div>
            </div>
        </div>
</section>








<app-foot></app-foot>
</div>
<router-outlet></router-outlet>