.freq_ask{
   margin-bottom: 50px;
}
.couple-hero-section-img {
    background: url(../../assets/img/wedding-planner.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    padding: 70px 0;
    min-height: 390px;
    margin-top: -40px !important;
}
.hero-title {
    color: #fff;
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: 600;
}
.fixedpostioneddesktop{
    position: fixed;
    z-index:9;
    top:60px;
    width: 100%;
    box-shadow: 0px 5px 10px #ccc;  
    background:#fff;
}
.namedlink {
    display: block;
    height: 160px;
    margin-top: -160px;
    visibility: hidden;
}

p {
    margin-bottom: 20px;
}
.btn {
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400 !important;
    border: transparent;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    background-color: #f48f00;
    color: #fff !important;
}
.banner-heading {
     padding: 0 314px;
}
section.icon-div {
    text-align: center;
}
.wedding-icon a {
    margin: 30px 0 -40px 0;
    color: #222;
    display: block;
}
 a:hover{
    text-decoration: none;
}
.wedding-icon .fa {
    font-size: 40px;
}
.wedding-icon1 h6, .wedding-icon2 h6, .wedding-icon3 h6, .wedding-icon4 h6 {
    margin: 14px 0 0 0;

}
.wedding-icon1 a, .wedding-icon2 a, .wedding-icon3 a, .wedding-icon4 a{
    color:#222;
}


section.check-list {
    background: #faf9f5;
    margin-top: 14px;
}
.section-space80 {
    padding-top:40px;
    padding-bottom: 25px;
}
.content-div {
    padding-top: 40px;
}
h1 {
    font-size: 30px;
}
p {
    margin-bottom: 20px;
}
.btn-link {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #00afb0;
}
ul.Create-list{
    list-style: none;
}
ul.Create-list li {
    background: #fdfdfb;
    margin: 10px 16px;
    padding: 22px 14px;
}
ul.Create-list li .icon123{
    float: right;
}
ul.Create-list li span {
    margin: 0 10px;
    font-size: 20px;
}
span.red-dote {
    font-size: 10px !important;
    color:#fb7f61;
}
span.green-dote {
    font-size: 10px !important;
    color:#7db622;
}
ul.Create-list li:hover span.dote{
    background: #fff;
    color: green;
}
.btn-link:hover{text-decoration: none;}












.planner-estimater {
    background-color: #f4f2ec;
    padding-top: 40px;
    padding-bottom: 40px;
}
.pdt40 {
    padding-top: 40px;
}
h1 {
    font-size: 30px;
}
p {
    margin-bottom: 20px;
}
.btn-link {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #00afb0;
}





section.guest-list {
    background: #faf9f5;
   padding-top: 40px;
    padding-bottom: 40px;
}

.setting-div{
    background: #f4f2ec;
    padding-top: 40px;
    padding-bottom: 40px;
}



.start-planning {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #faf9f5;
    text-align: center;
}

.list-anywhere{
    background: #f4f2ec;
}
.text-center1 {
    margin-top: 102px !important;
}
.list-anywhere h1 {
    font-size: 30px;
}
.list-anywhere p {
    margin-bottom: 20px;
}
.app-mobile {
    margin-top:-80px;
}
.text-center1 {
    text-align: center;
}
h3 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.wedding-icon1 img, .wedding-icon2 img, .wedding-icon3 img, .wedding-icon4 img {
    width: 45px;
}
.wedding-icon1 a, .wedding-icon2 a, .wedding-icon3 a, .wedding-icon4 a{
    display:block;
    overflow:hidden;
    padding:15px 0px;
}
@media only screen and (max-width: 960px) {
    .banner-heading {
    padding: 0 150px;
}
}
@media only screen and (max-width: 767px) {
    .banner-heading {
    padding: 0;
}
.wedding-icon {
    margin: 20px 0;
}
.wedding-icon1 a h6, .wedding-icon2 a h6, .wedding-icon3 a h6, .wedding-icon4 a h6 {
    display: none;
}
.wedding-icon {
    padding: 0;
    margin: 18px 0 -38px 0;
}
.app-mobile {
    margin-top: 30px;
    justify-content: center;
    display: flex;
}
.wedding-icon a {
    margin: 0;
}
.check-list img, .planner-estimater img, .guest-list img, .setting-div img {
    width: 100%;
}
}
@media only screen and (max-width: 460px) {
    .first-img {
    display: none;
}
.second-img {
    top: 60%;
}
h1.text-white {
    font-size: 30px;
}
h3.white {
    font-size: 20px;
}
button.send-btn {
    float: left;
    margin: 20px 0;
}
p.banner-text{
    display: none;
}
.hero-title {
    font-size: 57px;
}

}