
#login{display: none;}
.hovereffect a{
  position:relative;
  overflow:hidden;
  display:block;
}
.inspirationhead{
  padding:15px 0px;
}
.inspirationhead .btntik{
  padding:5px;
  font-size:16px;
  cursor:pointer;
}
.sortselect{
  float: right;
  padding: 5px;
  border:1px solid #e5e5e5;
  font-size:14px;
  margin-top:10px;
}
.shareholder{
  bottom:0px;
  margin-top:0px;
}
.shareicon{
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    outline: none;
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    display: inline-block;
    line-height: 30px;
    padding-top: 5px;
    margin: 0px 10px;
}
.hovereffect {
    width:100%;
    height:27%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    overflow:hidden;
    }
  .noborder{
  border:0px solid #e5e5e5;
  }
    .hovereffect .overlay {
    width:calc(100% - 30px);
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0px;
    right:0px;
    margin:0px auto;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    }
    
    .hovereffect img {
    display:block;
    position:relative;
    }
    
    .hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    }
    
    .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:30px 0 0;
    padding:7px 14px;
    }
    
    .hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
    }
    
    .hovereffect:hover {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    }
    
    .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }
    
    .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }
    .my_inspi{
        margin-top: 20px;
       
    }
    .my_photo{
        margin-bottom: 40px;
    }
    .overlay a{
        color: #fff !important;
    }


    .btn:focus, .btn:active, button:focus, button:active {
        outline: none !important;
        box-shadow: none !important;
      }
      
      #image-gallery .modal-footer{
        display: block;
      }
      
      .thumb{
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .insp_left{
        margin-left: -14px;
      }
      .modal-body{
        background-color: #fff !important;
      }
.closebtn{    
position: absolute;
z-index: 999;
right: 20px;
top: 15px;
}
.nextpre{
  position: absolute;
  left: 0px;
  top:50%;
  z-index: 999;
  width: 100%;
}
.imgpopup{
  padding: 0px;
}
.nextpre button{
  border-radius: 50%;
  padding: 0px;
  height: 40px;
  width: 40px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 0px;
}
.mar_lef8px{
  margin-left: 8px;
}
.searchbox{
  width:100%;
  border-radius:20px;
  border:0px solid #fff;
  box-shadow:0px 0px 10px #e5e5e5;
  padding:5px 10px;
}
  .FilterDialog{
    position: fixed; height: 100vh;left:0px; top:0px;width: 100%;background:#ffffff;z-index:999999;overflow:scroll;overflow-x:hidden;
    }
.category-body{
text-align:left;
color: inherit;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-webkit-tap-highlight-color: rgba(0,0,0,0);
outline: none;
background:rgb(250, 250, 250);
-webkit-box-shadow: inset 0px 15px 34px -18px rgba(204,204,204,1);
-moz-box-shadow: inset 0px 15px 34px -18px rgba(204,204,204,1);
box-shadow: inset 0px 15px 34px -18px rgba(204,204,204,1);
}
.icon-small {
    width: auto;
    max-height: 15px;
    vertical-align: middle;
    position: absolute;
    top: 19px;
    left: 14px;
}
.searchmobtitlebar{
  position:relative;
  max-width:96%;
  margin:0px auto;
  padding:15px 0px;
}
.searchmobtitlebar h1{
font-size:18px;
text-align:center;
}
.category-body .regular, .city-body .regular{
    text-align: left;
    padding: 6px 10px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category-body .regular i img{
    width: 24px!important;
}
.category-body .regular i {
    margin-right: 15px;
}
.filterbtnmobile{
  display: none;
}
.eventlisting .card-block{
  padding:10px!important;
  position:relative;
}
.eventdate{
padding:3px 0px 0px 0px;
}
.eventdate span{
    text-align: center;
    display: block;
    color: #dc0070;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}
.eventdate span.date{
  color: #000 !important;
    font-size: 14px !important;
    font-weight: 600;
}
.eventtitle{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    min-height: 60px;
    line-height: 20px;
}
.eventvenue{
  text-align:left;
  font-size:14px;
}
.eventbtnholder{
  position:absolute;
  right:20px;
  top:-50px;
}
.eventlisting .cardshadow{
  overflow:hidden!important;
  box-shadow:0px 0px 10px #ccc!important;
}
.ribbon {
  width: 110px;
  height: 110px;
  overflow: hidden;
  position: absolute;
  transform: rotate(45deg);
  right:0px;
  top:0px;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 110px;
  padding: 10px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 14px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

.eventbtnholder button i{display:flex;}
.purple-gradient {
    background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: -o-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
    padding:5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.12);
    outline:none;
    border:0px;
    margin:0px 3px;
    color:#fff;
}
.borradius50per{
    border-radius:50%;
}

@media(max-width:767px){
.photobox{
  margin-top:15px;
}
.inspirationhead{
margin-top:60px;
}
.filterbtnmobile{
position: fixed;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
right: 5%;
bottom: 20%;
color: white;
font-weight: bold;
border-radius: 50%;
box-shadow: 0 0 10px -1px black;
z-index: 10;
cursor: pointer;
background: #e72e77;
display: block;
}

.thumb{
margin-bottom: 0px !important;
margin-top: 0px !important;
}
.insp_left{
margin-left: 0px;
}
}
@media(max-width:375px){
.photobox{
  padding:0px;
}
.category-body .regular .badge{
  float:right!important;
  border-radius:10px;
}
.col-6:nth-child(odd) {
    padding-left:0px;
    padding-right:5px;
    margin-bottom:10px!important;
}

.col-6:nth-child(even) {
    padding-right:0px;
    padding-left:5px;
    margin-bottom:10px!important;
}
.hovereffect, .hovereffect:hover {
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
    }
    

    .hovereffect .overlay ,.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    background:none;
    width:calc(100% - 13px);
    right:inherit;
    }
    

.hovereffect:nth-child(odd) .overlay{
  left:4px!important;
}
.hovereffect:nth-child(even) .overlay{
  left:9px!important;
}
    .hovereffect h2,.hovereffect a.info, .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    .hovereffect a.info, .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }
.hovereffect h2{
  padding:2px 0px!important;
  font-size:14px!important;
}

.hovereffect a.info{
  margin-top:0px!important;
  padding:0px 10px!important;
}
.shareholder{
margin-top: 50px;
}
.shareicon{
  width: 30px;
  height: 30px;
}

.img-thumbnail{
  padding-top:0px;
}
}