<app-menu></app-menu>
<app-tool></app-tool>
<div class="my_inspi">
  <div class="container-fluid">
    <div class="col-sm-12">


      <div class="card inspirationhead">
        <h2 class="text-center">My Inspirations</h2>

        <div class="text-center">
          <span class="btntik photoclick">Photo</span> | 
          <span class="btntik eventclick">Events</span>
        </div>

      </div>
      
      <div>
        <input type="text" placeholder="Search By Vendor Name" class="searchbox hidden-sm hidden-md hidden-lg">
         <select class="sortselect hidden-xs">
        <option>Sort By: Category</option>
      </select>
      </div>
      <div class="clearfix"></div>
      <div class="row photobox">
          <div class="col-lg-3 col-md-4 col-xs-6 thumb hovereffect">
                    <a class="" href="javascript:void(0)" data-image-id="" data-toggle="modal" data-title=""
                       data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       data-target="#image-gallery">
                        <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">
                             <div class="overlay">
                                <h2>Business Name</h2>
                               <a class="info" href="#">View</a>

                               <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>
                               </div>
                            </div>
                    </a>   
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb hovereffect">
                    <a class="" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       data-target="#image-gallery">
                        <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">

                             <div class="overlay">
                               <h2>Business Name</h2>
                              <a class="info" href="#">View</a>
                              <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>
                               </div>
                            </div>
                    </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb hovereffect">
                    <a class="" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       data-target="#image-gallery">
                         <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">
                             <div class="overlay">
                                 <h2>Business Name</h2>
                               <a class="info" href="#">View</a>
                               <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>
                               </div>
                            </div>
                    </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb hovereffect">
                    <a class="" href="#" data-image-id="" data-toggle="modal" data-title="Test1"
                       data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       data-target="#image-gallery">
                        <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">
                             <div class="overlay">
                                <h2>Business Name</h2>
                               <a class="info" href="#">View</a>
                               <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>
                               </div>
                            </div>
                    </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb hovereffect">
                    <a class="" href="javascript:void(0)" data-image-id="" data-toggle="modal" data-title=""
                       data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       data-target="#image-gallery">
                        <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">
                             <div class="overlay">
                                <h2>Business Name</h2>
                               <a class="info" href="#">View</a>

                               <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>
                               </div>
                            </div>
                    </a>   
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb hovereffect">
                    <a class="" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       data-target="#image-gallery">
                        <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">

                             <div class="overlay">
                               <h2>Business Name</h2>
                              <a class="info" href="#">View</a>
                              <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>
                               </div>
                            </div>
                    </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb hovereffect">
                    <a class="" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       data-target="#image-gallery">
                         <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">
                             <div class="overlay">
                                 <h2>Business Name</h2>
                               <a class="info" href="#">View</a>
                               <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>
                               </div>
                            </div>
                    </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb hovereffect">
                    <a class="" href="#" data-image-id="" data-toggle="modal" data-title="Test1"
                       data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       data-target="#image-gallery">
                        <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">
                             <div class="overlay">
                                <h2>Business Name</h2>
                               <a class="info" href="#">View</a>
                               <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>
                               </div>
                            </div>
                    </a>
          </div>
      </div>
      <div class="row eventbox eventlisting" style="display: none;">
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center">
                    <div class="eventbtnholder">
                    <button class="purple-gradient borradius50per">
                      <i class="material-icons">
                        save_alt
                      </i>
                    </button>
                    <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          bookmark_border
                        </i>
                    </button>
                    </div>    
                    <div class="eventdate col-sm-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                  </div>
                  <div class="col-sm-10">
                    <div class="eventtitle">
                      Free Modelling Workshop - Be a Model.
                    </div>
                    <div class="eventvenue">
                      Wed, Nov 09, 7:30pm
                    </div>
                    <div class="eventvenue">
                      Indore Marriott Hotel, Indore
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center">
                    <div class="eventbtnholder">
                    <button class="purple-gradient borradius50per">
                      <i class="material-icons">
                        save_alt
                      </i>
                    </button>
                    <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          bookmark_border
                        </i>
                    </button>
                    </div>    
                    <div class="eventdate col-sm-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                  </div>
                  <div class="col-sm-10">
                    <div class="eventtitle">
                      Free Modelling Workshop - Be a Model.
                    </div>
                    <div class="eventvenue">
                      Wed, Nov 09, 7:30pm
                    </div>
                    <div class="eventvenue">
                      Indore Marriott Hotel, Indore
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
           <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center">
                    <div class="eventbtnholder">
                    <button class="purple-gradient borradius50per">
                      <i class="material-icons">
                        save_alt
                      </i>
                    </button>
                    <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          bookmark_border
                        </i>
                    </button>
                    </div>    
                    <div class="eventdate col-sm-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                  </div>
                  <div class="col-sm-10">
                    <div class="eventtitle">
                      Free Modelling Workshop - Be a Model.
                    </div>
                    <div class="eventvenue">
                      Wed, Nov 09, 7:30pm
                    </div>
                    <div class="eventvenue">
                      Indore Marriott Hotel, Indore
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center">
                    <div class="eventbtnholder">
                    <button class="purple-gradient borradius50per">
                      <i class="material-icons">
                        save_alt
                      </i>
                    </button>
                    <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          bookmark_border
                        </i>
                    </button>
                    </div>    
                    <div class="eventdate col-sm-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                  </div>
                  <div class="col-sm-10">
                    <div class="eventtitle">
                      Free Modelling Workshop - Be a Model.
                    </div>
                    <div class="eventvenue">
                      Wed, Nov 09, 7:30pm
                    </div>
                    <div class="eventvenue">
                      Indore Marriott Hotel, Indore
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center">
                    <div class="eventbtnholder">
                    <button class="purple-gradient borradius50per">
                      <i class="material-icons">
                        save_alt
                      </i>
                    </button>
                    <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          bookmark_border
                        </i>
                    </button>
                    </div>    
                    <div class="eventdate col-sm-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                  </div>
                  <div class="col-sm-10">
                    <div class="eventtitle">
                      Free Modelling Workshop - Be a Model.
                    </div>
                    <div class="eventvenue">
                      Wed, Nov 09, 7:30pm
                    </div>
                    <div class="eventvenue">
                      Indore Marriott Hotel, Indore
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center">
                    <div class="eventbtnholder">
                    <button class="purple-gradient borradius50per">
                      <i class="material-icons">
                        save_alt
                      </i>
                    </button>
                    <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          bookmark_border
                        </i>
                    </button>
                    </div>    
                    <div class="eventdate col-sm-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                  </div>
                  <div class="col-sm-10">
                    <div class="eventtitle">
                      Free Modelling Workshop - Be a Model.
                    </div>
                    <div class="eventvenue">
                      Wed, Nov 09, 7:30pm
                    </div>
                    <div class="eventvenue">
                      Indore Marriott Hotel, Indore
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center">
                    <div class="eventbtnholder">
                    <button class="purple-gradient borradius50per">
                      <i class="material-icons">
                        save_alt
                      </i>
                    </button>
                    <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          bookmark_border
                        </i>
                    </button>
                    </div>    
                    <div class="eventdate col-sm-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                  </div>
                  <div class="col-sm-10">
                    <div class="eventtitle">
                      Free Modelling Workshop - Be a Model.
                    </div>
                    <div class="eventvenue">
                      Wed, Nov 09, 7:30pm
                    </div>
                    <div class="eventvenue">
                      Indore Marriott Hotel, Indore
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center">
                    <div class="eventbtnholder">
                    <button class="purple-gradient borradius50per">
                      <i class="material-icons">
                        save_alt
                      </i>
                    </button>
                    <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          bookmark_border
                        </i>
                    </button>
                    </div>    
                    <div class="eventdate col-sm-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                  </div>
                  <div class="col-sm-10">
                    <div class="eventtitle">
                      Free Modelling Workshop - Be a Model.
                    </div>
                    <div class="eventvenue">
                      Wed, Nov 09, 7:30pm
                    </div>
                    <div class="eventvenue">
                      Indore Marriott Hotel, Indore
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
      </div>
   
    </div>


    <div class="filterbtnmobile"><i _ngcontent-c15="" class="fa fa-filter"></i></div>
</div>
</div>
  <div class="clearfix"></div> 
  <app-foot></app-foot>
<router-outlet></router-outlet> 


<div id="tiktik" class="FilterDialog" style="display: none;">

  <div class="category-body">
      <div class="searchmobtitlebar">
      <h1>Filter Photo by category</h1>
    <img _ngcontent-c2="" alt="close" class="icon-small margin-r-10" src="https://s3.us-east-2.amazonaws.com/prefect-image/cross-grey.png">
    
  </div>
    <div class="regular">
      <i>
        <img src="https://s3.us-east-2.amazonaws.com/prefect-image/Wedding_cake.svg"/> 
      </i>Cakes
    </div>
    <div class="regular">
      <i>
      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/wedding_decorator.svg"/>
    </i> Decorators & Wedding Stylist</div>
    <div class="regular">
        <i>
        <img src="https://s3.us-east-2.amazonaws.com/prefect-image/drinks_beverages.svg"/>
      </i> Drinks and Beverages</div>
    <div class="regular">
        <i>
        <img src="https://s3.us-east-2.amazonaws.com/prefect-image/Fashion&Clothing.svg"/></i> Fashion & Clothing</div>
    <div class="regular">
        <i>
        <img src="https://s3.us-east-2.amazonaws.com/prefect-image/florist.svg"/></i> Florists, Bouquets and Centerpiece</div>
    <div class="regular"><i>
      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/wedding_car.svg"/> </i> Food & Catering</div>
    <div class="regular">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Footwear.svg"/></i> Footwear</div>
    <div class="regular">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/honeymoon.svg"/></i> Honeymoon & Travel</div>
    <div class="regular">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/stationary.svg"/></i> Invitation Cards & Wedding Stationary</div>
    <div class="regular">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Jewellery.svg"/></i> Jewellery & Wedding Rings</div>
    <div class="regular">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/make_up.svg"/></i> Make Up, Hair & Mehendi</div>
    <div class="regular">  <i>No</i> Marriage Celebrant</div>
    <div class="regular">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/music_dj.svg"/></i> Music, DJs & Entertainment</div>
    <div class="regular">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Wedding Planner.svg"/></i> Other wedding Supplies & Accessories</div>
    <div class="regular">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Photography.svg"/></i> Photography, Videography & Cinematography</div>
    <div class="regular">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Venues.svg" alt=""> </i> Venues</div>
    <div class="regular">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/wedding_car.svg"/></i> Wedding Cars & Transport</div>
    <div class="regular"> <i>No</i> Wedding Planner & Event Management</div>
    <div class="regular">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Shape&Fitness.svg" alt=""> </i> Shape & Fitness</div>
  </div>

  
</div>