<app-menu></app-menu>
<app-tool></app-tool>
<div class="my_inspi">
  <div class="container-fluid">
    <div class="col-sm-12">


      <div class="card inspirationhead">
        <h2 class="text-center">My Inspirations</h2>

        <div class="text-center">
          <span class="btntik photoclick">Photo</span> | 
          <span class="btntik eventclick">Events</span>
        </div>

      </div>
      
      <div>
        <input type="text" placeholder="Search By Vendor Name" class="searchbox hidden-sm hidden-md hidden-lg">
         <select class="sortselect hidden-xs">
        <option>Sort By: Category</option>
      </select>
      </div>
      <div class="clearfix"></div>
      <div class="row photobox">
          <div class="col-lg-3 col-md-4 col-6 thumb hovereffect" *ngFor="let photo of pagedPhotos">
            <!-- {{photo | json}} -->
                    <img class="img-thumbnail noborder"
                             [src]="photo.imageURL"
                             alt="Another alt text">
                             <div class="overlay">
                                <h2>{{photo.nameOfBusiness}}</h2>
<a data-fancybox="cl-group" class="thumbnail info hidden-xs fancybox" title="" [href]="photo.imageURL"
  [attr.data-caption]="item.nameOfBusiness">View</a>
                                <!-- [href]="photo.imageURL" -->
                               <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>
                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>
                                  <span class="shareicon fancybox hidden-sm hidden-lg hidden-md" rel="ligthbox"
                                    >
                                    <!-- [href]="photo.imageURL" -->
                                   <i class="material-icons">remove_red_eye</i>
                                 </span>
                               </div>
                            </div>  
          </div>

          		<!--Photo pager -->
							<ul *ngIf="pagerPhoto.pages && pagerPhoto.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pagerPhoto.currentPage === 1}">
                    <a (click)="setPhoto(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPhoto.currentPage === 1}">
                    <a (click)="setPhoto(pagerPhoto.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pagerPhoto.pages" [ngClass]="{active:pagerPhoto.currentPage === page}">
                    <a (click)="setPhoto(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPhoto.currentPage === pagerPhoto.totalPages}">
                    <a (click)="setPhoto(pagerPhoto.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pagerPhoto.currentPage === pagerPhoto.totalPages}">
                    <a (click)="setPhoto(pagerPhoto.totalPages)">Last</a>
                  </li>
                </ul>
              <!-- pager end -->
          <!-- <div class="col-lg-3 col-md-4 col-6 thumb hovereffect">
           
                        <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">

                             <div class="overlay">
                               <h2>Business Name</h2>
                              <a class="thumbnail fancybox info hidden-xs"  rel="ligthbox"
                       href="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       >View</a>
                              <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>

                                  <span class="shareicon fancybox hidden-sm hidden-lg hidden-md" rel="ligthbox"
                       href="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                                   <i class="material-icons">remove_red_eye</i>
                                 </span>
                               </div>
                            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb hovereffect">
                <img class="img-thumbnail noborder" src="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"alt="Another alt text">
                <div class="overlay">
                  <h2>Business Name</h2>
                  <a class="thumbnail fancybox info hidden-xs"  rel="ligthbox"
                  href="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">View
                  </a>
                  <div class="shareholder">
                    <span class="shareicon">
                      <i class="material-icons">share</i>
                    </span>
                    <span class="shareicon">
                        <i class="material-icons">clear</i>
                      </span>

                       <span class="shareicon fancybox hidden-sm hidden-lg hidden-md" rel="ligthbox"
                       href="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                                   <i class="material-icons">remove_red_eye</i>
                                 </span>

                    </div>
                </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb hovereffect">
                   
                        <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">
                             <div class="overlay">
                                <h2>Business Name</h2>
                                <a class="thumbnail fancybox info hidden-xs"  rel="ligthbox"
                       href="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       >View</a>
                               <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>

                                  <span class="shareicon fancybox hidden-sm hidden-lg hidden-md" rel="ligthbox"
                       href="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                                   <i class="material-icons">remove_red_eye</i>
                                 </span>

                               </div>
                            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb hovereffect">
                   
                        <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">
                             <div class="overlay">
                                <h2>Business Name</h2>
                                <a class="thumbnail fancybox info hidden-xs"  rel="ligthbox"
                       href="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       >View</a>

                               <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>

                                  <span class="shareicon fancybox hidden-sm hidden-lg hidden-md" rel="ligthbox"
                       href="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                                   <i class="material-icons">remove_red_eye</i>
                                 </span>

                               </div>
                            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb hovereffect">
                    
                        <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">

                             <div class="overlay">
                               <h2>Business Name</h2>
                               <a class="thumbnail fancybox info hidden-xs"  rel="ligthbox"
                       href="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       >View</a>
                              <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>

                                  <span class="shareicon fancybox hidden-sm hidden-lg hidden-md" rel="ligthbox"
                       href="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                                   <i class="material-icons">remove_red_eye</i>
                                 </span>

                               </div>
                            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb hovereffect">
              <img class="img-thumbnail noborder" src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"alt="Another alt text">
              <div class="overlay">
                  <h2>Business Name</h2>
                  <a class="thumbnail fancybox info hidden-xs"  rel="ligthbox"
                  href="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                  >
                    View
                  </a>
                  <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>

                                  <span class="shareicon fancybox hidden-sm hidden-lg hidden-md" rel="ligthbox"
                       href="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                                   <i class="material-icons">remove_red_eye</i>
                                 </span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb hovereffect">
                        <img class="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Another alt text">
                             <div class="overlay">
                                <h2>Business Name</h2>
                               <a class="thumbnail fancybox info hidden-xs"  rel="ligthbox"
                       href="img-thumbnail noborder"
                             src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                       >View</a>
                               <div class="shareholder">
                                 <span class="shareicon">
                                   <i class="material-icons">share</i>
                                 </span>

                                 <span class="shareicon">
                                   <i class="material-icons">clear</i>
                                 </span>

                                  <span class="shareicon fancybox hidden-sm hidden-lg hidden-md" rel="ligthbox"
                       href="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                                   <i class="material-icons">remove_red_eye</i>
                                 </span>
                                 
                               </div>
                            </div>
          </div> -->
      </div>
      <div class="row eventbox eventlisting" style="display: none;">
          <div class="col-sm-3" *ngFor="let item of pagedItems">
            <a (click)="goToNextPage(item)">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" *ngIf="item.files" [src]="item.files.path">
                <div class="ribbon ribbon-top-right" *ngIf="item?.entryFee == null; else entry">
                  <span>FREE</span>
                </div>
                <ng-template #entry>
										<div class="ribbon ribbon-top-right"><span>{{item.entry}}</span></div>
								</ng-template>
                <div class="card-block text-center row">
                    <div class="eventbtnholder">
                      <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="purple-gradient borradius50per">
                          <i class="material-icons">
                            clear
                          </i>
                      </button>
                    </div>    
                    <div class="eventdate col-2" *ngFor='let Date of item.eventsDates | slice:0:1 ;let i=index '> 
                        <span>{{Date.startDate | date:'MMM'}}</span>
                        <span class="date">{{Date.startDate | date:'dd'}}</span>
                    </div>
                  <div class="col-10">
                    <div class="eventtitle">
                        {{item.eventTitle}}
                    </div>
                    <div class="eventvenue" *ngFor='let Date of item.eventsDates | slice:0:1 ;let i=index '>
                        {{Date.startDate | date:'E'}}, {{Date.startDate | date:'MMM'}} {{Date.startDate | date:'dd'}}, {{Date.startTimeString}}
                    </div>
                    <div class="eventvenue">
                        <i class="material-icons">location_on</i> 
                        {{item.venueName}}, {{item.location}}
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
						<!-- pager -->
							<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
								<li [ngClass]="{disabled:pager.currentPage === 1}">
									<a (click)="setPage(1)">First</a>
								</li>
								<li [ngClass]="{disabled:pager.currentPage === 1}">
									<a (click)="setPage(pager.currentPage - 1)">Previous</a>
								</li>
								<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
									<a (click)="setPage(page)">{{page}}</a>
								</li>
								<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
									<a (click)="setPage(pager.currentPage + 1)">Next</a>
								</li>
								<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
									<a (click)="setPage(pager.totalPages)">Last</a>
								</li>
							</ul>
						<!-- pager end -->

          <!-- <div class="col-sm-3">
            <a routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center row">
                    <div class="eventbtnholder">
                      <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="purple-gradient borradius50per">
                          <i class="material-icons">
                            clear
                          </i>
                      </button>
                    </div>    
                    <div class="eventdate col-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                    </div>
                    <div class="col-10">
                      <div class="eventtitle">
                        Free Modelling Workshop - Be a Model.
                      </div>
                      <div class="eventvenue">
                        Wed, Nov 09, 7:30pm
                      </div>
                      <div class="eventvenue">
                        Indore Marriott Hotel, Indore
                      </div>
                    </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
           <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center row">
                    <div class="eventbtnholder">
                      <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="purple-gradient borradius50per">
                          <i class="material-icons">
                            clear
                          </i>
                      </button>
                    </div>    
                    <div class="eventdate col-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                    </div>
                    <div class="col-10">
                      <div class="eventtitle">
                        Free Modelling Workshop - Be a Model.
                      </div>
                      <div class="eventvenue">
                        Wed, Nov 09, 7:30pm
                      </div>
                      <div class="eventvenue">
                        Indore Marriott Hotel, Indore
                      </div>
                    </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center row">
                    <div class="eventbtnholder">
                      <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="purple-gradient borradius50per">
                          <i class="material-icons">
                            clear
                          </i>
                      </button>
                    </div>    
                    <div class="eventdate col-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                    </div>
                  <div class="col-10">
                    <div class="eventtitle">
                      Free Modelling Workshop - Be a Model.
                    </div>
                    <div class="eventvenue">
                      Wed, Nov 09, 7:30pm
                    </div>
                    <div class="eventvenue">
                      Indore Marriott Hotel, Indore
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center row">
                    <div class="eventbtnholder">
                      <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="purple-gradient borradius50per">
                          <i class="material-icons">
                            clear
                          </i>
                      </button>
                    </div>    
                    <div class="eventdate col-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                    </div>
                    <div class="col-10">
                    <div class="eventtitle">
                      Free Modelling Workshop - Be a Model.
                    </div>
                    <div class="eventvenue">
                      Wed, Nov 09, 7:30pm
                    </div>
                    <div class="eventvenue">
                      Indore Marriott Hotel, Indore
                    </div>
                    </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center row">
                    <div class="eventbtnholder">
                      <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="purple-gradient borradius50per">
                          <i class="material-icons">
                            clear
                          </i>
                      </button>
                    </div>    
                    <div class="eventdate col-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                    </div>
                    <div class="col-10">
                      <div class="eventtitle">
                        Free Modelling Workshop - Be a Model.
                      </div>
                      <div class="eventvenue">
                        Wed, Nov 09, 7:30pm
                      </div>
                      <div class="eventvenue">
                        Indore Marriott Hotel, Indore
                      </div>
                    </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center row">
                    <div class="eventbtnholder">
                      <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="purple-gradient borradius50per">
                          <i class="material-icons">
                            clear
                          </i>
                      </button>
                    </div>    
                    <div class="eventdate col-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                    </div>
                    <div class="col-10">
                    <div class="eventtitle">
                      Free Modelling Workshop - Be a Model.
                    </div>
                    <div class="eventvenue">
                      Wed, Nov 09, 7:30pm
                    </div>
                    <div class="eventvenue">
                      Indore Marriott Hotel, Indore
                    </div>
                    </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a  routerLink="../../home/event_list" target="_blank">
              <div class="card cardshadow">
                <img class="card-img-top img-fluid" src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg">
                <div class="ribbon ribbon-top-right"><span>FREE</span></div>
                <div class="card-block text-center row">
                    <div class="eventbtnholder">
                      <button class="purple-gradient borradius50per">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="purple-gradient borradius50per">
                          <i class="material-icons">
                            clear
                          </i>
                      </button>
                    </div>    
                    <div class="eventdate col-2"> 
                      <span>Nov</span>
                      <span class="date">09</span>
                    </div>
                    <div class="col-10">
                      <div class="eventtitle">
                        Free Modelling Workshop - Be a Model.
                      </div>
                      <div class="eventvenue">
                        Wed, Nov 09, 7:30pm
                      </div>
                      <div class="eventvenue">
                        Indore Marriott Hotel, Indore
                      </div>
                    </div>
                </div>
              </div>
            </a>
          </div> -->
      </div>
   
    </div>


    <div class="filterbtnmobile"><i _ngcontent-c15="" class="fa fa-filter"></i></div>
</div>
</div>
  <div class="clearfix"></div> 
  <app-foot></app-foot>
<router-outlet></router-outlet> 


<div id="tiktik" class="FilterDialog" style="display: none;">

  <div class="category-body">
      <div class="searchmobtitlebar">
      <h1>Filter Photo by category</h1>
    <img _ngcontent-c2="" alt="close" class="icon-small margin-r-10" src="https://s3.us-east-2.amazonaws.com/prefect-image/cross-grey.png">
    
  </div>
    <div class="regular">Cakes <span class="badge">27</span></div>
    <div class="regular">Decorators & Wedding Stylist <span class="badge">33</span></div>
    <div class="regular">Drinks and Beverages <span class="badge">00</span></div>
    <div class="regular">Fashion & Clothing <span class="badge">54</span></div>
    <div class="regular">Florists, Bouquets and Centerpiece <span class="badge">63</span></div>
    <div class="regular">Food & Catering <span class="badge">25</span></div>
    <div class="regular">Footwear <span class="badge">38</span></div>
    <div class="regular">Honeymoon & Travel <span class="badge">67</span></div>
    <div class="regular">Invitation Cards & Wedding Stationary <span class="badge">43</span></div>
    <div class="regular">Jewellery & Wedding Rings <span class="badge">33</span></div>
    <div class="regular">Make Up, Hair & Mehendi <span class="badge">76</span></div>
    <div class="regular">Marriage Celebrant <span class="badge">14</span></div>
    <div class="regular">Music, DJs & Entertainment <span class="badge">18</span></div>
    <div class="regular">Other wedding Supplies & Accessories <span class="badge">23</span></div>
    <div class="regular">Photography, Videography & Cinematography <span class="badge">27</span></div>
    <div class="regular">Venues <span class="badge">43</span></div>
    <div class="regular">Wedding Cars & Transport <span class="badge">32</span></div>
    <div class="regular">Wedding Planner & Event Management <span class="badge">21</span></div>
    <div class="regular">Shape & Fitness <span class="badge">27</span></div>
  </div>

  
</div>