
.budget{
    background-color: rgba(102, 103, 105, 0.99) !important;
    color: #fff;
}
.budge_list{
    padding: 10px;
}
.budge_list button{
    float: right;
    margin-top: 6px;
    background-color: #e72e77;
    color: #fff;
}
.budge_list .btn{
    padding: 5px 20px !important;
}