
.budget{
   margin-top:20px;
   margin-bottom:20px;
}
.budge_list button{
    float: right;
    margin-top: 6px;
    background-color: #e72e77;
    color: #fff;
}
.budge_list .btn{
    padding: 5px 20px !important;
}
.nopadd{
	padding:0px;
}