
.budge_list{
    padding: 10px;
}
.budget{
   margin-top:20px;
   margin-bottom:20px;
}
.budget button{
    float: right;
    margin-top: 12px;
    background-color: #e72e77;
    color: #fff;
    position: relative;
    padding: 5px 20px 5px 30px;
}
.budge_list .btn{
    padding: 5px 20px !important;
}
.showtik .panel{
    display:block!important;
}

.showtik .downarrow{
    display:none;
}

.showtik .uparrow{
    display:block;
}



.budget button i{
    position: absolute;
    left: 2px;
}
.cost_per {
    padding-left: 0;
    padding-right: 0;
}
.cost_per ul {
   
   color: #ccc;
   background-color: #fff;
    padding: 16px 0;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px 3px #ccc;
}
.cost_per_bg{
    padding-left: 0%;
    
}
.cost_per_bg1{
    padding-right: 0;
}

.cost_per ul li{
   list-style-type: none;
}
.cost_per ul li i{
    color: #e72e77;
}
.color_green{
    color: green;
}
.color_green1{
    color: #e72e77;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 5px;
    box-shadow:0px 0px 10px #ccc;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color:#fff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 ;
    background-color: transparent;
    display: none;
    overflow: hidden;
}
.accordin{
    margin-bottom: 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.accordion i{
    position: relative;
    top: 8px;
    font-size: 40px;
}
.accordion span{
    display: block;
    position: relative;
    top: -20px;
    left: 50px;
}

.check1{
    float: right;  
}
.check1 i{
    color: green;
    float: right;
}
.checkbox{
    background-color: #fff;
    padding:0px;
    border-radius:0px;
    padding:10px;
    margin:0px;
    border-bottom:1px solid #e5e5e5;
}
.checkbox:last-child{
    border-bottom:0px solid #e5e5e5;
}
.positi_rel{
    position: relative;
    top: -5px;
    left: 5px;
}
.uparrow {
    display: none;
}
.downarrow{
    position: absolute !important;
    right: 20px !important;
    top: 20px !important;
}
.uparrow{
    position: absolute !important;
    right: 20px !important;
    top: 20px !important;
}

  .accordion.active .downarrow{
  display: none;
  }
  .accordion.active .uparrow{
  display:inline;
  }
.addbtn{
    margin:25px;
    max-width:100px;
    float:right;
}
.martop0px{
    margin-top:0px;
}
.headtable{
    max-width:450px;
    margin:15px auto;
}
.headtable i{
    display: block;
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 39px;
    margin: 0px auto 5px auto;
}
.headtable div{
    display:grid;
    font-size:11px;
    padding:0px 10px;
    line-height:15px;   
}
  .flo_right{
      float: right;
  }
 .rental{
    color:  #e72e77;
 }
  .rental i{
  font-size:14px;
  color:#999;
 }
 .btnround{
    border-radius: 50%;
    color: #fff !important;
    border: 0px solid #fff;
    padding: 4px 6px;
    line-height: 16px;
 }
  .colo_pink{
    color:  #e72e77;
 }
 .mainhead{
	padding: 20px 0px;
	display: inline-block;
	width: 23.5%;
	float: left;
}
.martop20px{
    margin-top: 20px!important;
}
.timeline{
    position: relative;
}
.filterbox h2 {
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
}
/*Line*/
.timeline>li::before{
    content:'';
    position: absolute;
    width: 1px;
    background-color: #E7E7E7;
    top: 0;
    bottom: 0;
    left:5px;
}

/*Circle*/
.timeline>li::after{
    text-align: center;
    padding-top:10px;
    z-index: 10;
    content:counter(item);
    position: absolute;
    width: 10px;
    height: 10px;
    border:0px solid white;
    background-color: #E7E7E7;
    border-radius: 50%;
    top:11px;
    left:0px;
    text-indent:-9999px;
}
.btn-pink{
background:#e72e77;
color:#ffffff!important;
}
.timeline li a{
    display:block;
}
.timeline li a .badge{
    float:right;
    margin-top:6px;
}
.textareafocus{
    bottom: -24px!important;
}
.pinkbtn{
    border-radius: 0px;
    border: 0px solid #fff;
    background: #e72e77;
    color: #fff;
    height: 50px;
    margin-top: 20px;
}
/*Content*/
.timeline>li{
    padding: 0px 0px 5px 20px;
    margin-left: 0px;
    position: relative;
    list-style: none;
    width:100%;
    float:left;
}
.nopadd{
	padding:0px;
}
@media(max-width:1024px){
    .expensesIPad{
        padding: 15px !important;
        font-size: 10px;
    }
    
}
@media(max-width:812px){
    .filterbox,.Mobwidth100{
        max-width: 100%;
    }
    .expensesIPad{
        font-size: 16px;
    }
    .mob100px{
        max-width: 100%;
        font-size: 1.5rem
    }
    .mob100px i{
        position: relative;
        top: 5px;
        font-size: 30px;
    }
}
 @media(max-width:767px){
    .mainhead{
        float: inherit;
        width: 50%;
    }
    .budget{
        margin-top: 50px !important;
    }
    .budget .col-xs-6{
        width: 50%;
    }
    .cost_per_bg1{
        padding-right: 15px;
    }
    .mob_pad15{
        padding-left: 0px;
    }
    .accordion{
        margin-bottom: 10px;
    }
    .martop20px{
        margin-right: 10px;
    }
 }
 @media(max-width:375px){
    .budget {
        margin-top: 60px !important;
    }
    .mob100px{
        max-width: 100%;
        margin: 0px;
        font-size: 1.5rem
    }
    .mob100px i{
        position: relative;
        top: 5px;
        font-size: 30px;
    }
 }



