
.modal-content{
    position: relative;
    top: 42px;
}
.ratingimg{
    width:40px;
    height:40px;
    border-radius: 50%;
    float: left;
    margin-right:10px;
}
.reviewedtext{
    font-size: 16px;
}
.reviewedtext i{
    font-size:12px;
    color:#ccc;
}
.btnradius50per{
    border-radius:50%;
    font-size: 30px;
    padding: 0px;
    width: 30px;
    height: 30px;
    line-height: 18px;
    margin: 0px;
}
.vp_review_txt_seeMore {
    text-align: right;
    margin-top: 10px;
}
.boxLightStyles {
    width: 100%;
    margin: 20px 0px 0px 0px;
    border-radius: 2px;
    transition: all .5s;
    padding: 15px;
    background-color: #fff;
}
.vp_giveReviewBox {
    padding: 0px;
    margin: 0px 0px 20px 0px;
    border: 0px solid #dadada;
    border-radius: 5px;
}
.jq-ry-container > .jq-ry-group-wrapper {
    position: relative;
    width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
    width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
    position: relative;
    line-height: 0;
    z-index: 10;
    white-space: nowrap;
}
.textInputInner {
    width: 90%;
    height: 35px;
    margin: 5px 0;
    border-radius: 5px 0 0 5px;
    border: 1px solid #dadada;
    padding-left: 10px;
    background-position: 1% center;
    background-repeat: no-repeat;
    background-color: white;
}
input, button, select, textarea {
    font-size: 12px;
}
.textInputSubmit {
    width: 10%;
    display: inline-block;
    background: #e72e77;
    height: 35px;
    border: 0;
    color: white;
}
.errorInValidation {
    display: none;
    font-size: 12px !important;
    color: #e24b4a;
    text-align: left;
}
.pinkbg{
    background:#e72e77;
}
.stars {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
}
.whitetext{
    color:#fff!important;
}
.btnradius50per{
    border-radius:50%;
    font-size: 30px;
    padding: 0px;
    width: 30px;
    height: 30px;
    line-height: 18px;
    margin: 0px;
 }
 .ipad100{
    margin-top: 50px;
 }
 .backlink{
    position: absolute;
    top: 15px;
    left: 28px;
 }
.inspirationhead{
    padding: 10px 0;
}
 .backlink i{
    position: relative;
    top: 5px;
 }

.reviewrow{
    height:130px;
    overflow:hidden;
    background:#fff;
    padding:0px;
    margin:10px 0px;
    border-bottom:1px solid #ccc;
}
.btnradius50per{
    border-radius: 50% !important;
    font-size: 15px !important;
    padding: 0px !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 12px !important;
    margin: 0px !important;
    background: #ff0000 !important;
    border: 0px !important;
    color: #fff !important;
    font-weight: 600 !important;
    }
.large_subtext {
    font-size: 14px!important;
    margin: 2px 0;
    color: #414141;
    font-weight: 700;
    text-transform: uppercase;
}
.ratingtexthead{    
    font-size: 24px !important;
    float: left;
    height: 78px;
    width: 50px;
    text-align: center;
    font-weight:bold;
    line-height: 60px;
    }
.reveiwsecondhead{float: left;}
.reviewrow div{
    padding:5px;
}
.reviewrow.reviewrowmore{
    height:auto;
    overflow:hidden;
}
.reviewrow .fa-star:before{
    background: orange!important;
}
//  .inspirationhead[_ngcontent-c11] {
//     padding: 15px 0px;
// }
// a.backlink[_ngcontent-c11] {
//     position: absolute;
//     left: 10px;
//     top: 25px;
// }
// .inspirationhead[_ngcontent-c11] h2[_ngcontent-c11] {
//     margin: 0px;
// }