.searchform div{
  padding:5px!important;
}
.searchform label{
display:block;
font-size:12px;
}
.searchform input[type="text"], .searchform input[type="date"], .searchform input[type="number"]{
background:#fff;
font-size:14px;
border:1px solid #ccc;
width:100%;
height:30px;
padding:5px;
}

.searchform select{
padding:3px;
width:100%;
}
.checklable{
  float:left;
  width:auto;
  margin-right:10px;
   font-weight:normal;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
[type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
    font-size: 14px;
}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s;
    font-weight:normal;
}
[type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type="checkbox"]:checked+span:not(.lever):before {
    top: 0px;
    left: 0px;
    width: 8px;
    height: 16px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.addbtn{
  background:none;
  border:0px solid #fff;
  position:fixed;
  right:20px;
  top:25%;
  border-radius:50%;
  background:#f09 !important;
  height:40px;
  width:40px;
  outline:none;
  padding:0px;
  line-height:40px;
}
.addbtn i{
  color:#fff !important;
  font-size:30px;
}
.whitetext{
  color:#fff!important;
}
.font14px{
  font-size:14px;
}

/* File Upload */
.fake-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fileUpload {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /*padding: 35%;*/
    float: right;
    max-width: 120px;
    background: #e5e5e5;
}
.receipthead{
  font-weight:bold;
  font-size:16px;
  line-height:40px;
}
.height100{
  height:100%;
}
.fileUpload #logo-id {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height:100%;
}

.fileUpload i {
    color: #efefef;
}
.main-img-preview {
width:100%;
}

.img-preview {
    max-width: 100%;
    max-height:100%;
   
}

.main-img-preview {
    position:relative;
}

.input-group-btn {
    position:absolute;
    top: 6px;
    right: 20px;
    padding-top:0;
    /*width:30px;
    height:30px;*/
}