.dealsbanner{
	box-shadow: 0px 0px 10px #ccc;
    margin: 75px 0px 30px 0px;
    padding: 15px 0px;
}
.dealbanner{
	width:100%;
	height:400px;
	object-fit: cover;
}
.dealbannerdetail{
	padding-top: 50px;
}
.locationtext{
	color: #999;
	text-align: center;
	width: auto;
	margin: 0px auto;
	max-width: 150px;
}
.locationtext i{
	float: left;
}
.dealbannerdetail h1{
	font-size: 2rem;
	font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0px;
    margin:0px;
}
.dealbannerdetail h2{
	font-size:20px;
    text-transform:capitalize;
    padding:0px;
    margin:0px;
}
.dealspricebox{
	max-width: 250px;
	margin:20px auto;
	overflow: hidden;
}
.pricestart{
	width: 50%;
	float: left;
}
.pricestart h3{
	font-weight: bold;
}
.borrtonly{
	border-right: 1px solid #e5e5e5;
}
.dealbtn{
	border-radius: 5px;
    border: none;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 0;
    background-color: #d8005a;
    color: #fff;
    width: 272px;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.3);
}
.greentext{
	color: #59aa4d!important;
}
.bluetext{
	color: #147FD3!important;
}

.tabbingdesign{
    padding: 0px;
    overflow: hidden;
    margin: 20px auto 40px auto;
    width: 363px;
    border-bottom: 0px!important;
}
.tab-content{
  overflow:hidden;
}
.tabbingdesign li {
    list-style: none;
    display: inline-block;
    float: left;
    margin: 0px 1px 0px 1px;
    padding:0;
    cursor: pointer;
    text-align: center;
    background: #e5e5e5;
    border-radius:0px;
}

.tabbingdesign li:first-child {
    border-radius: 30px 0px 0px 30px;
    margin: 0px;
}
.tabbingdesign li:last-child {
	    border-radius: 0px 30px 30px 0px;
	    margin: 0px;
}

.tabbingdesign li.active {
    background-color: #d8005a !important;
    color: #fff;
}
.tabbingdesign li a {
  background:transparent!important;
  border:0px!important;
  border-radius: 0px;
  cursor: pointer!important;
  padding:10px 8px;
  color: #000!important;
}
.tabbingdesign li.active a{
    color: #fff!important;
}
.disboxloop{
	 box-shadow:0px 0px 10px #ccc;
	 margin-bottom: 30px;
	 cursor: pointer;
}
.textdisdetaill{
    padding: 10px;
    height: 150px;
}
.discountimg{
	width:100%;
	height: 150px;
	object-fit: cover;
}
.discat{
	font-size: 12px;
	color:#666;
	text-transform: uppercase;
	text-align: left;
}
.title{
	    color: #000;
	    font-size: 14px;
	    text-transform: capitalize;
	    text-align: left;
	    font-weight: bold;
	    margin: 5px 0px;
	    line-height: 20px;
}
.offerdis{
	text-align: left;
}
.offerdis span{
	white-space: nowrap!important;
    width: 230px!important;
    display:block;
    overflow: hidden!important;
    font-size:12px;
    line-height: 18px;
    color:#666;
    text-overflow: ellipsis!important;
	text-align: left;
}
.offerdis span i{
    float: left;
    font-size: 16px;
    line-height: 18px;
    padding-right: 3px;
}
