<div>
  <div class="profile-image"></div>
  <div *ngIf="banner_data.length > 0">
    <div *ngFor='let list_banner_data of banner_data'>
      <div *ngFor='let list_banner_Images of list_banner_data.bannerImages'>
        <header class="masthead text-center text-white d-flex">
          <img alt="close" class="homebanner webbanner"   *ngIf="list_banner_Images" [src]="list_banner_Images.files.path">
          <img alt="close" class="homebanner mobilesidebanner" src="https://s3.us-east-2.amazonaws.com/prefect-image/wed.jpeg">
          <div class="container my-auto hombannertext">
            <div class="row heading_mob_mar">
              <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">{{list_banner_data.title}}</h2>
                <p class="text-faded mb-4">Find Photographers, Venues, and more wedding vendors </p>
                <div class="mobvendorebtn">
                  <i class="large material-icons firsticon">search</i>
                  Find Vendor
                  <span class="arrow">
                    <span></span>
                  </span>
                </div>
              </div>
              <form (ngSubmit)="search(e,true,false)" #e="ngForm">
                <div class="col-sm-10 mx-auto no-gutters searchbar mob_dis_none">
                  <div class="form-group col-sm-5 padd_bottom">
                    <span class="home_search"><i class="material-icons">camera_alt</i></span>
                    <select class="form-control round_first" [(ngModel)]="category" name="category">
                      <option value='undefined'> All Categories </option>
                      <option *ngFor='let list_Categories of Categories' [ngValue]="list_Categories">
                        {{list_Categories.categoryName}} </option>
                    </select>
                  </div>
                  <div class="form-group col-sm-5">
                    <span class="home_search"><i class="material-icons">location_on</i></span>
                    <select class="form-control" name='location' [(ngModel)]='locationId'>
                      <option value='0'> All Locations</option>
                      <option *ngFor='let list_locations of locations' [value]='list_locations.districtId'>
                        {{list_locations.name}}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-2 posi_rela_100px">
                    <button type="submit" class="form-control search_btn_pink">
                      <i class="material-icons">
                        search
                      </i>
                    </button>
                  </div>
                </div>
              </form>
              <div class="text-center just_picture">
                <span><i class="material-icons">camera_alt</i>Knot just Pictures </span>
              </div>
              <div id="tiktik" class="FilterDialog" style="display: none;">
  
                <div class="category-body">
  
                  <div class="searchmobtitlebar">
                    <img alt="close" class="icon-small margin-r-10" src="https://s3.us-east-2.amazonaws.com/prefect-image/cross-grey.png">
                    <input type="text" [(ngModel)]='categoryFilterParam' id="search" placeholder="Type to Search Category">
                  </div>
  
                  <div class="regular" (click)=categoryClick(0)>
                    <i class="material-icons">location_on</i>
                    All  Categories
  
                  </div>
  
                  <div *ngFor='let list_Categories of Categories | categoryPipe:categoryFilterParam' (click)=categoryClick(list_Categories)>
                    <div class="regular">
                      <i class="material-icons">location_on</i>
                      {{list_Categories.categoryName}}
                    </div>
                  </div>
                </div>
  
                <div class="city-body" style="display: none;">
                  <div class="searchm  obtitlebar searchmobtitlebar">
                    <img alt="close" class="icon-small margin-r-10" src="https://s3.us-east-2.amazonaws.com/prefect-image/cross-grey.png">
                    <input type="text" [(ngModel)]='locationFilterParam' id="search2" placeholder="Type to Search Location">
                  </div>
  
                  <div class="regular" (click)="locationClick(0)">
                    <i class="material-icons">location_on</i>
                    All locations
                  </div>
  
                  <div *ngFor="let list_locations of locations | custompipe:locationFilterParam" (click)="locationClick(list_locations.districtId)">
                    <div class="regular">
                      <i class="material-icons">location_on</i>
                      {{list_locations.name}}
                    </div>
                  </div>
  
                </div>
  
              </div>
              
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div *ngIf="banner_data.length == 0">
        <header class="masthead text-center text-white d-flex">
          <img alt="close" class="homebanner webbanner"  src="https://s3.us-east-2.amazonaws.com/prefect-image/wed.jpeg">
          <img alt="close" class="homebanner mobilesidebanner" src="https://s3.us-east-2.amazonaws.com/prefect-image/wed.jpeg">
          <div class="container my-auto hombannertext">
            <div class="row heading_mob_mar">
              <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Wedding Events</h2>
                <p class="text-faded mb-4">Find Photographers, Venues, and more wedding vendors </p>
                <div class="mobvendorebtn">
                  <i class="large material-icons firsticon">search</i>
                  Find Vendor
                  <span class="arrow">
                    <span></span>
                  </span>
                </div>
              </div>
              <form (ngSubmit)="search(e,true,false)" #e="ngForm">
                <div class="col-sm-10 mx-auto no-gutters searchbar mob_dis_none">
                  <div class="form-group col-sm-5 padd_bottom">
                    <span class="home_search"><i class="material-icons">camera_alt</i></span>
                    <select class="form-control round_first" [(ngModel)]="category" name="category">
                      <option value='undefined'> All Categories </option>
                      <option *ngFor='let list_Categories of Categories' [ngValue]="list_Categories">
                        {{list_Categories.categoryName}} </option>
                    </select>
                  </div>
                  <div class="form-group col-sm-5">
                    <span class="home_search"><i class="material-icons">location_on</i></span>
                    <select class="form-control" name='location' [(ngModel)]='locationId'>
                      <option value='0'> All Locations</option>
                      <option *ngFor='let list_locations of locations' [value]='list_locations.districtId'>
                        {{list_locations.name}}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-2 posi_rela_100px">
                    <button type="submit" class="form-control search_btn_pink">
                      <i class="material-icons">
                        search
                      </i>
                    </button>
                  </div>
                </div>
              </form>
              <div class="text-center just_picture">
                <span><i class="material-icons">camera_alt</i>Knot just Pictures </span>
              </div>
              <div id="tiktik" class="FilterDialog" style="display: none;">
  
                <div class="category-body">
  
                  <div class="searchmobtitlebar">
                    <img alt="close" class="icon-small margin-r-10" src="https://s3.us-east-2.amazonaws.com/prefect-image/cross-grey.png">
                    <input type="text" [(ngModel)]='categoryFilterParam' id="search" placeholder="Type to Search Category">
                  </div>
  
                  <div class="regular" (click)=categoryClick(0)>
                    <i class="material-icons">location_on</i>
                    All  Categories
  
                  </div>
  
                  <div *ngFor='let list_Categories of Categories | categoryPipe:categoryFilterParam' (click)=categoryClick(list_Categories)>
                    <div class="regular">
                      <i class="material-icons">location_on</i>
                      {{list_Categories.categoryName}}
                    </div>
                  </div>
                </div>
  
                <div class="city-body" style="display: none;">
                  <div class="searchm  obtitlebar searchmobtitlebar">
                    <img alt="close" class="icon-small margin-r-10" src="https://s3.us-east-2.amazonaws.com/prefect-image/cross-grey.png">
                    <input type="text" [(ngModel)]='locationFilterParam' id="search2" placeholder="Type to Search Location">
                  </div>
  
                  <div class="regular" (click)="locationClick(0)">
                    <i class="material-icons">location_on</i>
                    All locations
                  </div>
  
                  <div *ngFor="let list_locations of locations | custompipe:locationFilterParam" (click)="locationClick(list_locations.districtId)">
                    <div class="regular">
                      <i class="material-icons">location_on</i>
                      {{list_locations.name}}
                    </div>
                  </div>
  
                </div>
  
              </div>
              
            </div>
          </div>
        </header>
  </div>
</div>