
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.bg-primary {
  background-color: gray !important;
}
.bg-dark {
  background-color: #212529 !important;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0px 0px 20px #000;
}
section {
  padding: 8rem 0;
}
.section-heading {
  margin-top: 0;
  text-shadow: 0px 0px 20px #000;
}
::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}
img::selection {
  color: #fff;
  background: transparent;
}
img::-moz-selection {
  color: #fff;
  background: transparent;
}
.homebanner{
  width:100%;
  height:500px;
  object-fit: cover;
  object-position:bottom;
}
.webbanner{
  display:block;
}
.mobilesidebanner{
  display:none;
}
.hombannertext{
  position: absolute;
  height: 340px;
  top:150px;
  left: 0px;
  right: 0px;
  margin:0px auto;
}
#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}
.searchbar{
  max-width: 800px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right:0;
}
.searchbar .form-group{
  padding: 0px!important;
  margin: 0px!important;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
}

// header.masthead {
//   padding-top: 10rem;
//   padding-bottom: calc(10rem - 56px);
//   background-image: url('https://s3.us-east-2.amazonaws.com/prefect-image/Beach_2B.jpg');
//   background-position: center center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   position: relative;

// }

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}


.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.searchbar select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
    background-image: url(https://s3.us-east-2.amazonaws.com/prefect-image/arro.png) !important;
    background-repeat: no-repeat;
    background-position: 281px center;
    border-radius: 0px;
    border: 0px solid #fff;
    border-right: 1px solid #aaa;
    height: 50px;
    background-size: 5%;
}
.searchbar button {
  border: 0px solid #fff;
  margin-left: -1px;
  background: linear-gradient(40deg,#e60060,#f09) !important;
  color: #fff;
  height: 50px;
  border-radius: 0px 3px 3px 0px !important;
}

.round_first{border-radius:3px 0px 0px 3px !important;}

.popularsearchbar{
  color: #fff;
}
.popularsearchbar span{
  font-weight:bold;
  padding-right: 10px;
}
.popularsearchbar a{
  color: #ffffff;
}
.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

.text-primary {
  color: #F05F40 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
.popularsearchbar{
  padding-left: 0px !important;
}
.mobvendorebtn{
  display:none;
  cursor:pointer;
}
.home_search i{
  position: absolute;
  color: #aaa;
  left: 13px;
  top: 14px;
  font-size: 20px
}
.searchbar select{
  text-indent: 30px;
}

.search_btn_pink i{
  font-size: 35px;
}
.search_btn_pink{
  border-radius: 0px !important;
  width: 100%;
}

.just_picture span i{
  position: relative;
  top: 6px;
  right: 1px;
}
.just_picture span{
  background: rgba(0,0,0,.5);
  padding: 2px 5px;
}
.just_picture{
  position: absolute;
  bottom: -5px;
  left: 0px;
  margin: 0px auto;
  right:0px;

}












@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  header.masthead {
    
    min-height: 500px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (max-width: 767px){
  .hombannertext{
  height: 165px;
}
.webbanner{
  display:none;
}
.mobilesidebanner{
    display: block;
    position: relative;
    top: 5px;
    height: 335px;
}
.form-group{
      padding-bottom: 0px; 
     margin: 0px 0 0 0;
     }
     .padd_bottom{
       margin-bottom: 0px;
       border-bottom: 1px solid #ccc;
     }
header.masthead{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 365px;
    }
    .FilterDialog{
    position: fixed; height: 100vh;left:0px; top:0px;width: 100%;background:#333;z-index:999999;overflow:scroll;overflow-x:hidden;
    }
.mobvendorebtn i.firsticon{
float: right;;
padding:13px;
background:#e72e77;
color:#ffffff!important;
margin-right:0px;
padding-left: 4px;
border-radius:0px 5px 5px 0px;
}
.mobvendorebtn {
  background:#ffffff;
  display:block;
  color:#e72e77;
  line-height:50px;
  max-width:80%;
  margin:10px auto;
  height: 50px;
  font-size:16px;
  font-weight:600;
  text-align:left;
  position: relative;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  transition:0.1s all ease-in;
  text-indent: 10px;
  padding-left: 30px;
  border-radius:5px;
  margin-top:15px!important;
}
.mobvendorebtn span{
  display: block;
  width: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 70px;
  height: 10px;
  position: absolute;
}

.mobvendorebtn span span{
  background: url(http://thomaspodgro.com/source/arrow.png);
  display: block;
  width: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0px;
  height: 10px;
  opacity: 1;
  position: absolute;
  animation: animate-arrow-1 1s ease-in-out infinite;
}

.mobvendorebtn .arrow:before {
  content:"";
  background: url(http://thomaspodgro.com/source/arrow.png);
  display: block;
  width: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  height: 10px;
  position: absolute;
  opacity: 0.5;
  animation: animate-arrow-2 1s ease-in-out infinite 0.1s;
}

.mobvendorebtn .arrow:after {
  content:"";
  background: url(http://thomaspodgro.com/source/arrow.png);
  display: block;
  width: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
  height: 10px;
  position: absolute;
  opacity: 0.3;
  animation: animate-arrow-3 1s ease-in-out infinite 0.2s;
}


@keyframes animate-arrow-1 {
  0%{transform:translateX(-40px);opacity: 0;}
  70%,100%{transform:translateX(0px);opacity: 1;}
}
@keyframes animate-arrow-2 {
  0%{transform:translateX(-20px);opacity: 0;}
  70%,100%{transform:translateX(0px);opacity: 0.5;}
}
@keyframes animate-arrow-3 {
  0%{transform:translateX(-10px);opacity: 0;}
  70%,100%{transform:translateX(0px);opacity: 0.3;}
}




.icon-small {
  width: auto;
  max-height: 15px;
  vertical-align: middle;
  position:absolute;
  top:35px;
  left:10px;
}
.searchmobtitlebar{
  position:relative;
  max-width:96%;
  margin:0px auto;
}
.searchmobtitlebar input{
padding:10px;
width:100%;
border:0px solid #fff;
outline:none!important;
text-indent:25px;
color:#000000;
box-shadow: 0px 0px 6px #999;
border-radius:30px;
margin-top:20px;
margin-bottom:20px;
}
.category-body, .city-body{
text-align:left;
color: inherit;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-webkit-tap-highlight-color: rgba(0,0,0,0);
outline: none;
background:rgb(250, 250, 250);
-webkit-box-shadow: inset 0px 15px 34px -18px rgba(204,204,204,1);
-moz-box-shadow: inset 0px 15px 34px -18px rgba(204,204,204,1);
box-shadow: inset 0px 15px 34px -18px rgba(204,204,204,1);
}
.city-body{
min-height:100vh;
}
.text-tertiary{
    text-align: left;
    padding: 10px 20px;
    font-size: 16px;
    color: #999;
}
.category-body .regular, .city-body .regular{
    text-align: left;
    padding: 6px 20px;
    font-size: 16px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category-body .regular i img{
    width: 24px!important;
}
.category-body .regular i {
    margin-right: 15px;
}
.city-body .regular i.material-icons {
    float: left;
    color:#999;
    font-size:20px;
    margin-right:10px;
}

     .section-heading{
       font-size: 15px;
       font-weight: 600;
     }
     header.masthead p{
        margin-bottom: 0.25rem !important;
      font-size: 13px;
      color:#fff!important;

     }
     .searchbar .form-group{
      display:block;
    }
    .form-group .form-control{
      margin-bottom:0px;
    }
    .popularsearchbar a{
      font-size: 14px;
     
    }
    .popularsearchbar{
      display: none !important;

    }
    .mob_dis_none{
        display: none !important;

    }
    .heading_mob_mar{
       margin-bottom: -90px;
    }
   .just_picture span{
  padding:5px;
  border-radius: 3px;
}
.category-body{
  height:100vh;
  overflow:scroll;
}
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
}
@media (max-width: 500px) {
.just_picture{
  bottom:0px;
}
}
