
<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
         <app-adminsidebar></app-adminsidebar>
    </div>
    <div id="page-content-wrapper">    
        <div class="container-fluid nopadd">                    
            <app-adminnavbar></app-adminnavbar>
            <app-mininavbar></app-mininavbar>
                <div class="container-fluid Analytics">
                    <h2> Dashboard</h2>
                    <div class="row">  
                        <div class="container-fluid  Supplier" >
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">store</i>
                                    </div>
                                    <p class="card-category">Suppliers</p>
                                    <h3 class="card-title"> 184</h3>
                
                                </div>
                                <section id="simple-table">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title">Simple Table</h4>
                                                        <p>For basic styling add the base class <code>.table</code> to any <code>&lt;table&gt;</code>. It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles.</p>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="card-block">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>First Name</th>
                                                                        <th>Last Name</th>
                                                                        <th>Username</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row">1</th>
                                                                        <td>Mark</td>
                                                                        <td>Otto</td>
                                                                        <td>@mdo</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">2</th>
                                                                        <td>Jacob</td>
                                                                        <td>Thornton</td>
                                                                        <td>@fat</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">3</th>
                                                                        <td>Larry</td>
                                                                        <td>the Bird</td>
                                                                        <td>@twitter</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </section>
                                <div class="card-footer">
                                        <div class="stats">
                                        <i class="material-icons text-danger">warning</i>
                                        <a href="#">Storefront views</a>
                                        </div>
                                </div>
                            </div>     
                        </div>
                        <div class="container-fluid Location">
                                <div class="card card-stats">
                                    <div class="card-header card-header-warning card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">store</i>
                                        </div>
                                        <p class="card-category">Location</p>
                                        <h3 class="card-title"> 184</h3>
                    
                                    </div>
                                    
                                    <div class="card-footer">
                                            <div class="stats">
                                            <i class="material-icons text-danger">warning</i>
                                            <a href="#">Storefront views</a>
                                            </div>
                                    </div>
                                </div>     
                        </div>
                        <div class="container-fluid Banner">
                                <div class="card card-stats">
                                    <div class="card-header card-header-warning card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">store</i>
                                        </div>
                                        <p class="card-category">Banner</p>
                                        <h3 class="card-title"> 184</h3>
                    
                                    </div>
                                
                                    <div class="card-footer">
                                            <div class="stats">
                                            <i class="material-icons text-danger">warning</i>
                                            <a href="#">Storefront views</a>
                                            </div>
                                    </div>
                                </div>     
                        </div>
                        <div class="container-fluid Result ">
                                <div class="card card-stats">
                                    <div class="card-header card-header-warning card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">store</i>
                                        </div>
                                        <p class="card-category">Result</p>
                                        <h3 class="card-title"> 184</h3>
                    
                                    </div>
                                    
                                    <div class="card-footer">
                                            <div class="stats">
                                            <i class="material-icons text-danger">warning</i>
                                            <a href="#">Storefront views</a>
                                            </div>
                                    </div>
                                </div>     
                        </div>
                        <div class="container-fluid Carrers">
                                <div class="card card-stats">
                                    <div class="card-header card-header-warning card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">store</i>
                                        </div>
                                        <p class="card-category">Carrers</p>
                                        <h3 class="card-title"> 184</h3>
                    
                                    </div>
                                    
                                    <div class="card-footer">
                                            <div class="stats">
                                            <i class="material-icons text-danger">warning</i>
                                            <a href="#">Storefront views</a>
                                            </div>
                                    </div>
                                </div>     
                        </div>
                    </div>
                </div>      
            <app-foot></app-foot>
        </div>
    </div> 
</div>



    
    

<router-outlet></router-outlet> 

