.detail_page{
   padding-top: 60px;
}
.vendor_info{
    margin: 10px 0;
    height: 20px;
    width: 100%;
}
.linkshow, .linkless{
    display:none;
}
.breadcrumbcontainer{
    background: transparent;
    padding: 10px 0px;
    float: left;
    margin-bottom:0px;
}
.branchAddress {
    color: #6e798a;
}
.callinfo {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    text-align:center;
    padding: 15px;
    width: 100%;
    left:0px;
    box-shadow: 0px 5px 10px #ccc;
    display: none;
}
.callinfo:after, .callinfo:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.btnholder{
    margin-top:20px;
}
.callinfo:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ccc;
    border-width: 10px;
    margin-left: -100px;
}
.callinfo:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 10px;
    margin-left: -100px;
}

.purple-gradient {
    background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: -o-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
    padding:0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    outline:none;
}
.borradius50per{
    border-radius:50%;
}
.detail_page_add a{

     border: 0;
   color: #ed434c;
    outline: 0;
    text-decoration: none;
}

.detail_page_add_span {
    color: #e24b4a !important ;
    text-decoration: none;
    padding-left: 5px;
}
.left_side_box {
    padding-right: 10px;
    width: 25%;
    /*box-shadow: 1px 5px 6px 2px lightgrey;*/
}
.left_side_box, .right_side_v2 {
    float: left;
}
.left_side_box_text {
    width: 100%;
    margin: 0px 0 !important;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    transition: all .5s;
}

.left_details .left_mainDetails_title, .left_mainDetails_address, .left_mainDetails_mini_rating {
    width: 100%;
}
.large_text {
    margin: 5px 0;
    color: #414141;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.large_subtext {
    font-size: 14px!important;
    margin: 2px 0;
    color: #414141;
    font-weight: 700;
    text-transform: uppercase;
}
.stars {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
}
.checked{
   color: #e72e77;
}
.hotellogo{
    width: 100px;
    height: 100px;
    margin:0px auto 20px auto;
}
.hotellogo img{ border-radius: 50%;width: 100px;
    height: 100px; }
.left_box_section {
    border-bottom: 1px solid #f0f0f0;
    background: #fdfdfd;
    padding: 6px !important;
    margin-bottom: 20px;
}
.paddleftrite0px{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.wContact {
    padding: 4px 14px !important;

}
.wed_btn {
    display: block;
    cursor: pointer;
    width: 90%;
    border-radius: 5px;
    background: #e72e77;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 12px;
}
.left_side_box_text {
    width: 100%;
    margin: 20px 0;
    border: 0px solid #f0f0f0;
    border-radius: 2px;
    transition: all .5s;
}
.large_subtext {
    font-size: 14px!important;
    margin: 2px 0;
    color: #414141;
    font-weight: 700;
    text-transform: uppercase;
}
.vp_inner_indent {
    padding-left: 20px;
    margin: 10px 0;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left center;
}
.left_inner_withoutindent {
    margin: 10px 0;
}
.left_side_box_text {
    width: 100%;
    margin: 20px 0;
    border: 0px solid #f0f0f0;
    border-radius: 2px;
    transition: all .5s;
}
.large_subtext{
    font-size: 14px!important;
    margin: 2px 0;
    color: #414141;
    font-weight: 700;
    text-transform: uppercase;
}
.wed_me_social{
   padding: 0;
   margin: 0;
}
.wed_me_social li{
   list-style-type: none;
   display: inline-block;
   margin-right: 10px;
   font-size: 22px;
}
.wed_me_social li a{

   color: #e72e77;
}
.star_mar{
margin: 0 5px;
}
.star_mar1{
 margin-left: 5px; 
}
.veg_rate{
  color: #e72e77;
  margin-right: 0px !important;
}
.complaint{
color: black;
}
/* Right Box css */
.ViewCount{
    text-align: right;
    color: #6e798a;
    font-size: 12px;
}
.right_box_banner{
    background: none center center / cover no-repeat;
    filter: blur(0px);
    position: relative;
     margin: 20px 0;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    transition: all .5s;
}
.box_section_light{
      border-bottom: 1px solid #f0f0f0;
     background: #fdfdfd; 
    padding: 14px;
}
.galleryimg{
    margin: 0px;
}
.galleryimg img{
    max-width:100%;
    margin:8px;
}
.bottomsticky{
background:#fff;
position:fixed;
bottom:0px;
box-shadow:0px 0px 10px #e5e5e5;
display:none;
transition:1s;
width:100%;
margin:0px;
z-index:999;
padding:5px 0px;
}
.bottomsticky .col-6{
float:left;
color:#e72e77;
font-size:14px;
font-weight:bold;
}
.bottomstickydisplay{
display:none;
}
.bottomsticky .row{
    margin:0px!important;
}
.bottomsticky .featurebtn{
    padding:0px;
}

.bottombtn{
    background: #e72e77;
    color: #fff;
    border:0px;
}
.bottomsticky .featurebtn .col-12{
    padding:0px;
}
.bottomsticky .featurebtn .col-4{
   float:left!important; 
   padding:0px;
   color:#000!important;
}
.boxLightStyles{
   width: 100%;
    margin: 20px 0;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    transition: all .5s;
    overflow:hidden;
}
.large_subtext{
   font-size: 14px!important;
    margin: 2px 0;
    color: #414141;
    font-weight: 700;
    text-transform: uppercase;
}
.vp_about_txt_readMore{

        text-align: right !important;
    margin-top: 10px;
    }
.marriager_text{
       color: #e24b4a;
    cursor: pointer;
    text-decoration: underline;
}
.marriager_text a{
      border: 0;
    color: #ed434c;
    outline: 0;
    text-decoration: none;
}
.boxLightStyles {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    transition: all .5s;
}
.box_section_light1 {
    padding: 0;
}
.servicecontainer {
    width: 100%;
    margin: 0 auto;
}
div.servicecontainer>div:nth-of-type(odd) {
    background: #fdfdfd;
}
.servicerow {
    padding: 14px;
    border-top: 1px solid #f0f0f0;
}
.vp_services_txt_span:nth-child(1) {
    padding: 0;
}
.vp_services_txt_span {
    font-size: 14px;
    text-transform: uppercase;
    padding: 30px 0 6px;
    display: inline-block;
    font-weight: bold;
}
.marriager_text_without_underline {
    color: #e24b4a !important;
    text-decoration: none;
    padding-left: 5px;
}
.banq_icon{
  margin-left: 12px;
}

.vp_services_txt_title {
    padding: 10px 0 10px!important;
    border-top: 1px solid #f0f0f0;
    text-transform: capitalize;
    cursor: pointer;
}
.vp_services_txt_title {
    padding: 10px 0 10px!important;
    border-top: none!important;
    text-transform: capitalize;
    cursor: pointer;
}
.large_subtext {
    color: #414141;
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.vp_services_txt_description {
    margin-bottom: 0px;
}
.vp_services_txt_tic_cross {
    display: inline-block;
    width: 33.3%;
    padding: 15px 5px 15px 0px;
}
.vp_services_txt_tic_cross i{
 color: green;
}
div.servicecontainer>div:nth-of-type(odd) {
    background: #fdfdfd !important;
}
.servicerow {
    padding: 14px;
    border-top: 1px solid #f0f0f0;
     background: #fdfdfd !important;
}
.vp_services_txt_title {
    padding: 10px 0 10px!important;
    border-top: 1px solid #f0f0f0;
    text-transform: capitalize;
    cursor: pointer;
}
.large_subtext {
    font-size: 14px!important;
    margin: 2px 0;
    color: #414141;
    font-weight: 700;
}
.vp_services_txt_seeMore{
    text-align: right;
    margin-top: 10px;
}

.boxLightStyles:hover {
    box-shadow: 1px 5px 6px 2px lightgrey;
}
.box_section_light {
    border-bottom: 1px solid #f0f0f0;
    /* background: #fdfdfd; */
    padding: 14px;
}
.boxLightStyles {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    transition: all .5s;
}


.mainTable {
    width: 100%;
    display: table;
}
.vp_tableHeadingContainer {
    background: #dadada !important;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.vp_tableHeading {
    padding: 12px 0;
    width: 25%;
    font-weight: bold;
}
td {
    text-align: center;
}
.vp_tableHeading_capacity {
    padding: 12px 0 0!important;
}
.vp_subtableHeading {
    border-top: 1px solid white;
    font-size: 12px;
    width: 100%;
}
.vp_tableBodyRow:nth-child(odd) {
    background: white;
}
.vp_tableBodyRow {
    font-size: 14px;
}
.vp_tableBodyInner{
    width: 100%;
}
.vp_tableBodyRow:nth-child(even) {
    background: #f7f7f7;
}
.vp_tableBodyRow {
    font-size: 14px;
}

.vp_tableBodyRow:nth-child(odd) {
    background: white;
}
.vp_tableBodyRow {
    font-size: 14px;
}
.vp_tableHeadingContainer tr td{
   border-left: 1px solid #fff;

}
td{
  padding: 5px;
}
.vp_review_txt_seeMore {
    text-align: right;
    margin-top: 10px;
}

.box_section_light {
    border-bottom: 1px solid #f0f0f0;
    background: #fdfdfd;
    padding: 14px;
}


.boxLightStyles {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    transition: all .5s;
}
.vp_giveReviewBox {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dadada;
    border-radius: 5px;
}
.jq-ry-container > .jq-ry-group-wrapper {
    position: relative;
    width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
    width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
    position: relative;
    line-height: 0;
    z-index: 10;
    white-space: nowrap;
}
.textInputInner {
    width: 90%;
    height: 35px;
    margin: 5px 0;
    border-radius: 5px 0 0 5px;
    border: 1px solid #dadada;
    padding-left: 30px;
    background-position: 1% center;
    background-repeat: no-repeat;
    background-color: white;
}
input, button, select, textarea {
    font-size: 12px;
}
.textInputSubmit {
    width: 10%;
    display: inline-block;
    background: #e72e77;
    height: 34px;
    border: 0;
    color: white;
}

.errorInValidation {
    display: none;
    font-size: 12px !important;
    color: #e24b4a;
    text-align: left;
}
.vp_similarVendors, .vp_vidImgAlb {
    height: auto;
    width: 100%;
    background: white;
    border: 0;
}
.wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

#owl-similarVendors .item {
    margin: 0px !important;
    position: relative;
    border: 1px solid #f3f3f3;
    padding: 5px;
    background: #fff;
}
.item {
    cursor: pointer;
    position: relative;
}
.hover_effect {
    transition: all .25s;
}
.onHoverDiv {
    display: none;
    float: left;
    position: absolute;
    transition: all .3s ease;
    width: 100%;
}
.onHoverDiv h5 {
    margin-right: 0;
    text-align: right;
    font-size: 16px;
    color: #292929;
    float: left;
    font-weight: normal;
    line-height: 1.1;
    margin: 0;
    width: 100%;
}
.onHoverDiv h5 a {
    margin-right: 1px;
    border: 0;
    color: #ed434c;
    outline: 0;
    text-decoration: none;
}

div.share_div {
    background: #fff;
    box-shadow: 0 0 10px -1px #d3d3d3;
    display: none;
    float: right;
    margin-right: 8%;
    opacity: .8;
    padding: 0;
    position: relative;
    width: 105px;
    z-index: 12;
}
.jssocials-shares {
    margin: .2em 0;
}
img.lazyOwl {
    width: 100%;
}
.carousel_img {
    padding: 5px 5px 0;
}
.carousel_cat_body {
    margin: 0 5px;
    padding: 3px 0;
}
.carousel_cat {
    background: #e72e77;
    border-radius: 15px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 8px;
    text-transform: uppercase;
    max-width: 80%;
    margin: 10px auto;
    text-align: center;
}
.carousel_title {
    color: #383838;
    font-weight: 700;
    margin: 0 5px;
   
    text-transform: capitalize;
}
.carousel_city {
    
    background-size: 10px;
    color: #6e798a;
    font-size: 12px;
    font-weight: 400;
    margin: 0 5px;
    padding: 0 0 0 0px;
    margin-left: 0;
   text-transform: capitalize;
}
.carousel_rating {
    color: #6e798a;
    font-size: 12px;
    font-weight: 400;
}

.tabmobile{
    display: none;
}
.tabdesktop{
    display:block;
    width: 100%;
    padding: 0px;
    background: #ffffff;
}
.tabdesktop a{
    background: #ffffff;
    color:#333;
    display:inline-block;
    width:20%;
    text-align:center;
    padding:10px;
}
.tabdesktop a i{
display:block;
}
.buttoncontactbor{
    border:1px solid #1c91c0;
    background:#fff;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    margin:10px 0px;
    font-size:14px;
}
.buttoncontactbor i{float:left;font-size:18px;padding-top:5px;}
.tabdesktop button{
border:0px;
border-bottom: 1px solid #fff;
background:#fff;
width:20%;
text-align:center;
font-size:14px;
padding: 10px 0px;
outline: none;
}
.tabdesktop button.activebuttontab{
border-bottom: 1px solid #fff;
}

.greentext{
    color:#65b045;
}
.tabledesignwork{
width:100%;
margin:15px 0px;
}
.tabledesignwork tr th,.tabledesignwork tr td{
    font-size:12px!important;
    text-align:left!important;
    padding:1px 2px;
}
.sharebookmarkbtn{
    background:transparent;
    border:0px solid #fff;
}
.tabdesktop button i{
    display:block;
}
.slidersection{
    text-align: center;
}
.slidersection img{
    width:inherit!important;
}
.martop0px{
    margin-top:0px!important;
}
.positionfixedleftdesktop{
    position: fixed;
    top:100px;
    z-index: 9999;
    max-width: 247.5px;
}
.positionrelativeleftdesktop{
 position: relative;
    top:1400px;
    z-index: 9;
}
.fixedpostioneddesktop{
    position: fixed;
    z-index: 9999;
    top:60px;
    max-width: 803px;
    transition: 1s;
    box-shadow: 0px 5px 10px #ccc;  
}
.martop170px{
  margin-top: 170px!important;
}
.jq-ry-group-wrapper{
    margin: 15px 0px!important;
}

.namecontainer{
    position:absolute;
    top:10px;
    left:0px;
    right:0px;
    margin:0px auto;
    color:#fff;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow:0px 0px 20px #000;
    text-align:center;
}
.numcontainer{
    position:absolute;
    top:10px;
    right:10px;
    color:#fff;
    text-shadow:0px 0px 20px #000;  
}
.linkcontainer{
   position:absolute;
    bottom:10px;
    left:0px;
    right:0px;
    margin:0px auto;
    color:#fff;
    text-shadow:0px 0px 20px #000;
    text-align:center;
}
.linkcontainer button{
    background:transparent;
    border:0px solid #fff;
}
.detailtabclick{
    height: 1px;
    overflow: hidden;
    transition:2s ;
    } 
.heightauto{height: auto!important;}
.showless, .showdetail{
    cursor: pointer;
    font-size: 14px;
    color: #e72e77;
}
.featurebtn{
    background: #fff;
}
.featurebtn div{
    padding: 10px;
    text-align: center; 
}
.featurehead{
    font-size: 11px;
    text-align: center;
    margin:0px!important;
    padding:0px!important;
}
.featurebtn i.material-icons{
    margin:0px auto;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    padding: 6px;
    border: 0px solid #999;
   } 
.onlymobilesection{
display:none;
}
.gallery .modal-dialog img{
    max-width: 100%!important;
}
#lightbox{
    z-index: 9999!important;
}
#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 0px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -10px;
    z-index:1032;
}
   @media(max-width: 768px){
    .gallery .row{
        margin:0px;
    }
    .breadcrumbcontainer{
    display:none!important;
    }
.linkshow, .linkless{
    display:inherit;
}
    .gallery .modal-dialog img{
    max-width: inherit!important;
}
  #lightbox{
    padding-top: 20%!important;
}
.vp_about_txt_readMore a{
    display: none;
}
.linkless{
    display: none;
}

.vp_about_txt_description{
    max-height: 100px;
    overflow: hidden;
    transition: 1s;
}
.vp_about_txt_description.showtik{
    max-height: inherit;
}

.vp_about_txt_description, .vp_about_txt_readMore {
    text-align: center!important;
    background: #fff;
}
    .bottomstickydisplay{
display:block;
}

.onlymobilesection{
display:block;
background:#fff;
margin-top:-1px;
padding:10px 0px;
}
.tabdesktop button.activebuttontab{
background:#e72e77 !important;
color:#fff!important;
}
.mobnopadd{
    padding:0px;
}
.tabfixedmobile{
    position: fixed;
    top:60px;
    width:345px;
    max-width: 100%;
    z-index: 9;
}
.positionfixedleftdesktop{
    position: inherit;
    top:inherit;
    z-index: 9999;
    max-width: inherit;
}
    .boxLightStyles{
        margin:0px;
    }
  .tabdesktop{
  border-top:1px solid #e5e5e5;
    }
    .tabdesktop i.material-icons{
    display:none!important;
    }
    .container .detail_page{
        padding: 0px;
        padding-bottom: 20px;
    }
   .container .detail_page:first-child{
    padding-top: 60px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom:0px;
   }
     .left_side_box{
        width: 100%;
        padding-right: 0 !important;
     }
     .wContact{
            padding: 1px 14px !important;
     }
     .vp_services_txt_tic_cross{
       width: auto !important;
     }
     .mob_bot_mar{
       margin-bottom: 10px !important;
     }
     .bob_pa_left{
       padding-left: 5px;
     }
     .venu_mob{
      padding-left: 5px;
      padding-top: 5px;
     }
     .seating{
           padding-left: 16px;
     }
     .carousel_city{
      padding-left: 5px;
     }
     .carousel_cat_body{
       padding: 8px 0;
     }
     .left_box_section{
       padding: 5px !important;
       margin-bottom: 0px;
     }
.hotellogo{
    width: 100%;
    height: inherit;
    max-height:200px;
    margin:0px auto;
}
.tabmobile{
    display: block;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
}
.tabmobile button{
    background: #fff;
    border:0px solid #e5e5e5;
    width: 20%;
    height: 40px;
}
.btnactive{
    background: #e72e77!important;
    color: #ffffff!important;
}
.hotellogo img{ 
    border-radius:0;width: 100%;
    height: inherit;
    max-height: 200px; 
}
.sectiondisplay{
    display: block;
}
.large_subtext{
    text-align: center;
}
.nopadd{
    padding: 0px;
}  
.dark_footer{
    position: absolute!important;
    bottom: 0PX!important;
} 
.textInputSubmit{
    width: 20%;
}
.textInputInner{
    width: 80%;
} 
.textInputSubmit{
    width: 20%;
}

}


