
<app-menu></app-menu>
<div style="margin-top:130px; margin-bottom:80px; " class="clearfix">



<div class="col-md-8">
  <div class="list_left"> <img src="https://image.wedmegood.com/resized/800X/uploads/member/41805/1487827117_3.JPG" /> </div>
  
  <div class="bottom_panel">
    <div class="col-md-10"> 
     <h4> Four Points by Sheraton </h4>
        <h6> Delhi NCR <span> (View on Map) </span> </h6>
    <h6> Plot No 9, National Highway 8, Delhi - Gurgaon Road, Samalka, New Delhi, De... </h6>
    
    </div>
    
    <div class="col-md-2"> 
     <a href="" class="bp_rating"> <i class="fa fa-star margin-r-5" data-reactid="182"></i> 4.9</a>
    
    </div>
    
    <div class="clearfix"> </div>
   <div class="clearfix mt-30"> 
        <div class="col-md-3 border-r"> <a href=""> <i class="fa fa-image icon margin-r-5" style="font-size:18px;" data-reactid="187"></i> 11 Photos  </a></div>
        <div class="col-md-3 border-r"> <a href=""> <i class="fas fa-list-ul" style="font-size:18px;"></i> Shortlist  </a></div>
        <div class="col-md-3 border-r"> <a href=""> <i class="fas fa-pen-fancy"  style="font-size:18px;" ></i> Write a Review </a> </div>
        <div class="col-md-3 border-r"> <a href=""> <i class="fas fa-share-alt-square" style="font-size:18px;"> </i> share </a></div>
    </div>
    
      
  </div>
</div>
<div class="col-md-4">

 <div class="shadow text-center pad-20"> Perfect Wedding has a best price guarantee at this venue </div>

 </div>





</div>

<div class="clearfix"> </div>

<app-foot></app-foot>

<router-outlet></router-outlet> 