<div id="wrappervendor" class="" >
  <app-menu></app-menu>
  
<div class="container mobnopadd ipad100">

<div class="col-sm-12 detail_page">
  <div class="martop0px">
      <ol class="breadcrumb breadcrumbcontainer">
            <li><a href="#">Home</a></li>
            <li><a href="#">Wedding Suppliers</a></li>
             <li><a href="#">Photography, Videography</a></li>
            <li class="active">Myfair Banquets</li>
      </ol>
   </div>
</div>
  <div class="col-sm-9 mobnopadd">
        <!-- carosel slider -->
   
   <div class="boxLightStyles martop0px">
        <div id="detailpagecarousel" class="owl-carousel detailpagecarousel">
          <div class="item"> 
             <a class="fancybox" rel="ligthbox" href="https://s3.us-east-2.amazonaws.com/prefect-image/Beach_2B.jpg">
            <img class="owl-lazy" data-src="https://s3.us-east-2.amazonaws.com/prefect-image/Beach_2B.jpg" alt=""> 
            </a>
            <div class="namecontainer">Album Name</div>
            <div class="numcontainer">15/20</div>
            <div class="linkcontainer">
              <button><i class="material-icons">favorite_border</i></button>
              <button><i class="material-icons">share</i></button>
            </div>
          </div>
          <div class="item"> 
            <a class="fancybox" rel="ligthbox" href="https://s3.us-east-2.amazonaws.com/prefect-image/Beach_2B.jpg">
            <img class="owl-lazy" data-src="https://s3.us-east-2.amazonaws.com/prefect-image/Beach_2B.jpg" alt=""> 
            </a> 
            <div class="namecontainer">Album Name</div>
            <div class="numcontainer">15/20</div>
            <div class="linkcontainer">
              <button><i class="material-icons">favorite_border</i></button>
              <button><i class="material-icons">share</i></button>
            </div>
          </div>
          <div class="item"> 
            <a class="fancybox" rel="ligthbox" href="https://s3.us-east-2.amazonaws.com/prefect-image/Beach_2B.jpg">
            <img class="owl-lazy" data-src="https://s3.us-east-2.amazonaws.com/prefect-image/Beach_2B.jpg" alt=""> 
            </a> 
            <div class="namecontainer">Album Name</div>
            <div class="numcontainer">15/20</div>
            <div class="linkcontainer">
              <button><i class="material-icons">favorite_border</i></button>
              <button><i class="material-icons">share</i></button>
            </div>
          </div>
          <div class="item"> 
            <a class="fancybox" rel="ligthbox" href="https://s3.us-east-2.amazonaws.com/prefect-image/Beach_2B.jpg">
            <img class="owl-lazy" data-src="https://s3.us-east-2.amazonaws.com/prefect-image/Beach_2B.jpg" alt=""> 
            </a> 
            <div class="namecontainer">Album Name</div>
            <div class="numcontainer">15/20</div>
            <div class="linkcontainer">
              <button><i class="material-icons">favorite_border</i></button>
              <button><i class="material-icons">share</i></button>
            </div>
          </div>
        </div>
   </div>
    <!-- carosel slider end -->

 <div class="onlymobilesection">
              
                  <div class="large_text text-center"> 
                    Mayfair Banquets
                  </div>
                  <div class="carousel_cat">Wedding Venues</div>
                  <div class="carousel_city text-center">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Indore
                  </div>
                  <div class="vp_mainDetails_mini_rating text-center">
                              <div class="large_subtext"> 
                                  <span class="fa fa-star checked star_mar1"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <span>3.0</span> 
                              </div>
                  </div>  
                  
                   <div class="col-sm-12">
                      <div class="featurebtn row">
                        
                        <div class="col-3">
                          <button class="btn purple-gradient borradius50per">
                            <i class="material-icons">call</i>
                          </button>
                          <div class="featurehead">Call</div>
                        </div>
                        <div class="col-3">
                           <button class="btn purple-gradient borradius50per" data-toggle="modal" data-target="#address">
                              <i class="material-icons">mail_outline</i>
                            </button>
                          <div class="featurehead">Message</div>
                        </div>
                        <div class="col-3">
                           <button class="btn purple-gradient borradius50per">
                            <i class="material-icons">bookmark_border</i>
                          </button>
                          <div class="featurehead">Bookmark</div>
                        </div>
                        <div class="col-3">
                           <button class="btn purple-gradient borradius50per">
                          <i class="material-icons">share</i>
                        </button>
                          <div class="featurehead">Share</div>
                        </div>
                      </div>
                    </div>

              </div>



     <div class="tabdesktop">
                <button class="overviewbox">
                  <i class="material-icons">insert_comment</i>
                  Overview
                </button>
                <button class="gallerybox">
                  <i class="material-icons">camera_enhance</i>
                  Gallery
                </button>
                <button class="aboutbox hidden-xs">
                  <i class="material-icons">insert_comment</i>
                  About
                </button>
                 <button class="aboutbox hidden-sm hidden-md hidden-lg mobileabout">
                  <i class="material-icons">insert_comment</i>
                  About
                </button>
                <button class="reviewbox">
                  <i class="material-icons">star</i>
                  Reveiws
                </button>
                <button class="dealbox">
                  <i class="material-icons">local_offer</i>
                  Deals
                </button>
              </div>

   


    <div class="boxLightStyles hideShowMeNow vp_services box_section_light1 r_s_pre  weddingvenue">
        <div class="left_box_section overviewsection startprice onlymobilesection">
                  <div class="vp_mainDetails_starting_price">
                    <div class="large_subtext bob_pa_left text-center"> 
                      Starting Price: <span class="">₹ 1500</span>
                    </div>
                    <div class="clearfix"></div>
                      <div class="detailtabclick detailpri">
                        <table class="tabledesignwork">
                          <tr>
                            <th>Candid Photography</th>
                            <td>25000 per day</td>
                          </tr>
                          <tr>
                            <th>Studio Photography</th>
                            <td>10000 per day</td>
                          </tr>
                          <tr>
                            <th>Cinematography</th>
                            <td>60000 per day</td>
                          </tr>
                          <tr>
                            <th>Pre-Wedding Shoot</th>
                            <td>20000 per day</td>
                          </tr>
                        </table>
                      </div>
                    <div class="clearfix"></div>
                    <div class="text-center showdetail">Show More</div>
                     <div class="text-center showless" style="display: none;">Show less</div>
                   
                  </div>
        </div>
        <div class="vp_services_txt">
        <div class="servicecontainer_0 servicecontainer">
           <div class="servicerow">
               <span class="vp_services_txt_span marriager_text_without_underline"> Wedding Venues </span>
           </div>
           <div class="servicerow">
              <span class="vp_services_txt_title headerWithoutTopBorder-0 large_subtext "> Type Of Establishment</span>
           </div>
            <div class="vp_services_txt_description vp_services_txt_description_0_0">
             <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check banq_icon" aria-hidden="true"></i>  Banquet Hall  </span>

             <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>   Restaurant / Lounge Bar   </span>
            </div>
            <div class="servicerow">
              <span class="vp_services_txt_title headerWithoutTopBorder-1 large_subtext ">
                  Amenities 
              </span>
              <div class="vp_services_txt_description vp_services_txt_description_0_0">
                <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>   Internet available   </span>

                <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>   Handicap Accessible   </span>

                <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>   Onsite Parking    </span>
              </div>
              <div class="vp_services_txt_description vp_services_txt_description_0_0">
             <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>  Valet Parking   </span>
             <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>   Service Staff Available   </span>
              <div class="vp_services_txt_seeMore marriager_text "> <a href="#"> See More </a></div>
              </div>
            </div>
        </div>
        </div>
    </div>
    <div class="boxLightStyles hideShowMeNow vp_venues box_section_light r_s_pre">

      <div class="heading vp_venues_txt_title large_subtext">Venues</div>
      <div class="vp_venues_txt table-responsive" style="display: block;">
       <table align="center" class="mainTable">
         <thead class="vp_tableHeadingContainer">
            <tr>
              <td class="vp_tableHeading">Name </td>
              <td class="vp_tableHeading">  Type  </td>
              <td class="vp_tableHeading vp_tableHeading_capacity">
                 <span> Capacity </span>

                 <table class="vp_subtableHeading">
                     <thead>
                        <tr>
                           <td class="font11_414">Seated</td>
                           <td class="font11_414">Floating</td>
                        </tr>
                     </thead>
                 </table>
              </td>
              <td class="vp_tableHeading">  Starting Price ₹ </td>

            </tr>
         </thead>
          <tbody class="vp_tableHeadingBody">
                <tr class="vp_tableBodyRow tableRow-0">
                  <td> North|South|Odyssey </td>
                  <td> Banquet </td>
                  <td>
                    <table class="vp_tableBodyInner">
                       <tbody>
                         <tr>
                           <td>550</td>
                           <td>800</td>
                         </tr>
                       </tbody>
                    </table>
                  </td>
                  <td> 1,900 </td>
                </tr>

                <tr class="vp_tableBodyRow tableRow-1">
                    <td> North|South </td>  
                    <td> Banquet  </td> 

                    <td>
                        <table class="vp_tableBodyInner">
                           <tbody>
                               <tr>
                                 <td>300</td>
                                 <td>800</td>
                               </tr>
                           </tbody>
                        </table>
                    </td>
                   <td> 1,700</td>
                </tr>

                <tr class="vp_tableBodyRow tableRow-2">
                   <td> South </td>
                   <td> Banquet </td>
                   <td>
                      <table class="vp_tableBodyInner">

                         <tbody>
                          <tr>
                           <td>450</td>
                           <td>500</td>

                          </tr>
                         </tbody>
                      </table>
                   </td>
                   <td>1,5000</td>
                  
                </tr>
          </tbody>


       </table>

       <div class="vp_services_txt_seeMore marriager_text "> <a href="#"> See More </a></div>
      </div>
    </div>
    


    <div class="boxLightStyles hideShowMeNow vp_review box_section_light r_s_pre reviewsection gallery">
        <div class="large_subtext"> 
        Portfolio & Albums 
        <span>(112 Photos)</span> 
        <div class="clearfix"></div>
          <div class="container row">
            <div class="col-6 col-sm-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox"> 
                    <img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox"> 
                    <img src="https://s3.amazonaws.com/ooomf-com-files/deYU3EyQP9cN23moYfLw_Dandelion.jpg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox"> 
                    <img src="https://s3.amazonaws.com/ooomf-com-files/8H0UdTsvRFqe03hZkNJr_New%20York%20-%20On%20the%20rock%20-%20Empire%20State%20Building.jpg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox"> 
                    <img src="https://s3.amazonaws.com/ooomf-com-files/Z3LXxzFMRe65FC3Dmhnp_woody_unsplash_DSC0129.jpg" alt="...">
                </a>
            </div>
          </div>
        </div>  
        <div class="large_subtext"> 
        Vedio
        <span>(112 Photos)</span> 
        <div class="clearfix"></div>
          <div class="container row">
            <div class="col-6 col-sm-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox"> 
                    <img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox"> 
                    <img src="https://s3.amazonaws.com/ooomf-com-files/deYU3EyQP9cN23moYfLw_Dandelion.jpg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox"> 
                    <img src="https://s3.amazonaws.com/ooomf-com-files/8H0UdTsvRFqe03hZkNJr_New%20York%20-%20On%20the%20rock%20-%20Empire%20State%20Building.jpg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox"> 
                    <img src="https://s3.amazonaws.com/ooomf-com-files/Z3LXxzFMRe65FC3Dmhnp_woody_unsplash_DSC0129.jpg" alt="...">
                </a>
            </div>
          </div>
        </div>     
    </div>
<div class="vp_about_txt aboutsection" id="about">
        <div class="boxLightStyles hideShowMeNow vp_about box_section_light r_s_pre"> 

        <div class="vp_about_txt">
          <div class="vp_about_txt_title large_subtext ">
            About Us 
          </div>
          <div class="vp_about_txt_description ">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.....
            <div class="clearfix"></div>
            <div class="onlymobilesection">
                <ul class="wed_me_social">
                  <li>
                    <a href="#">
                      <i aria-hidden="true" class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i aria-hidden="true" class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i aria-hidden="true" class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>

                <div  class="">Indore:</div>
                <div class="branchAddress"> New Plasiya, 143-D,AB Road,M.P </div>
                <div class="" data-lattitude="19.012" data-longitude="72.822">View in Map </div>
                
            </div>
        </div>
        <div class="vp_about_txt_readMore marriager_text ">
          <a href="">Read More</a>
               <span class="linkshow"> Show More </span>
               <span class="linkless"> Show less </span>
        </div>

        </div>
        </div>
        <div class="left_box_section overviewsection tradinghours onlymobilesection">
                  <div class="large_subtext"> 
                    Trading Hours
                  </div>
                 
                 <div class="clearfix"></div>
                 <table class="tabledesignwork text-center ">
                          <tr>
                            <th><strong>Wed</strong></th>
                            <th>
                                12:00PM-12:00PM 
                                <span class="greentext">Open</span>
                            </th>
                          </tr>
                        </table>
                         <div class="clearfix"></div>
                      <div class="detailtabclick detailtra">
                        <table class="tabledesignwork">
                          <tr>
                            <td width="35%">Mon</td>
                            <td>12:00PM-12:00PM</td>
                          </tr>
                          <tr>
                            <td>Tue</td>
                              <td>12:00PM-12:00PM</td>
                          </tr>
                          <tr>
                            <th><strong>Wed</strong></th>
                            <th>
                                12:00PM-12:00PM 
                                <span class="greentext">Open</span>
                            </th>
                          </tr>
                          <tr>
                            <td>Thu</td>
                              <td>12:00PM-12:00PM</td>
                          </tr>
                          <tr>
                            <td>Fri</td>
                              <td>12:00PM-12:00PM</td>
                          </tr>
                          <tr>
                            <td>Sat</td>
                              <td>12:00PM-12:00PM</td>
                          </tr>
                          <tr>
                            <td>Sun</td>
                             <td>12:00PM-12:00PM</td>
                          </tr>
                        </table>
                      </div>
                    <div class="clearfix"></div>
                    <div class="text-center showdetail">Show More</div>
                     <div class="text-center showless" style="display: none;">Show less</div>
        </div>
    </div>

   



<div class="clearfix"></div>


    <div class="boxLightStyles hideShowMeNow vp_review box_section_light r_s_pre reviewsection"  id="review">
      <div class="vp_review_txt_title large_subtext "> Reviews </div>
        <form  (ngSubmit)="putReview(review)" #f="ngForm">
            <div class="vp_review_txt">
                <div class="vp_giveReviewBox">
                <span>Give A Review:</span>

                <span id="rateYoRateAndComment" class="rateYo jq-ry-container" style="width: 60px">
                    <div class="jq-ry-group-wrapper">
                    <div class="jq-ry-normal-group jq-ry-group">
                            <rating [(ngModel)]="review.rating"  name="rating"></rating>  
                    </div>
                    </div>
                </span>

                <div class="textInput">
                    
                        <input 
                        placeholder="Write a Review" 
                        type="text" 
                        class="textInputInner"
                        required
                        [(ngModel)] = "review.comments" 
                        name="comments"
                        >
                        <button type="submit" class="textInputSubmit" value="SUBMIT">SUBMIT</button>
                        <input class="submitedRating" type="hidden" value="0">
                        <div class="errorInValidation sendAReview">
                        Your review is empty. SUBMIT again to send this anyway 
                        </div>
                </div>
            </div>
            </div>
        </form>    
    </div>


<div class="clearfix"></div>

    <div class="boxLightStyles  box_section_light vp_similarVendors r_s_pre hidden-xs">
      <div class="similarVendors_cat ">
         <div class="heading">
            <div class="large_subtext ">
              Similar Vendors 
            </div>
              </div>
              <div class="inner_body">
                <div id="owl-similarVendors" style="display: block; opacity: 1;">
               <div class="">
                  <div class="clearfix">

                    <div class="owl-item">
                       <div class="col-md-3 col-sm-3 mobpadd0">
                         <div class="mob_bot_mar">
                        <div class="item hover_effect">
                           <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                           <div class="carousel_content">
                              <div class="carousel_cat_body">
                                 <span class="carousel_cat">
                                   Wedding Venues
                                 </span>
                              </div>

                              <div class="carousel_title">
                                  Hotel Shayaji
                              </div>
                              <div class="carousel_city">
                               <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore
                              </div>
                              <div class="carousel_rating">
                                <span class="fa fa-star checked star_mar1"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>  5.0

                              </div>

                           </div>
                       </div>
                       </div>
                     </div>


                       <div class="col-md-3 col-sm-3 mobpadd0 ">
                          <div class="mob_bot_mar">
                        <div class="item hover_effect">
                           <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                           <div class="carousel_content">
                              <div class="carousel_cat_body">
                                 <span class="carousel_cat">
                                   Wedding Venues
                                 </span>
                              </div>

                              <div class="carousel_title">
                                  Hotel Shayaji
                              </div>
                              <div class="carousel_city">
                               <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore
                              </div>
                              <div class="carousel_rating">
                                <span class="fa fa-star checked star_mar1"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>  5.0

                              </div>

                           </div>
                       </div>
                       </div>
                     </div>

                      <div class="col-md-3 col-sm-3 mobpadd0 ">
                        <div class="mob_bot_mar">
                        <div class="item hover_effect">
                           <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                           <div class="carousel_content">
                              <div class="carousel_cat_body">
                                 <span class="carousel_cat">
                                   Wedding Venues
                                 </span>
                              </div>

                              <div class="carousel_title">
                                  Hotel Shayaji
                              </div>
                              <div class="carousel_city">
                               <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore
                              </div>
                              <div class="carousel_rating">
                                <span class="fa fa-star checked star_mar1"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>  5.0

                              </div>

                           </div>
                       </div>
                       </div>
                     </div>

                   <div class="col-md-3 col-sm-3 mobpadd0 ">
                      <div class="mob_bot_mar">
                        <div class="item hover_effect">
                           <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide4.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                           <div class="carousel_content">
                              <div class="carousel_cat_body">
                                 <span class="carousel_cat">
                                   Wedding Venues
                                 </span>
                              </div>

                              <div class="carousel_title">
                                  Hotel Shayaji
                              </div>
                              <div class="carousel_city">
                               <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore
                              </div>
                              <div class="carousel_rating">
                                <span class="fa fa-star checked star_mar1"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>  5.0

                              </div>

                           </div>
                       </div>
                     </div>
                     </div>




                    </div>
                    
                   

                  </div>
                 
               </div>
                </div>
              </div>
            </div>
          </div>
      </div>

        <div class="col-sm-3 hidden-xs">
            <div class="left_side_box_text left_details leftfixed">
                  
              <div class="left_box_section paddleftrite0px">
                    <span class="flagicontik"><i class="material-icons">outlined_flag</i></span>
                  <div class="hotellogo">
                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/deco4.jpg"/>
                  </div>
                   <ul class="wed_me_social text-center">
                       <li><a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i> 
                          </a>
                        </li>
                       <li><a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i> 
                          </a>
                        </li>
                       <li>
                          <a href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                          </a>
                        </li>
                   </ul>
                  <div class="large_text text-center"> 
                    Mayfair Banquets
                  </div>
                  <div class="carousel_city text-center">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Indore
                  </div>
                   <div class="vp_mainDetails_mini_rating text-center">
                              <div class="large_subtext"> 
                                  <span class="fa fa-star checked star_mar1"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <span>3.0</span> 
                              </div>
                  </div>
                  <div class="carousel_cat">Wedding Venues</div>
                  <div class="clearfix"></div>
                  <div class="col-sm-12">
                      <div class="featurebtn row">
                        <div class="col-3">
                          <button class="btn purple-gradient borradius50per callbtn">
                            <i class="material-icons">call</i>
                          </button>
                           <button class="btn purple-gradient borradius50per callbtnhide" style="display: none;">
                            <i class="material-icons">call</i>
                          </button>
                          <div class="featurehead">Call</div>
                        </div>
                        <div class="col-3">
                           <button class="btn purple-gradient borradius50per" data-toggle="modal" data-target="#address">
                              <i class="material-icons">mail_outline</i>
                            </button>
                            <div class="featurehead">Message</div>
                        </div>
                        <div class="col-3">
                          <button class="btn purple-gradient borradius50per">
                            <i class="material-icons">bookmark_border</i>
                          </button>
                          <div class="featurehead">Bookmark</div>
                        </div>
                        <div class="col-3">
                          <button class="btn purple-gradient borradius50per">
                          <i class="material-icons">share</i>
                          </button>
                          <div class="featurehead">Share</div>
                        </div>
                      </div>
                      <div class="callinfo">
                            <strong>Contact Number</strong><br/>
                            +91-99999 12345
                          </div>
                  </div> 
              </div>
             
            <div class="clearfix"></div>
              <div class="left_box_section overviewsection startprice">
                  <div class="vp_mainDetails_starting_price">
                    <div class="large_subtext bob_pa_left text-center"> 
                      Starting Price: <span class="pink">₹ 1500</span>
                    </div>
                    <div class="clearfix"></div>
                      <div class="detailtabclick detailpri">
                        <table class="tabledesignwork">
                          <tr>
                            <th>Candid Photography</th>
                            <td>25000 per day</td>
                          </tr>
                          <tr>
                            <th>Studio Photography</th>
                            <td>10000 per day</td>
                          </tr>
                          <tr>
                            <th>Cinematography</th>
                            <td>60000 per day</td>
                          </tr>
                          <tr>
                            <th>Pre-Wedding Shoot</th>
                            <td>20000 per day</td>
                          </tr>
                        </table>
                      </div>
                    <div class="clearfix"></div>
                    <div class="text-center showdetail">Show More</div>
                     <div class="text-center showless" style="display: none;">Show less</div>
                   
                  </div>
              </div>
             
              <div class="left_box_section overviewsection tradinghours">
                  <div class="large_subtext text-center "> 
                    Trading Hours
                  </div>
                 
                 <div class="clearfix"></div>
                 <table class="tabledesignwork text-center ">
                          <tr>
                            <th><strong>Wed</strong></th>
                            <th>
                                12:00PM-12:00PM 
                                <span class="greentext">Open</span>
                            </th>
                          </tr>
                        </table>
                         <div class="clearfix"></div>
                      <div class="detailtabclick detailtra">
                        <table class="tabledesignwork">
                          <tr>
                            <td width="35%">Mon</td>
                            <td>12:00PM-12:00PM</td>
                          </tr>
                          <tr>
                            <td>Tue</td>
                              <td>12:00PM-12:00PM</td>
                          </tr>
                          <tr>
                            <th><strong>Wed</strong></th>
                            <th>
                                12:00PM-12:00PM 
                                <span class="greentext">Open</span>
                            </th>
                          </tr>
                          <tr>
                            <td>Thu</td>
                              <td>12:00PM-12:00PM</td>
                          </tr>
                          <tr>
                            <td>Fri</td>
                              <td>12:00PM-12:00PM</td>
                          </tr>
                          <tr>
                            <td>Sat</td>
                              <td>12:00PM-12:00PM</td>
                          </tr>
                          <tr>
                            <td>Sun</td>
                             <td>12:00PM-12:00PM</td>
                          </tr>
                        </table>
                      </div>
                    <div class="clearfix"></div>
                    <div class="text-center showdetail text-center ">Show More</div>
                     <div class="text-center showless text-center " style="display: none;">Show less</div>
              </div>

              <div class="left_box_section contactsection">
                  <div class="large_subtext text-center  col-12"> 
                    Branches
                  </div>
                  <div class="branchrow row">
                    <div class="text-center col-12">Indore: </div> 
                    <div class="clearfix"></div>
                    <div class="branchAddress text-center col-12">
                    New Plasiya, 143-D,AB Road,M.P
                    </div> 
                    <div class="col-6 text-left">
                       12:00PM - 12:00PM 
                    </div>
                    <div class="col-6 text-right" data-lattitude="19.012" data-longitude="72.822">
                      View in Map
                    </div> 
                    <div class="clearfix martop20px"></div>
                         <div class="text-center col-12">Indore: </div> 
                    <div class="clearfix"></div>
                    <div class="branchAddress text-center col-12">
                    New Plasiya, 143-D,AB Road,M.P
                    </div> 
                    <div class="col-6 text-left">
                       12:00PM - 12:00PM 
                    </div>
                    <div class="col-6 text-right" data-lattitude="19.012" data-longitude="72.822">
                      View in Map
                    </div> 
                  </div>
              </div>
            </div>
  </div>

    </div>
<div class="clearfix"></div>
<div class="bottomsticky row">
  <div class="col-sm-12">
      <div class="col-6 text-center">
        $ 400 per day
        <div class="clearfix"></div>
        <button class="bottombtn">View All</button>
      </div>
      <div class="featurebtn col-6">
          <div class="row">
            <div class="col-12">
              <div class="col-4">
                <button class="btn purple-gradient borradius50per">
                    <i class="material-icons">call</i>
                </button>
              </div>
              <div class="col-4">
                <button class="btn purple-gradient borradius50per" data-target="#address" data-toggle="modal">
                  <i class="material-icons">mail_outline</i>
                </button>
              </div>
              <div class="col-4">
                <button class="btn purple-gradient borradius50per">
                  <i class="material-icons">bookmark_border</i>
                </button>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" alt="" />
                </div>
            </div>
        </div>
    </div>

 <div class="modal fade" id="address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Send Message</h4>
                  </div>
                  <div class="col-sm-12">
                    <div class="container">
                            <div class="input-effect  form-group mt-3">
                              <input class="effect-16" name="text" placeholder="" required="" type="name">
                              <label>Your Name</label>
                              <span class="focus-border"></span>
                            </div>
                            <div class="input-effect  form-group mt-3">
                              <input class="effect-16" name="email" placeholder="" required="" type="text">
                              <label>Your Email</label>
                              <span class="focus-border"></span>
                            </div>
                            <div class="input-effect  form-group mt-3">
                              <input class="effect-16" name="phone" placeholder="" required="" type="tel">
                              <label>Your Phone Number</label>
                              <span class="focus-border"></span>
                            </div>
                            <div class="input-effect  form-group mt-3">
                              <textarea class="effect-16" placeholder=''></textarea>
                              <label>Message</label>
                              <span class="focus-border"></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group btnholder">
                              <button type="submit" class="btn btn-secondary">SAVE</button> 
                              &nbsp;
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                    </div>
                  </div>
                  
              </div>
          </div>
      </div>

<app-foot></app-foot>
</div>
<router-outlet></router-outlet> 