.faqbanner{
    margin-top: 60px;
    background: url(https://s3.us-east-2.amazonaws.com/prefect-image/question.jpg);
    background-size: cover;
    text-align: center;
    padding: 70px 0px;
}
.faqbanner h1{
	color: #fff;
	text-shadow: 0px 0px 10px #ccc;
}
.faqbanner p{
	color: #fff;
	text-shadow: 0px 0px 10px #ccc;
}
.faqbanner input{
	padding: 10px;
	width: 80%;
	box-shadow: 0px 0px 10px #fff;
	border-radius: 30px;
	text-align: center;
	border:0px;
	margin:15px auto;
}
.collapse.show{
	visibility: visible!important;
}
.card-link{
	display: block;
}
.card-link i.material-icons{
	float: left;
	margin-right: 10px;
}
@media(max-width: 768px){
	.faqbanner{
    padding: 25px 0px;
}
.faqbanner h1{
	font-size: 16px;
	font-weight: bold;
}
.faqbanner input{
	width: 100%;
	margin:5px auto ;
	}
}