.nopadd{
  padding:0px!important;
}
.modal-body {
    text-align: center;
}
.modal-footer {
    text-align: center;
    display: block;
    border: none !important;
}
h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}
ul{
	list-style:none;
	padding-left:0;
	font-size: 24px !important;
    margin: 24px 0 !important;
}
ul li{
	display:inline-block;
	margin:0 3px;
}
.fa{
	color:#cdc6c6;

}
.fa:hover{
	color:#fde16d;
}
.not-btn{
	color: #e28d76;
}
h4#myModalLabel {
    color: red;
    font-size: 17px;
    font-weight: 600;
}
.modal-dialog {
  max-width: 300px!important;
  margin: 1.75rem auto;
}
.modal-header{
	border:none !important;
}
/*table*/
i.fa.fa-pencil {
    color: #8fe3c3;
    font-size: 22px;
}
i.fa.fa-times {
    font-size: 22px;
    color: #ff7181;
}
i.fa.fa-star {
    color:#fde16d;
    font-size: 22px;
}
i.fa.fa-star-o {
    font-size: 22px;
}

