<app-menu> </app-menu>

<section class="container-fluid tipslist">
   <img src="../../assets/img/adventure.jpg" width="100%" alt="">
</section>
<div class="clearfix"></div>
<section class="container event_box">
   <!-- <h4><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i> </span> Schedule</h4> -->
   <div class="row">
      <div class="col-md-8">
          <div class="event_para">
                <h4><span><i class="material-icons">description</i> </span> Description</h4>
                <p >
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br> <br>
    
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                </p>
          </div>
          
            <section class="margi_top_30px">
                    
                <div class="row parking_row materil_icon">
                        <h4><span><i class="material-icons">description</i> </span> Amenities</h4>
                         <div class="col-md-12"> 
                            <div class="col-md-4">
                                <p> <i class="material-icons">done</i> Car Parking</p>
                                <p> <i class="material-icons">done</i> Car Parking</p>
                                <p> <i class="material-icons">done</i> Car Parking</p>
                                <p> <i class="material-icons">done</i> Car Parking</p>
                            </div>
                            <div class="col-md-4">
                                    <p> <i class="material-icons">done</i> Car Parking</p>
                                    <p> <i class="material-icons">done</i> Car Parking</p>
                                    <p> <i class="material-icons">done</i> Car Parking</p>
                                    <p> <i class="material-icons">done</i> Car Parking</p>
                                </div>
                                <div class="col-md-4">
                                        <p> <i class="material-icons">done</i> Car Parking</p>
                                        <p> <i class="material-icons">done</i> Car Parking</p>
                                        <p> <i class="material-icons">done</i> Car Parking</p>
                                        <p> <i class="material-icons">done</i> Car Parking</p>
                                    </div>
                                </div>
                </div>
            </section>
            <section class="margi_top_30px padd_bot_10px">
                    
                <div class="row parking_row">
                        <h4 class="location_up"><span><i class="material-icons">location_on
                            </i> </span> Location</h4>
                         <div class="col-md-12"> 
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.7055990026006!2d75.83959681453904!3d22.70200088511634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fdad8755290d%3A0xae9be52a6226ab72!2sThoughtwin+it+solution!5e0!3m2!1sen!2sin!4v1536055875202" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                </div>
            </section>
            <section class="margi_top_30px margin_bott_50px">
                   
                <div class="row parking_row padd_bott_30px">
                        <h4 class="location_up"><span><i class="material-icons">add_a_photo
                            </i> </span> Galley</h4>
                         <div class="col-md-12 padd0"> 
                               <div class="col-md-4">
                                   <div class="">
                                        <img src="../../assets/img/photo.jpg" width="100%" alt="">
                                   </div>  
                               </div>
                               <div class="col-md-4">
                                    <div class="">
                                         <img src="../../assets/img/photo.jpg" width="100%" alt="">
                                    </div>  
                                </div>
                                <div class="col-md-4">
                                        <div class="">
                                             <img src="../../assets/img/photo.jpg" width="100%" alt="">
                                        </div>  
                                    </div>
                        </div>
                </div>
            </section>         
      </div>

      <div class="col-md-4">
            <section class="">
                    
                <div class="row parking_row">
                        <h4><span><i class="material-icons">watch_later</i> </span> Schedule</h4>
                         <div class="col-md-12"> 
                           <p> <span class="pink_color">  Event Date : </span> November 13 -15  </p>
                                <p>Monday 13,2018 <span class="pull-right">10:00AM - 5:30PM </span></p>
                                <p>Monday 13,2018 <span class="pull-right">10:00AM - 5:30PM </span></p>
                                
                        
                                </div>
                </div>
            </section>
            <section class="margi_top_30px">
                   
                <div class="row parking_row2">
                        <h4><i class="fa fa-tag" aria-hidden="true"></i> Categories</h4>
                         <div class="col-md-12 cate_col"> 
                            <span> <a href=""> <i class="material-icons">
                                    music_note
                                    </i>  </a>  </span>
                            <span class="bg_yellow"> <a href=""> <i class="material-icons">
                                    music_note
                                    </i> </a>  </span>
                            <span class="bg_voilet"> <a href=""> <i class="material-icons">
                                    music_note
                                    </i> </a>  </span>
                         </div>
                </div>
            </section>

            <section class="margi_top_30px">
                    
                <div class="row parking_row3">
                        <h4 class="location_up"><span><i class="fa fa-user" aria-hidden="true"></i> </span> Author</h4>
                         <div class="col-md-12"> 
                            <span> <img class="circle_img" src="../../assets/img/photo.jpg" alt=""> </span>
                            <span class="pull-right"> <strong> Jack Amiol</strong> <br> Member since January 2015 </span>

                            <p class="phone"> <i class="fa fa-phone" aria-hidden="true"></i>  +88 25885265</p>
                            <p> <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                First Street New York, USA
                            </p>
                            <p class="social_field">
                                <span> <i class="fa fa-facebook" aria-hidden="true"></i></span>
                                <span> <i class="fa fa-twitter" aria-hidden="true"></i></span>
                                <span> <i class="fa fa-linkedin" aria-hidden="true"></i></span>
                            </p>
                         </div>
                </div>
            </section>


            <section class="margi_top_30px">
                   
                <div class="row parking_row3">
                        <h4><span><i class="fa fa-envelope" aria-hidden="true"></i> </span> Send Message</h4>
                         <div class="col-md-12"> 
                                <form >
                                    <div class="form-group">
                                            <label for="email">Your Name:</label>
                                            <input type="email" class="form-control" id="email">
                                          </div>
                                    <div class="form-group">
                                      <label for="email">Email address:</label>
                                      <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                            <label for="comment">Message:</label>
                                            <textarea class="form-control" rows="2" id="comment"></textarea>
                                          </div>
                                   
                                    <button type="submit" class="btn">Submit</button>
                                  </form>
                         </div>
                </div>
            </section>
      </div>
   </div>
</section>
<div class="clearfix"></div>
<app-foot></app-foot>

<router-outlet></router-outlet>