
.tipslist{
    margin-bottom: 50px;
    position: relative;
    padding: 0 !important;
    margin-top: 60px;
    background-image:url("../../assets/img/adventure.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    background-position: center 50px;
}
.event_para{
    background: #fff;
    padding: 10px;
}
.parking_row{
    background: #fff;
    margin: 0;
}
.parking_row .row{
    margin:0px!important;
}
.parking_row p input{
    margin-right: 5px;
}
.margi_top_30px{
    margin-top: 30px;
}
.padd_bot_10px{
    padding-bottom: 10px;
}
.margin_bott_50px{
    margin-bottom: 50px;
}
.padd0{
    padding: 0;
    margin-left: 0px;
}
.padd_bott_30px{
    padding-bottom: 25px;
}
.pink_color{
    color: #e72e77;
    font-weight: 500;
}
.parking_row2{
    background: #fff;
    // border-radius: 5px;
    // box-shadow: 0px 0 10px #797777;
    margin: 0;
    padding: 0px 0 25px 0;
}
.parking_row3{
    background: #fff;
   
    margin: 0;
    padding: 0px 0 25px 0;
}
.parking_row2 span{
    background: orange;
    border-radius: 100%;
    padding: 15px;
    margin-right: 10px;
}
.parking_row2 span a{
    position: relative;
    top: 4px;
    color: #fff;
}
.parking_row3 .circle_img{
    width: 70px;
    border-radius: 100%;
    height: 70px;
}

.parking_row3 .phone{
    margin-top: 20px;
}
.social_field{
    margin: 10px 0px;
    text-align: center;
    color: #dc0070;
}
.social_field span{
    border: 0px solid #ccc;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
}
.parking_row3 .btn{
    background: #e72e77;
    padding: 5px 30px;
    color: #fff;
}
.event_para h4{
    // border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
.parking_row h4 , .parking_row3 h4 , .parking_row2 h4 {
    // width: 97%;
    // border-bottom: 1px solid #ccc;
    padding: 5px 0 10px 5px;
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
}
.parking_row h4 i , .parking_row3 h4 i , .parking_row2 h4 i ,.event_para h4 i {
    position: relative;
    top: 2px;
    font-size: 20px;
}
.cate_col{
    padding-top: 20px;
    text-align: center;
}
.materil_icon p i{
    position: relative;
    top: 5px;
    color: green;
}
.bg_yellow{
    background-color: #bf55ec !important;
}
.bg_voilet{
    background-color: #f79b1a !important;
}
.location_up{
    margin-bottom: 10px !important;
}
.parking_row3 .pull-right{
    font-size: 14px;
}
.eventtitle{
    margin-top: 0;
    text-shadow: 0px 0px 20px #000;
    position: absolute;
    top: 35%;
    bottom: 0px;
    text-align: center;
    right: 0px;
    left: 0px;
    color: #fff;
    font-weight: bold;
}
.pull-left{
    float:left;
}
.tickets{
    text-align:center;
    font-weight:bold;
    font-size:16px;
    padding:10px 0px;
    color:green;
}
.text-center{
    text-align:center;
}
.bold{
    font-weight:bold;
}
.marbot5px{
    margin-bottom:5px!important;
}
.iconbox{
    float:right;
    font-weight:normal!important;
    font-size:16px;
}
a.profilebtn{
   border-radius: 30px;
    padding: 5px;
    text-align: center;
    color: #fff;
    background: #dc0070;
    width: 90%;
    display: block;
    margin: 0px auto;
}
.iconbox span{
line-height:24px!important;
}
.iconbox i{
    font-weight:normal!important;
    font-size:14px;
}
@media(max-width:767px){
    .padd0{
        margin-left: 0px;
    }
    .padd0 .col-6{
        margin-bottom: 30px;
    }
    .parking_row3 .pull-right{
        font-size: inherit;
        margin-right: 50px;
    }
}