#LoginForm{ 

background: linear-gradient(to right, #373b44, #4286f4);

 padding:10px; min-height:100vh;}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
 
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background:  rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  margin: 10% auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
  color:#ffffff;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}

.forgot {
  text-align: left; margin-bottom:30px;
}

.admin_login{    display: block;
    width: 100%;
    height: 51px;
    text-transform: uppercase;
    font-size: 20px;}
@media only screen and (max-width: 600px) {
    .main-div{max-width:100%;
      padding: 50px 10px 70px 10px;	
    }


.cal-month-view .cal-day-cell{
	min-height:69px!important;
}
.cal-month-view .cal-cell-top {
    min-height:inherit!important;
    flex: 1;

}}