<div class="" id="LoginForm">
<h1 class="form-heading"></h1>
<div class="login-form">
<div class="main-div">
    
   <h2>Admin Login</h2>
   <p>Please enter your email and password</p>
   
    <form id="Login">

        <div class="form-group">


            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">

        </div>

        <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

        </div>
        <div class="forgot">
        <a href="reset.html">Forgot password?</a>
</div>
        <button type="submit" routerLink="../dashboard" class="admin_login btn btn-raised gradient-purple-bliss white shadow-z-1-hover">Login</button>

    </form>
    </div>
</div></div>
