<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
        <app-adminsidebar></app-adminsidebar>
    </div>
    <div id="page-content-wrapper">    
        <div class="container-fluid nopadd">                    
            <app-adminnavbar></app-adminnavbar>
            <div class="container-fluid">
                <div class="row martop30px">
                <div class="col-md-3">
                    <div class="card card-stats">
                      <div class="card-header card-header-warning card-header-icon">
                        <p class="card-category">Trial Account</p>
                        <div class="card-icon">
                          <i class="material-icons">account_box</i>
                        </div>
                        
                        <h3 class="card-title"> 184</h3>

                      </div>
                      
                    </div>     

              </div>

              <div class="col-md-3">
                      <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <p class="card-category">Silver Membership</p>
                          <div class="card-icon rose">
                            <i class="material-icons">card_membership</i>
                          </div>
                          <h3 class="card-title"> 53</h3>
                        </div>
                       
                      </div>     
                </div>

                <div class="col-md-3">
                      <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                          <p class="card-category">Gold Membership</p>
                          <div class="card-icon green_bg">
                            <i class="material-icons">class</i>
                          </div>
                          <h3 class="card-title"> 4</h3>
                        </div>
                        
                      </div>     
                </div>

                <div class="col-md-3">
                      <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <p class="card-category">Registered Users</p>
                          <div class="card-icon green_bg1">
                            <i class="material-icons">verified_user</i>
                          </div>
                          <h3 class="card-title"> 15</h3>
                        </div>
                        
                      </div>     
                </div>
                </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="tabbingdesign">
                                <li class="card-title Suppliertab">Supplier</li>
                                <li class="card-title Registertab">Register User</li>
                            </ul>    
                        </div>
                        <section id="filter">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card martop0px">
                                        <div class="card-header nopadtopbot"> 
                                            <ng-template #supplier let-c="close" let-d="dismiss">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Add New Supplier</h4>
                                                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                               <form>
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input type="Email" name="" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Contact Person</label>
                                                        <input type="text" name="" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Business Name</label>
                                                        <input type="text" name="" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Passport/Other ID Card</label>
                                                        <input type="file" name="" class="form-control">
                                                    </div>
                                                     <div class="form-group">
                                                        <label>Contact Phone Number</label>
                                                        <input type="text" name="" class="form-control">
                                                    </div>
                                                     <div class="form-group">
                                                        <label>Mailing Address</label>
                                                        <textarea class="form-control"></textarea>
                                                    </div>
                                               </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                                                </div>
                                            </ng-template>

                                            <div class="serchbox">
                                                <label>Show</label>
                                                <select>
                                                    <option>05</option>
                                                    <option>10</option>
                                                    <option>15</option>
                                                    <option>20</option>
                                                </select>

                                                <input type="text" placeholder="Type to filter the name column" name="">

                                                 <button class="btn btn-small btn-link" (click)="open(supplier)">Add New Supplier</button>

                                            </div>
                                           
                                        </div>
                                        <div class="card-body">
                                            <div class="card-block table-responsive">
                                                <table class="table">
                                                    <tr>
                                                            <th>CUSTOMER ID</th>
                                                            <th>Name</th>
                                                            <th>Plan</th>
                                                            <th>Date</th>
                                                            <th>Expiry</th>
                                                            <th>Membership</th>
                                                            <th>Status</th>
                                                            <th>Details</th>
                                                    </tr>
                                                    <tr>
                                                            <td>#39124</td>
                                                            <td>Ada.Hoppe</td>
                                                            <td>Sliver</td>
                                                            <td>july 25, 2017</td>
                                                            <td>july 25, 2018</td>
                                                            <td>1 Year</td>
                                                            <td>Active</td>
                                                            <td>
                                                            <a routerLink="../../Admin/userdetails"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                            <td>#39124</td>
                                                            <td>Adrianna_durgan</td>
                                                            <td>Gold</td>
                                                            <td>july 25, 2017</td>
                                                            <td>july 25, 2018</td>
                                                            <td>5 Year</td>
                                                            <td>Deactive</td>
                                                            <td><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                            <td>#39124</td>
                                                            <td>Albin.Kreiger</td>
                                                            <td>Sliver</td>
                                                            <td>july 25, 2017</td>
                                                            <td>july 25, 2018</td>
                                                            <td>2 Year</td>
                                                            <td></td>
                                                            <td><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                            <td>#39124</td>
                                                            <td>Alisa</td>
                                                            <td>Trial</td>
                                                            <td>july 25, 2017</td>
                                                            <td>july 25, 2018</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                            <td>#39124</td>
                                                            <td>August</td>
                                                            <td>Sliver</td>
                                                            <td>july 25, 2017</td>
                                                            <td>july 25, 2018</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                </table>
                                                   <!--  <ng2-smart-table [settings]="alertsettings" [source]="alertSource" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
                                                        (createConfirm)="onCreateConfirm($event)">
                                                    </ng2-smart-table> -->
                                              
                                                   <!--  <ng2-smart-table [settings]="filtersettings" [source]="filterSource"></ng2-smart-table> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="action">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card martop0px">
                                        <div class="card-header nopadtopbot"> 

                                            <ng-template #adduser let-c="close" let-d="dismiss">
                                            <div class="modal-header">
                                                    <h4 class="modal-title">Add New Supplier</h4>
                                                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                               <form>
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input type="Email" name="" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Contact Person</label>
                                                        <input type="text" name="" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Business Name</label>
                                                        <input type="text" name="" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Passport/Other ID Card</label>
                                                        <input type="file" name="" class="form-control">
                                                    </div>
                                                     <div class="form-group">
                                                        <label>Contact Phone Number</label>
                                                        <input type="text" name="" class="form-control">
                                                    </div>
                                                     <div class="form-group">
                                                        <label>Mailing Address</label>
                                                        <textarea class="form-control"></textarea>
                                                    </div>
                                               </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                                                </div>
                                        </ng-template>

                                            <div class="serchbox">
                                                <label>Show</label>
                                                <select>
                                                    <option>05</option>
                                                    <option>10</option>
                                                    <option>15</option>
                                                    <option>20</option>
                                                </select>

                                                <input type="text" placeholder="Type to filter the name column" name="">

                                                  <button class="btn btn-small btn-link" (click)="open(adduser)">Add New User</button>

                                            </div>

                                       
                                        </div>
                                        <div class="card-body">
                                            
                                            <div class="card-block table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Date</th>
                                                        <th>Membership</th>
                                                        <th>Status</th>
                                                        <th>Details</th>
                                                    </tr>
                                                      <tr>
                                                        <td>01</td>
                                                        <td>Patricia Lebsack</td>
                                                        <td>Aug 8, 2018</td>
                                                        <td>1 Year</td>
                                                        <td>Active</td>
                                                        <td><a href="#">View</a></td>
                                                    </tr>
                                                    <tr>
                                                         <td>01</td>
                                                        <td>Patricia Lebsack</td>
                                                        <td>Aug 8, 2018</td>
                                                        <td>1 Year</td>
                                                        <td>Active</td>
                                                        <td><a href="#">View</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>Patricia Lebsack</td>
                                                        <td>Aug 8, 2018</td>
                                                        <td>1 Year</td>
                                                        <td>Active</td>
                                                        <td><a href="#">View</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>Patricia Lebsack</td>
                                                        <td>Aug 8, 2018</td>
                                                        <td>1 Year</td>
                                                        <td>Active</td>
                                                        <td><a href="#">View</a></td>
                                                    </tr>
                                                    <tr>
                                                         <td>01</td>
                                                        <td>Patricia Lebsack</td>
                                                        <td>Aug 8, 2018</td>
                                                        <td>1 Year</td>
                                                        <td>Active</td>
                                                        <td><a href="#">View</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>Patricia Lebsack</td>
                                                        <td>Aug 8, 2018</td>
                                                        <td>1 Year</td>
                                                        <td>Active</td>
                                                        <td><a href="#">View</a></td>
                                                    </tr>
                                                    <tr>
                                                         <td>01</td>
                                                        <td>Patricia Lebsack</td>
                                                        <td>Aug 8, 2018</td>
                                                        <td>1 Year</td>
                                                        <td>Active</td>
                                                        <td><a href="#">View</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>Patricia Lebsack</td>
                                                        <td>Aug 8, 2018</td>
                                                        <td>1 Year</td>
                                                        <td>Active</td>
                                                        <td><a href="#">View</a></td>
                                                    </tr>
                                                </table>
                                               <!--  <ng2-smart-table [settings]="alertsettings" [source]="alertSource" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
                                                    (createConfirm)="onCreateConfirm($event)">
                                                </ng2-smart-table> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>    
                </div>
               
            </div>            
</div>
            <app-foot></app-foot>
        </div>
    </div> 
</div>



    
    

<router-outlet></router-outlet> 