.ng2-smart-pagination{
    &.pagination{
        .page-link{
            line-height: 1rem;
        }
    }
}
.nopadd{
  padding:0px!important;
}
.tabbingdesign{
	border-bottom:1px solid #e5e5e5;
	margin:0px;
	padding:0px;
	overflow:hidden;
}
.tabbingdesign li{
	border-bottom:1px solid #e5e5e5;
	list-style:none;
	display:inline-block;
	float:left;
	margin:0px;
	padding:3px 15px;
	cursor:pointer;
}
.tabbingdesign li:hover{
border-bottom:1px solid pink;
}
.modal-content{
background:#fff!important;
}
.serchbox label{
float:left;
margin-right:10px;
line-height:30px;
}
.serchbox select{
padding:2px 10px;
float:left;
}
.serchbox input[type="text"]{
border:0px solid #fff!important;
border-bottom:1px solid #e5e5e5!important;
margin-left:15px;
width:40%;	
float:left;
}
.serchbox button{
	float:right;
	margin-bottom:0px;
}
.nopadtopbot{
	padding-top:0px!important;
	padding-bottom:0px!important;
}
.martop0px{
	margin-top:0px!important;
}
.card-icon{
	float:left;
}
.card-title{
	float:right;
}
.sidebar-nav[_ngcontent-c1] > .sidebar-brand[_ngcontent-c1] {
    font-size: 16px !important;
    }