ul{
	list-style:none;
}
.nopadd {
    padding: 0;
}
section.taskboard-app-form.bg-blue-grey.bg-lighten-5 {
    padding: 0 20px;
}
.bg-blue-grey.bg-lighten-5 {
    background-color: #f5f7fa !important;
}
.btn{
	color:#fff!important;
}
.lisa-amold{
	background:#fff;
	border:1px solid #ccc;
	padding: 10px 20px;
	margin: 10px 20px;
}
.fa{
	color:#1565c0;
	font-size:18px;
	margin: 0 10px !important;
}
img {
    width: 186px;
}
.reset-password{
	text-align:right;
}
ul.second-ul {
    margin-top: 24px !important;
}
ul.second-ul li{
   color:#9195a4;
}
ul.first-ul b{
	font-weight:600;
}
ul.first-ul li, h4{
	color: #3e445e;
    font-weight: 600;
}

th {
    border-bottom: 1px solid #b8b4b4 !important;
    border-top: none !important;
}
td {
    border-bottom: 1px solid #e5dddd;
}






