<div id="wrappervendor" class="" style="text-align:center;background-color:white;">
	<app-menu></app-menu>
	<div class="eventbanner">
		<div class="bannertext">
			<h1>Exotic cities. Beautiful beaches. Amazing adventures.</h1>
			<h2>Honeymoon planning made easy</h2>
		</div>
	</div>
		<div class="container">
			<h1 class="headingtext">Top <strong style="color: #e72e77;">Destinations</strong></h1>
			<div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://imgak.mmtcdn.com/mi8/images/slideshow/andaman-280x280-bottom-14022018.jpg" class="discountimg">
			                			<div class="titlebox">
			                				BALI
			                				<span><i class="material-icons">local_atm</i>	19300 Onwards</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
            <div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://imgak.mmtcdn.com/mi8/images/slideshow/andaman-280x280-bottom-14022018.jpg" class="discountimg">
			                			<div class="titlebox">
			                				Maldives
			                				<span><i class="material-icons">local_atm</i>	19300 Onwards</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
            <div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://imgak.mmtcdn.com/mi8/images/slideshow/andaman-280x280-bottom-14022018.jpg" class="discountimg">
			                			<div class="titlebox">
			                				Malaysia
			                				<span><i class="material-icons">local_atm</i>	19300 Onwards</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
            <div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://imgak.mmtcdn.com/mi8/images/slideshow/andaman-280x280-bottom-14022018.jpg" class="discountimg">
			                			<div class="titlebox">
			                				Thailand
			                				<span><i class="material-icons">local_atm</i>	19300 Onwards</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
            <div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://imgak.mmtcdn.com/mi8/images/slideshow/andaman-280x280-bottom-14022018.jpg" class="discountimg">
			                			<div class="titlebox">
			                				Singapore
			                				<span><i class="material-icons">local_atm</i>	19300 Onwards</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
            <div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://imgak.mmtcdn.com/mi8/images/slideshow/andaman-280x280-bottom-14022018.jpg" class="discountimg">
			                			<div class="titlebox">
			                				India
			                				<span><i class="material-icons">local_atm</i>	19300 Onwards</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
            <div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://imgak.mmtcdn.com/mi8/images/slideshow/andaman-280x280-bottom-14022018.jpg" class="discountimg">
			                			<div class="titlebox">
			                				Honkong
			                				<span><i class="material-icons">local_atm</i>	19300 Onwards</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
            <div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://imgak.mmtcdn.com/mi8/images/slideshow/andaman-280x280-bottom-14022018.jpg" class="discountimg">
			                			<div class="titlebox">
			                				Dubai
			                				<span><i class="material-icons">local_atm</i>	19300 Onwards</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
		</div>
	
	<div class="container">
			<h1 class="headingtext">Holiday for <strong style="color: #e72e77;">Every Mood</strong></h1>
			<div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://promos.makemytrip.com/images/218X300_Image01_12042017.jpg" class="holicountimg">
		                			<div class="holicountimgbox"></div>
			                			<div class="holititlebox">
			                				Couples
			                				<span>Handpicked packages for couples</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
            <div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://promos.makemytrip.com/images/218X300_Image02_12042017.jpg" class="holicountimg">
		                			<div class="holicountimgbox"></div>
			                			<div class="holititlebox">
			                				Family
			                				<span>Recommended Family Pacakges</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
            <div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://promos.makemytrip.com/images/218X300_Image03_12042017.jpg" class="holicountimg">
		                			<div class="holicountimgbox"></div>
			                			<div class="holititlebox">
			                				Friends
			                				<span>Holiday Pacakges for Freinds</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
            <div class="col-sm-3">
	            <div class="disboxloop">
		                		<a routerLink="/home/Deal_Details">
		                			<img src="https://promos.makemytrip.com/images/218x300-Dubai-20062017.jpg" class="holicountimg">
		                			<div class="holicountimgbox"></div>
			                			<div class="holititlebox">
			                				International
			                				<span>Best International Pacakges</span>
			                			</div>
			                			
		                		</a>
	            </div>
            </div>
		</div>

	<app-foot></app-foot>
</div>
<router-outlet></router-outlet>  