<div id="wrappervendor" class="" style="text-align:center;background-color:f5f5f5;">
	<app-menu></app-menu>
		<div class="container martop60px">

			<owl-carousel-o [options]="customOptions" (initialized)="getData($event)">
				<ng-container *ngFor="let slide of slidesStore">
				<ng-template carouselSlide="1" >
					<div class="boxtikslide ng-star-inserted">
						<div class="procard"></div>
				
							<img class="card-img-top" [src]="slide.profileImage">
						
						<div  *ngIf="!slide.profileImage ">
							<img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/prefect-image/store_noimg.jpg"> 
						</div>
					
						<span class="book_mark"><i class="material-icons">bookmark_border</i></span>
						<div class="card-body ">
							<div class="text-center">
							<h6><strong>{{slide.nameOfBusiness}}</strong></h6>
						
							<p class="locat_icon" *ngIf = "slide?.district">
								<i class="material-icons">location_on</i>
							    {{slide.district}}
							</p>
							<p class="locat_icon" *ngIf = "!slide.district">
									<i class="material-icons">location_on</i>
								      N/A
								</p>
					
								<div class="large_subtext" *ngIf = "slide?.averageRating > 0 ">
									<div class="rating_star">
									<rating [(ngModel)]="slide.averageRating" readonly="isReadonly"></rating>
									</div>
								</div>
								<div class="large_subtext" *ngIf = "slide?.averageRating == 0 ">
										<div class="rating_star">
									      No Review Yet
										</div>
									</div>
						
						</div>
						<div class="col-md-12 col-12">
							<div class="col-md-8 col-8 pad_left_0 pad_left_5px">
								<img alt="" class="imgfloatleft" src="../../assets/img/money.svg">
								<span>Price from</span>
								<span class="pric_200">{{slide.priceTag}}</span>
                                <span class="pric_200" *ngIf = "!slide.priceTag">Custom Price</span>
							</div>
								<div class="col-md-4 col-4 span_positin">
									<img alt="" src="../../assets/img/tag.svg">
									<span> Deals</span>
									<span>{{slide.deals.length}}</span>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
				</ng-container>
			</owl-carousel-o>
			<h1 class="headingtext"><strong style="color: #e72e77;">Honeymoon & Travel Destinations</strong></h1>
			<div *ngFor='let Honeymoon of Honeymoon_destinations '>
				<div class="col-sm-3 col-6 image_div" (click) = "searchmore(Honeymoon)">
					<div class="disboxloop" >
						<a>
							<img [src]="Honeymoon.imageURL" class="discountimg">
								<div class="titlebox">
										{{Honeymoon.name}}
									<span>14 Listings</span>
								</div>						
						</a>
					</div>
				</div>
			</div>
		
          
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 Destination_btn">
					<button>View All Destinations</button>
				</div>	
			</div>
		</div>	
	<app-foot></app-foot>
</div>
<router-outlet></router-outlet>  