.procard{background: url("https://s3.us-east-2.amazonaws.com/prefect-image/pro.png"); width: 58px; height: 53px; position: absolute;top: 0; left: 0;}

.imgnum{
    position:absolute;
    left:0px;
    right:0px;
    text-align:center;
    margin-top:-35px;
    }
    .imgnum span{
    background: #f5f5f5c7;
    overflow: hidden;
    display: inline-block;
    padding: 2px 5px;
    margin: 0px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    }
    .imgnum span i{
    float:left;
    }
    .imgnum img {
    display:inherit!important;
    width:inherit!important;
    }
    .imgnum span span{
    background: transparent;
    overflow: hidden;
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    box-shadow: none;
    float: right;
    line-height: 24px;
    margin-left: 5px;
    }
    
.headingtext{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}
.disboxloop{
	 margin-bottom: 30px;
	 cursor: pointer;
	 border:1px solid #f5f5f5;
}
.discountimg{
	width:100%;
	height: 200px;
	object-fit: cover;
}
.holicountimg{
	width:100%;
	height: 300px;
	object-fit: cover;
}
.titlebox{
	position: absolute;
    top: 140px;
    font-size: 20px;
    font-weight: bold;
    z-index: 9;
    color: #fff;
    left: 25PX;
    text-align: left;
    text-shadow: 0px 0px 5px #000;
    text-transform: uppercase;
}
.titlebox span{
	 font-size: 14px;
    font-weight: normal;
    display: block;
    text-transform: capitalize;
}
.titlebox span i{
	float: left;
	font-size: 20px;
}
.holititlebox{
	position: absolute;
    top: 140px;
    font-size: 20px;
    font-weight: bold;
    z-index: 9;
    color: #fff;
    left: 0;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
}
.disboxloop .holititlebox span{
	font-size: 14px;
    font-weight: normal;
    display: block;
    text-transform: capitalize;
    display: none;
    transition: all 1s;
}
.disboxloop .holicountimgbox{
	background: rgba(0,0,0,.4);
    position: absolute;
    z-index: 9;
    width: 245px;
    height: 300px;
    display: none;
    top: 0;
    transition: .3s ease-in-out background 1ms;
}
.disboxloop:hover .holicountimgbox{
    display: block;
}
.disboxloop:hover .holititlebox span{
    display: block;
}
.martop60px{
	margin-top:60px;
}
.ng-tns-c5-0{
    margin-top: 40px !important;
}
.Destination_btn button {
    background: none;
    border: 1px solid #e72e77;
    color: #e72e77;
    padding: 10px 34px;
    font-size: 18px;
    margin: 0 0 40px 0;
    border-radius: 10px;
}
h6.Honeymoon_heading {
    margin-top: 64px;
    text-align: left;
    margin-bottom: 0;
}
.owl-item {
    margin-right: 15px;
    max-width:255px!important;
  }
  .boxtikslide{
      border: 0px solid #fff !important;
      border-radius: 1px;
      font-size: 14px;
      position: relative;
      box-shadow: 0px 0px 20px #e5e5e5 !important;
      margin-top: 20px !important;
      margin-bottom: 20px !important;
      overflow: hidden;
      max-width: 255px!important;
      background: #fff;
  }
  .card-img-top{
    height:175px;
    object-fit: cover;
  }
  .book_mark i{
    position: absolute;
    right: 6px;
    top: 7px;
    font-size: 20px;
    cursor: pointer;
    background: rgba(229, 229, 229, 0.8);
    padding: 5px;
    border-radius: 100%;
    transition: 0.5s;
}
.card-body{
    background-color: #fff;
    padding: 10px 0px;
}
.card-body h6{
    font-weight: bold !important;
    margin-bottom: 5px !important;
}
.wedding_btn{
    background-color: #e72e77;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 0px 18px;
    font-size: 10px;
}
.locat_icon{
    margin-bottom: 0;
    font-size: 0.80rem;
}
.locat_icon i{
    position: relative;
    top: 2px;
    font-size: 0.80rem;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}
.statr_point span {
    display: inline-block;
}
.checked {
    color: #e72e77;
}
.pad_left_0 {
    text-align: left !important;
}
.pad_left_5px{
    padding-left: 5px !important;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.imgfloatleft {
    float: left;
    max-width: 25px;
    margin-right: 10px;
}
.card-body span {
    display: inline-block;
}
.pric_200{
    margin-top: -8px;
    color: #e72e77;
    height: 24px;
}
.span_positin{
    padding-left: 0 !important;
    padding-right: 0 !important;
    float: right;
    max-width: 70px;
    padding-top: 7px;
}
.span_positin img {
    float: left;
    max-width: 25px;
    max-height: 25px;
    top: 0px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.span_positin span {
    display: inline-block;
    color: #b215ff;
    margin-left: 10px;
    float: right;
    width: 34px;
    line-height: 14px;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    .boxtikslide{
        max-width:345px!important;
      }
      .image_div{
          float: left;
          padding:0px 5px;
      }
      .titlebox {
        bottom: 40px;
      }
      .discountimg{
        max-height: 200px;
      }
      .disboxloop{
          margin-bottom:15px;
      }
      .headingtext{
        font-size: 19px;
      }
      .span_positin{
          padding-top: 0px;
          top: -20px;
      }

  }
