<div id="wrappervendor" class="" style="text-align:center;background-color:white;">
	<app-menu></app-menu>
		<div class="container martop60px">
			<ol _ngcontent-c11="" class="breadcrumb breadcrumbcontainer">
				<li><a routerLink="/home">Home</a></li>
				<li><a routerLink="/home/Deals">All Deals</a></li>
				<li class="active" *ngFor='let deal of data?.vendorCategories; let i=index '>{{deal.categories.categoryName}}</li>
			</ol>
		</div>
		<div class="container">
			
			<div class="row" >
					<!-- <div class="col-sm-8 nopadd" id="dealcarousel" *ngFor='let deal of data?.vendorCategories; let j=index ' >
						<owl-carousel-o [options]="customOptions" (initialized)="getData($event)">
						  <ng-container *ngFor='let deal of data?.vendorCategories; let j=index '>
						    <ng-template carouselSlide="1"   >
							  <img [src]="deal.categories.imagePath" alt="" >
							</ng-template>
						  </ng-container>
						</owl-carousel-o>
					</div> -->
					
					<div class="col-sm-8 nopadd" id="dealcarousel"  *ngIf="dealsAlbumArray.length > 0" >
							<owl-carousel-o [options]="customOptions" (initialized)="getData($event)">
							  <ng-container *ngFor="let dealImg of dealsAlbumArray">
								<ng-template carouselSlide="1"   >
								  <img [src]="dealImg.path" [alt]="dealImg.originalFileName" >
								</ng-template>
							  </ng-container>
							</owl-carousel-o>

					</div>

							<div *ngIf="dealsAlbumArray.length == 0">
									<img  src="https://s3.us-east-2.amazonaws.com/prefect-image/store_noimg.jpg" alt="">
							</div>

					<div class="col-sm-4 dealsbanner ">
						<h1 class="dealdetailhead" *ngFor='let deal of data?.vendorCategories; let i=index '>
							{{data?.discount}} % discount on {{deal.categories.categoryName}}
							<span class="greentext">Save up to 10% OFF (Value of Rs 2500)</span>
						</h1>
						<div class="boxdetail">
							<i class="material-icons pullleft">location_on</i>
							<span>Royal Road, Quartier Militaire<br/>
								Moka, Mauritius
							</span>
						</div>
						<div class="clearfix"></div>
						<div class="boxdetail" *ngIf="data?.businessName">
								<i class="fa fa-user pullleft font24px"></i>
								<span>{{data?.businessName}}<br/>
									<a href="#" class="profilebtn">Veiw Profile</a>
								</span>
						</div>
						<!-- <div class="boxdetail" *ngIf="data?.title">
							<i class="fa fa-user pullleft font24px"></i>
							<span>{{data?.title}}<br/>
								<a href="#" class="profilebtn">Veiw Profile</a>
							</span>
						</div> -->
						<div class="clearfix"></div>
						<div class="vaildbox">
							<span *ngIf="data?.endDateString == ''"><strong class="pink">DEAL VALID UNTIL</strong><br/>
								{{data?.endDateString}}
							</span>
							<span *ngIf="data?.endDateString !== ''">
								<strong class="pink">DEAL VALID UNTIL</strong>
								<br/>
								N/A End Date
							</span>
						</div>
						
						<div class="clearfix"></div>
						<div class="iconbox">
							<span class="pullleft"><i class="material-icons pullleft">visibility</i> &nbsp;85 </span>
                      			<span class="pullleft"><i class="material-icons pullleft">bookmark</i> &nbsp;0 </span>
						</div>
					</div>
			</div>
		</div>

		<div class="container">
			<div class="divcontainer">
				<h1>About the Deal</h1>
				<p>
					Experience the ultimate sweet indulgence with a Sparkling High Tea at Measure Bar in Mount Lawley. You'll be treated to three decadent tiers of sweet and savoury delights, a bottle of sparkling wine to share per couple, plus two selections from their tea, coffee and soft drink menu. Prepare to be in High Tea heaven with today's generous offer!
				</p>
			</div>
			<div class="divcontainer">
				<h1>What's Included</h1>
				<ul>
					<li>High Tea per couple</li>
					<li>Two selections from the tea, coffee and soft drink menu</li>
					<li>Bottle of sparkling wine per couple</li>
					<li>Valid for two or four people</li>
					<li>Available hours: Tuesday - Friday: 12:00pm-3:00pm (Last Booking 2:00pm)</li>
					<li>Available for bookings from 02 January 2019</li>
				</ul>
			</div>
			<div class="divcontainer">
				<h1>How to Redeem</h1>
				<p>
					Bookings are essential via our online booking tool. Strictly no Quandoo bookings will be accepted for vouchers (any Quandoo bookings will be charged at full price). After purchasing, click ‘Book Online’. Insert your voucher number and select your preferred date and time. Enter your details and once complete, a booking confirmation will be sent to your email. If purchasing via our app or booking at a later time, please head to our website and go to 'My Account' to complete your booking. Book early to secure your desired date and time. Should Measure Bar need to contact you regarding your reservation they will do so via the email/phone number you have supplied upon making your booking. Please ensure you provide the valid contact details at the time of booking. Present printed or smartphone voucher on arrival
				</p>
				
			</div>
			<div class="divcontainer">
				<h1>Cancellations</h1>
				<p>
					All changes and cancellations are subject to our standard Refund Policy
				</p>
				
			</div>
		</div>
<app-foot></app-foot>
</div>
<router-outlet></router-outlet>