.martop60px{
	margin-top:60px;
}
.breadcrumbcontainer{
    background: transparent;
    padding: 10px 0px;
    float: left;
    margin-bottom: 10px;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border-radius: 0;
}
.vochhercode{
	background-color: #d8005a;
	border:1px dashed #000;
	color:#fff;
	width:200px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px;
	margin:15px auto!important;
}
.breadcrumb>li+li:before{
    padding: 0 5px;
    color: #333;
    content: ">"!important;
}
.dealdetailhead{
	text-align: left;
	font-size:34px;
}
.dealdetailhead span{
	font-size:20px;
	display: block;
}

.dealsbanner{
	box-shadow: 0px 0px 10px #ccc;
    margin: 0px 0px 0px 0px;
    padding: 20px 20px 0px 20px;
}
.dealbanner{
	width:100%;
	height: 400px;
}
.iconbox{
	right: 15px;
	font-size:14px;
	position: absolute;
	bottom: 15px;
}
.owl-theme .owl-dots{
	position: absolute!important;
    bottom: 0px!important;
    right: 0px!important;
    left: 0px!important;
}
.vaildbox{
	margin: 0px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 40px;
    overflow: hidden;
    text-align: left;
}
.iconbox span{
	margin: 0px 5px;
}
.locationtext{
	color: #999;
	text-align: center;
	width: auto;
	margin: 0px auto;
	max-width: 150px;
}
.locationtext i{
	float: left;
}
.martop30px{
	margin-top:30px!important;
}
.dealsbanner h1{
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
    margin: 0px;
}
.font16{
	font-size:16px!important;
}
.font24px{
	font-size:24px!important;
}
.text-right{
	text-align:right;
}
.pullright{
	float:right;
}
.dealdetailhead span{
	font-size:14px;
}
.boxdetail{
	margin:10px 0px;
	text-align:left;
	width:100%;
}
.boxdetail i{
	width:25px;
}
.boxdetail span{
float:left;
margin-left:10px;
}
a.profilebtn{
   border-radius: 5px;
    padding: 0px 15px;
    text-align: center;
    color: #fff;
    background: #dc0070;
    display: inline-block;
    margin: 5px auto;
}
.dealsbanner h2{
	font-size:20px;
    text-transform:capitalize;
    padding:0px;
    margin:0px;
}
.dealspricebox{
	max-width: 250px;
	margin:20px auto;
	overflow: hidden;
}
.pricestart{
	width: 50%;
	float: left;
}
.pricestart h3{
	font-weight: bold;
}
.borrtonly{
	border-right: 1px solid #e5e5e5;
}
.dealbtn{
	border-radius: 5px;
    border: none;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 0;
    background-color: #d8005a;
    color: #fff;
    width: 272px;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.3);
}
.greentext{
	color: #59aa4d!important;
}
.bluetext{
	color: #147FD3!important;
}
.divcontainer{
    width: 100%;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 10px #ccc;;
    border-radius: 2px;
    transition: all .5s;
    text-align: left;
}
.divcontainer h1{
	font-size: 14px;
    text-transform: uppercase;
    padding: 0px;
    display: inline-block;
    font-weight: bold;
    color: #d8005a;
}
.pullleft{
	float: left;
}
@media(max-width: 767px){
	.dealsbanner{
    margin: 0 15px;
    padding:20px;
}
 #dealcarousel{
 margin: 0 15px;
 overflow: hidden;
}
.breadcrumb  a{
	font-size: 14px!important;
}
}