 a{
    color: #fff;
 }
.tips{
   padding-top: 40px;
}
.tips_headin h2{
	color: pink;
}
.tips_headin p{
    text-align: left !important;
}

.tips_headin p span{
    color: pink;
}
.filter{

  
}
.filter_div{
   padding: 0px;
   margin-top: 5px;
}
.photo_graphy{
width: 70%;
padding: 5px;
background-color: #fff;
color: #eb75a4;
border: 1px solid #ccc;
border-radius: 5px;
}

.req span{
   background-color: pink;
   border-radius: 5px;
   border:1px solid #fff;
   padding: 5px 10px;
   color: #fff;
   font-style: bold;
   
}
.tips_box{
    margin-top: 40px;
}
.sub_box{
    margin-top: 0px;
    background-color: #fff;
}

.sub_box p{
    color: pink;
    margin-left: 0px !important;
}

/* */

@media(max-width: 768px){

    .tips{
       padding-top: 20px;
    }
}