<app-menu></app-menu>
<section class="container tips">
   <div class="col-md-12">
       <div class="tips_headin text-center">
          <h2> Tips & Artical </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown <span> Perfect Wedding </span> </p>

       </div>

   </div>
</section>

<section class="container">
 <div class="col-md-12">
 	<div class="col-md-7">
 		<div class="filter">
           Filter
 		</div>
      <div class="col-md-3 filter_div">
         <select class="photo_graphy">
		    <option>All Cities</option>
		    <option>Delhi</option>
		    <option>Indore</option>
		</select>
      </div>
      <div class="col-md-3 filter_div">
         <select class="photo_graphy">
		    <option>Culture</option>
		    <option>West</option>
		    <option>north</option>
		</select>
      </div>
      <div class="col-md-3 filter_div">
         <select class="photo_graphy">
		    <option>Themes</option>
		    <option>Themes</option>
		    <option>Themes</option>
		</select>
      </div>

 	</div>

 	<div class="col-md-5 text-center">
      <div class="req">
        <p>Share your own wedding to feature on WMG</p>
        <span><a href=""> Request Invite</a>  </span>
      </div>
 
 	</div>

 </div>

</section>


<section class="container tips_box">
  <div class="col-md-12">
    <div class="col-md-4 tips_box_img">
    <img class="img-responsive" src="../../assets/img/camers1.jpg" alt="">
  <div class="sub_box">
    <div class="col-md-6" style="padding-left: 0px">
        <img class="img-responsive" src="../../assets/img/camers1.jpg" alt="">
    </div>
    <div class="col-md-6" style="padding-right:0px">
       <img class="img-responsive" src="../../assets/img/camers1.jpg" alt="">
    </div>
  </div>

   <p class="text-center"> Minu & raj (Bhopal) </p>



    </div>


  </div>


</section>


























<router-outlet></router-outlet>