<app-menu> </app-menu>
<section class="container tips">
   <div class="col-md-12">
       <div class="tips_headin text-center">
          <h2> Tips & Artical </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown <span> Perfect Wedding </span> </p>

       </div>

   </div>
</section>

<section class="container">
 <div class="col-md-12">
 	<div class="col-md-7">
 		<div class="filter">
           Filter
 		</div>
      <div class="col-md-3 filter_div">
         <select class="photo_graphy">
		    <option>All Cities</option>
		    <option>Delhi</option>
		    <option>Indore</option>
		</select>
      </div>
      <div class="col-md-3 filter_div">
         <select class="photo_graphy">
		    <option>Culture</option>
		    <option>West</option>
		    <option>north</option>
		</select>
      </div>
      <div class="col-md-3 filter_div">
         <select class="photo_graphy">
		    <option>Themes</option>
		    <option>Themes</option>
		    <option>Themes</option>
		</select>
      </div>

 	</div>

 	<div class="col-md-5 text-center">
      <div class="req">
        <p>Share your own wedding to feature on WMG</p>
        <span><a href=""> Request Invite</a>  </span>
      </div>
 
 	</div>

 </div>

</section>


<section class="container tips_box">
  <div class="col-md-12">
    <div class="col-md-4 tips_box_img">
    <img class="img-responsive" src="../../assets/img/card1.jpg" alt="">
  <div class="sub_box">
    <div class="col-md-6" style="padding-left: 0px; padding-right: 4px;padding-top: 6px;margin-bottom: 10px;">
        <img class="img-responsive" src="../../assets/img/deco1.jpg" alt="">
    </div>
    <div class="col-md-6" style="padding-right:0px; padding-left: 4px;padding-top: 6px;margin-bottom: 10px;">
       <img class="img-responsive" src="../../assets/img/deco3.jpg" alt="">
    </div>
      <p class="text-center" style=""> Minu & raj (Bhopal) </p>
  </div>
  
  
  </div>
  <div class="col-md-4 tips_box_img">
    <img class="img-responsive" src="../../assets/img/card1.jpg" alt="">
  <div class="sub_box">
    <div class="col-md-6" style="padding-left: 0px; padding-right: 4px;padding-top: 6px;margin-bottom: 10px;">
        <img class="img-responsive" src="../../assets/img/deco1.jpg" alt="">
    </div>
    <div class="col-md-6" style="padding-right:0px; padding-left: 4px;padding-top: 6px;margin-bottom: 10px;">
       <img class="img-responsive" src="../../assets/img/deco3.jpg" alt="">
    </div>
      <p class="text-center" style=""> Minu & raj (Bhopal) </p>
  </div>
  
  
  </div>
  <div class="col-md-4 tips_box_img">
    <img class="img-responsive" src="../../assets/img/card1.jpg" alt="">
  <div class="sub_box">
    <div class="col-md-6" style="padding-left: 0px; padding-right: 4px;padding-top: 6px;margin-bottom: 10px;">
        <img class="img-responsive" src="../../assets/img/deco1.jpg" alt="">
    </div>
    <div class="col-md-6" style="padding-right:0px; padding-left: 4px;padding-top: 6px;margin-bottom: 10px;">
       <img class="img-responsive" src="../../assets/img/deco3.jpg" alt="">
    </div>
      <p class="text-center" style=""> Minu & raj (Bhopal) </p>
  </div>
  
  
  </div>
  <div class="col-md-4 tips_box_img">
    <img class="img-responsive" src="../../assets/img/card1.jpg" alt="">
  <div class="sub_box">
    <div class="col-md-6" style="padding-left: 0px; padding-right: 4px;padding-top: 6px;margin-bottom: 10px;">
        <img class="img-responsive" src="../../assets/img/deco1.jpg" alt="">
    </div>
    <div class="col-md-6" style="padding-right:0px; padding-left: 4px;padding-top: 6px;margin-bottom: 10px;">
       <img class="img-responsive" src="../../assets/img/deco3.jpg" alt="">
    </div>
      <p class="text-center" style=""> Minu & raj (Bhopal) </p>
  </div>
  
  
  </div>
  <div class="col-md-4 tips_box_img">
    <img class="img-responsive" src="../../assets/img/card1.jpg" alt="">
  <div class="sub_box">
    <div class="col-md-6" style="padding-left: 0px; padding-right: 4px;padding-top: 6px;margin-bottom: 10px;">
        <img class="img-responsive" src="../../assets/img/deco1.jpg" alt="">
    </div>
    <div class="col-md-6" style="padding-right:0px; padding-left: 4px;padding-top: 6px;margin-bottom: 10px;">
       <img class="img-responsive" src="../../assets/img/deco3.jpg" alt="">
    </div>
      <p class="text-center" style=""> Minu & raj (Bhopal) </p>
  </div>
  
  
  </div>
  <div class="col-md-4 tips_box_img">
    <img class="img-responsive" src="../../assets/img/card1.jpg" alt="">
  <div class="sub_box">
    <div class="col-md-6" style="padding-left: 0px; padding-right: 4px;padding-top: 6px;margin-bottom: 10px;">
        <img class="img-responsive" src="../../assets/img/deco1.jpg" alt="">
    </div>
    <div class="col-md-6" style="padding-right:0px; padding-left: 4px;padding-top: 6px;margin-bottom: 10px;">
       <img class="img-responsive" src="../../assets/img/deco3.jpg" alt="">
    </div>
      <p class="text-center" style=""> Minu & raj (Bhopal) </p>
  </div>
  
  
  </div>

    </div>

</section>

<section class="artical">

 <div class="container">
      <!--Gallery Hover Effect Starts-->
      <div class="row" >
          <div class="col-md-12 text-center" >
              <h3 class="">Artical</h3>
          
          </div>
      </div>
      <section id="hover-effects" class="card">
        <div class="card-body">
          <div class="card-block my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
            <div class="grid-hover">
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <figure class="effect-layla">
                    <img src="../../assets/img/venue.jpg" class="img-responsive" alt="img06" />
                    <figcaption>
                      <h2>radiance-motel
                        <span>Delhi</span>
                      </h2>
                      
                    </figcaption>
                  </figure>
                </div>
                <div class="col-md-4 col-xs-12">
                    <figure class="effect-layla">
                      <img src="../../assets/img/camers1.jpg" class="img-responsive" alt="img06" />
                      <figcaption>
                        <h2>Crazy
                          <span>Layla</span>
                        </h2>
                        
                      </figcaption>
                    </figure>
                  </div>
                <div class="col-md-4 col-xs-12">
                  <figure class="effect-layla">
                    <img src="../../assets/img/event.jpg" class="img-responsive" alt="img03" />
                    <figcaption>
                      <h2>Event planner
                        <span>Bhopal</span>
                      </h2>
                      
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <figure class="effect-layla">
                    <img src="../../assets/img/event.jpg" class="img-responsive" alt="img06" />
                    <figcaption>
                      <h2>Riana Jewellery
                        <span>Indore</span>
                      </h2>
                      
                    </figcaption>
                  </figure>
                </div>
                <div class="col-md-4 col-xs-12">
                    <figure class="effect-layla">
                      <img src="../../assets/img/planner.jpg" class="img-responsive" alt="img06" />
                      <figcaption>
                        <h2>Crazy
                          <span>Layla</span>
                        </h2>
                       
                      </figcaption>
                    </figure>
                  </div>
                <div class="col-md-4 col-xs-12">
                  <figure class="effect-layla">
                    <img src="../../assets/img/vedio.jpg" class="img-responsive" alt="img03" />
                    <figcaption>
                      <h2>Vogueshaire photographers
                        <span>Chennai</span>
                      </h2>
                     
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Gallery Hover Effect Starts-->

    </div>
</section>






















<app-foot></app-foot>

<router-outlet></router-outlet>