 a{
    color: #fff;
 }
.tips{
   padding-top: 100px;
}
.tips_headin h2{
	color: pink;
}
.tips_headin p{
    text-align: left !important;
}

.tips_headin p span{
    color: pink;
}
.filter{

  
}
.filter_div{
   padding: 0px;
   margin-top: 5px;
}
.photo_graphy{
width: 70%;
padding: 5px;
background-color: #fff;
color: #eb75a4;
border: 1px solid #ccc;
border-radius: 5px;
}

.req span{
   background-color: pink;
   border-radius: 5px;
   border:1px solid #fff;
   padding: 5px 10px;
   color: #fff;
   font-style: bold;
   
}
.tips_box{
    margin-top: 40px;
}
.sub_box{
    margin-top: 0px;
    background-color: #fff;
}

.sub_box p{
    color: pink;
    margin-left: 0px !important;
}

/*Artical css */

.artical{
    background-color: #fff !important;
    margin-top: 50px;
    margin-bottom: 50px;
}
.grid-hover{
   padding-bottom: 0px;
       padding-top: 0;
}
.grid-hover figure{
    max-height: 250px !important;

}
figure.effect-layla h2 {
    padding-top: 8%;
    font-size: 26px;
}
.card{
   box-shadow: none !important;
   padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
}
.artica_hed{
   padding-top: 20px;
}
.artica_hed hr{
    width: 4%;
    margin-top: -5px;
    border-color: pink;
    border-width: 2px;
  
}









@media(max-width: 768px){

    .tips{
       margin-top: 10px;
    }
    .filter{
      text-align: center;;
    }
    .share_mob_hide{
      display: none;
    }
    .photo_graphy{
      width: 100%;
    }
    .card .card-block{
      padding: 0 !important;
    }
    
    .grid-hover figure{
      min-width: 0px !important; 
    }
    .tips_box_img{
      padding-left: 0px;
      padding-right: 0px !important;
    }
}