 a{
    color: #fff;
 }
.tips{
   padding-top: 100px;
}
.tips_headin h2{
	color: pink;
}
.tips_headin p{
    text-align: left !important;
}

.tips_headin p span{
    color: pink;
}
.filter{

   border-bottom: 1px solid #ccc;
}
.filter_div{
   padding: 0px;
   margin-top: 5px;
}
.photo_graphy{
width: 60%;
padding: 5px;
background-color: #fff;
color: #eb75a4;
border: 1px solid #ccc;
border-radius: 5px;
}

.req span{
   background-color: pink;
   border-radius: 5px;
   border:1px solid #fff;
   padding: 5px 10px;
   color: #fff;
   font-style: bold;
   
}
.tips_box{
    margin-top: 40px;
}
.sub_box{
    margin-top: 10px;
}
.tips_box p{
   background-color: #fff;
   color: pink;
   margin-top: 0px;
  
}