<div id="wrappervendor" class="" >
	<app-menu></app-menu>
<!-- <section class="container containerbox">
	<div class="col-sm-12 citybox">
		<img src="../../assets/img/black_river_img.jpg">
		<h1>Black River</h1>
	</div>
	
	<div class="col-sm-6 citybox">
		<img src="../../assets/img/black_river_img.jpg">
		<h1>Black River</h1>
	</div>

	<div class="col-sm-6 citybox">
		<img src="../../assets/img/black_river_img.jpg">
		<h1>Black River</h1>
	</div>


<div class="col-sm-6 citybox">
		<img src="https://q-xx.bstatic.com/images/hotel/max500/891/89172828.jpg">
		<h1>Black River</h1>
	</div>
	


</section> -->
<div class="clearfix"></div>
<app-foot></app-foot>
<router-outlet></router-outlet>
</div>
