.containerbox{
    position: relative;
    padding: 0 !important;
    margin-top: 60px;
}
.nopadd{
	padding:0px;
}
.citybox{
	margin-bottom: 20px;
}
.citybox img{
	width:100%;
	height: 100%;
	object-fit: cover;
}
.citybox h1{
	position:absolute;
	font-weight: bold;
	color:#ffffff;
	text-transform: uppercase;
	top:40%;
	width: 100%;
	text-align: center;
}
.caroosel_headin{
    margin-bottom: 30px;
}
.caroosel_headin h3 {
    font-size: 1.4rem;
    font-weight: 500;
}