<div id="wrappervendor" class="" >
	<app-menu></app-menu>
<section class="container containerbox">


	<div class="caroosel_headin text-center">
		<h3>Supplier By
			<strong style="color: #e72e77;">Location</strong>
		</h3>
	</div>
<div class="clearfix"></div>

	<ul style="list-style: none;">
		<li *ngFor='let location of locations' style="display: inline-block;">
			<a class="dropdown-item" style="padding: 38px;" (click)="searchLocation(location)">
				<i class="material-icons">location_on</i>
				{{location.name}}
			</a>
		</li>
	</ul>


	<!-- <div class="col-sm-12 citybox1">
		<img src="../../assets/img/black_river_img.jpg">
		<h2>Black River</h2>
	</div>
	
	<div class="col-sm-6 citybox cityboxcontant mob375">
		<img src="../../assets/img/flacq.jpg">
		<h2>Flacq</h2>
	</div>

	<div class="col-sm-6 citybox cityboxcontant">
		<img src="../../assets/img/gand_port.jpg">
		<h2>Grand Port</h2>
	</div>


<div class="col-sm-4 citybox">
		<img src="../../assets/img/moka_img.jpg">
		<h2>Moka</h2>
	</div>
	<div class="col-sm-8 citybox">
		<img src="../../assets/img/pamless.jpg">
		<h2>Pamplemousses</h2>
	</div>
	<div class="col-sm-8 citybox">
		<img src="../../assets/img/plains_will.jpg">
		<h2>Plaines-Wilhems</h2>
	</div>
	<div class="col-sm-4 citybox">
		<img src="../../assets/img/port_louis.jpg">
		<h2>Port-Louis</h2>
	</div>
	<div class="col-sm-6 citybox">
		<img src="../../assets/img/maxresdefault.jpg">
		<h2>Riviere du Rempart</h2>
	</div>
	<div class="col-sm-6 citybox">
		<img src="../../assets/img/rodrigues.jpg">
		<h2>Rodrigues</h2>
	</div> -->

	


</section>
<div class="clearfix"></div>
<app-foot></app-foot>
<router-outlet></router-outlet>
</div>
