<div id="wrappervendor" class="" >
  <app-menu></app-menu>
  <section>
    <section class="container-fluid tipslist">
       <img src="../../assets/img/adventure.jpg" alt="">
       <div class="clearfix"></div>
       <div class="advanture container">
           <h4> <strong>  My adventure</strong></h4>
           <p class="user_date"> 
            <span> <i class="fa fa-camera" aria-hidden="true"></i> By John Due </span> |
            <span class="pull-right">
                <span>  <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i> </a></span>  
                <span>  <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i> </a></span> 
                <span>  <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i> </a></span>  
            </span>
            <!-- <span> <i class="fa fa-calendar-o" aria-hidden="true"></i> By John Due </span> |
            <span> <i class="fa fa-tag" aria-hidden="true"></i> By John Due </span> |
            <span> <i class="fa fa-comment" aria-hidden="true"></i> By John Due </span>  -->
          </p>
          <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book 
          </p>

          <p>
            <strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry industry's standard dummy text ever since the 1500s. </strong> <br>  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          </p>
       </div>
    </section>
    <div class="clearfix"></div>
    <section class="container other_artical">
      
      <h5> <strong>OTHER ARTICLES THAT MAY INTERST YOU  </strong>    </h5>
        <div class="row">
          <div class="col-md-3">
            <div class="img_box text-center">
               <img src="../../assets/img/photo.jpg"     width="100%" class="img-responsive" alt="">
                <div class="box_text">
                  <p class="posi_absolut"> <button> WEDDING </button>  </p>
                  <p> If your sister getting married soon <br> you are charge in wedding</p>
                </div>
            </div>
          </div>

          <div class="col-md-3">
              <div class="img_box text-center">
                 <img src="../../assets/img/photo.jpg"     width="100%" class="img-responsive" alt="">
                  <div class="box_text">
                    <p class="posi_absolut"> <button> WEDDING </button>  </p>
                    <p> If your sister getting married soon <br> you are charge in wedding</p>
                  </div>
              </div>
            </div>
            <div class="col-md-3">
                <div class="img_box text-center">
                   <img src="../../assets/img/photo.jpg"     width="100%" class="img-responsive" alt="">
                    <div class="box_text">
                      <p class="posi_absolut"> <button> WEDDING </button>  </p>
                      <p> If your sister getting married soon <br> you are charge in wedding</p>
                    </div>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="img_box text-center">
                     <img src="../../assets/img/photo.jpg"     width="100%" class="img-responsive" alt="">
                      <div class="box_text">
                        <p class="posi_absolut"> <button> WEDDING </button>  </p>
                        <p> If your sister getting married soon <br> you are charge in wedding</p>
                      </div>
                  </div>
                </div>
        
        </div>
    </section>
  </section>



<div class="clearfix"></div>
<app-foot></app-foot>
</div>
<router-outlet></router-outlet>