<app-menu></app-menu>
<app-tool></app-tool>
<div class="container-fluid guest">
      <div class="col-sm-12 mobnopadd">
        <div class="card inspirationhead">
              <h2 class="text-center">Guest List</h2>
              <div class="clearfix"></div>
              <div class="col-md-12 row serabar">
                <div class="col-md-4">
                  <input  class="searchinput" name="" [(ngModel)]='searchGuestQuery' placeholder="Search Guest" type="text">
                  <span class="icon"><i class="material-icons">search</i></span>
                </div>
                <div class="col-md-8 text-right hidden-xs">
                  <label>Sort By </label>
                  <div *ngIf='_guestservice.menuGuestCount'>
                   <select>
                      <option *ngFor='let m of _guestservice.menuGuestCount' [value]='m.menuId'>{{m.name}}</option>
                   </select>
                  </div>
                   <select>
                     <option>Invitation Status</option>
                     <option >Invited</option>
                     <option >Pending</option>
                   </select>
                </div>
              </div>
        </div> 
        <div class="container-fluid nopadd tabbutton hidden-sm hidden-md hidden-lg">
            <button class="guestclick activebuttontab">Guest</button>
            <button class="groupclick">Groups</button>
            <button class="menuclick">Menu</button>
            <button class="inviteclick">Invitation</button>
        </div>
        <div class="container-fluid accordin nopadd">
          <div class="col-sm-3 mobnopadd hidden-sm hidden-md hidden-lg guestbox">
              <div class="card martop0px">
                  <h1 class="sidebarhead hidden-xs">Guest</h1>
                  <div class="boxdetail boxdetailmobile">
                    <div class="roundbox">
                            <i class="material-icons">group</i>
                            Total
                            {{totalGuests}}
                    </div>
                    <div class="roundbox">
                        <i class="material-icons">person</i>
                            Adults {{totalAdulst}}
                    </div>
                    <div class="roundbox">
                      <i class="material-icons">child_care</i>
                            Child {{totalChilds}}
                    </div>
                  </div>
                  <div class="text-center">
                    <a href="">
                      <span class="bg_red">
                        <i class="material-icons">insert_emoticon</i> Guest 
                      </span>
                    </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-9 mobnopadd guestbox">
            <div *ngFor='let g of guestList' class="col-sm-12 nopadd accordinholder">
              <div class="accordion row">
                  <div class="col-8 col-sm-4 mobnopadd">
                    <div class="pull-left">
                      <i class="material-icons"> group</i> 
                    </div>
                    <div class="pull-left marleft10px">
                      <strong>{{g.name}}</strong>
                      <div class="clearfix"></div>  
                      <span *ngIf='g.peopleCount>0'>{{g.peopleCount}} People </span>
                      <span *ngIf='g.kidsCount>0'>Children: {{g.kidsCount}}</span> 
                    </div>   
                  </div>
                  <div class="col-3 col-sm-3 text-center hidden-xs">
                      Menu
                  </div>
                  <div class="col-2 col-sm-2 text-center hidden-xs">
                    Invitation
                  </div>
                  <div class="col-4 col-sm-3 text-right mobnopadd mobwidth90">
                    <button class="btnplain" (click)='openDialogClose()'><i class="material-icons">person_add</i></button>
                    <button class="btnplain"><i class="material-icons">settings</i></button>
                    <div class="pull-right arrowiconmob">
                      <i class="material-icons downarrow">keyboard_arrow_down</i>
                      <i class="material-icons uparrow">keyboard_arrow_up</i>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="checkbox row mobnopaddltrt" *ngFor='let m of g.guests'>
                      <div class="col-4">
                       <strong>{{m.name}}</strong> 
                        <i *ngIf='m.ageGroup==="c"' class="material-icons pull-right">child_care</i>
                      </div>
                      <div class="col-3 text-center">
                        {{m.menu.name}}
                      </div>
                      <div class="col-2 text-center">
                        <i *ngIf='m.invitationSent' class="material-icons">check_circle_outline</i>
                      </div>
                      <div class="col-3  text-right">
                        <button (click)='openDialogClose(m)' class="btnplain hidden-xs">
                          <i class="material-icons">edit</i>
                        </button>
                        <button (click)='removeGuest(m.guestsId)' class="btnplain hidden-xs">
                          <i class="material-icons">delete_forever</i>
                        </button>
                          <div class="material-button-anim hidden-sm hidden-md hidden-lg">
                              <button class="material-button material-button-toggle" type="button">
                                <span class="material-icons">add</span>
                              </button>
                              <ul class="list-inline" id="options">
                                <li class="option">
                                  <button class="material-button option1" type="button">
                                    <span class="material-icons">edit</span>
                                  </button>
                                </li>
                                <li class="option">
                                  <button class="material-button option1" type="button">
                                  <span class="material-icons">group_work</span>
                                  </button>
                                </li>
                                <li class="option">
                                  <button class="material-button option1" type="button">
                                    <span class="material-icons">clear</span>
                                  </button>
                                </li>
                              </ul>
                          </div>
                      </div>
                  </div>

                </div>
            </div>
              
          </div>
          <div class="col-sm-3 mobnopadd">
              <div class="card martop0px hidden-xs">
                  <h1 class="sidebarhead">Guest</h1>
                  <div class="boxdetail">
                    <div class="roundbox">
                            <i class="material-icons">group</i>
                            Total
                            {{totalGuests}}
                          </div>

                           <div class="roundbox">
                            <i class="material-icons">person</i>
                            Adults {{totalAdulst}}
                        </div>

                         <div class="roundbox">
                            <i class="material-icons">child_care</i>
                            Child {{totalChilds}}
                          </div>
                  </div>
                  <div class="text-center" (click) = "twitterDailog = true ">
                 
                    <!-- <span class="bg_red" > -->
                        
                        <button type="button" class="btn btn-info btn-lg bg_red" data-toggle="modal" data-target="#myModalLabel">
                        <i class="material-icons">insert_emoticon</i>Guest
                    <!-- </span> -->
                    </button>
                
                  </div>
                  <div class="clearfix"></div>
              </div>

              <div class="card groupbox" (click) = "groupDailog = true ">
                <h1 class="sidebarhead">Groups</h1>
                <div>
                   <ol class="timeline">
                        <li *ngFor='let g of _guestservice.myGroups'>
                          <a href="#">{{g.name}} <span class="badge badge-pill badge-default">{{g.guestsCount}}</span></a></li>
                      </ol>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-info btn-lg bg_red" data-toggle="modal" data-target="#myModalGroup"><i class="material-icons">group</i>Group</button>
  
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="card invitebox ">
                <h1 class="sidebarhead">Invites</h1>
                <div class="boxdetail max200px">
                  <div class="roundbox">
                          <i class="material-icons">verified_user</i>
                          Invited
                          {{invitedInvitions}}
                          <!-- {{_guestservice.num_invitiesCount?_guestservice.num_invitiesCount.invited:0}} -->
                        </div>

                         <div class="roundbox">
                          <i class="material-icons">access_time</i>
                          Pending 
                          {{pendingInvitions}}
                          <!-- {{_guestservice.num_invitiesCount?_guestservice.num_invitiesCount.pending:0}}  -->
                      </div>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="card menubox" (click) = "menuDailog = true ">
                <h1 class="sidebarhead">Menu</h1>
                <div>
                   <ol class="timeline">
                     
                        <li *ngFor='let m of _guestservice.menuGuestCount'>
                          <a href="#">{{m.name}}<span class="badge badge-pill badge-default">{{m.guestsCount}}</span></a>
                        </li>
                      </ol>
                </div>
                <div class="text-center">
                <button type="button" class="btn btn-info btn-lg bg_red" data-toggle="modal" data-target="#myModalMenu"><i class="material-icons">restaurant_menu</i>Menu</button>

                </div>
                <div class="clearfix"></div>
              </div>
          </div>
        </div>
<div class="clearfix"></div>
</div></div>
<app-foot></app-foot>
<router-outlet></router-outlet> 
<!-- myModalGroup Guest-->
<div class="modal fade" [ngClass] = "{'show' : twitterDailog}" id="facebook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form (ngSubmit)='createUpdateGuest()'>
        <div class="modal-header text-center">
            <h4 class="modal-title"><b>Add New Guest </b></h4>
            <button type="button" class="close" (click) = "closeModel()" >
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
       
        <div class="modal-body formscroll">
            <div class="col-sm-12 nopadd">
              <div class="col-sm-12">
                    <div class="row field select_group">
                        <label>Enter Guest Name</label>
                        <input type="text" id="guestName" name="guestName" [(ngModel)]='_guestservice.objGuest.name' class="form-control mb-4" placeholder="Name">                    
                    </div>
              </div>
            </div>
            <div class="col-sm-12 nopadd topmargin">
              <div class="col-sm-12">
                    <div class="row field">
                      <div class="col-md-6 select_group1">
                          <label>Select Group</label>
                          <select class="browser-default custom-select mb-4" id='guestGroupId' name='guestGroupId' [(ngModel)]='_guestservice.objGuest.groupsId'>
                              <option *ngFor='let g of _guestservice.myGroups' [value]='g.groupsId'>{{g.name}}</option>
                          </select> 
                      </div>
                      <div class="col-md-6 age_group">
                          <label>Age Group</label>
                        <select class="browser-default custom-select mb-4" name="guestAgeGroup" id='guestAgeGroup' 
                        [(ngModel)]='_guestservice.objGuest.ageGroup'>

                              <option value="c" disabled>Child Group</option>
                              <option value="a" selected>Adult Group</option>

                          </select> 
                    </div>
                    </div>
              </div>
            </div>
            <div class="col-sm-12">
                <div class="row field">
                  <div class="col-md-6 select_group1">
                    <label>Menu</label>
                       <select class="browser-default custom-select mb-4" id='guestmenuId' name="guestmenuId" [(ngModel)]='_guestservice.objGuest.menuId'>
                          <option *ngFor='let m of _guestservice.menuGuestCount' [value]='m.menuId'>{{m.name}}</option>
                       </select> 
                  </div>
                  <div class="col-md-1 blanck_box">
                  </div>
                  <div class="col-md-5 age_group check_box">
                      <input type="checkbox" [(ngModel)]='_guestservice.objGuest.invitationSent' id='invitationSent' name="invitationSent">Invitation Send
                  </div>
                </div>
          </div>
        </div> 
        <div class="modal-footer marbot0px">
            <button type="submit" class="btn newbtn" (click)="closeModel()">Save</button>
            <button type="button" class="btn newbtn newcancelbtn"  (click) = "closeModel()" >Cancel</button>
          </div>
          </form>
      </div>       
    </div>          
</div>
  <!-- mymodel Group -->
<div class="modal fade" [ngClass] = "{'show' : groupDailog }" id="groupDailog" tabindex="-1" role="dialog" aria-labelledby="myModalGroup">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title"><b>Add New Group</b></h4>
            <button type="button" class="close" (click) = "closeModel()" >
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
       
        <div class="modal-body formscroll">
            <div class="col-sm-12 nopadd">
              <div class="col-sm-12">
                <form (ngSubmit)='createUpdateGroup()' #Group="ngForm">
                    <div class="row field">
                        <label>Group Name</label>
                        <input type="text" id="groupName" name='groupName' [(ngModel)]='_guestservice.objGroup.name' class="form-control mb-4" placeholder="Name">                    
                    </div>
                    <div class="modal-footer marbot0px">
                        <button type="submit"  class="btn newbtn">Save</button>
            
                        <button type="button" class="btn newbtn newcancelbtn"  (click) = "closeModel()" >Cancel</button>
                      </div>
                      </form>
              </div>
            </div>
        </div>
            <div class="col-sm-12 nopadd topmargin">
              <div class="col-sm-12">
                    <div class="row field">
                        <div class="table-responsive">
                            <table class="table" style="border:1px solid #ced4da;margin: 0 !important;">
                              <thead>
                                <tr>
                                  <th scope="col">S No.</th>
                                  <th scope="col">Group Name</th>
                                  <th scope="col">Edit/Delete</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor='let g of  _guestservice.myGroups;let i=index'>
                                  <th scope="row">{{i+1}}</th>
                                  <td>{{g.name}}</td>
                                  <td><div (click)='editGroup(g)' class="btn btn-edit">Edit</div></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </div>
              </div>
            </div>
        
      </div>       
    </div>          
</div>
  <!--menu-->
<div class="modal fade" [ngClass] = "{'show' : menuDailog }" id="menuDailog" tabindex="-1" role="dialog" aria-labelledby="myModalMenu">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
              <h4 class="modal-title"><b>Add New Menu</b></h4>
              <button type="button" class="close" (click) = "closeModel()" >
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
         
          <div class="modal-body formscroll">
              <div class="col-sm-12 nopadd">
                <div class="col-sm-12">
                  <form (ngSubmit)='createUpdateMenu()' #menu="ngForm">
                      <div class="row field">
                          <label>Menu Name</label>
                          <input type="text" name="menuName" id="menuName" [(ngModel)]='_guestservice.objMenu.name' class="form-control" placeholder="Name">                
                      </div>
                      </form>
                </div>

              </div>       

          </div> 
          <div class="modal-footer marbot0px">
  <button type="submit" class="btn newbtn" (click)="closeModel()">Save</button>
            <button type="reset" class="btn newbtn newcancelbtn" (click)="closeModel()">Cancel</button>
          </div>
        </div>       
      </div>          
</div>

