
.guest{
  margin-top:20px;
margin-bottom:20px;
}
.guest h2 a{
    color: #000000;
}
.group_menu{
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
}
.group_menu ul{
    padding-left: 0 !important;
}
.list{
    padding-top: 20px;
}
.list ul{
    margin: 0%;
    padding: 0%;
}
.list ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 100px;
    font-weight: bolder;
}
.list ul li a{
   font-size: 20px;
   color: #fff !important;
}
.group_menu{
    padding-top: 20px;
    margin-bottom: 30px;
}


.group_menu ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}
.bg_red{
    background-color: #e72e77;
    padding: 8px;
    color: #ffffff;
    border-radius: 5px;
}
.flo_right{
    float: right;
}
.flo_right select{
    padding: 6px;
    border-radius: 5px;
}
.inspirationhead h2{
    padding-top:20px;
}
.serabar{
    padding:20px 0px;
    margin:0px;
}
.text-right{
    text-align:right;
}
.serabar label{
    line-height:30px;
    font-weight:normal;
}
.serabar .searchinput{
    width: 100%;
    text-indent: 10px;
    padding: 5px;
     border-radius: 20px;
    border:1px solid #e5e5e5;
}
.serabar select{
    width:150px;
    text-indent: 10px;
    padding: 5px;
    border-radius: 20px;
    border:1px solid #e5e5e5;
    margin-left:10px;
}
.icon .material-icons{
    position: absolute;
    top: 8px;
    right: 25px;
}
.bg_red i{
    position: relative;
    top: 4px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0;
    background-color: transparent;
    display: none;
    overflow: hidden;
    border-radius: 0px;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    margin-top: -3px;
    margin-bottom:0px;
}
.pull-left{
    float:left;
}
.accordin{
    margin-bottom: 30px;
}
.accordinholder{
  margin-bottom:20px;
}
.accordion i{
    position: relative;
    top: 8px;
    font-size: 40px;
}
.marleft10px{
    margin-left:10px;
}
.accordion{
    padding: 8px 5px 8px 10px !important;
    background-color: #e5e5e5 !important;
    border-radius: 5px;
    margin: 0px;
}

.boxdetail{
    max-width:300px;
    margin:0px auto 20px;
}
.col-sm-3 .card a{
    margin-bottom:20px;
    display:block;
} 
.roundbox{
    border-radius:50%;
    width:88px;
    height:88px;
    background:#e5e5e5;
    text-align:center;
    padding-top:20px;
    font-weight:bold;
    font-size:12px;
    margin:4px;
    float:left;
}
.roundbox i{
display:block;
}
.pull-right{
    float:right!important;
}

.martop0px{
    margin-top:0px;
}
.sidebarhead{
    font-size:20px;
    text-align:center;
    padding:10px 0px 5px 0px;
    text-transform:uppercase;
}

.timeline{
    position: relative;
    margin:0px auto;
    width:80%;
}
.timeline>li{
    padding: 0px 0px 5px 20px;
    margin-left: 0px;
    position: relative;
    list-style: none;
    width:100%;
    float:left;
}
.timeline>li::before{
    content:'';
    position: absolute;
    width: 1px;
    background-color: #E7E7E7;
    top: 0;
    bottom: 0;
    left:5px;
}

/*Circle*/
.timeline>li::after{
    text-align: center;
    padding-top:10px;
    z-index: 10;
    content:counter(item);
    position: absolute;
    width: 10px;
    height: 10px;
    border:0px solid white;
    background-color: #E7E7E7;
    border-radius: 50%;
    top:11px;
    left:0px;
    text-indent:-9999px;
}
.btn-pink{
background:#e72e77;
color:#ffffff!important;
}
.timeline li a{
    display:block;
}
.timeline li a .badge{
    float:right;
    margin-top:6px;
}
.btnplain{
  background:none;
  border:0px solid #fff;
  outline:none;
}
.btnplain i{
font-size:25px!important;
}
.accordion:hover{
    background-color: #fff;
}
.check1{
    float: right;  
}
.check1 i{
    color: green;
    float: right;
}
.checkbox{
    background-color: #fff;
    padding: 10px;
    margin:0px;
    border-bottom:1px solid #e5e5e5;
    border-radius:0px;
}
.positi_rel{
    position: relative;
    top: -16px;
    left: 5px;
}
.uparrow {
    display: none;
}
.downarrow{
    font-size: 30px;
    line-height: 30px;
}
.uparrow{
    font-size: 30px;
    line-height: 30px;
}

  .accordion.active .downarrow{
  display: none;
  }
  .accordion.active .uparrow{
  display:inline;
  }
  .mob_bot_mar{
      padding-left: 0 !important;
  }
  .mob_bot_mar11{
      padding-right: 0 !important;
  }


.material-button-anim {
  position: relative;
  text-align: right;
  margin: 0 auto 40px;
}

.material-button {
    position: relative;
    top: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    color: #fff;
    background: #2C98DE;
    border: none;
    border-radius: 50%;
    outline: none;
}
.material-button-toggle {
    z-index: 3;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding:0px;
}
.material-button-toggle span {
    -webkit-transform: none;
    transform:         none;
    -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
    transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}
.material-button-toggle.open {
   
}
.material-button-toggle.open span {
    -webkit-transform: rotate(45deg);
    transform:         rotate(45deg);
    -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
    transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}

#options {
  position:absolute;
  width:300px;
  right:-5px;
  margin-top:9px;
}

.option {
    position: relative;
display:none;
}
.option.scale-on{
    display:inline-block;
}
.option .option1,
.option .option2,
.option .option3 {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -webkit-transition: all .175s;
    transition:         all .175s;
}
.option .option1 {
    -webkit-transform: translate3d(90px,90px,0) scale(.8,.8);
    transform:         translate3d(90px,90px,0) scale(.8,.8);
}
.option .option2 {
    -webkit-transform: translate3d(90px,90px,0) scale(.8,.8);
    transform:         translate3d(90px,90px,0) scale(.8,.8);
}
.option .option3 {
    -webkit-transform: translate3d(90px,90px,0) scale(.8,.8);
    transform:         translate3d(90px,90px,0) scale(.8,.8);
}
.option.scale-on .option1, 
.option.scale-on .option2,
.option.scale-on .option3 {
    filter: blur(0);
    -webkit-filter: blur(0);
    -webkit-transform: none;
    transform:         none;
    -webkit-transition: all .175s;
    transition:         all .175s;
    display:block;
    background:#666;
    padding:0px;
}
.option.scale-on .option2 {
    -webkit-transform: translateY(-28px) translateZ(0);
    transform:         translateY(-28px) translateZ(0);
    -webkit-transition: all .175s;
    transition:         all .175s;
}

@keyframes toggleBtnAnim {
    0% {
        -webkit-transform: scale(1,1);
        transform:         scale(1,1);
    }
    25% {
        -webkit-transform: scale(1.4,1.4);
        transform:         scale(1.4,1.4); 
    }
    75% {
        -webkit-transform: scale(1.2,1.2);
        transform:         scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1.3,1.3);
        transform:         scale(1.3,1.3);
    }
}
@-webkit-keyframes toggleBtnAnim {
    0% {
        -webkit-transform: scale(1,1);
        transform:         scale(1,1);
    }
    25% {
        -webkit-transform: scale(1.4,1.4);
        transform:         scale(1.4,1.4); 
    }
    75% {
        -webkit-transform: scale(1.2,1.2);
        transform:         scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1.3,1.3);
        transform:         scale(1.3,1.3);
    }
}
@media(max-width:1024px){
    .marleft10px{
        font-size: 15px;
    }
   .roundbox i{
    position: relative;
    top: 8px;
   }
   .roundbox {
    width: 60px;
    height: 60px;
    font-size: 8px;
    padding-top: 6px;
}
.bg_red i {
    position: relative;
    top: 5px;
}
}
@media(max-width:812px){
    .marleft10px {
        margin-left: 0px;
    }
    .timeline {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        font-size: 13px;
    }
}
@media(max-width:768px){

.groupbox, .invitebox, .menubox{
    display:none;
}
.mobnopadd{
    padding:0px!important;
}
.mobnopaddltrt{
   padding-right:0px!important;
    padding-left:0px!important;
}
.serabar{
 padding-top:5px;
    padding-bottom:15px;
}
.arrowiconmob{
    max-width:36px;
}
    .list ul li{  
        margin-right: 30px;
    }
    .group_menu ul li{
        margin-right: 8px;
    }
    .group_menu{
        padding-bottom: 20px;
    }
    .mob_bot_mar{
        margin-bottom: 10px !important;
    }
    .guest{
        margin-top: 20px;
    }
    .mob_bot_mar{
        padding-left: 15px !important;
    }
    .mob_bot_mar11{
        padding-right: 15px !important;
    }
.roundbox{
    height: auto;
    background: #fff;
    padding-top: 00px;
}
.boxdetailmobile{
    margin:10px auto 10px!important;
}
.fixedpostioneddesktop{
    position: fixed;
    z-index: 9999;
    top: 60px;
    max-width: 803px;
    transition: 1s;
    box-shadow: 0px 5px 10px #ccc;
}
.tabbutton{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: block;
    width: 100%;
    padding: 0px;
    margin-bottom:15px;
    background: #ffffff;
    left:0px;
}
.tabbutton button.activebuttontab {
    background: #e72e77 !important;
    color: #fff !important;
}
.tabbutton button{
    border: 0px;
    border-bottom: 1px solid #fff;
    background: #fff;
    width: 25%;
    text-align: center;
    font-size: 14px;
    padding: 10px 0px;
    outline: none;
}
.max200px{
    max-width:200px!important;
}
.marleft10px {
    margin-left: 0px;
}
.martop0px{
   margin-left: 15px;
}
}
@media(max-width:767px){
  .mobnopadd {
      max-width: 100%;
  }
  .martop0px{
    margin-left: 0px;
}
.marleft10px {
    margin-left: 20px;
}
.guest {
    margin-top: 60px;
}
.max200px {
    max-width: 154px !important;
}
.mobwidth90{
    max-width: 97%;
    position: absolute;
}
}
@media(max-width:375px){
    .guest {
        margin-top: 70px;
    }
    .martop0px {
     margin-left: 0px;
    }
}

button.btn.btn-info.btn-lg.bg_red {
    padding: 0 8px 7px 8px !important;
    border-radius: 5px !important;
    color: #fff !important;
    border: none;
    font-size: 17px;
}
.modal-content {
    margin-top: 140px !important;
}
i.material-icons {
    top: 6px !important;
    padding: 0 3px !important;
}
.modal-dialog {
    padding: 0 100px !important;
}
select {
    border: 1px solid #ced4da;
    color: #222;
    border-radius: 2px;
    margin: 0 !important;
}
input#defaultContactFormName {
    margin: 0px 0 10px 0 !important;
}
.select_group1{
    padding-left: 0 !important;
}
.age_group{
    padding-right: 0 !important;
}
.check_box {
    margin-top: 40px;
    padding-left:0 !important;
}
input[type="checkbox"] {
    margin: 0 10px 0 0;
}
.blanck_box{
    margin-left: -26px !important;
}