<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <app-adminsidebar></app-adminsidebar>   
    </div>
    <div id="page-content-wrapper">    
        <div class="container-fluid nopadd Analytics">                    
            <app-adminnavbar></app-adminnavbar>
             <div class="container-fluid">

<div class="drag-container">
	<div class="row">
		<div class="col-md-12 search-div">
			<form _ngcontent-c1="" class="navbar-form navbar-right mt-1 search-bar" role="search">
                <div _ngcontent-c1="" class="position-relative has-icon-right">
                    <input _ngcontent-c1="" class="form-control round" placeholder="Search" type="text">
                    <div _ngcontent-c1="" class="form-control-position">
                        <i _ngcontent-c1="" class="ft-search"></i>
                    </div>
                </div>
            </form>
		</div>	
	</div>	
		
	<ul class="drag-list">
		<li class="drag-column drag-column-on-hold">
			<span class="drag-column-header">
				<h2><i class="ft-list mr-1"></i>To Dos</h2>
				<svg class="drag-header-more" data-target="options1" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>
			</span>
				
			<div class="drag-options" id="options1"></div>
			
			<ul class="drag-inner-list" id="1">
				<li class="drag-item">
					<div class="card item1">
			            <div class="card-block pt-3">
			              <div class="clearfix">
			                <h5 class="text-bold-500 primary float-left">Responsive1</h5>
			                <div class="actions float-right">
			                  <i class="ft-edit mr-1 info"></i>
			                  <i class="ft-trash-2 danger"></i>
			                </div>
			              </div>
			              <p>Etiam porta sem malesuada magna mollis euismod.</p>
			              <img class="rounded-circle width-50 mr-2" src="../../assets/img/avatar-s-3.png"> <span class="primary">May 17</span>
			            </div>
          			</div>
				</li>
				<li class="drag-item">
					<div class="card item1">
			            <div class="card-block pt-3">
			              <div class="clearfix">
			                <h5 class="text-bold-500 primary float-left">Responsive2</h5>
			                <div class="actions float-right">
			                  <i class="ft-edit mr-1 info"></i>
			                  <i class="ft-trash-2 danger"></i>
			                </div>
			              </div>
			              <p>Etiam porta sem malesuada magna mollis euismod.</p>
			              <img class="rounded-circle width-50 mr-2" src="../../assets/img/avatar-s-3.png"> <span class="primary">May 17</span>
			            </div>
          			</div>
				</li>
			</ul>
		</li>
		<li class="drag-column drag-column-in-progress">
			<span class="drag-column-header">
				<h2><i class="ft-trending-up mr-1"></i>In Progress</h2>
				<svg class="drag-header-more" data-target="options2" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>
			</span>
			<div class="drag-options" id="options2"></div>
			<ul class="drag-inner-list" id="2">
				<li class="drag-item">
					<div class="card item3">
			            <div class="card-block pt-3">
			              <div class="clearfix">
			                <h5 class="text-bold-500 primary float-left">Responsive3</h5>
			                <div class="actions float-right">
			                  <i class="ft-edit mr-1 info"></i>
			                  <i class="ft-trash-2 danger"></i>
			                </div>
			              </div>
			              <p>Etiam porta sem malesuada magna mollis euismod.</p>
			              <img class="rounded-circle width-50 mr-2" src="../../assets/img/avatar-s-3.png"> <span class="primary">May 17</span>
			            </div>
          			</div>
				</li>
				<li class="drag-item">
					<div class="card item3">
			            <div class="card-block pt-3">
			              <div class="clearfix">
			                <h5 class="text-bold-500 primary float-left">Responsive4</h5>
			                <div class="actions float-right">
			                  <i class="ft-edit mr-1 info"></i>
			                  <i class="ft-trash-2 danger"></i>
			                </div>
			              </div>
			              <p>Etiam porta sem malesuada magna mollis euismod.</p>
			              <img class="rounded-circle width-50 mr-2" src="../../assets/img/avatar-s-3.png"> <span class="primary">May 17</span>
			            </div>
          			</div>
				</li>
				<li class="drag-item">
					<div class="card item3">
			            <div class="card-block pt-3">
			              <div class="clearfix">
			                <h5 class="text-bold-500 primary float-left">Responsive5</h5>
			                <div class="actions float-right">
			                  <i class="ft-edit mr-1 info"></i>
			                  <i class="ft-trash-2 danger"></i>
			                </div>
			              </div>
			              <p>Etiam porta sem malesuada magna mollis euismod.</p>
			              <img class="rounded-circle width-50 mr-2" src="../../assets/img/avatar-s-3.png"> <span class="primary">May 17</span>
			            </div>
          			</div>
				</li>
			</ul>
		</li>
		<li class="drag-column drag-column-needs-review">
			<span class="drag-column-header">
				<h2><i class="ft-thumbs-up mr-1"></i>Completed</h2>
				<svg data-target="options3" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>
			</span>
			<div class="drag-options" id="options3"></div>
			<ul class="drag-inner-list" id="3">
				<li class="drag-item">
					<div class="card item6">
			            <div class="card-block pt-3">
			              <div class="clearfix">
			                <h5 class="text-bold-500 primary float-left">Responsive6</h5>
			                <div class="actions float-right">
			                  <i class="ft-edit mr-1 info"></i>
			                  <i class="ft-trash-2 danger"></i>
			                </div>
			              </div>
			              <p>Etiam porta sem malesuada magna mollis euismod.</p>
			              <img class="rounded-circle width-50 mr-2" src="../../assets/img/avatar-s-3.png"> <span class="primary">May 17</span>
			            </div>
          			</div>
				</li>
				<li class="drag-item">
					<div class="card item6">
			            <div class="card-block pt-3">
			              <div class="clearfix">
			                <h5 class="text-bold-500 primary float-left">Responsive7</h5>
			                <div class="actions float-right">
			                  <i class="ft-edit mr-1 info"></i>
			                  <i class="ft-trash-2 danger"></i>
			                </div>
			              </div>
			              <p>Etiam porta sem malesuada magna mollis euismod.</p>
			              <img class="rounded-circle width-50 mr-2" src="../../assets/img/avatar-s-3.png"> <span class="primary">May 17</span>
			            </div>
          			</div>
				</li>
				<li class="drag-item">
					<div class="card item6">
			            <div class="card-block pt-3">
			              <div class="clearfix">
			                <h5 class="text-bold-500 primary float-left">Responsive8</h5>
			                <div class="actions float-right">
			                  <i class="ft-edit mr-1 info"></i>
			                  <i class="ft-trash-2 danger"></i>
			                </div>
			              </div>
			              <p>Etiam porta sem malesuada magna mollis euismod.</p>
			              <img class="rounded-circle width-50 mr-2" src="../../assets/img/avatar-s-3.png"> <span class="primary">May 17</span>
			            </div>
          			</div>
				</li>
				<li class="drag-item">
					<div class="card item6">
			            <div class="card-block pt-3">
			              <div class="clearfix">
			                <h5 class="text-bold-500 primary float-left">Responsive9</h5>
			                <div class="actions float-right">
			                  <i class="ft-edit mr-1 info"></i>
			                  <i class="ft-trash-2 danger"></i>
			                </div>
			              </div>
			              <p>Etiam porta sem malesuada magna mollis euismod.</p>
			              <img class="rounded-circle width-50 mr-2" src="../../assets/img/avatar-s-3.png"> <span class="primary">May 17</span>
			            </div>
          			</div>
				</li>
			</ul>
		</li>
		<li class="drag-column drag-column-approved">
			<span class="drag-column-header">
				<h2><i class="ft-alert-octagon mr-1"></i>On Hold</h2>
				<svg data-target="options4" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>
			</span>
			<div class="drag-options" id="options4"></div>
			<ul class="drag-inner-list" id="4">
				<li class="drag-item">
					<div class="card item10">
			            <div class="card-block pt-3">
			              <div class="clearfix">
			                <h5 class="text-bold-500 primary float-left">Responsive10</h5>
			                <div class="actions float-right">
			                  <i class="ft-edit mr-1 info"></i>
			                  <i class="ft-trash-2 danger"></i>
			                </div>
			              </div>
			              <p>Etiam porta sem malesuada magna mollis euismod.</p>
			              <img class="rounded-circle width-50 mr-2" src="../../assets/img/avatar-s-3.png"> <span class="primary">May 17</span>
			            </div>
          			</div>
				</li>
				<li class="drag-item">
					<div class="card item10">
			            <div class="card-block pt-3">
			              <div class="clearfix">
			                <h5 class="text-bold-500 primary float-left">Responsive11</h5>
			                <div class="actions float-right">
			                  <i class="ft-edit mr-1 info"></i>
			                  <i class="ft-trash-2 danger"></i>
			                </div>
			              </div>
			              <p>Etiam porta sem malesuada magna mollis euismod.</p>
			              <img class="rounded-circle width-50 mr-2" src="../../assets/img/avatar-s-3.png"> <span class="primary">May 17</span>
			            </div>
          			</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
<section class="taskboard-app-form bg-blue-grey bg-lighten-5">
    <div class="card cardshadow">
      <div class="card-block pt-3">
        <h5 class="text-bold-500">Create new Task</h5>
        <form class="taskboard-app-input row">
          <fieldset class="form-group position-relative has-icon-left col-md-4 col-12 mb-1">
            <div class="form-control-position">
              <i class="icon-emoticon-smile"></i>
            </div>
            <input class="form-control" id="todoTitle" placeholder="Title" type="text">
            <div class="form-control-position control-position-right">
              <i class="ft-image"></i>
            </div>
          </fieldset>
          <fieldset class="form-group position-relative has-icon-left col-md-6 col-12 mb-1">
            <div class="form-control-position">
              <i class="icon-emoticon-smile"></i>
            </div>
            <input class="form-control" id="todoMessage" placeholder="Message" type="text">
            <div class="form-control-position control-position-right">
              <i class="ft-image"></i>
            </div>
          </fieldset>
         
          <fieldset class="form-group position-relative has-icon-left col-md-2 col-12 mb-1">
            <button class="btn btn-raised btn-primary" type="button">
              <i class="fa fa-paper-plane-o hidden-lg-up"></i> Create</button>
          </fieldset>
        </form>
      </div>
    </div>
  </section>






             </div>
             <app-foot></app-foot>
        </div>
    </div>
</div>