<div class="container-fluid footer_bg">
    <div class="col-md-3 col-sm-6 pad_lef">
        
        <button type="button" class="btn btn-info hide_menus" data-toggle="collapse" data-target="#demo">About Perfect Weddings
    
                <span class="hidden-lg hidden-sm arrowdash">
                        <i class="fa fa-angle-down"></i>
                        <i class="fa fa-angle-up"></i>
                    </span> 
        </button>  
        
        <ul id="demo" class="collapse padd_left" >
                
            <li><a routerLink="/home/FAQ" hreflang="es-mx">Frequently Asked Questions</a></li>
            <li><a routerLink="/home/TermsandConditions" hreflang="es-cl">Ts&Cs</a></li>
            <li><a routerLink="/home/contact"  hreflang="es-ar">Contact Us</a></li>
            <li><a routerLink="/home/Careers"  hreflang="pt-br">Careers</a></li>
        </ul>
            
    </div>
    <div class="col-md-2 col-sm-6 pad_lef">
 
        <button type="button" class="btn btn-info hide_menus" data-toggle="collapse" data-target="#demo1">Business Area
            <span class="hidden-lg hidden-sm arrowdash">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
        </button>
                     
        <ul class="collapse padd_left"  id="demo1">
            <li>
                 <a rel='nofollow' routerLink="/home/Advertise" > Advertise with us</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-6 pad_lef">
        <button type="button" class="btn btn-info hide_menus" data-toggle="collapse" data-target="#demo2">Download the app
            <span class="hidden-lg hidden-sm arrowdash">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
        </button>
        
        <ul class="collapse padd_left" id="demo2">
            <li>
                <a rel="nofollow" href="#">
                    <img src="https://s3.us-east-2.amazonaws.com/prefect-image/appstore_en.png" alt="iOs"/>
                </a>
            </li>
            <li class="mt10">
                <a rel="nofollow" href="#">
                    <img src="https://s3.us-east-2.amazonaws.com/prefect-image/googleplay_en.png" alt="Android"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 col-sm-6 pad_lef">
        <button type="button" class="btn btn-info hide_menus" data-toggle="collapse" data-target="#demo3">Follow us on 
        <span class="hidden-lg hidden-sm arrowdash">
            <i class="fa fa-angle-down"></i>
            <i class="fa fa-angle-up"></i>
        </span>
        </button>
        <ul class="footer-social padd_left collapse" id="demo3">
            <li>
            <a class="icon icon-footer-facebook icon-left" target="_blank" rel="nofollow" href="#">Facebook</a>
        </li>
            <li>
            <a class="icon icon-footer-twitter icon-left" target="_blank" rel="nofollow" href="#">Twitter</a>
        </li>
            <li>
            <a class="icon icon-footer-pinterest icon-left" target="_blank" rel="nofollow" href="#">Pinterest</a>
        </li>
            <li>
            <a class="icon icon-footer-instagram icon-left" target="_blank" rel="nofollow" href="#">Instagram</a>
        </li>
        </ul>
    </div>
    <div class="col-md-2 col-sm-6 pad_lef">       
        <button type="button" class="btn btn-info hide_menus" data-toggle="collapse" data-target="#demo4">
            Sitemap
            <span class="hidden-lg hidden-sm arrowdash">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
        </button>
            
        <ul class="collapse padd_left"  id="demo4"> 
                <li><a routerLink="/home/supplierbylocation">Supplier by Location</a></li>
                <!-- home/supplierbylocation -->
                <li><a routerLink="/home/weddingcategories">Supplier by Category</a></li>
        </ul>
    </div>
 </div>
 <div class="dark_footer" routerLink="../Admin/login"> 
    <img src="https://s3.us-east-2.amazonaws.com/prefect-image/heart.png"/> <span > Perfect Wedding © 2018 all rights reserved. </span>
 </div>