section {
    padding: 8rem 0;
  }
  
  .section-heading {
    margin-top: 0;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
  }
  
  ::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
  }
  
  img::selection {
    color: #fff;
    background: transparent;
  }
  
  img::-moz-selection {
    color: #fff;
    background: transparent;
  }
  