<div class="container">
    <div class="footer-info">
    <div class="wrapper">
        <div class="pure-g">
            <div class="pure-u-1-4">
                <p class="footer-info-title">Choose a country</p>
                <hr/>
                <div class="nav pure-g-r mt5">
                    <ul class="pure-u-1-2">
                        <li><strong>America</strong></li>
                        <li><a href="https://www.bodas.com.mx" title="Bodas México" hreflang="es-mx">Mexico</a></li>
                        <li><a href="https://www.matrimonios.cl" title="Matrimonios Chile" hreflang="es-cl">Chile</a></li>
                        <li><a href="https://www.casamientos.com.ar" title="Casamientos Argentina" hreflang="es-ar">Argentina</a></li>
                        <li><a href="https://www.casamentos.com.br" title="Casamentos Brasil" hreflang="pt-br">Brazil</a></li>
                        <li><a href="https://www.matrimonio.com.co" title="Matrimonio Colombia" hreflang="es-co">Colombia</a></li>
                        <li><a href="https://www.matrimonio.com.pe" title="Matrimonio Perú" hreflang="es-pe">Peru</a></li>
                        <li><a href="https://www.casamiento.com.uy" title="Casamiento Uruguay" hreflang="es-uy">Uruguay</a></li>
                        <li><a href="https://www.weddingwire.ca" title="Canada" hreflang="en-ca">Canada</a></li>
                        <li><a href="https://www.weddingwire.com" title="United States" hreflang="en-us">United States</a></li>
                    </ul>
                    <ul class="pure-u-1-2">
                        <li><strong>Europe</strong></li>
                        <li><a href="https://www.bodas.net" title="Bodas" hreflang="es">Spain</a></li>
                        <li><a href="https://www.mariages.net" title="Mariage" hreflang="fr">France</a></li>
                        <li><a href="https://www.matrimonio.com" title="Matrimonio" hreflang="it">Italy</a></li>
                        <li><a href="https://www.weddingwire.co.uk" title="Wedding" hreflang="en-gb">United Kingdom</a></li>
                        <li><a href="https://www.casamentos.pt" title="Casamentos" hreflang="pt">Portugal</a></li>

                    </ul>

                </div>
            </div>

            <div class="pure-u-1-4">
                <div class="pure-s">
                    <p class="footer-info-title">Information</p>
                    <hr/>
                    <ul>
                        <li>
                            <a rel='nofollow' href='https://www.weddingwire.in/contactar.php'>Contact us</a>
                        </li>
                        <li>
                            <a rel='nofollow' href='https://www.weddingwire.in/legal-terms.php'>Legal terms</a>
                        </li>
                        <li>
                            <a rel="nofollow" href="https://www.weddingwire.in/emp-Acceso.php">Register your business</a>
                        </li>
                        <li>
                            <a rel='nofollow' href='https://www.weddingwire.in/aboutus/aboutus.php'>About us</a>
                        </li>
                        <li>
                            <a href="https://www.weddingwire.in/wedding-website">Wedding website</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pure-u-1-4">
                <div class="pure-s">
                    <p class="footer-info-title">Download the app</p>
                    <hr/>
                    <ul>
                        <li>
                            <a rel="nofollow" href="https://app.appsflyer.com/id1113572866?pid=WP-iOS-IN&c=WP-IN-LANDINGS&s=in">
                                <img src="https://cdn1.weddingwire.in/assets/img/footer/appstore_en.png" srcset="https://cdn1.weddingwire.in/assets/img/footer/appstore_en.png 1x,
                                                https://cdn1.weddingwire.in/assets/img/footer/appstore_en@2x.png 2x" />
                            </a>
                        </li>
                        <li class="mt10">
                            <a rel="nofollow" href="https://app.appsflyer.com/in.co.weddings.launcher?pid=WP-Android-IN&c=WP-IN-LANDINGS">
                                <img src="https://cdn1.weddingwire.in/assets/img/footer/googleplay_en.png" srcset="https://cdn1.weddingwire.in/assets/img/footer/googleplay_en.png 1x,
                                                https://cdn1.weddingwire.in/assets/img/footer/googleplay_en@2x.png 2x" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pure-u-1-4">
                <div class="pure-s">
                    <p class="footer-info-title">Follow us on</p>
                    <hr/>
                    <ul class="footer-social">
                        <li><a class="icon icon-footer-facebook icon-left" rel="nofollow" href="https://www.facebook.com/weddingwireindia">Facebook</a></li>
                        <li><a class="icon icon-footer-twitter icon-left" rel="nofollow" href="https://twitter.com/weddingwire_in">Twitter</a></li>
                        <li><a class="icon icon-footer-pinterest icon-left" rel="nofollow" href="https://pin.it/TObeoPW">Pinterest</a></li>
                        <li><a class="icon icon-footer-instagram icon-left" rel="nofollow" href="https://www.instagram.com/weddingwireindia/?hl=en">Instagram</a></li>
                    </ul>
                </div>
                <div class="mt25 mr60 fleft text-center">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>