ul{
	list-style:none;
}
.lisa-amold{
	background:#fff;
	border:1px solid #ccc;
	padding: 10px 20px;
	margin: 10px 20px;
}
.fa{
	color:#1565c0;
	font-size:18px;
	margin: 0 10px !important;
}
img {
    width: 186px;
}
.reset-password{
	text-align:right;
}
ul.second-ul {
    margin-top: 24px !important;
}
ul.second-ul li{
   color:#9195a4;
}
ul.first-ul b{
	font-weight:600;
}
ul.first-ul li, h4{
	color: #3e445e;
    font-weight: 600;
}
ul.reset-password {
    position: absolute;
    right: 0;
}
.row{
	position: relative;
}






