.logo_icon{
   // background-image: url("../../../assets/img/logo_head.png");
    background-repeat: no-repeat;
    background-color:#fff;
    padding-left: 26px;
    height: 58px;
    color: #ec2124!important;
    background-size: 16%;
    background-position: 20px center;
    font-size: 16px;
    display: block;
    line-height: 58px;
    text-transform: uppercase;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 235px;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100% !important;
  }
  .sidebar-nav li {
    text-indent: 10px;
    line-height: 50px!important;
    font-size:16px!important;
    height:50px!important;
  }

  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff!important;
    text-align:left;
  }
  .sidebar-nav li:hover{background: #2196f3!important;}
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  .sidebar-nav>.sidebar-brand a .material-icons{top: 5px!important;
  position: relative;
  }
  .sidebar-nav>.sidebar-brand a {
    color: #999999;
  }
  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }
  .lm_bg{
    background: url("https://s3.us-east-2.amazonaws.com/prefect-image/imgpsh_fullsize.jpeg"); 
    height:100%; 
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}
.lm_bg:before {
   background: rgba(0, 46, 119, 0.8) !important;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    max-width:280px;
    left:0px;
}
.lm_top_head{
    height: 60px;
    text-align: center;
    width: 100%;
    border-right: 1px solid #ccc;
    font-weight: 600;
    border-bottom: 1px solid #e6eaee;
    margin-bottom:0px!important;
}
@media only screen and (max-width: 767px) {
    .lm_top_head{height: 70px;}
}
.colour{
  background-color: #2196f3;
}