<div class="lm_bg">
  <ul class="sidebar-nav" id="testDiv">         
    <h4 class="lm_top_head" routerLink="../../home">WEDDING</h4> 
          <li class="sidebar-brand" id="dashboard">
            <a routerLink="../dashboard">
                <i class="material-icons">dashboard</i>
                Dashboard
            </a>
          </li>
          <li class="sidebar-brand" id="business">  
            <a routerLink="../taskboard" >
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                     Taskboard 
                </a>
          </li>
          <li class="sidebar-brand" id="location_on">
               <a routerLink="../Useraccountlist" >
                <i class="material-icons">location_on</i>
                User Accounts 
            </a>
          </li>
           <li class="sidebar-brand" id="stars">
            <a routerLink="../Email" >
                <i class="material-icons">stars</i>
                Messages </a>
          </li>   
            <li class="sidebar-brand" id="card_membership">
                  <a routerLink="../Tickets" >
                          <i class="material-icons">card_membership</i>
                          Tickets</a>
          </li>  
           <li class="sidebar-brand" id="event_available">
                  <a routerLink="../advertising" >
                      <i class="material-icons">event_available</i>
                      Advertising</a>
          </li>
              <li class="sidebar-brand" id="Calender">
                  <a routerLink="../Customerbillings">
                          <i class="material-icons">event_note</i>
                         Invoices</a>
          </li>
          <li class="sidebar-brand" id="Calender">
                  <a routerLink="../Events">
                          <i class="material-icons">event_note</i>
                         Event Management</a>
          </li>
          <li class="sidebar-brand" id="Calender">
                  <a routerLink="../tipsandartical">
                          <i class="material-icons">event_note</i>
                         Tips & Articles</a>
          </li>
          <li class="sidebar-brand" id="Calender">
                  <a routerLink="../Reviewandfeedback">
                          <i class="material-icons">event_note</i>
                         Vendor Reviews</a>
          </li>
          <li class="sidebar-brand" id="Calender">
                  <a routerLink="../site-feedback">
                          <i class="material-icons">event_note</i>
                         Site Feedback</a>
          </li>
          <li class="sidebar-brand" id="Calender">
                  <a routerLink="../Adminusers">
                          <i class="material-icons">event_note</i>
                         Admin Users</a>
          </li>
          <li class="sidebar-brand" id="Calender">
              <a routerLink="../Sitestats">
                <i class="material-icons">event_note</i>
                  Stats & Reports
              </a>
          </li>
      </ul>
  </div>
  