
<div class="lm_bg">
     
  <ul class="sidebar-nav" id="testDiv">         
    <h4 class="lm_top_head" routerLink="../../home">  WEDDING</h4> 
          <li class="sidebar-brand" id="dashboard">
            <a routerLink="../dashboard">
                <i class="material-icons">dashboard</i>
                Dashboard
            </a>
          </li>
          <li class="sidebar-brand" id="business">  
                <a routerLink="../Useraccountlist" >
                    <i class="material-icons">business</i>
                     Manage user & supplier 
                </a>
          </li>
          <li class="sidebar-brand" id="location_on">
            <a routerLink="../Customerbillings" >
                <i class="material-icons">location_on</i>
                Customer Billings 
            </a>
          </li>
           <li class="sidebar-brand" id="stars">
            <a routerLink="../advertising" >
                <i class="material-icons">stars</i>
                Onsite Advertising </a>
    
          </li>   
            <li class="sidebar-brand" id="card_membership">
                  <a routerLink="../Events" >
                          <i class="material-icons">card_membership</i>
                          Events Management  </a>
                  <!-- routerLink="../Membership" -->
  
          </li>  

           <li class="sidebar-brand" id="event_available">
                  <a routerLink="../tipsandartical" >
                      <i class="material-icons">event_available</i>
                      Tips and Article  </a>
          </li>
           
              <li class="sidebar-brand" id="Calender">
                  <a routerLink="../Sitestats">
                          <i class="material-icons">event_note</i>
                          Site Stats & Reports </a>
              
          </li>

    <!--       <li class="sidebar-brand" id="Services">          
               <a routerLink="../Calenderandnotes" >
                  <i class="material-icons">work</i>
                  Calendar& Notes  </a>
          </li>
          <li class="sidebar-brand" id="message">
                  
                  <a routerLink="../Messageschat">
                      <i class="material-icons">message</i>
                      Messages</a>
          </li>
          <li class="sidebar-brand" id="photo_album">
  
                      
              <a routerLink="../Email" > 
                  <i class="material-icons">photo_album</i>
                  Emails </a>
              <!- routerLink="../gallery" -->
       <!--    </li>
          <li class="sidebar-brand" id="play_circle_outline">
                          
              <a routerLink="../Tickets" >
                  <i class="material-icons">play_circle_outline</i>
                  Tickets </a>
          </li>
             
         
      
          <li class="sidebar-brand"  id="Promotions">
  
                  <a routerLink="../Adminusers" >
                          <i class="material-icons">calendar_view_day</i>
  
                          Admin Users </a>
                  
          </li> --> 
      </ul>
  </div>
  