<div class="container-fluid nopadd tool_icons">
    <div class="col-md-2">
      <a routerLink="../Timeline">
        <div class="sim-button button12">
          <p><img src="../../assets/img/wedding-ring.png"></p>
          <p>My Wedding</p>
        </div>
      </a>   
    </div>
    <div class="col-md-2">
      <a routerLink="../Inspirations">
        <div class="sim-button button12">
            <p><img src="../../assets/img/lightbulb (1).png"></p>
            <p>My Inspirations</p>
        </div>
      </a>   
    </div>
    <div class="col-md-2">
      <a routerLink="../Bookmarks">
        <div class="sim-button button12">
            <p><img src="../../assets/img/checklist.png"></p>
            <p>CheckList</p>
        </div>
      </a>   
    </div>
    <div class="col-md-2">
      <a routerLink="../vendor">
        <div class="sim-button button12">
            <p><img src="../../assets/img/tools-and-utensils.png"></p>
            <p>My Suppliers</p>
        </div>
      </a>   
    </div>
    <div class="col-md-2">
        <a routerLink="../GuestList">
          <div class="sim-button button12">
            <p><img src="../../assets/img/wedding.png"></p>
            <p>Guest list</p>
          </div>
        </a>   
    </div>
    <div class="col-md-2">
      <a routerLink="../Budget">
        <div class="sim-button button12">
            <p><img src="../../assets/img/budget.png"></p>
            <p>Budget Planner</p>
        </div>
      </a>   
    </div>
    <div class="col-md-2">
        <a routerLink="../UserReviews">
          <div class="sim-button button12">
          <p><img src="../../assets/img/review.png"></p>
          <p>My Reviews</p></div>
        </a>
    </div>
</div>


