
<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
       
            <app-adminsidebar></app-adminsidebar>
        
    </div>
    <div id="page-content-wrapper">    
        <div class="container-fluid nopadd">                    
            <app-adminnavbar></app-adminnavbar>
                      

<section class="taskboard-app-form bg-blue-grey bg-lighten-5">
    <div class="card">
      <div class="card-block pt-3">
        <h5 class="text-bold-500">Search by</h5>
        <form class="taskboard-app-input row">
          <fieldset class="form-group position-relative has-icon-left col-md-4 col-12 mb-1">
            <div class="form-control-position">
              <i class="icon-emoticon-smile"></i>
            </div>
            <input class="form-control" id="todoTitle" placeholder="Title" type="text">
            <div class="form-control-position control-position-right">
              <i class="ft-image"></i>
            </div>
          </fieldset>
          <fieldset class="form-group position-relative has-icon-left col-md-4 col-12 mb-1">
            <div class="form-control-position">
              <i class="icon-emoticon-smile"></i>
            </div>
            <input class="form-control" id="todoMessage" placeholder="Event type" type="text">
            <div class="form-control-position control-position-right">
              <i class="ft-image"></i>
            </div>
          </fieldset>
          <fieldset class="form-group position-relative has-icon-left col-md-4 col-12 mb-1">
            <div class="form-control-position">
              <i class="icon-emoticon-smile"></i>
            </div>
            <input class="form-control" id="todoMessage" placeholder="Email" type="text">
            <div class="form-control-position control-position-right">
              <i class="ft-image"></i>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
 
        
    <div class="card-body">
        <div class="card-block table-responsive">
            <table class="table table-bordered table-striped">
               <tr>
                 <th>Ticket ID</th>
                 <th>Type</th>
                 <th>Item ID</th>
                 <th>Class</th>
                 <th>DATE</th>
                 <th>NAME</th>
                 <th>DETAILS</th>
              </tr>
              <tr>
                 <th>Ticket ID</th>
                 <th>Type</th>
                 <th>Item ID</th>
                 <th>Class</th>
                 <th>DATE</th>
                 <th>NAME</th>
                 <th>DETAILS</th>
              </tr>
              <tr>
                 <th>Ticket ID</th>
                 <th>Type</th>
                 <th>Item ID</th>
                 <th>Class</th>
                 <th>DATE</th>
                 <th>NAME</th>
                 <th>DETAILS</th>
              </tr>
              <tr>
                 <th>Ticket ID</th>
                 <th>Type</th>
                 <th>Item ID</th>
                 <th>Class</th>
                 <th>DATE</th>
                 <th>NAME</th>
                 <th>DETAILS</th>
              </tr>
              <tr>
                 <th>Ticket ID</th>
                 <th>Type</th>
                 <th>Item ID</th>
                 <th>Class</th>
                 <th>DATE</th>
                 <th>NAME</th>
                 <th>DETAILS</th>
              </tr>
              <tr>
                 <th>Ticket ID</th>
                 <th>Type</th>
                 <th>Item ID</th>
                 <th>Class</th>
                 <th>DATE</th>
                 <th>NAME</th>
                 <th>DETAILS</th>
              </tr>                                     
            </table>
        </div>
    </div>



        
            <app-foot></app-foot>
        </div>
    </div> 
</div>



    
    

<router-outlet></router-outlet> 