<app-menu></app-menu>
<app-tool></app-tool>



         <section class=" account_page container-fluid mobilefixedcontainer">
             <div class="row mobpadd marbot40px">
                <div class="col-sm-12 mobpadd">
                    <div class="mypreference_box">
                        <div class="text-center">
                                <h5> <strong>MY Wedding Preferences</strong> </h5>

                                <div class="clearfix"></div>

                                 <div class="fifthdiv">
                                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/user_icon.png">
                                       <button>
                                           <i class="material-icons">edit</i>
                                       </button>
                                       <h2>Color</h2>
                                       <h1>Black</h1>
                                 </div>
                                 <div class="fifthdiv">
                                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/user_icon.png">
                                       <button>
                                           <i class="material-icons">edit</i>
                                       </button>
                                        <h2>Season</h2>
                                       <h1>Spring</h1>
                                 </div>
                                 <div class="fifthdiv">
                                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/user_icon.png">
                                       <button>
                                           <i class="material-icons">edit</i>
                                       </button>
                                       <h2>Style</h2>
                                       <h1>Vintage</h1>
                                 </div>
                                 <div class="fifthdiv">
                                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/user_icon.png">
                                       <button>
                                           <i class="material-icons">edit</i>
                                       </button>
                                       <h2>Dress</h2>
                                       <h1>...</h1>
                                 </div>
                                 <div class="fifthdiv">
                                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/user_icon.png">
                                       <button>
                                           <i class="material-icons">edit</i>
                                       </button>
                                       <h2>Honeymoons</h2>
                                       <h1>Bali</h1>
                                 </div>

                        </div>
                    </div>
                </div>



            </div>
            <div class=" row mobpadd">
                <div class="col-md-6 co-sm-12 mobpadd">
                    <div class="myaco_box">
                        <div class="aco_info text-center">
                           <img src="https://s3.us-east-2.amazonaws.com/prefect-image/user_icon.png">
                            <button class="editbtn">
                                <i class="material-icons">edit</i>
                            </button>
                            <h5><strong>MY PERSONAL INFORMATION</strong></h5>
                            <button data-toggle="modal" data-target="#setting" class="settingbtnabsolute">
                                <i class="material-icons ">settings</i>
                            </button>
                                
                            <div class="bridegroomlable">Bride</div>
                                
                        </div>
                        <div class="name_info">
                            <p>
                                <strong>First Name</strong><br/>  
                               dgvfddf</p>
                            <p> 
                                <strong>Last Name</strong><br/>
                            dfvdgv
                            </p>
                            <p>
                                <strong>Telephone Number</strong><br/>
                              dxfvdzf
                            </p>
                            <p>
                                <strong>Email</strong>   
                               &nbsp;&nbsp;<a class="linktext" data-toggle="modal" data-target="#cPassword">Change Password</a><br/>
                               user@gmail.com
                            </p>
                           
                        </div>
                        <div class="updatebt text-center">
                            <button  data-toggle="modal" data-target="#photo_ved">Update Profile
                            </button>
                        </div>
                    </div>





                    <div class="myaco_box">
                        <div class="aco_info text-center">
                              <h5> <strong>ABOUT MY PARTNER</strong> </h5>  

                              <div class="bridegroomlable">
                                Groom
                              </div> 
                        </div>

                        <div class="col-sm-3">
                             <img src="https://s3.us-east-2.amazonaws.com/prefect-image/user_icon.png">
                        </div>
                        <div class="col-sm-9 name_info setnameinfo">
                            <p>
                                <strong>First Name</strong><br/>  
                               dgvfddf</p>
                            <p> 
                                <strong>Last Name</strong><br/>
                            dfvdgv
                            </p>
                           
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 updatebt text-center">
                            <button  data-toggle="modal" data-target="#photo_ved">Update Profile
                            </button>
                        </div>
                    </div>
                </div>

               
                <div class="col-md-6 mobpadd">
                    <div class="col-md-12 mem_detail">
                        <h1>
                            <img src="https://s3.us-east-2.amazonaws.com/prefect-image/Venues.svg"/>
                            <div class="clearfix"></div>
                            MY WEDDING DETAILS
                        </h1>


                        <div class="col-xs-12 mem_detailinner">
                            <div class="div70px">
                            <i class="material-icons">location_city</i>
                            </div>
                             <div class="divsetwidth">
                                <h2>I,M GETTING MARRIED IN</h2>
                                <p>Perth, Western Australia<br/>
                                    Australia <a href="#" class="linktext">Change</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 mem_detailinner">
                            <div class="div70px">
                            <i class="material-icons">date_range</i>
                            </div>
                            <div class="divsetwidth">
                                <h2>Wedding Date</h2>
                                <p>16/03/2019
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 mem_detailinner">
                            <div class="div70px">
                            <i class="material-icons">date_range</i>
                            </div>
                             <div class="divsetwidth">
                                <h2>NUMBER OF GUESTS</h2>
                                <p>300
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 mem_detailinner">
                            <div class="div70px">
                            <i class="material-icons">date_range</i>
                            </div>
                            <div class="divsetwidth">
                                <h2>WEDDING VENUE</h2>
                                <p>NAME OF HALL, HOTEL
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 mem_detailinner">
                            <div class="div70px">
                            <i class="material-icons">date_range</i>
                            </div>
                             <div class="divsetwidth">
                                <h2>ESTIMATED COST</h2>
                                <p>RS 2,000,000
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 mem_detailinner">
                            <div class="div70px">
                            <i class="material-icons">date_range</i>
                            </div>
                            <div class="divsetwidth minheight92px">
                                <h2>ABOUT THE WEDDING</h2>
                                <p>Write a quick note about your big day!
                                </p>
                            </div>
                        </div>



                          <div class="updatebt text-center">
                            <button  data-toggle="modal" data-target="#photo_ved">Update Profile
                            </button>
                        </div>
                    </div>


                  <!--   <div class="col-md-12 mem_detail">
                        <div class="col-md-4 col-xs-12 co-sm-12">
                            <img src="https://s3.us-east-2.amazonaws.com/prefect-image/card_icon.png">
                        </div>
                        <div class="col-md-8">
                            <div class="member_name"> <h5><strong> MEMBERSHIP</strong> </h5>  </div>
                            <p>Member since : July 2018 (1 Month)</p>
                            <p class="col_green">Expiry : 5 August 2020( Active) </p>
                            <p>Plan type: <span>Free</span> <span class="upgrade"><a href="../membership"> Upgrade now </a> </span> </p>
                        </div>
                    </div> -->
                   <!--  <div class="col-md-12 mem_detail">
                            <div class="col-md-4">
                                 <img src="https://s3.us-east-2.amazonaws.com/prefect-image/password_icon.png">
                            </div>
                            <div class="col-md-8">
                                <div class=""> <h5><strong> ACCOUNT PASSWORD</strong>  </h5> 
                                    <div class="updatebt mar_top_20px">
                                        <button data-toggle="modal" data-target="#cPassword">Change Password</button>
                                    </div>
                                </div>
                            </div>
                    </div> -->
                   <!--  <div class="col-md-12 mem_detail">
                        <div class="col-md-4">
                            <img  class="img-responsive" src="https://s3.us-east-2.amazonaws.com/prefect-image/invoice_icon.png">
                        </div>
                        <div class="col-md-8">
                            <div class=""> <h5> <strong>BILLING & INVOICES</strong> </h5> 
                                <div class="updatebt mar_top_20px">
                                    <a routerLink="../invoice"  class="linkbutton">View</a>
                              
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <app-foot></app-foot>
        <router-outlet></router-outlet>
  



<div class="modal fade" id="photo_ved" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="card-title">Personal Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">   
                <div class="card">         
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-effect form-group md-form ">
                                    <input class="effect-16 validate" type="text" placeholder="" required="required">
                                    <label>First Name</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-effect form-group md-form ">
                                        <input class="effect-16 validate" type="text" placeholder="" required="required">
                                        <label>Last Name</label>
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                        </div>                                      
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-effect form-group md-form ">
                                    <input class="effect-16 validate" type="text" placeholder="" required="required">
                                    <label>Phone Number</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                        </div>                     
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-effect form-group md-form ">
                                    <input class="effect-16 validate" type="email" placeholder="" required="required">
                                    <label>Email</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-effect form-group md-form ">
                                    <input class="effect-16 validate" type="text" placeholder="" required="required">
                                    <label>Website</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                            <div class="form-group">
                                <div class="input-effect form-group md-form ">  
                                    <input class="effect-16 validate"  required="required">
                                    <label>About Me</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            </div>
                        </div>
                    <div class="col-md-12">
                       <span><input type="checkbox">&nbsp; Setting &nbsp;  </span> 
                       <span> <input type="checkbox">&nbsp; Enable </span>
                    </div>

                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>    

<div class="modal fade" id="cPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="card">         
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-effect form-group md-form ">
                                        <input class="effect-16 validate" type="password" placeholder="" required="required">
                                        <label>Old Password</label>
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-effect form-group md-form ">
                                            <input class="effect-16 validate" type="password" placeholder="" required="required">
                                            <label>New Password</label>
                                            <span class="focus-border"></span>
                                        </div>
                                    </div>
                            </div>                                      
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-effect form-group md-form ">
                                        <input class="effect-16 validate" type="password" placeholder="" required="required">
                                        <label>Confirm Password</label>
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-12">
                                <div class="form-group">
                                    Premium members only. 
                                    <a href="../membership">Upgrade</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                      &nbsp;&nbsp;
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>    
    
<div class="modal fade" id="setting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">SUBSCRIPTION SETTINGS</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 nopadd">
                            <div class="container">
                               
                                <div class="row">
                                    <div class="col-xs-12">
                                            <div class="switbtn">
                                                <ui-switch  id="receiveUpdates" name="receiveUpdates">
                                                    
                                                </ui-switch>
                                                <span class="texthead">Receive Updates</span>
                                            </div>
                                            
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="switbtn">
                                                <ui-switch  id="marketingMails" name="marketingMails">
                                                    
                                                </ui-switch>
                                                <span class="texthead">Marketing Mails</span>
                                            </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="switbtn">
                                                <ui-switch  id="notifications" name="notifications"></ui-switch>
                                                <span class="texthead">Notifications</span>
                                            </div>
                                    </div>
                                </div>
                                
                            </div>
                        
                    </div>
                </div>
               <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                      &nbsp;&nbsp;
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>    
    <!--mail popup -->
