<div id="wrappervendor" class="">
  <app-menu></app-menu>
	<div class="container mobnopadd ipad100">
	  	<div class="col-sm-12 detail_page nopadd">
		   <div class="card inspirationhead">
	  			<a routerLink="../Photogallary" class="backlink"> 
		            <i class="material-icons">arrow_back_ios</i>
		            Go Back
		        </a>
      			<h2 class="text-center">Album Name</h2>
   			</div>
	    </div>
	 <div class="boxLightStyles">
	   		<div class="container row martop15px">
		        <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
		        <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
		        <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
		       <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
		        <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
		      <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
		        <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
		        <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
		       <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
		        <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
		      <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
		        <div class="col-6 col-sm-3">
		             <a data-fancybox="gallery" href="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg">
		              <div class="thumbnail text-center">
		              	<img src="https://s3.amazonaws.com/ooomf-com-files/lqCNpAk3SCm0bdyd5aA0_IMG_4060_1%20copy.jpg" alt="...">
		              </div>
		          	</a>
		        </div>
			</div>
		</div>


</div>

<app-foot></app-foot>

</div>
<router-outlet></router-outlet>