/* You can add global styles to this file, and also import other style files */
body{
  padding-right: 0px!important;
}
#supplierscarousel .owl-dots{
  display:none!important;
}
.nopadd{
  padding: 0px;
}
#supplierscarousel .owl-nav .owl-next{
    right: -50px!important;
    left: inherit!important;
    float: left;
    width: 30px;
    height: 30px;
    outline: none!important;
    border-radius: 50%;
    border:0px solid #e5e5e5;
    font-size: 40px;
    background: #fff;
   }
.notification-dropdown .noti-list{
  height:inherit!important;
}
.notification-dropdown{
   top:40px!important;
   min-width:350px!important;
   width:100%!important;
   z-index:999!important;
}
   #supplierscarousel .owl-nav .owl-next:hover{
    box-shadow: 0px 0px 10px #e5e5e5!important;
   }
#supplierscarousel .owl-nav .owl-next span{
    top: -2px!important;
    position: absolute!important;
    right: 7px!important;
  }
.ngx-charts-outer {
    display: table!important;
   }
    .chart-legend {
        width: 100% !important;
        display: table-header-group!important;
        text-align: center;
    }
    .chart-legend div:first-child {
      margin: 0px auto!important;
      width:100%!important;
    }
     .chart-legend div:first-child ul li {
      float: left;
      display: inline-block;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .chart-legend .legend-label-text{
      line-height: 28px!important;
    }
    .maxwidth850px{
      max-width: 850px!important;
      margin:0px auto!important;
    }
    .chart-legend .legend-labels{
      background: transparent!important;
      margin: 0px auto;
      float: inherit!important;
      max-width: 170px;
    }
    .chart-legend .legend-wrap{
      width: 100%!important;
    }
    .legend-title{
      display: none!important;
    }
     .ngx-charts {
        float: none !important;
        margin:0px auto;
        position: relative !important;
        display: table-footer-group!important;
    }

.pagination{
  margin: 15px auto;
  width:max-content!important;
}
.pagination>li>a, .pagination>li>span {
    padding: 6px 12px;
    margin-left: 3px!important;
    margin-right: 3px!important;
    color: #333;
    background-color: transparent;
    border: 0px solid #ddd!important;
    font-weight: bold;
}
.pagination>li>a:hover{
  border-radius: 5px;
}
.page-item.active .page-link{
  border-radius: 5px;
}
#supplierscarousel .owl-nav .owl-prev{
  left: -50px!important;
  right: inherit!important;
    float: right;
    width: 30px;
    height: 30px;
    outline: none!important;
    border-radius: 50%;
    border:0px solid #e5e5e5;
    font-size: 40px;
    background: #fff;
   }
   #supplierscarousel .owl-nav .owl-prev:hover{
 box-shadow: 0px 0px 10px #e5e5e5;
   }
#supplierscarousel .owl-nav .owl-prev span{
    top: -2px!important;
    position: absolute!important;
    right: 9px!important;
  }
#supplierscarousel .owl-nav .owl-prev.disabled, #supplierscarousel .owl-nav .owl-next.disabled{
  opacity: .3;
}

.star-icon.half100:before{
top:2px!important;
}
#detailpagecarousel .owl-dots{
    display:none!important;
}

#detailpagecarousel .owl-nav .owl-next{
color: #fff;
font-size: 90px;
right: 10px;
outline: none;
    }
#detailpagecarousel .owl-nav .owl-prev{
color: #fff;
font-size: 90px;
left: 10px;
outline: none;
}


#albumgallarypopup .owl-dots{
    display:none!important;
}

#albumgallarypopup .owl-nav .owl-next{
color: #fff;
font-size: 90px;
right: 10px;
outline: none;
    }
#albumgallarypopup .owl-nav .owl-prev{
color: #fff;
font-size: 90px;
left: 10px;
outline: none;
}



.text-bold{
    font-weight: bold;
}
.positionfixed{
  position: fixed!important;
  overflow: hidden;
}
.cal-month-view .cal-day-cell{
  min-height:69px!important;
}
.cal-month-view .cal-cell-top {
    min-height:inherit!important;
    flex: 1;
}
.calendartabjob .nav.nav-pills{
  width: 220px!important;
  margin: 0px auto!important;
}
.calendartabjob .nav>li>a{
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.slidemenu{
  margin-left: 0px;
  right:inherit;
  transition: .5s;
  position:inherit;
}
.ct-label{
  font-size:14px!important;  
}
.membershipsilder .carousel-item{
  width:33%!important;
  display:block!important;
  float: left;
  padding: 0px 15px!important;
}
.calendartabjob .nav-link.active{
  background: #36cbf0!important;
}
.even_picker .input-group-text{
  padding: 8px 10px !important;
}
.gradint_blue{
    background: linear-gradient(40deg,#5e97f3,#0277bd )!important;
    color: #fff!important;
  }
.borderradius{
    border-radius:20px!important;
  }
h4.navdrandm{
    float: left !important;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
    color:#36cbf0;
    margin:0px;
    padding:0px;
    text-transform: uppercase!important;
}
.nav-link a i.material-icons{
  color: #000000!important;
}
.inslide{
    margin-left:280px!important;
   /* position: fixed!important;*/
    width: 100%;
}
.rtslide{
    margin-left:-280px!important;
   /* position: fixed!important;*/
    width: 100%;
}
.rtslide111{
    margin-left:0px!important;
   /* position: fixed!important;*/
    width: 100%;
}
.rtslide333{
    margin-left:-250px!important;
 /* position: fixed!important;*/
    width: 100%;
}
.switch-medium{
  width: 40px!important;
  height: 20px!important;
    }
  .switch-medium small{
  width:20px!important;
  height: 20px!important;
  }
.headernav{margin-bottom: 0px!important;}

.modal-content{background: #fff!important;
box-shadow: none!important;
border:0px solid #fff!important;
}
.loginboxmodal .modal-content{
  background:transparent!important;
  }
  .modal.fade{
    opacity:1;
  }
  .modal.fade .modal-dialog {
     -webkit-transform: translate(0);
     -moz-transform: translate(0);
     transform: translate(0);
  }
.user_sign_span{
  transition: opacity 0.5s; 
  width: 100%;
}
.searchbar select{
  background-color: #ffffff!important;
}
.user_login_form{
  font-size: 16px; 
  line-height: 24px;
  width: 100%; 
  height: 48px; 
  display: inline-block; 
  position: relative; 
  background-color: 
  transparent; font-family: Roboto, sans-serif; 
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  cursor: auto;
}
.modal-dialog {
  max-width: 750px!important;
  margin: 1.75rem auto;
}

.user_login_form input{
  padding: 0px; 
  position: relative; 
  width: 100%; border: none; 
  outline: none; 
  background-color: rgba(0, 0, 0, 0); 
  color: rgba(0, 0, 0, 0.87); 
  cursor:inherit; 
  font-style: inherit; 
  font-variant: inherit; 
  font-weight: inherit; 
  font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; opacity: 1; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%;
}
.modal.fade.show{
   background-color: rgba(0, 0, 0, .5)!important; 
}
.modal-backdrop{
  background: transparent!important;
}

.user_login_hr{
  border-top: none rgb(215, 215, 215); border-left: none rgb(215, 215, 215); 
  border-right: none rgb(215, 215, 215); border-bottom: 1px solid rgb(215, 215, 215); bottom: 8px; box-sizing: content-box; margin: 0px; position: absolute; width: 100%; opacity: 1;
}
.user_login_hr2{
  border-top: none rgb(244, 67, 54); 
  border-left: none rgb(244, 67, 54); 
  border-right: none rgb(244, 67, 54);
   border-bottom: 2px solid rgb(244, 67, 54); 
   bottom: 8px; box-sizing: content-box; margin: 0px; 
   position: absolute; width: 100%; opacity: 0.15; 
   transform: scaleX(1); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.user_login_req{
  position: relative;
  bottom: 8px; 
  font-size: 10px; 
  line-height: 12px; 
  color: rgb(244, 67, 54); 
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  display: table;
}
.user_login_req_div{
  position: relative; display: block;
}
.user_login_req_div2{
  font-size: 16px; 
  line-height: 24px; width: 100%;
  height: 48px; 
  display: inline-block; 
  position: relative; 
  background-color: transparent; 
  font-family: Roboto, sans-serif; 
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  cursor: auto; padding-right: 59px;
   box-sizing: border-box;
}
.user_login_req_div2 input{
  padding: 0px; position: relative; 
  width: 100%; border: none; 
  outline: none; 
  background-color: rgba(0, 0, 0, 0); 
  color: rgba(0, 0, 0, 0.87); 
  cursor: inherit; 
  font-style: inherit; 
  font-variant: inherit; 
  font-weight: inherit; 
  font-stretch: inherit; 
  font-size: 14px; 
  line-height: inherit; 
  font-family: inherit; 
  opacity: 1; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%;
}
.user_login_req_hr{
  border-top: none rgb(215, 215, 215); 
  border-left: none rgb(215, 215, 215);
   border-right: none rgb(215, 215, 215); 
   border-bottom: 1px solid rgb(215, 215, 215);
    bottom: 8px; box-sizing: content-box; margin: 0px; 
    position: absolute; width: 100%; opacity: 1;
}
.user_login_req_hr2{
  border-top: none rgb(0, 188, 212); border-left: none rgb(0, 188, 212); border-right: none rgb(0, 188, 212); border-bottom: 2px solid rgb(0, 188, 212); bottom: 8px; box-sizing: content-box; margin: 0px; position: absolute; width: 100%; opacity: 0.15; transform: scaleX(0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

#mainNav{top: 0px !important; background: linear-gradient(40deg, #d8005a, #dc0070) !important;}

/* ======================sidebar */
.togglebtnmenu{
    float: left;
    background: transparent!important;
    border: 0px solid #e5e5e5;
    box-shadow: none;
    width: 30px;
    height: 30PX;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-right:20px;
    margin-top: 15px;
    outline: none!important;
    z-index: 9999!important;
    position: relative!important;
}

.togglebtnmenu span{
    background: #ffffff;
    display: block;
    width: 100%;
    height: 2px;
    margin: 8PX 0PX;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    background:rgba(0, 46, 119, 0.7) !important;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrappervendorsidbar {
    z-index: 1000;
    position: fixed;
    right: 280px;
    width: 0;
    height: 100%;
    margin-right: -280px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    background:rgba(0, 46, 119, 0.7) !important;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrappervendor.toggled #wrappervendorsidbar {
    width: 280px;
  }
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .card-body.collapse.show {
visibility: inherit!important;
}
.bookmarkdesign .card-body.collapse{
  padding: 0px!important;
  border-top: 1px solid #ccc!important;
}
.bookmarkdesign .card-header a{
  display: block;
  overflow: hidden;
}
.card{
  box-shadow: none!important;
}
.cal-month-view .cal-header .cal-cell{
  text-overflow: inherit!important;
}
.bookmarkdesign .card{
  margin-bottom: 20px!important;
  border-bottom: 0px solid #fff;
}
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  /* Sidebar Styles */
  
  
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-left: 250px;
  }

  
.blackoverlaymobile{
    display: none;
  }
.blackoverlaymain{
    display: none;
  }




 .line1 {
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 15px;
    /* left: 7px; */
    border: 0px solid #fff;
    }
  .line2 {
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 21px;
    /* left: 7px; */
    border: 0px solid #fff;
    }
    .line3 {
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 27px;
    /* left: 7px; */
    border: 0px solid #fff;
    }

  .membershipsilder .carousel-indicators, .carousel-control-prev, .carousel-control-next{
  display:none!important;
}
#membershipcarousel .owl-item{
  padding:0px 15px!important;
}
#membershipcarouselann .owl-item{
  padding:0px 15px!important;
}

#membershipcarousel .owl-dots, #membershipcarouselann .owl-dots{
position: absolute!important;
top:-40px!important;
left: 0px!important;
right: 0px!important;
} 

#membershipcarousel .owl-nav, #membershipcarouselann .owl-nav{
  display: none!important;
} 

#supplierscarousel .owl-nav button{
  top:calc(50% - 15px)!important;
}
.pace-running .pace-active .pace-progress{
display: none!important;
}
.notification-dropdown{
    left: inherit!important;
    position: absolute;
    width: 100%!important;
    right:0px!important;
    top: 49px!important;
    overflow: hidden!important;
    display: none;
}
.vendorappbtn, .vendorappbtnclose{
  background: none;
  color: #fff!important;
  border:0px;
}
.vendorappbtn i, .vendorappbtnclose i{
  margin-top:5px;
}
.toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
    bottom: 12px!important;
    top:inherit!important;
}
.fancybox-margin{
  margin-right:0x!important;
}


.newbtn{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none!important;
    font-size: 1rem!important;
    border-radius: 25px!important;
    padding: 0.65rem 1.9rem!important;
    transition: .2s ease all;
    color: white!important;
    border: none!important;
    box-shadow: -1px 10px 20px #9BC6FD;
    background: #52A0FD!important;
    background: -moz-linear-gradient(left,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%)!important;
    background: -webkit-linear-gradient(left,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%)!important;
    background: linear-gradient(to right,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%)!important;
}

.newcancelbtn{
    box-shadow: -1px 10px 20px #FF7DAE!important;
    background: #FF1744!important;
    background: -moz-linear-gradient(left,  #FF1744 0%, #FF5D95 80%, #FF5D95 100%)!important;
    background: -webkit-linear-gradient(left,  #FF1744 0%, #FF5D95 80%, #FF5D95 100%)!important;
    background: linear-gradient(to right,  #FF1744 0%, #FF5D95 80%, #FF5D95 100%)!important;
}
.newbtn:hover {
    transform: scale(1.03);
}
.newbtn:active {
    transform: translateY(3px) scale(.97);
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 812px) {
.blackoverlaymobile{
  background: rgb(0,0,0, 0.5);
  position: fixed;
  width: 100%;
  height:100vh;
  top:0px;
  z-index: 999;
}
  .blackoverlaymain, .blackoverlaymainuser{
  background: rgb(0,0,0, 0.5);
  position: fixed;
  width:100%;
  height:100vh;
  top:0px;
  z-index:999;
}
.blackoverlaymainuser{
  background: rgb(0,0,0, 0.5);
  position: fixed;
  width:100%;
  height:100vh;
  top:0px;
  right:-100%;
  transition: right .8s;
  z-index:999;
}
.blackoverlaymainuser button.cross{
height: 40px!important;
width: 35px!important;
right: 60%!important;
position: absolute!important;
background: none!important;
border: 0px solid #fff!important;
top: 13px!important;
}
.blockmobile{
  display: block!important;
}

}


.blackoverlaymainhometik{
    background: rgba(0,0,0, 0.5)!important;
    position: fixed!important;
    width:100%!important;
    height:100vh!important;
    top:0px!important;
    z-index:999999!important; 
  }
  .blackoverlaymain{
    background: rgba(0,0,0, 0.5)!important;
    position: fixed!important;
    width:100%!important;
    height:100%!important;
    top:0px!important;
    z-index:999999!important; 
  }


@media(min-width:768px) {
.footer_bg{
  display:none!important;
}
    #wrapper {
      padding-left: 0;
    }
    #wrapper.toggled {
      padding-left: 250px;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      padding:0px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }
@media(max-width:768px) {
.navbar {
  position: fixed;
}
.mob_veiw{
  padding: 15px 0px!important;
}
  .pagination>li>a, .pagination>li>span{
  padding:3px 9px!important;
  margin-left:0px!important;
  margin-right:0px!important;
  }
.mobilefixedcontainer{
  margin-top:80px!important;
}
  .modal-dialog{
    max-width:95%!important;
}
.upcominglisthomepage .col-8, .upcominglisthomepage .col-4{
float: left!important;
}
  .navbar-toggler  .line1 {
    top: 1px!important;
    }
  .navbar-toggler  .line2 {
    top: 8px!important;
    }
    .navbar-toggler  .line3 {
    top: 15px!important;
    }
.pace-running .pace-active{
display: none!important;
}

#supplierscarousel .owl-nav{
  display: none!important;
}
#supplierscarousel .owl-dots{
  display:block!important;
}
.dropdown-menu{z-index: 999999;}
h4.navdrandm{
  line-height: 60px;
  font-size: 14px;
}
.membershipsilder .carousel-item{
  width:100%!important;
  display:none!important;
  float: left;
  padding: 0px 15px!important;
}
.membershipsilder .carousel-item.active{
  display:block!important;
}
.membershipsilder .carousel-indicators{
  top:0px!important;
  display:block!important;
  position: relative;
  width:100%!important;
  padding: 0px;
  margin:0px;
}
.membershipsilder .carousel-indicators li{
background:#e5e5e5;    
width: 12px;
height: 12px;
margin: 0;
border-radius: 50%;
margin:10px 5px;
}
.membershipsilder .carousel-indicators li.active{
background:#ff0000;
}
    #wrapper {
      padding-left: 250;
    }
    #wrapper.toggled {
      padding-left: 0px;
    }
    #sidebar-wrapper {
      width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
      left: -250px;
      margin-left: 0px;
    }
    #page-content-wrapper {
      padding:inherit;
      position: relative;
      margin-right:0;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: inherit;
      padding:0;
      margin-left:0px;
    }

    .navbar-nav>li.usernavmenu>a, .navbar-nav>li.usernavmenu>a>i.material-icons, .navbar-nav>li.notilink>a, .navbar-nav>li.notilink>a>i.material-icons {
    padding-top:0px;
    padding-bottom:0px;
    font-size:30px!important;
    }
    
    .navbar-nav>li.usernavmenu>.blackoverlaymainuser .dropdown-menu{
      height: 100vh;
      right:0px;
      left:inherit!important;
      top:-2px!important;
      border-radius: 0px!important;
      position:absolute!important;
      border: 0px solid #e5e5e5;
      box-shadow: 0px 0px 20px #000;
      transition: 1s;
      display: block!important;
    }
      .navbar-nav>li.usernavmenu>.dropdown-menu.show{
  right:0px!important;
  }

.navbar-nav>li.usernavmenu>.dropdown{
  display:block!important;
}






    .notilink {
      margin-right:10px;
    }
  .notification.badge{
    font-size:12px!important;
    right:-2px!important;
  }
  .usernavmenu .dropdown-toggle::after {
  display:none;
}
  .notilink .dropdown-toggle::after {
  display:none;
}

    #wrapper #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
    margin-left:250px
  }
  .blackoverlaymobile{
    background: rgb(0,0,0, 0.5);
    position: fixed;
    width: 100%;
    height:100vh;
    top:0px;
    z-index: 999;
  }
  .blackoverlayhome{
    background: rgb(0,0,0, 0.5)!;
    position: fixed;
    width:100%;
    height:100vh;
    top:0px;
    z-index:999;
    display: block;
  }
 .blackoverlaymainuser{
    background: rgb(0,0,0, 0.5);
    position: fixed;
    width:100%;
    height:100vh;
    top:0px;
    right:-100%;
    transition: right .8s;
    z-index:999;
  }

.blackoverlaymainuser button.cross{
  height: 40px!important;
  width: 35px!important;
  right: 60%!important;
  position: absolute!important;
  background: none!important;
  border: 0px solid #fff!important;
  top: 13px!important;
}



  .blockmobile{
    display: block!important;
  }
  .Analytics,.Profile_com{
    position: relative;
    z-index: 0;
  }
  .overhidden{
    overflow: hidden;
    position: fixed!important;
  }
  .line1, .line2, .line3{
    transition: all 1s;
  }
  .cross .line1
   {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background: #fff!important;
    }
    .cross  .line2 {
      opacity: 0;
    }
    .cross .line3 {  
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background: #fff!important;
    }
  }


.navbtntik .line11, .tikrightclose .line11 {
width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    -webkit-transform: translateY(-20px)
 translateX(8px)
 rotate(40deg);
    position: absolute;
    top: 16px;
    right: 4px;
    }
    .navbtntik .line33, .tikrightclose .line33 {
      width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    -webkit-transform: translateY(21px)
 translateX(5px)
 rotate(-40deg);
    position: absolute;
      top: -25px;
    left: -7px;
    }
 .tikrightclose{
float: right;
    border: 0px solid #e5e5e5;
    box-shadow: none;
    width: 45px;
    height: 45PX;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 2px;
    margin-top: 2px;
    outline: none !important;
    background: #ccc;
    padding: 10px;
    border-radius: 100%;
    transition: 0.3s;
    z-index: 9999;
    position: relative;
    right: 0px;
}
    .navbtntik{
float: left;
    border: 0px solid #e5e5e5;
    box-shadow: none;
    width: 45px;
    height: 45PX;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    margin-top: 2px;
    outline: none !important;
    background: #ccc;
    padding: 10px;
    border-radius: 100%;
    transition: 0.3s;
    z-index: 9999;
    position: relative;
}
:focus{outline: none;}
.input-effect{position:relative; height: 33px;}

.input-effect .effect-16{
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    z-index: 2;
    position: relative;
    width: 100%;
}
.input-effect .effect-16 ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: 1;
    letter-spacing: 0.5px;
}
.input-effect .effect-16 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgb(240, 17, 140);
    transition: 0.4s;
    z-index: 99;
}
.input-effect input[type="file"].effect-16 ~ .focus-border {
    bottom: -6px!important;   
}
.input-effect textarea.effect-16 ~ .focus-border {
    bottom: -24px!important;   
}
.input-effect .effect-16:focus ~ label{
    top: -17px;
    font-size: 12px;
    color:  rgb(240, 17, 140);
    transition: 0.3s;
    z-index:999;
}
.input-effect .effect-16:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;

}

 
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}
.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}

/* Vendor Calendar CSS Start */

.content {
    overflow: none;
    padding: 0px 0;
    height: 500px;
    position: relative;
    margin: 20px auto;
    background: #52A0FD;
    background: -moz-linear-gradient(right,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: -webkit-linear-gradient(right,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: linear-gradient(to left,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);    
    border-radius: 3px;
    box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*  Events display */
.events-container {
    height: 100%;
    float: right;
    margin: 0px auto; 
    font: 13px Helvetica, Arial, sans-serif; 
    display: inline-block; 
    padding: 0 10px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.events-container:after{
    clear:both;
}
.form-inline .form-group{
  margin-bottom: 0px!important;
}
.form-inline .input-group-append {
    /* margin-left: -30px; */
    z-index: 9999!important;
    position: absolute!important;
    right: 0px!important;
    height: 34px!important;
}
.event-card {
    padding: 20px 0;
    width: 350px;
    margin: 20px auto;
    display: block;
    background: #fff;
    border-left: 10px solid #52A0FD;
    border-radius: 3px;
    box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.event-count, .event-name, .event-cancelled {
    display: inline;
    padding: 0 10px;
    font-size: 1rem;
}
.event-count {
    color: #52A0FD;
    text-align: right;
}
.event-name {
    padding-right:0;
    text-align: left;
}
.event-cancelled {
    color: #FF1744;
    text-align: right;
}

/*  Calendar wrapper */
.calendar-container  { 
    float: left;
    position: relative;
    margin: 0px auto; 
    height: 100%;
    width:50%;
    background: #fff;
    font: 13px Helvetica, Arial, san-serif; 
    display: inline-block; 
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.calendar-container:after{
    clear:both;
}
.calendar {
    display: table;
    width:100%;
}

/* Calendar Header */
.year-header { 
    background: #52A0FD;
    background: -moz-linear-gradient(left,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: -webkit-linear-gradient(left,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: linear-gradient(to right,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);    
    font-family: Helvetica;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 40px; 
    text-align: center;
    position: relative; 
    color:#fff; 
    border-top-left-radius: 3px;
} 
.year-header span { 
    display:inline-block; 
    font-size: 20px;
    line-height:40px; 
}
.left-button, .right-button { 
    cursor: pointer;
    width:28px; 
    text-align:center; 
    position:absolute; 
} 
.left-button { 
    left:0; 
    -webkit-border-top-left-radius: 5px; 
    -moz-border-radius-topleft: 5px; 
    border-top-left-radius: 5px; 
} 
.right-button { 
    right:0; 
    top:0; 
    -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px; 
} 
.left-
:hover {
    background: #3FADFF;
}
.right-button:hover { 
    background: #00C1FF;
}

/* Buttons */
.button{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.65rem 1.9rem;
    transition: .2s ease all;
    color: white;
    border: none;
    box-shadow: -1px 10px 20px #9BC6FD;
    background: #52A0FD;
    background: -moz-linear-gradient(left,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: -webkit-linear-gradient(left,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: linear-gradient(to right,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
}
#cancel-button {
    box-shadow: -1px 10px 20px #FF7DAE;
    background: #FF1744;
    background: -moz-linear-gradient(left,  #FF1744 0%, #FF5D95 80%, #FF5D95 100%);
    background: -webkit-linear-gradient(left,  #FF1744 0%, #FF5D95 80%, #FF5D95 100%);
    background: linear-gradient(to right,  #FF1744 0%, #FF5D95 80%, #FF5D95 100%);
}
#add-button {
    display: block;
    position: absolute;
    right:20px;
    bottom: 20px;
}
#add-button:hover, #ok-button:hover, #cancel-button:hover {
    transform: scale(1.03);
}
#add-button:active, #ok-button:active, #cancel-button:active {
    transform: translateY(3px) scale(.97);
}

/* Days/months tables */
.days-table, .dates-table, .months-table { 
    border-collapse:separate; 
    text-align: center;
    width:100%;
} 
.day { 
    height: 26px;
    width: 26px;
    padding: 0 10px;
    line-height: 26px; 
    border: 2px solid transparent;
    text-transform:uppercase; 
    font-size:90%; 
    color:#9e9e9e; 
} 
.month {
    cursor: default;
    height: 26px;
    width: 26px;
    padding: 0 2px;
    padding-top:10px;
    line-height: 26px; 
    text-transform:uppercase; 
    font-size: 11px; 
    color:#9e9e9e; 
    transition: all 250ms;
}
.active-month {
    font-weight: bold;
    font-size: 14px;
    color: #FF1744;
    text-shadow: 0 1px 4px RGBA(255, 50, 120, .8);
}
.month:hover {
    color: #FF1744;
    text-shadow: 0 1px 4px RGBA(255, 50, 120, .8);
}

/*  Dates table */
.table-date {
    cursor: default;
    color:#2b2b2b; 
    height:26px;
    width: 26px;
    font-size: 15px;
    padding: 10px;
    line-height:26px; 
    text-align:center; 
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 250ms;
}
.table-date:not(.nil):hover { 
    border-color: #FF1744;
    box-shadow: 0 2px 6px RGBA(255, 50, 120, .9);
}
.event-date {
    border-color:#52A0FD;
    box-shadow: 0 2px 8px RGBA(130, 180, 255, .9);
}
.active-date{ 
    background: #FF1744;
    box-shadow: 0 2px 8px RGBA(255, 50, 120, .9);
    color: #fff;
}
.event-date.active-date {
    background: #52A0FD;
    box-shadow: 0 2px 8px RGBA(130, 180, 255, .9);
}
.form-inline .input-group{
  width:100%;
}
.form-container form label {
    letter-spacing: normal!important;
}
/* input dialog */
.dialog{
    z-index: 5;
    background: #fff;
    position:absolute;
    width:45%;
    left:53%;
    border-top-right-radius:3px;
    border-bottom-right-radius: 3px;
    display:none;
    border-left: 1px #aaa solid;
}
.dialog-header {
    margin: 20px;
    color:#333;
    text-align: center;
}
.form-container {
    margin-top:10px;
}
.form-label {
    color:#333;
}
.input {
    border:none;
    background: none;
    border-bottom: 1px #aaa solid;
    display:block;
    margin-bottom:50px;
    width: 200px;
    height: 20px;
    text-align: center;
    transition: border-color 250ms;
}
.input:focus {
    outline:none;
    border-color: #00C9FB;
}
.error-input {
    border-color: #FF1744;
}

/* Tablets and smaller */
@media only screen and (max-width: 780px) {
    .content {
        overflow: visible;
        position:relative;
        max-width: 100%;
        width: 370px;
        height: 100%;
        background: #52A0FD;
        background: -moz-linear-gradient(left,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
        background: -webkit-linear-gradient(left,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
        background: linear-gradient(to right,  #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);  
    }
    .dialog {
        width:370px;
        height: 450px;
        border-radius: 3px;
        top:0;
        left:0;
    }
    .events-container {
        float:none;
        overflow: visible;
        margin: 0 auto;
        padding: 0;
        display: block;
        left: 0;
        border-radius: 3px;
    }

    .calendar-container {
        float: none;
        padding: 0;
        margin: 0 auto;
        margin-right: 0;
        display: block;
        left: 0;
        border-radius: 3px;
        box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        -webkit-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}

/* Small phone screens */
@media only screen and (max-width: 400px) {
    .content, .events-container, .year-header, .calendar-container {
        width: 320px;
    }
    .dialog {
        width: 320px;
    }
    .months-table {
        display: block;
        margin: 0 auto;
        width: 320px;
    }
    .event-card {
        width: 300px;
    }
    .day {
        padding: 0 7px;
    }
    .month {
        display: inline-block;
        padding: 10px 10px;
        font-size: .8rem;
    }
    .table-date {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .event-name, .event-count, .event-cancelled {
        font-size: .8rem;
    }
    .add-button{
        bottom: 10px;
        right: 10px;
        padding: 0.5rem 1.5rem;
    }
} 

/* Vendor Calendar CSS End  */