/* You can add global styles to this file, and also import other style files */
.slidemenu{
    left: 0px;
    transition: 1s;
}
.inslide{
    left:280px;
    position: fixed;
}
.outslide{
    left:0px!important;
    position: fixed;
}
.text-bold{
    font-weight: bold;
    *body{
         background-color: #ffffff!important;
    }
}
.headernav{margin-bottom: 0px!important;}
.modal-content{background: transparent!important;
box-shadow: none!important;
border:0px solid #fff!important;
}
.user_sign_span{
  transition: opacity 0.5s; 
  width: 100%;
}
.searchbar select{
  background-color: #ffffff!important;
}
.user_login_form{
  font-size: 16px; 
  line-height: 24px;
  width: 100%; 
  height: 48px; 
  display: inline-block; 
  position: relative; 
  background-color: 
  transparent; font-family: Roboto, sans-serif; 
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  cursor: auto;
}
.modal-dialog {
  max-width: 750px!important;
  margin: 1.75rem auto;
}
.user_login_form input{
  padding: 0px; 
  position: relative; 
  width: 100%; border: none; 
  outline: none; 
  background-color: rgba(0, 0, 0, 0); 
  color: rgba(0, 0, 0, 0.87); 
  cursor:inherit; 
  font-style: inherit; 
  font-variant: inherit; 
  font-weight: inherit; 
  font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; opacity: 1; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%;
}

.user_login_hr{
  border-top: none rgb(215, 215, 215); border-left: none rgb(215, 215, 215); 
  border-right: none rgb(215, 215, 215); border-bottom: 1px solid rgb(215, 215, 215); bottom: 8px; box-sizing: content-box; margin: 0px; position: absolute; width: 100%; opacity: 1;
}
.user_login_hr2{
  border-top: none rgb(244, 67, 54); 
  border-left: none rgb(244, 67, 54); 
  border-right: none rgb(244, 67, 54);
   border-bottom: 2px solid rgb(244, 67, 54); 
   bottom: 8px; box-sizing: content-box; margin: 0px; 
   position: absolute; width: 100%; opacity: 0.15; 
   transform: scaleX(1); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.user_login_req{
  position: relative;
  bottom: 8px; 
  font-size: 10px; 
  line-height: 12px; 
  color: rgb(244, 67, 54); 
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  display: table;
}
.user_login_req_div{
  position: relative; display: block;
}
.user_login_req_div2{
  font-size: 16px; 
  line-height: 24px; width: 100%;
  height: 48px; 
  display: inline-block; 
  position: relative; 
  background-color: transparent; 
  font-family: Roboto, sans-serif; 
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  cursor: auto; padding-right: 59px;
   box-sizing: border-box;
}
.user_login_req_div2 input{
  padding: 0px; position: relative; 
  width: 100%; border: none; 
  outline: none; 
  background-color: rgba(0, 0, 0, 0); 
  color: rgba(0, 0, 0, 0.87); 
  cursor: inherit; 
  font-style: inherit; 
  font-variant: inherit; 
  font-weight: inherit; 
  font-stretch: inherit; 
  font-size: 14px; 
  line-height: inherit; 
  font-family: inherit; 
  opacity: 1; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%;
}
.user_login_req_hr{
  border-top: none rgb(215, 215, 215); 
  border-left: none rgb(215, 215, 215);
   border-right: none rgb(215, 215, 215); 
   border-bottom: 1px solid rgb(215, 215, 215);
    bottom: 8px; box-sizing: content-box; margin: 0px; 
    position: absolute; width: 100%; opacity: 1;
}
.user_login_req_hr2{
  border-top: none rgb(0, 188, 212); border-left: none rgb(0, 188, 212); border-right: none rgb(0, 188, 212); border-bottom: 2px solid rgb(0, 188, 212); bottom: 8px; box-sizing: content-box; margin: 0px; position: absolute; width: 100%; opacity: 0.15; transform: scaleX(0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

#mainNav{top: 0px !important; background:rgba(0, 46, 119, 0.99) !important; }









