/* You can add global styles to this file, and also import other style files */
#supplierscarousel .owl-dots{
  display:none!important;
}
#supplierscarousel .owl-nav .owl-next{
    left: -50px!important;
     right: inherit!important;
    float: left;
    width: 36px;
    height: 78px;
    text-indent:-9999px;
    outline: none!important;
    background:url("https://s3.us-east-2.amazonaws.com/prefect-image/home-top-left.png")!important;
}
#supplierscarousel .owl-nav .owl-prev{
  right: -50px!important;
  left: inherit!important;
    float: right;
    width: 36px;
    height: 78px;
    text-indent:-9999px;
    outline: none!important;
    background:url("https://s3.us-east-2.amazonaws.com/prefect-image/home-top-right.png")!important;
}
.star-icon.half100:before{
top:2px!important;
}
#detailpagecarousel .owl-dots{
    display:none!important;
}
#detailpagecarousel .owl-nav .owl-next{
color: #fff;
font-size: 90px;
right: 10px;
outline: none;
    }
#detailpagecarousel .owl-nav .owl-prev{
color: #fff;
font-size: 90px;
left: 10px;
outline: none;
}

.text-bold{
    font-weight: bold;

}
.positionfixed{
  position: fixed!important;
  overflow: hidden;
}
.cal-month-view .cal-day-cell{
  min-height:69px!important;
}
.cal-month-view .cal-cell-top {
    min-height:inherit!important;
    flex: 1;
}
.calendartabjob .nav.nav-pills{
  width: 220px!important;
  margin: 0px auto!important;
}
.calendartabjob .nav>li>a{
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.slidemenu{
  left: 0px;
  right:inherit;
  transition: .5s;
  position:inherit;
}
.ngx-charts-outer{
  width:100%!important;
}
.ct-label{
  font-size:14px!important;  
}
.membershipsilder .carousel-item{
  width:33%!important;
  display:block!important;
  float: left;
  padding: 0px 15px!important;
}
.calendartabjob .nav-link.active{
  background: #36cbf0!important;
}
.even_picker .input-group-text{
  padding: 8px 10px !important;
}
.gradint_blue{
    background: linear-gradient(40deg,#5e97f3,#0277bd )!important;
    color: #fff!important;
  }
.borderradius{
    border-radius:20px!important;
  }
h4.navdrandm{
    float: left !important;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
    color:#36cbf0;
    margin:0px;
    padding:0px;
    text-transform: uppercase!important;
}
.nav-link a i.material-icons{
  color: #000000!important;
}
.inslide{
    left:280px!important;
    position: fixed!important;
    width: 100%;
}
.rtslide{
    left:-280px!important;
    position: fixed!important;
}
.rtslide111{
    left:0px!important;
    position: fixed!important;
    width: 100%;
}
.switch-medium{
  width: 40px!important;
  height: 20px!important;
    }
  .switch-medium small{
  width:20px!important;
  height: 20px!important;
  }
.headernav{margin-bottom: 0px!important;}

.modal-content{background: #fff!important;
box-shadow: none!important;
border:0px solid #fff!important;
}
.loginboxmodal .modal-content{
  background:transparent!important;
  }
  .modal.fade{
    opacity:1;
  }
  .modal.fade .modal-dialog {
     -webkit-transform: translate(0);
     -moz-transform: translate(0);
     transform: translate(0);
  }
.user_sign_span{
  transition: opacity 0.5s; 
  width: 100%;
}
.searchbar select{
  background-color: #ffffff!important;
}
.user_login_form{
  font-size: 16px; 
  line-height: 24px;
  width: 100%; 
  height: 48px; 
  display: inline-block; 
  position: relative; 
  background-color: 
  transparent; font-family: Roboto, sans-serif; 
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  cursor: auto;
}
.modal-dialog {
  max-width: 750px!important;
  margin: 1.75rem auto;
}

.user_login_form input{
  padding: 0px; 
  position: relative; 
  width: 100%; border: none; 
  outline: none; 
  background-color: rgba(0, 0, 0, 0); 
  color: rgba(0, 0, 0, 0.87); 
  cursor:inherit; 
  font-style: inherit; 
  font-variant: inherit; 
  font-weight: inherit; 
  font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; opacity: 1; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%;
}
.modal.fade.show{
   background-color: rgba(0, 0, 0, .5)!important; 
}
.modal-backdrop{
  background: transparent!important;
}

.user_login_hr{
  border-top: none rgb(215, 215, 215); border-left: none rgb(215, 215, 215); 
  border-right: none rgb(215, 215, 215); border-bottom: 1px solid rgb(215, 215, 215); bottom: 8px; box-sizing: content-box; margin: 0px; position: absolute; width: 100%; opacity: 1;
}
.user_login_hr2{
  border-top: none rgb(244, 67, 54); 
  border-left: none rgb(244, 67, 54); 
  border-right: none rgb(244, 67, 54);
   border-bottom: 2px solid rgb(244, 67, 54); 
   bottom: 8px; box-sizing: content-box; margin: 0px; 
   position: absolute; width: 100%; opacity: 0.15; 
   transform: scaleX(1); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.user_login_req{
  position: relative;
  bottom: 8px; 
  font-size: 10px; 
  line-height: 12px; 
  color: rgb(244, 67, 54); 
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  display: table;
}
.user_login_req_div{
  position: relative; display: block;
}
.user_login_req_div2{
  font-size: 16px; 
  line-height: 24px; width: 100%;
  height: 48px; 
  display: inline-block; 
  position: relative; 
  background-color: transparent; 
  font-family: Roboto, sans-serif; 
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  cursor: auto; padding-right: 59px;
   box-sizing: border-box;
}
.user_login_req_div2 input{
  padding: 0px; position: relative; 
  width: 100%; border: none; 
  outline: none; 
  background-color: rgba(0, 0, 0, 0); 
  color: rgba(0, 0, 0, 0.87); 
  cursor: inherit; 
  font-style: inherit; 
  font-variant: inherit; 
  font-weight: inherit; 
  font-stretch: inherit; 
  font-size: 14px; 
  line-height: inherit; 
  font-family: inherit; 
  opacity: 1; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%;
}
.user_login_req_hr{
  border-top: none rgb(215, 215, 215); 
  border-left: none rgb(215, 215, 215);
   border-right: none rgb(215, 215, 215); 
   border-bottom: 1px solid rgb(215, 215, 215);
    bottom: 8px; box-sizing: content-box; margin: 0px; 
    position: absolute; width: 100%; opacity: 1;
}
.user_login_req_hr2{
  border-top: none rgb(0, 188, 212); border-left: none rgb(0, 188, 212); border-right: none rgb(0, 188, 212); border-bottom: 2px solid rgb(0, 188, 212); bottom: 8px; box-sizing: content-box; margin: 0px; position: absolute; width: 100%; opacity: 0.15; transform: scaleX(0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

#mainNav{top: 0px !important; background: linear-gradient(40deg, #d8005a, #dc0070) !important;}

/* ======================sidebar */
.togglebtnmenu{
    float: left;
    background: transparent!important;
    border: 0px solid #e5e5e5;
    box-shadow: none;
    width: 30px;
    height: 30PX;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-right:20px;
    margin-top: 15px;
    outline: none!important;
    z-index: 9999!important;
    position: relative!important;
}

.togglebtnmenu span{
    background: #ffffff;
    display: block;
    width: 100%;
    height: 2px;
    margin: 8PX 0PX;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
  background:rgba(0, 46, 119, 0.7) !important;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .card-body.collapse.show {
visibility: inherit!important;
}
.bookmarkdesign .card-body.collapse{
  padding: 0px!important;
  border-top: 1px solid #ccc!important;
}
.bookmarkdesign .card-header a{
  display: block;
  overflow: hidden;
}
.card{
  box-shadow: none!important;
}
.cal-month-view .cal-header .cal-cell{
  text-overflow: inherit!important;
}
.bookmarkdesign .card{
  margin-bottom: 20px!important;
  border-bottom: 0px solid #fff;
}
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  /* Sidebar Styles */
  
  
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-left: 250px;
  }

  
.blackoverlaymobile{
    display: none;
  }
.blackoverlaymain{
    display: none;
  }




 .line1 {
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 15px;
    /* left: 7px; */
    border: 0px solid #fff;
    }
  .line2 {
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 21px;
    /* left: 7px; */
    border: 0px solid #fff;
    }
    .line3 {
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 27px;
    /* left: 7px; */
    border: 0px solid #fff;
    }

  .membershipsilder .carousel-indicators, .carousel-control-prev, .carousel-control-next{
  display:none!important;
}
#supplierscarousel .owl-nav button{
  top:calc(50% - 50px)!important;
}
.pace-running .pace-active .pace-progress{
display: none!important;
}

@media(min-width:768px) {
.footer_bg{
  display:none!important;
}

    #wrapper {
      padding-left: 0;
    }
    #wrapper.toggled {
      padding-left: 250px;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      padding:0px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }
@media(max-width:768px) {
  .modal-dialog{
    max-width:95%!important;
}
.upcominglisthomepage .col-8, .upcominglisthomepage .col-4{
float: left!important;
}
  .navbar-toggler  .line1 {
    top: 1px!important;
    }
  .navbar-toggler  .line2 {
    top: 8px!important;
    }
    .navbar-toggler  .line3 {
    top: 15px!important;
    }
.pace-running .pace-active{
display: none!important;
}

#supplierscarousel .owl-nav{
  display: none!important;
}
#supplierscarousel .owl-dots{
  display:block!important;
}
.dropdown-menu{z-index: 999999;}
h4.navdrandm{
  line-height: 60px;
  font-size: 14px;
}
.membershipsilder .carousel-item{
  width:100%!important;
  display:none!important;
  float: left;
  padding: 0px 15px!important;
}
.membershipsilder .carousel-item.active{
  display:block!important;
}
.membershipsilder .carousel-indicators{
  top:0px!important;
  display:block!important;
  position: relative;
  width:100%!important;
  padding: 0px;
  margin:0px;
}
.membershipsilder .carousel-indicators li{
background:#e5e5e5;    
width: 12px;
height: 12px;
margin: 0;
border-radius: 50%;
margin:10px 5px;
}
.membershipsilder .carousel-indicators li.active{
background:#ff0000;
}
    #wrapper {
      padding-left: 250;
    }
    #wrapper.toggled {
      padding-left: 0px;
    }
    #sidebar-wrapper {
      width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
      left: -250px;
      margin-left: 0px;
    }
    #page-content-wrapper {
      padding:inherit;
      position: relative;
      margin-right:0;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: inherit;
      padding:0;
      margin-left:0px;
    }

    .navbar-nav>li.usernavmenu>a, .navbar-nav>li.usernavmenu>a>i.material-icons, .navbar-nav>li.notilink>a, .navbar-nav>li.notilink>a>i.material-icons {
    padding-top:0px;
    padding-bottom:0px;
    font-size:30px!important;
    }
    
    .navbar-nav>li.usernavmenu>.blackoverlaymainuser .dropdown-menu{
      height: 100vh;
      right:0px;
      left:inherit!important;
      top:-2px!important;
      border-radius: 0px!important;
      position:absolute!important;
      border: 0px solid #e5e5e5;
      box-shadow: 0px 0px 20px #000;
      transition: 1s;
      display: block!important;
    }
      .navbar-nav>li.usernavmenu>.dropdown-menu.show{
  right:0px!important;
  }

.navbar-nav>li.usernavmenu>.dropdown{
  display:block!important;
}


    .notilink {
      margin-right:10px;
    }
  .notification.badge{
    font-size:12px!important;
    right:-2px!important;
  }
  .usernavmenu .dropdown-toggle::after {
  display:none;
}
  .notilink .dropdown-toggle::after {
  display:none;
}
.notification-dropdown{
    left: inherit!important;
    width: 345px!important;
    right: -50px!important;
    top: 51px!important;
}
    #wrapper #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
    margin-left:250px
  }
  .blackoverlaymobile{
    background: rgb(0,0,0, 0.5);
    position: fixed;
    width: 100%;
    height:100vh;
    top:0px;
    z-index: 999;
  }
  
    .blackoverlaymain, .blackoverlaymainuser{
    background: rgb(0,0,0, 0.5);
    position: fixed;
    width:100%;
    height:100vh;
    top:0px;
    z-index:999;
  }
 .blackoverlaymainuser{
    background: rgb(0,0,0, 0.5);
    position: fixed;
    width:100%;
    height:100vh;
    top:0px;
    right:-100%;
    transition: right .8s;
    z-index:999;
  }

.blackoverlaymainuser button.cross{
  height: 40px!important;
  width: 35px!important;
  right: 60%!important;
  position: absolute!important;
  background: none!important;
  border: 0px solid #fff!important;
  top: 13px!important;
}



  .blockmobile{
    display: block!important;
  }
  .Analytics,.Profile_com{
    position: relative;
    z-index: 0;
  }
  .overhidden{
    overflow: hidden;
    position: fixed!important;
  }
  .line1, .line2, .line3{
    transition: all 1s;
  }
  .cross .line1
   {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background: #fff!important;
    }
    .cross  .line2 {
      opacity: 0;
    }
    .cross .line3 {  
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background: #fff!important;
    }
  }


.navbtntik .line11, .tikrightclose .line11 {
width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    -webkit-transform: translateY(-20px)
 translateX(8px)
 rotate(40deg);
    position: absolute;
    top: 16px;
    right: 4px;
    }
    .navbtntik .line33, .tikrightclose .line33 {
      width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    -webkit-transform: translateY(21px)
 translateX(5px)
 rotate(-40deg);
    position: absolute;
      top: -25px;
    left: -7px;
    }
 .tikrightclose{
float: right;
    border: 0px solid #e5e5e5;
    box-shadow: none;
    width: 45px;
    height: 45PX;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    margin-top: 2px;
    outline: none !important;
    background: #ccc;
    padding: 10px;
    border-radius: 100%;
    transition: 0.3s;
    z-index: 9999;
    position: relative;
    right: 0px;
}
    .navbtntik{
float: left;
    border: 0px solid #e5e5e5;
    box-shadow: none;
    width: 45px;
    height: 45PX;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    margin-top: 2px;
    outline: none !important;
    background: #ccc;
    padding: 10px;
    border-radius: 100%;
    transition: 0.3s;
    z-index: 9999;
    position: relative;
}
:focus{outline: none;}
.input-effect{position:relative; height: 33px;}

.input-effect .effect-16{
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    z-index: 2;
    position: relative;
    width: 100%;
}
.input-effect .effect-16 ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: 1;
    letter-spacing: 0.5px;
}
.input-effect .effect-16 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(240, 17, 140);
    transition: 0.4s;
}

.input-effect .effect-16:focus ~ label{
    top: -17px;
    font-size: 12px;
    color:  rgb(240, 17, 140);
    transition: 0.3s;
    z-index:999;
}
.input-effect .effect-16:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;

}

 
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}
.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}