<app-menu></app-menu>
   
 
<div class="container-fluid recomslider">
      <!--Carousel Wrapper-->

      <div class="caroosel_headin text-center">
         <h3>Featured Wedding Suppliers </h3>
      </div>


<div class="container">


    <!--Slides-->


    <div id="supplierscarousel" class="owl-carousel">
            <div class="item bordre_rad">

                <div class="card mb-2 bordre_rad1 ">
                    <div class="procard"> </div>
                    <img class="card-img-top img-responsive" src="https://s3.us-east-2.amazonaws.com/prefect-image/fower.jpeg" alt="Card image cap">
                    <span class="book_mark"><i class="material-icons">bookmark_border</i></span>
                    <div class="card-body ">
                      <div class="text-center"> 
                       <h6> <strong>Hotel Shayaji </strong> </h6>
                        <button class="wedding_btn">WEDDING VANUE </button>
                        <P class="locat_icon"><i class="material-icons">location_on</i> Indore </P>
                        <p class="statr_point">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span> 5.0 (47) </p>
                        </div>
                  
                        <div class="col-md-12 col-12">
                          <div class="col-md-8 col-8 pad_left_0 pad_left_5px">
                            <img src="../../assets/img/money.svg" class="imgfloatleft" alt="">
                              <span>Price from</span>
                              <span class="pric_200">200 $</span>
                          </div>
                          <div class="col-md-4 col-4 span_positin">
                           <img src="../../assets/img/tag.svg"  alt=""> 
                          <span>Deals</span>
                          <span>1</span>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="item bordre_rad">
                <div class="card mb-2 bordre_rad1 ">
                    <div class="procard"> </div>
                    <img class="card-img-top img-responsive" src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="Card image cap">
                    <span class="book_mark"><i class="material-icons">bookmark_border</i></span>
                    <div class="card-body ">
                      <div class="text-center"> 
                       <h6> <strong>Hotel Shayaji </strong> </h6>
                        <button class="wedding_btn">WEDDING VANUE </button>
                        <P class="locat_icon"><i class="material-icons">location_on</i> Indore </P>
                        <p class="statr_point">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span> 5.0 (47) </p>
                        </div>
                  
                        <div class="col-md-12 col-12">
                          <div class="col-md-8 col-8 pad_left_0 pad_left_5px">
                            <img src="../../assets/img/money.svg" class="imgfloatleft" alt="">
                              <span>Price from</span>
                              <span class="pric_200">200 $</span>
                          </div>
                          <div class="col-md-4 col-4 span_positin">
                           <img src="../../assets/img/tag.svg"  alt=""> 
                          <span>Deals</span>
                          <span>1</span>

                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="item bordre_rad">
                <div class="card mb-2 bordre_rad1 ">
                    <div class="procard"> </div>
                    <img class="card-img-top img-responsive" src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="Card image cap">
                    <span class="book_mark"><i class="material-icons">bookmark_border</i></span>
                    <div class="card-body ">
                      <div class="text-center"> 
                       <h6> <strong>Hotel Shayaji </strong> </h6>
                        <button class="wedding_btn">WEDDING VANUE </button>
                        <P class="locat_icon"><i class="material-icons">location_on</i> Indore </P>
                        <p class="statr_point">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span> 5.0 (47) </p>
                        </div>
                  
                        <div class="col-md-12 col-12">
                          <div class="col-md-8 col-8 pad_left_0 pad_left_5px">
                            <img src="../../assets/img/money.svg" class="imgfloatleft" alt="">
                              <span>Price from</span>
                              <span class="pric_200">200 $</span>
                          </div>
                          <div class="col-md-4 col-4 span_positin">
                           <img src="../../assets/img/tag.svg"  alt=""> 
                          <span>Deals</span>
                          <span>1</span>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="item bordre_rad">
                <div class="card mb-2 bordre_rad1 ">
                    <div class="procard"> </div>
                    <img class="card-img-top img-responsive" src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="Card image cap">
                    <span class="book_mark"><i class="material-icons">bookmark_border</i></span>
                    <div class="card-body ">
                      <div class="text-center"> 
                       <h6> <strong>Hotel Shayaji </strong> </h6>
                        <button class="wedding_btn">WEDDING VANUE </button>
                        <P class="locat_icon"><i class="material-icons">location_on</i> Indore </P>
                        <p class="statr_point">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span> 5.0 (47) </p>

                        </div>
                  
                        <div class="col-md-12 col-12">
                          <div class="col-md-8 col-8 pad_left_0 pad_left_5px">
                            <img src="../../assets/img/money.svg" class="imgfloatleft" alt="">
                              <span>Price from</span>
                              <span class="pric_200">200 $</span>
                          </div>
                          <div class="col-md-4 col-4 span_positin">
                           <img src="../../assets/img/tag.svg"  alt=""> 
                          <span>Deals</span>
                          <span>1</span>

                          </div>
                        </div>
                      </div>
                </div>
            </div>
             <div class="item bordre_rad">
                <div class="card mb-2 bordre_rad1 ">
                    <div class="procard"> </div>
                    <img class="card-img-top img-responsive" src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="Card image cap">
                    <span class="book_mark"><i class="material-icons">bookmark_border</i></span>
                    <div class="card-body ">
                      <div class="text-center"> 
                       <h6> <strong>Hotel Shayaji </strong> </h6>
                        <button class="wedding_btn">WEDDING VANUE </button>
                        <P class="locat_icon"><i class="material-icons">location_on</i> Indore </P>
                        <p class="statr_point">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span> 5.0 (47) </p>

                        </div>
                  
                        <div class="col-md-12 col-12">
                           <div class="col-md-8 col-8 pad_left_0 pad_left_5px">
                            <img src="../../assets/img/money.svg" class="imgfloatleft" alt="">
                              <span>Price from</span>
                              <span class="pric_200">200 $</span>
                          </div>

                          <div class="col-md-4 col-4 span_positin">
                           <img src="../../assets/img/tag.svg"  alt=""> 
                          <span>Deals</span>
                          <span>1</span>

                          </div>
                        </div>
                      </div>
                </div>
            </div>
             <div class="item bordre_rad">
                <div class="card mb-2 bordre_rad1 ">
                    <div class="procard"> </div>
                    <img class="card-img-top img-responsive" src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="Card image cap">
                    <span class="book_mark"><i class="material-icons">bookmark_border</i></span>
                    <div class="card-body ">

                      <div class="text-center"> 
                       <h6> <strong>Hotel Shayaji </strong> </h6>
                        <button class="wedding_btn">WEDDING VANUE </button>
                        <P class="locat_icon"><i class="material-icons">location_on</i> Indore </P>
                        <p class="statr_point">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span> 5.0 (47) </p>

                        </div>
                  
                        <div class="col-md-12 col-12">
                           <div class="col-md-8 col-8 pad_left_0 pad_left_5px">
                            <img src="../../assets/img/money.svg" class="imgfloatleft" alt="">
                              <span>Price from</span>
                              <span class="pric_200">200 $</span>
                          </div>

                          <div class="col-md-4 col-4 span_positin">
                           <img src="../../assets/img/tag.svg"  alt=""> 
                          <span>Deals</span>
                          <span>1</span>

                          </div>
                        </div>
                      </div>
                </div>
            </div>
             <div class="item bordre_rad">
                <div class="card mb-2 bordre_rad1 ">
                    <div class="procard"> </div>
                    <img class="card-img-top img-responsive" src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="Card image cap">
                    <span class="book_mark"><i class="material-icons">bookmark_border</i></span>
                    <div class="card-body ">
                      <div class="text-center"> 
                       <h6> <strong>Hotel Shayaji </strong> </h6>
                        <button class="wedding_btn">WEDDING VANUE </button>
                        <P class="locat_icon"><i class="material-icons">location_on</i> Indore </P>
                        <p class="statr_point">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span> 5.0 (47) </p>
                        </div>
                  
                        <div class="col-md-12 col-12">
                           <div class="col-md-8 col-8 pad_left_0 pad_left_5px">
                            <img src="../../assets/img/money.svg" class="imgfloatleft" alt="">
                              <span>Price from</span>
                              <span class="pric_200">200 $</span>
                          </div>
                          <div class="col-md-4 col-4 span_positin">
                           <img src="../../assets/img/tag.svg"  alt=""> 
                          <span>Deals</span>
                          <span>1</span>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
             <div class="item bordre_rad">
                <div class="card mb-2 bordre_rad1 ">
                    <div class="procard"> </div>
                    <img class="card-img-top img-responsive" src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="Card image cap">
                    <span class="book_mark"><i class="material-icons">bookmark_border</i></span>
                    <div class="card-body ">
                      <div class="text-center"> 
                       <h6> <strong>Hotel Shayaji </strong> </h6>
                        <button class="wedding_btn">WEDDING VANUE </button>
                        <P class="locat_icon"><i class="material-icons">location_on</i> Indore </P>
                        <p class="statr_point">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span> 5.0 (47) </p>
                        </div>
                  
                        <div class="col-md-12 col-12">
                           <div class="col-md-8 col-8 pad_left_0 pad_left_5px">
                            <img src="../../assets/img/money.svg" class="imgfloatleft" alt="">
                              <span>Price from</span>
                              <span class="pric_200">200 $</span>
                          </div>
                          <div class="col-md-4 col-4 span_positin">
                           <img src="../../assets/img/tag.svg"  alt=""> 
                          <span>Deals</span>
                          <span>1</span>

                          </div>
                        </div>
                      </div>
                </div>
            </div>
      </div>



    
    <!--End Slides-->

</div>

<!--/.Carousel Wrapper-->

</div>



<div class="filterbtnmobile">
  <i class="fa fa-filter">
</i>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-3 nopadd">
      <button class="showhidefilter">
         <i class="material-icons">clear</i>&nbsp; 
         <span class="hidetext">Hide</span>
         <span class="showtext">Show</span> 
         Filters
         
      </button>
    </div>
    <div class="col-sm-9">
      <div class="photo_cont">
      <div class="container-fluid nopadd">
          <!-- <div class="searchtopbar">
        <div class="col-sm-2 searchinput50 fixedsearch left0">
          <select class="cityinput2">
              <option>All Cities</option>
              <option>Indore</option>
              <option>Bhopal</option>
          </select>
        </div>
        <div class="col-sm-2 searchinput50 fixedsearch right0">
          <select class="venueinput">
              <option> Venue</option>
              <option>Photo</option>
              <option>Photo</option>
          </select>
        </div>
        <div class="col-sm-8 mobserchfieldpage">
          <input type="text" name="" placeholder="Search" class="searchinput">
        </div>
          </div> -->
          <div id="citybox" class="FilterDialog" style="display: none;">
            <div class="searchmobtitlebar">
              <img alt="close" class="icon-small margin-r-10" src="https://s3.us-east-2.amazonaws.com/prefect-image/cross-grey.png">
              <input type="text" value="" id="search" placeholder="Type to Search">
            </div>
            <div class="city-body">
          <div class="text-tertiary">Cities</div>
          <div class="regular" routerLink="searchresult">All Cities</div>
          <div class="regular" routerLink="searchresult">Delhi NCR</div>
          <div class="regular" routerLink="searchresult">Mumbai</div>
          <div class="regular" routerLink="searchresult">Bangalore</div>
          <div class="regular" routerLink="searchresult">Hyderabad</div>
          <div class="regular" routerLink="searchresult">Pune</div>
          <div class="regular" routerLink="searchresult">Chennai</div>
          <div class="regular" routerLink="searchresult">Goa</div>
          <div class="regular" routerLink="searchresult">Jaipur</div>
          <div class="regular" routerLink="searchresult">Kolkata</div>
          <div class="regular" routerLink="searchresult">Chandigarh</div>
          <div class="regular" routerLink="searchresult">Ahmedabad</div>
          <div class="regular" routerLink="searchresult">Agra</div>
          <div class="regular" routerLink="searchresult">Ambala</div>
          <div class="regular" routerLink="searchresult">Amritsar</div>
          <div class="regular" routerLink="searchresult">Aurangabad</div>
          <div class="regular" routerLink="searchresult">Bhopal</div>
          <div class="regular" routerLink="searchresult">Bhubaneswar</div>
          <div class="regular" routerLink="searchresult">Coimbatore</div>
          <div class="regular" routerLink="searchresult">Dehradun</div>
          <div class="regular" routerLink="searchresult">Guwahati</div>
          <div class="regular" routerLink="searchresult">Indore</div>
          <div class="regular" routerLink="searchresult">Jaisalmer</div>
          <div class="regular" routerLink="searchresult">Jalandhar</div>
          <div class="regular" routerLink="searchresult">Jodhpur</div>
          <div class="regular" routerLink="searchresult">Kerala</div>
          <div class="regular" routerLink="searchresult">Lonavala</div>
          <div class="regular" routerLink="searchresult">Lucknow</div>
          <div class="regular" routerLink="searchresult">Ludhiana</div>
          <div class="regular" routerLink="searchresult">Madurai</div>
          <div class="regular" routerLink="searchresult">Mangalore</div>
          <div class="regular" routerLink="searchresult">Mussoorie</div>
          <div class="regular" routerLink="searchresult">Mysore</div>
          <div class="regular" routerLink="searchresult">Nagpur</div>
          <div class="regular" routerLink="searchresult">Nashik</div>
          <div class="regular" routerLink="searchresult">Patiala</div>
          <div class="regular" routerLink="searchresult">Pushkar</div>
          <div class="regular" routerLink="searchresult">Raipur</div>
          <div class="regular" routerLink="searchresult">Ranchi</div>
          <div class="regular" routerLink="searchresult">Shimla</div>
          <div class="regular" routerLink="searchresult">Siliguri</div>
          <div class="regular" routerLink="searchresult">Silvassa</div>
          <div class="regular" routerLink="searchresult">Srinagar</div>
          <div class="regular" routerLink="searchresult">Surat</div>
          <div class="regular" routerLink="searchresult">Udaipur</div>
          <div class="regular" routerLink="searchresult">Vadodara</div>
          <div class="regular" routerLink="searchresult">Varanasi</div>
          <div class="regular" routerLink="searchresult">Visakhapatnam</div>
          <div class="regular" routerLink="searchresult">Arizona, USA</div>
          <div class="regular" routerLink="searchresult">Australia</div>
          <div class="regular" routerLink="searchresult">Canada</div>
          <div class="regular" routerLink="searchresult">Dubai</div>
          <div class="regular" routerLink="searchresult">HongKong</div>
          <div class="regular" routerLink="searchresult">Indonesia</div>
          <div class="regular" routerLink="searchresult">Italy</div>
          <div class="regular" routerLink="searchresult">Mauritius</div>
          <div class="regular" routerLink="searchresult">Netherlands</div>
          <div class="regular" routerLink="searchresult">Pakistan</div>
          <div class="regular" routerLink="searchresult">Singapore</div>
          <div class="regular" routerLink="searchresult">South Africa</div>
          <div class="regular" routerLink="searchresult">Thailand</div>
          <div class="regular" routerLink="searchresult">UK</div>
          <div class="regular" routerLink="searchresult">USA</div>
          <div class="regular" routerLink="searchresult">Washington , USA</div>
          <div class="regular" routerLink="searchresult">Oman</div>
          <div class="regular" routerLink="searchresult">Puri</div>
          <div class="regular" routerLink="searchresult">Jim Corbett</div>
          <div class="regular" routerLink="searchresult">Ooty</div>
          <div class="regular" routerLink="searchresult">Coorg</div>
          <div class="regular" routerLink="searchresult">Pondicherry</div>
          <div class="regular" routerLink="searchresult">London</div>
          <div class="regular" routerLink="searchresult">New York</div>
          <div class="regular" routerLink="searchresult">San Francisco</div>
          <div class="regular" routerLink="searchresult">Los Angeles</div>
          <div class="regular" routerLink="searchresult">Kanpur</div>
          <div class="regular" routerLink="searchresult">Allahabad</div>
          <div class="regular" routerLink="searchresult">Bali</div>
          <div class="regular" routerLink="searchresult">Bikaner</div>
          <div class="regular" routerLink="searchresult">Patna</div>
          <div class="regular" routerLink="searchresult">Chittorgarh</div>
          <div class="regular" routerLink="searchresult">Kochi</div>
          <div class="regular" routerLink="searchresult">Manila</div>
          <div class="regular" routerLink="searchresult">Phillipines</div>
            </div>
          </div>
          <div id="categorybox" class="FilterDialog" style="display: none;">
            <div class="searchmobtitlebar">
                <img alt="close" class="icon-small margin-r-10" src="https://s3.us-east-2.amazonaws.com/prefect-image/cross-grey.png">
                <input type="text" value="" id="search" placeholder="Type to Search">
            </div>
            <div class="category-body">
    <div class="text-tertiary">Categories</div>
    <div class="regular">All Categories</div>
    <div class="regular">Wedding Venues</div>
    <div class="regular">Wedding Photographers</div>
    <div class="regular">Bridal Makeup</div>
    <div class="regular">Family Makeup</div>
    <div class="regular">Bridal Wear</div>
    <div class="regular">Groom Wear</div>
    <div class="regular">Wedding Decorators</div>
    <div class="regular">Wedding Planner </div>
    <div class="regular">Wedding Cards</div>
    <div class="regular">Wedding Videography</div>
    <div class="regular">Bridal Mehendi</div>
    <div class="regular">Wedding Cakes</div>
    <div class="regular">Wedding Jewellery</div>
    <div class="regular">Wedding Catering</div>
    <div class="regular">Trousseau Packers</div>
    <div class="regular">DJ</div>
    <div class="regular">Sangeet Choreographers</div>
    <div class="regular">Wedding Accessories</div>
    <div class="regular">Wedding Favors</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div id="searchfilterbox" class="col-sm-3  nopadd searchfilterbox">
			<div id="accordion" class="panel">
					<div class="panel-heading">
            
						<h3 class="panel-title"> 
              <i class="material-icons hidden-xs">sort</i>
              <img alt="close" class="icon-small hidden-sm hidden-md hidden-lg" src="https://s3.us-east-2.amazonaws.com/prefect-image/cross-grey.png"> 
            Refine by</h3>


					</div>
					<div class="panel-body  filterbox" >
						<!-- location filter -->
						<div class="panel-heading" >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse0">Locations
									<i class="indicator fa fa-caret-down" aria-hidden="true"></i> 
								</a>
							</h4>
						</div>
						<div id="collapse0" class="panel-collapse collapse ">
							<div class="city_position">
                <input type="text" class="cityinput" placeholder="Type the city"/>
                <i class="material-icons">search</i>
              </div>

							<div class="cityscroll22">
                  <div class="regular" routerLink="searchresult"> <input type="checkbox">  <i class="material-icons">location_on</i> Black River</div>
                  <div class="regular" routerLink="searchresult"> <input type="checkbox">  <i class="material-icons">location_on</i> Flacq</div>
                  <div class="regular" routerLink="searchresult"> <input type="checkbox">  <i class="material-icons">location_on</i> Grand Port</div>
                  <div class="regular" routerLink="searchresult"> <input type="checkbox">  <i class="material-icons">location_on</i> Moka</div>
                  <div class="regular" routerLink="searchresult"> <input type="checkbox">  <i class="material-icons">location_on</i> Pamplemousses</div>
                  <div class="regular" routerLink="searchresult"> <input type="checkbox">  <i class="material-icons">location_on</i> Plaines-Wilhems</div>
                  <div class="regular" routerLink="searchresult"> <input type="checkbox">  <i class="material-icons">location_on</i> Port-Louis</div>
                  <div class="regular" routerLink="searchresult"> <input type="checkbox">  <i class="material-icons">location_on</i> Riviere du Rempart</div>
                  <div class="regular" routerLink="searchresult"> <input type="checkbox">  <i class="material-icons">location_on</i> Savanne</div>
                  <div class="regular" routerLink="searchresult"> <input type="checkbox">  <i class="material-icons">location_on</i> Rodrigues</div>
								<!-- <div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											Delhi NCR
										</label>
									</div>
									<div class="checkbox1" >
										<label>
											<input type="checkbox" value="">
											Mumbai
										</label>
									</div>
									<div class="checkbox1"  >
										<label>
											<input type="checkbox" value="">
											Banglore
										</label>
									</div>
									<div class="checkbox1"  >
										<label>
											<input type="checkbox" value="">
											Indore
										</label>
									</div>
									<div class="checkbox1"  >
										<label>
											<input type="checkbox" value="">
											Pune
										</label>
									</div> -->
							</div>
							
						</div>
						<!-- Price Range  -->
						<div class="panel-heading ">
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse1">
									<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Price Range
								</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse" >
							<div data-role="main" class="ui-content">
                  <form method="post" action="/action_page_post.php">
                    <p> <input type="checkbox" name="" id=""> < 50000 </p>
                    <p> <input type="checkbox" name="" id=""> < 50000 </p>
                    <p> <input type="checkbox" name="" id=""> < 50000 </p>
							      <!-- <div data-role="rangeslider">
							        <label for="price-min">Price:</label>
							        <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
							        <label for="price-max">Price:</label>
							        <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
							      </div> -->
							    </form>
	  						</div>
						</div>
						<!-- Category -->
						<div class="panel-heading" >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse2">
									<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Category
								</a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse " >
                <div class="category-body">
                    <div class="searchmobtitlebar city_position">
                      <i class="material-icons">search</i>
                      <input class="cityinput" type="text" value="" id="search" placeholder="Type to Search Category">
                    </div>
                  <!-- <div class="regular">All Categories</div> -->
                  <div class="regular"><input type="checkbox"><i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/drinks_beverages.svg"/></i><b> All Categories </b>  
                  </div>
                  <div class="regular"><input type="checkbox"><i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Wedding_cake.svg"/></i>Cakes
                  </div>
                  <div class="regular">
                      <input type="checkbox">
                    <i>
                    <img src="https://s3.us-east-2.amazonaws.com/prefect-image/wedding_decorator.svg"/>
                  </i> Decorators & Wedding Stylist</div>
                  <div class="regular">
                      <input type="checkbox">
                      <i>
                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/drinks_beverages.svg"/>
                    </i> Drinks and Beverages</div>
                  <div class="regular">
                      <input type="checkbox">
                      <i>
                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/Fashion&Clothing.svg"/></i> Fashion & Clothing</div>
                  <div class="regular">
                      <input type="checkbox">
                      <i>
                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/florist.svg"/></i> Florists, Bouquets and Centerpiece</div>
                  <div class="regular">
                      <input type="checkbox">
                    <i>
                    <img src="https://s3.us-east-2.amazonaws.com/prefect-image/wedding_car.svg"/> </i> Food & Catering</div>
                  <div class="regular"> <input type="checkbox"> <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Footwear.svg"/></i> Footwear</div>
                  <div class="regular"><input type="checkbox">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/honeymoon.svg"/></i> Honeymoon & Travel</div>
                  <div class="regular"><input type="checkbox">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/stationary.svg"/></i> Invitation Cards & Wedding Stationary</div>
                  <div class="regular"><input type="checkbox">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Jewellery.svg"/></i> Jewellery & Wedding Rings</div>
                  <div class="regular"><input type="checkbox">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/make_up.svg"/></i> Make Up, Hair & Mehendi</div>
                  <div class="regular"><input type="checkbox">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/drinks_beverages.svg"/></i> Marriage Celebrant</div>
                  <div class="regular"><input type="checkbox">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/music_dj.svg"/></i> Music, DJs & Entertainment</div>
                  <div class="regular"><input type="checkbox">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Wedding Planner.svg"/></i> Other wedding Supplies & Accessories</div>
                  <div class="regular"><input type="checkbox">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Photography.svg"/></i> Photography, Videography & Cinematography</div>
                  <div class="regular"><input type="checkbox">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Venues.svg" alt=""> </i> Venues</div>
                  <div class="regular"><input type="checkbox">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/wedding_car.svg"/></i> Wedding Cars & Transport</div>
                  <div class="regular"><input type="checkbox"> <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/drinks_beverages.svg"/> </i> Wedding Planner & Event Management</div>
                  <div class="regular"><input type="checkbox">  <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/Shape&Fitness.svg" alt=""> </i> Shape & Fitness</div>
                </div>
						</div>
						<!-- Customer Rating -->
						<div class="panel-heading" >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Customer Rating</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
							
									<div class="checkbox1 radio">
										<label>
											<input type="radio" value="">
											Any
										</label>
									</div>
								<div class="checkbox1 radio">
										<label>
											<input type="radio" value="">
											1.0+
										</label>
									</div>
									<div class="checkbox1 radio">
										<label>
											<input type="radio" value="">
											2.0+ 
										</label>
									</div>
									<div class="checkbox1 radio">
										<label>
											<input type="radio" value="">
											3.0+ 
										</label>
									</div>
									<div class="checkbox1 radio">
										<label>
											<input type="radio" value="">
											4.0+
										</label>
									</div>
						</div>
					</div>
			</div>
		</div>
		<div class="col-sm-9 listingtab">
      <div class="photo_cont">
	    	<div id="products" class="row list-group" (click)="xyz()">
	        	<div class="item tik3 tik4 col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide.jpg" class="lazyOwl">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues jk
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>
	        	<div class="item tik3 tik4 col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide.jpg" class="lazyOwl">
                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>
	        	<div class="item tik3 tik4 col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide.jpg" class="lazyOwl">
                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>
	        	<div class="item tik3 tik4 col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide.jpg" class="lazyOwl">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>
	        	<div class="item tik3 tik4 col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide.jpg" class="lazyOwl">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>
	        	<div class="item tik3 tik4 col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide.jpg" class="lazyOwl">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>
	        	<div class="item tik3 tik4 col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                      <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide.jpg" class="lazyOwl">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>  	
            <div class="item tik3 tik4 col-sm-4 mar_bottom">
                 <div class="item hover_effect">
                     <img src="https://s3.us-east-2.amazonaws.com/prefect-image/detail_slide.jpg" class="lazyOwl">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
            </div>  
	    	</div>

        <div>
          <div class="page-nation row">
                                        <ul class="pagination pagination-large">
                                        <li class="disabled"><span>«</span></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">6</a></li>
                                        <li><a href="#">7</a></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li class="disabled"><span>...</span></li><li>
                                        <li><a rel="next" href="#">Next</a></li>
                
                                     </ul>
                            </div>
                  
        </div>
		  </div>
    </div>
</div>
</div>

<app-foot> </app-foot>
<router-outlet></router-outlet>
