.glyphicon { margin-right:5px; }
.title-banner h4{
display: block;
text-align: center;
width: 100%;
font-size: 32px;
font-weight: 600;
}
.breadcrums{padding: 15px 0px;}
.searchinnerbanner{
background-image: url('../../assets/img/inner_header.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  padding-top:115px!important;
}
.searchbarinner{
	margin:20px auto;
}
.list-group-item .bottomheadlink{
	display: inline-block;
	float: right;
	width: 50%;
	border-top: 0px solid #e5e5e5;
	background: orange;
    color: #fff;
    font-weight: bold;
    padding: 15px 10px;
}
.list-group-item .list-group-item-text{
margin: 15px 0px;
}
.list-group-item .lead{
	float: left;
}
.list-group-item{
	margin-left: 15px;
}

.searchbarinner input{
background: #ffffff;
padding:10px;
color: #333333;
border: 0px;
border-right:1px solid #e5e5e5;
font-size: 18px;
border-radius: 0px;
}
.searchbarinner button{
background:orange;
padding:8px 20px 9px 20px;
color: #ffffff;
border: 0px;
font-size: 18px;
margin: 0px;
margin-left: -1px;
border-radius: 0px;
height: 44px;
margin-top: -5px;
}
.font18px{font-size: 18px;}
.whitebg{
	background: #ffffff;
}
.borbottom{
	border-bottom: 1px solid #ccc;
}
.bortop1px{
	border-top: 1px solid #ccc;
}

.marbot20px{margin-bottom: 20px;}
.searchcategoryhead{padding:15px 0px 13px 0px;}
.searchresultbox{
	padding: 2px 5px;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	margin: 0px 5px;
	display: inline-block;
}
#products .thumbnail .caption{
	padding:10px 0px 0px 0px;
	text-align: center;
	overflow: hidden;
}
.nopadd{padding: 0px;}
a.bottomheadlink{
border-top: 1px solid #e5e5e5;
display: block;
width: 100%;
color: orange;
font-weight: bold;
padding:15px 10px;
}
a:hover.bottomheadlink{
color: #ffffff;
background: orange;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 0px;
}
.list-group-item .thumbnail{
	border:0px solid #fff;
}
#products .list-group-item .thumbnail .caption{
	padding:10px;
	text-align: left;
	overflow: hidden;
}
.item.list-group-item{
background: #ffffff;
border-radius: 0px;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.list-group{
	flex-direction:inherit;
}
.searchfilterbox .panel-heading{
padding: 0px;
}
.searchfilterbox .panel-heading h3.panel-title{
padding:20px 10px;
font-weight: bold;
border-bottom:1px solid #e5e5e5;
}
.searchfilterbox .panel-heading h4.panel-title{
padding:10px 20px 10px 10px;
font-weight: bold;
border-bottom:0px solid #e5e5e5;

}
.panel-collapse{
border-bottom:1px solid #e5e5e5;
}
.filterbox{
	padding: 0px;
}
.filterbox .panel-heading{
	background: rgba(0, 46, 119, 0.5) !important;
	border-radius: 0px;
	border-bottom: 1px solid #e5e5e5;
	font-weight: normal;
}
 #list, #grid{
	margin-right:10px;
	color: #000000;
	font-size: 20px;
}
 #list i, #grid i{
	font-size: 30px;
}
.filterbox .panel-collapse{padding: 10px;
	border-bottom: 1px solid #ccc;
}
.checkbox1 label{
display: block;
}
.cityscroll{
	max-height: 105px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 10px 0px;
}
.cityinput{
	width: 100%;
}
.filterbox h4.panel-title a{
display: block;
font-weight: normal;
}
.filterbox h4.panel-title a .indicator {
float: right;
}
.filterbox h4.panel-title a:hover {
	color:#000000;
}
.favicon{
	position: absolute;
	top: 15px;
	right: 25px;
	color: #ffffff;
	cursor: pointer;
	text-shadow: 0px 0px 20px #000000;
}
 @media (max-width:767px){
 	.searchcategoryhead{text-align: center;}
 	.searchcategoryhead .btn-group{
 		display: none;
 	}
 	.searchresultbox{
 		margin-bottom: 5px;
 	}
 	.searchbarinner{
 		max-width: 90%;
 		margin: 0px auto;
 	}
 	.searchbarinner input{
 		width: 100%;
 		border-bottom: 1px solid #e5e5e5;
 		border-right:0px;
 	}
 	.searchbarinner button{
 		width: 100%;
 		margin-left: 0px;
 		margin-top:-1px;
 	}
 }