  <div id="wrappervendor" class="">
  <app-menu></app-menu>
  <app-tool *ngIf="basicPlan != 3">
   
  </app-tool>
  <div class="container-fluid recomslider">
      <!--Carousel Wrapper-->
  <div class="container">
      <!--Slides-->

      <!-- {{slidesStore }} -->
        <owl-carousel-o [options]="customOptions" (initialized)="getData($event)">
          <ng-container *ngFor="let slide of slidesStore">
            <ng-template carouselSlide="1" >
              <div class="boxtikslide" (click)="goToPortfolioDetail(slide)" >
                <div class="procard"> </div>
                <!-- {{slide.profileImage }} -->
                <img class="card-img-top" *ngIf = "slide" [src]="slide.profileImage | defaultImage:'https://s3.us-east-2.amazonaws.com/prefect-image/store_noimg.jpg':true"/>
                <span class="book_mark"><i class="material-icons">bookmark_border</i></span>
                <div class="card-body ">
                  <div class="text-center"> 
                   <h6><strong>{{slide.nameOfBusiness}}</strong> </h6>
                   <button *ngIf='slide.vendorCategories[0].categories' class="wedding_btn">
                    {{getCategoryName(slide)}}  </button>              
                            <p class="locat_icon">
                      <i class="material-icons">location_on</i> 
                     <span>  {{ slide.district.name}}</span>
                      </p>
                      <p *ngIf='slide.averageRating>0' class="statr_point">
                      <span style="color:red" [innerHTML]='ratingmodel.printStars(slide.averageRating)'></span>
                    </p>
                    <p *ngIf='!slide.averageRating>0' class="statr_point">
                      <span style="color:red">Not Yet Rated !</span>
                    </p>
                    </div>
              
                    <div class="col-md-12 col-12">
                      <div class="col-md-8 col-8 pad_left_0 pad_left_5px">
                        <img src="../../assets/img/money.svg" class="imgfloatleft" alt="">
                          <span>Price from</span>
                          <span *ngIf='slide.priceTag' class="pric_200">{{slide.priceTag}}</span>
                          <span *ngIf='!slide.priceTag' class="pric_200">Custom Price</span>
                      </div>
                      <div *ngIf='slide.dealsCount>0' class="col-md-4 col-4 span_positin">
                       <img src="../../assets/img/tag.svg"  alt=""> 
                      <span>Deals</span>
                      <span>1</span>
                      </div>
                    </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <!-- {{slidesStore | json}} -->    
  </div>  
    <!--End Slides-->
</div>

<!--/.Carousel Wrapper-->





<div class="filterbtnmobile">
  <i class="fa fa-filter">
</i>
</div>


<div class="container martopless18px mobviewbox">
  <div class="row">
    <div class="col-sm-3 nopadd ipadnone">
      <button class="showhidefilter">
         <i class="material-icons">clear</i>&nbsp; 
         <span class="hidetext">Hide</span>
         <span class="showtext">Show</span> 
         Filters
         
      </button>
    </div>
    <div class="col-sm-9 ipad100">
      <div class="container-fluid nopadd">
        <div class="badgecontainer">
          <span *ngIf='objSearchResultItems' class="badge badge-primary badge-labeled">
          {{SelectedCategory?SelectedCategory.categoryName:''}}  {{SelectedLocation?'in '+SelectedLocation.name:''}} (  {{collection?collection.length:0}} Results)
          </span>
         </div>
        <div class="clearfix"></div>
          <ol class="breadcrumb breadcrumbcontainer">
            <li><a href="#">Home</a></li>
            <li><a href="#">Wedding Vendors</a></li>
            <!-- <li><a href="#">All Categories</a></li> -->
            <li class="active">{{SelectedCategory?SelectedCategory.categoryName:''}}</li>
          </ol>

           <div class="btn-group hidden-xs">
            <a href="#" id="list" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-th-list"></span>List
            </a> 
            <a href="#" id="grid" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-th-large"></span>Grid
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container ipadwidth">
  
	<div class="row">
		<div id="searchfilterbox" class="col-sm-3  nopadd searchfilterbox">
			<div id="accordion" class="panel">
					<div class="panel-heading  hidden-xs"> 
						<h3 class="panel-title"> 
              <i class="material-icons hidden-xs">sort</i>
              <img alt="close" class="icon-small hidden-sm hidden-md hidden-lg" src="https://s3.us-east-2.amazonaws.com/prefect-image/cross-grey.png"> 
              Refine by
            </h3>
					</div>
					<div class="panel-body  filterbox" >
            <!-- location filter -->
            <div class="locationboxmobile">
                <div class="panel-heading" >
                <h4 class="panel-title">
                    <i class="backicon material-icons hidden-sm hidden-lg hidden-lg">
                      arrow_back_ios
                    </i>
                  <a data-toggle="collapse" href="#collapse0">Locations 
                    <!-- ({{objSearchlistvm.districts.length}}) -->
                    <i class="indicator fa fa-caret-down hidden-xs" aria-hidden="true"></i> 
                  </a>
                </h4>

            
                  <ul class="selectedlist" *ngIf='!showAllLocation'>
                      <li>
                        <i class="material-icons">location_on</i> 
                        {{SelectedLocation?SelectedLocation.name:''}}
  
                        <span (click)='setFilterOptions(3,SelectedLocation)'  class="closebtnlist">&times;</span>
                      </li>
                    </ul>

                </div>
                <div id="collapse0" class="panel-collapse collapse ">
                    <div class="category-body" *ngIf='showAllLocation'>

                        <div  class="searchmobtitlebar city_position">
                            <input type="text" [(ngModel)]='locationFilterParam' placeholder="Type the city" class="cityinput"/>
                          </div>

                          <div class="cityscroll22" >
                              <div class="funkyradio">
                                <div class="funkyradio-info" *ngFor='let l of locations| custompipe:locationFilterParam'>
                                  <!-- <input type="checkbox" id='{{l.name}}' [checked]="l.isSelect"  [(ngModel)]='l.isSelect'/> -->
                                    <label (click)='setFilterOptions(3,l)' for='{{l.name}}'><i class="material-icons">location_on</i> {{l.name}}</label>
                                  </div>
                              </div>
                              
                          </div>

                    </div>
               
  
               			
                </div>
              </div>
            	<!-- Category -->
              <div class="categoryboxmobile">
                  <div class="panel-heading" >
                    <h4 class="panel-title">
                       <i class="backicon material-icons hidden-sm hidden-lg hidden-lg">
                        arrow_back_ios
                      </i>
                      <a data-toggle="collapse" href="#collapse2">
                        <i class="indicator fa fa-caret-down hidden-xs" aria-hidden="true"></i> Category 
                        <!-- ({{objSearchlistvm.categoryId.length}}) -->
                      </a>
                    </h4>

                    <ul class="selectedlist" *ngIf='!showALlCategories'>
                        <li>
                           <span> {{SelectedCategory?SelectedCategory.categoryName:""}} <span (click)='setFilterOptions(1,SelectedCategory)' class="closebtnlist">&times;</span></span>
                        </li>
                    </ul>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse pddtop0px">
                      <div class="category-body ">
                          <div style="display:none" class="searchmobtitlebar city_position">
                            <i class="material-icons">search</i>
                            <input class="cityinput" type="text" [(ngModel)]='categoryFilterParam' placeholder="Type to Search Category">
                          </div>
                        <!-- <div class="regular">All Categories</div> -->
                          <div class="cityscroll22 "> 
                            <div class="funkyradio" *ngIf='showALlCategories'>  
                              <div class="funkyradio-info" *ngFor='let c of categories| categoryPipe:categoryFilterParam'>
                               <!-- <input type="checkbox" name="checkbox" id="{{c.categoryName}}" (change)='setFilterOptions(1,c.categoryId)' [(ngModel)]='c.isSelect'/> -->
                                   <label (click)='setFilterOptions(1,c)' for='{{c.categoryName}}'><i>  <img src="https://s3.us-east-2.amazonaws.com/prefect-image/drinks_beverages.svg"/></i>
                                      {{c.categoryName}}  
                                  </label>
                               </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            <!--Services-->
            <div class="serviceboxmobile">
              <div class="panel-heading" >
                <h4 class="panel-title">
                   <i class="backicon material-icons hidden-sm hidden-lg hidden-lg">
                    arrow_back_ios
                  </i>
                  <a data-toggle="collapse" href="#collapse33">
                    <i class="indicator fa fa-caret-down hidden-xs" aria-hidden="true"></i> Services
                  </a>
                </h4>
              </div>
              <div id="collapse33" class="panel-collapse collapse" >
                  <div class="category-body">
                    <div class="searchmobtitlebar city_position ">
                      <i class="material-icons">search</i>
                      <input class="cityinput" type="text" value="" id="search" placeholder="Type to Search Category">
                    </div>
                    <!-- <div class="regular">All Categories</div> -->
                    <div class="cityscroll22"> 
                      <div class="funkyradio" *ngIf='filters'>  
                        <div class="funkyradio-info" *ngFor='let f of filters.services'>
            
                         <input type="checkbox" (change)='setFilterOptions(2,f)' [(ngModel)]='f.isSelect' name="checkbox"  id="{{f.serviceName}}"/>
                            <label for="{{f.serviceName}}"> <i>  <img src="https://s3.us-east-2.amazonaws.com/prefect-image/drinks_beverages.svg"/></i>
                            {{f.serviceName}}  
                          </label>
                       </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <!--End Services filters-->
						<!-- Price Range  -->
            <div class="priceboxmobile">
  						<div class="panel-heading ">
  							<h4 class="panel-title">
                   <i class="backicon material-icons hidden-sm hidden-lg hidden-lg">
                    arrow_back_ios
                  </i>
  								<a data-toggle="collapse" href="#collapse1">
  									<i class="indicator fa fa-caret-down hidden-xs" aria-hidden="true"></i> Price Range
  								</a>
  							</h4>
  						</div>
  						<div id="collapse1" class="panel-collapse collapse" >
                 
                  <div class="funkyradio" *ngIf='filters && filters.filters'>
                    <div class="funkyradio-info"  *ngFor='let p of filters.filters[0].customFieldOptionList'>
                      <input type="checkbox" name="checkbox" (change)='setFilterOptions(7,p)'  id="{{p.key}}"/>
                      <label for="{{p.key}}"> {{p.key}}</label>  
                    </div>
                  </div>
  						</div>
            </div>
          

<!-- Featured Listing   -->
<div class="featureboxmobile">
    <div class="panel-heading ">
      <h4 class="panel-title">
         <i class="backicon material-icons hidden-sm hidden-lg hidden-lg">
          arrow_back_ios
        </i>
        <a data-toggle="collapse" href="#collapse333">
          <i class="indicator fa fa-caret-down hidden-xs" aria-hidden="true"></i> Featured Listing
        </a>
      </h4>
    </div>
    <div id="collapse333" class="panel-collapse collapse" >
       
        <div class="funkyradio">
          <div class="funkyradio-info" *ngFor='let feature of featuredListingArray'>
            <input type="checkbox" name="checkbox" id="{{feature.key}}" (change)='setFilterOptions(8,feature)'/>
            <label  for="{{feature.key}}">{{feature.key}}</label>  
          </div>
        </div>
    </div>
  </div>
						<!-- Customer Rating -->
            <div class="ratingboxmobile">
  						<div class="panel-heading" >
  							<h4 class="panel-title"> 
                  <i class="backicon material-icons hidden-sm hidden-lg hidden-lg">
                    arrow_back_ios
                  </i>
  								<a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down hidden-xs" aria-hidden="true"></i> Customer Rating</a>
  							</h4>
  						</div>
  						<div id="collapse3" class="panel-collapse collapse">
                 <div class="funkyradio">
                    <div class="funkyradio-info" *ngFor='let ur of userRatingArray'>
                        <input type="checkbox" name="checkbox" id="{{ur.key}}" (change)='setFilterOptions(6,ur)'/>
                      <label  for="{{ur.key}}">
                        {{ur.key}}
                    </label>
                    </div>
                  </div>
  						</div>
            </div>
	          <!-- Deals & Offers -->
            <div class="dealboxmobile">
                <div class="panel-heading ">
                  <h4 class="panel-title">
                     <i class="backicon material-icons hidden-sm hidden-lg hidden-lg">
                      arrow_back_ios
                    </i>
                    <a data-toggle="collapse" href="#collapse444">
                      <i class="indicator fa fa-caret-down hidden-xs" aria-hidden="true"></i> Deal & Offers
                    </a>
                  </h4>
                </div>
                <div id="collapse444" class="panel-collapse collapse" >
                   
                    <div class="funkyradio">
                      <div class="funkyradio-info" *ngFor='let dd of dealsAndOfferArray'>
                         <input type="checkbox" name="checkbox" id="{{dd.key}}" (change)='setFilterOptions(9,dd)' />
                        <label for="{{dd.key}}">{{dd.key}}</label>  
                      </div>
                    </div>
                </div>
              </div>
            <!--Filters-->
            <div class="filterboxmobile">
              <div class="panel-heading" >
                <h4 class="panel-title">
                   <i class="backicon material-icons hidden-sm hidden-lg hidden-lg">
                    arrow_back_ios
                  </i>
                  <a data-toggle="collapse" href="#collapse44">
                    <i class="indicator fa fa-caret-down hidden-xs" aria-hidden="true"></i> Filters
                  </a>
                </h4>
              </div>
              <div id="collapse44" class="panel-collapse collapse" >
                  <div class="category-body">
                    <div class="cityscroll22"> 
                      <div *ngIf='filters'>
                        <div class="funkyradio" *ngIf='filters.filters'>  
                          <div class="funkyradio-info" style="border-bottom:1px;border-bottom-style:inset;border-bottom-color:gray" *ngFor='let ff of filters.filters'>
                            <input type="checkbox" *ngIf='ff.name!="Starting Price"' name="checkbox" id="{{ff.name}}" (change)='setFilterOptions(4,ff.customFieldId)' [(ngModel)]='ff.isSelect'/> 
                              <label *ngIf='ff.name!="Starting Price"' for="{{ff.name}}">
                                 <i><img src="https://s3.us-east-2.amazonaws.com/prefect-image/drinks_beverages.svg"/></i>
                                {{ff.name}} 
                              </label>
                              <div *ngFor='let fc of ff.customFieldOptionList'>
                                <div *ngIf='ff.isSelect'>
                                <input type="checkbox" class="tikmik" name="checkbox" [(ngModel)]='fc.isSelect'(change)='setFilterOptions(5,fc)'/>
                                  {{fc.displayText}}
                                </div>  
                              </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
            <!--End Filters-->  
			</div>
		</div>
		<div class="col-sm-9 listingtab">
        <div class="row">
            <!--services-->
            <div *ngIf=filters>
          <span class="filterrowcard" *ngFor='let f of filters.services'>
            <span  *ngIf='f.isSelect'>{{f.serviceName}}</span>
            </span>
          </div>
            <!--Price Range-->
            <!-- <div *ngIf='filters && filters.filters'>
            <span class="filterrowcard" *ngFor='let p of filters.filters[0].customFieldOptionList'>
              <span  *ngIf='p.isSelect'>{{p.key}}</span>
              </span>
            </div> -->
                <span class="filterrowcard" *ngFor='let f of faaturedListingArray'>
                    <span  *ngIf='f.isSelect'>{{f.key}}</span>
                    </span>

                    <span class="filterrowcard" *ngFor='let f of userRatingArray'>
                    <span *ngIf='f.isSelect'>{{f.key}}</span>
                    </span>
                    <span class="filterrowcard" *ngFor='let f of dealsAndOfferArray'>
                        <span *ngIf='f.isSelect'>{{f.key}}</span>
                    </span>
                    <div *ngIf='filters && filters.filters'>
                    <div  *ngFor='let ff of filters.filters'>
                    <span class="filterrowcard" *ngFor='let fc of ff.customFieldOptionList'>
                      <span *ngIf='fc.isSelect'>{{fc.displayText}}</span>
                   </span>
                   </div>
                  </div>
                    
          </div>
          
      <div class="photo_cont">
       	<div id="products" class="row list-group photo-group">
          <div *ngIf='objSearchResultItems'>
	        	<div id='dv1' #dv1 *ngFor='let i of collection' (click)="goToPortfolioDetail(i)" class="item tik3 tik4 col-6 col-sm-4 grid-group-item mobpad5px ">

	                <div class="card mb-2 bordre_rad1 hover_effect">
                    <div class="thumbnail">

                      <img class="group list-group-image"  *ngIf = "i" [src]='i.profileImage' alt="Card image cap">
                      <span class="book_mark">
                        <i class="material-icons">bookmark_border</i>
                      </span>
                      <div class="imgnum">
                        <span *ngIf='i.albums[0]'>
                           <img src="../../assets/img/picture.png"/>
                           <span>
                            {{i.albums[0].albumImages.length}}</span>
                            <span *ngIf='!i.albums[0]'>0</span>
                        </span>
                        <span *ngIf='i.vendorVideos.length>0'>
                            <img src="../../assets/img/video.png"/>{{i.vendorVideos[0].vendorVideos.length}}</span>
                        <!-- <span *ngIf='!i.vendorVideos.length>0'>
                          <img src="../../assets/img/video.png"/>
                         <span>0</span>
                          
                      </span> -->
                      </div>
                      <div class="caption card-body">
                        <div>
                          <h6><strong>{{i.nameOfBusiness}}</strong></h6>

                          <button *ngIf='i.vendorCategories[0].categories' class="wedding_btn">
                            {{getCategoryName(i)}}  </button>

                          <!-- <p class="locat_icon" *ngIf='i.vendorLocations.length>0'> -->
                          <p class="locat_icon">   
                            <i class="material-icons">location_on</i> 
                            <!-- {{i.vendorLocations[0].suburb.name}}, -->
                            <!-- {{i.vendorLocations[0]?.districts.name}} -->
                            <span>  {{ i.district.name}}</span>
                        

                            <!-- {{i.vendorLocations[0].country.name}},
                            {{i.vendorLocations.postalCode}} -->

                          </p>
                          
                          <p class="statr_point">
                            
                            <!-- <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span> -->
                            <!-- <ngb-rating [(rate)]="4"></ngb-rating> -->
                            <span *ngIf='i.averageRating>0'>
                             {{i.averageRating}} <!--{{i.reviews}}  -->
                            <span style="color:red" [innerHTML]='ratingmodel.printStars(i.averageRating)'></span>
                          </span>

                          <span *ngIf='!i.averageRating>0'>

                            <span style="color:red">Not Yet Rated !</span>
                          </span>
                          </p>
                         
                        </div>
                       <div class="col-md-12 col-12 cardfoottext">
                          <div class="col-md-8 col-8 pad_left_0 pad_left_5px">
                            <img src="../../assets/img/money.svg" class="imgfloatleft" alt="">
                              <span>Price from</span>
                              <span *ngIf='i.priceTag' class="pric_200"> {{i.priceTag}}</span>
                              <span *ngIf='!i.priceTag' class="pric_200">Custom Price</span>
                          </div>
                          <div *ngIf='i.dealsCount>0' class="col-md-4 col-4 span_positin">
                           <img src="../../assets/img/tag.svg"  alt=""> 
                          <span>Deals</span>
                          <span>{{i.dealsCount}}</span>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="descrip">
                          {{i.businessDetails?i.businessDetails:'N/A'}}
                        </div>
                      </div>
                    </div>
	       		      </div>
            </div>
          </div>
	     	</div>
        <div>

          <img *ngIf='loading' src="https://www.walgreens-hearing.com/img/loader.gif" style="bottom:35%;position: fixed;z-index:99999;margin-left:18%">
                  <!-- <ngb-pagination [collectionSize]="objSearchResultItems?.totalCount" [(page)]="objSearchResultItems.page" [boundaryLinks]="true"></ngb-pagination>
             <span class="totalpage">{{objSearchResultItems.totalPages}} (Page)s</span> -->
        </div>
      </div>
    </div>
</div>
</div>
<div class="filterselectbox">

  <div class="col-sm-12">
    <button class="clearbtn" (click)='clearFilters()'>Clear</button>
    <button class="applybtn">Apply</button>

<div class="clearfix"></div>

<p class="text-center">Filters (0)</p>

<div class="filterrow categoryfilter">
  <h1>Category<i class="material-icons">arrow_right</i></h1>
  <div>
    <span class="badge" *ngFor='let c of categories'>
      <div *ngIf='c.isSelect'>{{c.categoryName}}<span>X</span> </div>
    </span>
  </div>
</div>


<div class="filterrow locationfilter">
  <h1>Location <i class="material-icons">arrow_right</i></h1>
  <div *ngIf='showAllLocation'>
    <span class="badge" *ngFor='let l of locations'>
      <div *ngIf='l.isSelect'>{{l.name}} </div>
    </span>
     <!-- <span class="badge">
     Grand Port <i class="material-icons">clear</i>
    </span> -->
  </div>
  <div *ngIf='!showAllLocation'>
      <span class="badge" *ngFor='let l of locations'>
        <div *ngIf='l.isSelect'> {{SelectedLocation.name}}</div>
      </span>
       <!-- <span class="badge">
       Grand Port <i class="material-icons">clear</i>
      </span> -->
    </div>
  
</div>

<div class="filterrow servicefilter" *ngIf='filters'>
  <h1>Services  <i class="material-icons">arrow_right</i></h1>
  <div *ngFor='let f of filters.services'>
    <span class="badge" (click)='setFilterOptions(2,f.servicesId)'>
        {{f.serviceName}} 
    </span>
  </div>
</div>

<div class="filterrow pricefilter" *ngIf='filters && filters.filters'>
  <h1>Price Range (1) <i class="material-icons">arrow_right</i></h1>
  <div *ngFor='let p of filters.filters[0].customFieldOptionList'>
    <span class="badge" (click)='setFilterOptions(7,p)'>
        {{p.key}}
    </span>
  </div>
</div>

<div class="filterrow featuredfilter">
  <h1>Featured Listing (1) <i class="material-icons">arrow_right</i></h1>
  <div *ngFor='let feature of faaturedListingArray'>
    <span class="badge" (click)='setFilterOptions(8,feature)'>
        {{feature.key}}
    </span>
  </div>
</div>

<div class="filterrow dealsoffer">
  <h1>Deals & Offers <i class="material-icons">arrow_right</i></h1>
  <div *ngFor='let dd of dealsAndOfferArray'>
    <span class="badge" (click)='setFilterOptions(9,dd)'>
        {{dd.key}}
    </span>
  </div>
</div>

<div class="filterrow filteroffer" *ngIf='filters && filters.filters'>
  <h1>Filters (1) <i class="material-icons">arrow_right</i></h1>
  <div *ngFor='let ff of filters.filters'>
    <span class="badge" (click)='setFilterOptions(4,ff)'>
        {{ff.name}} 
    </span>
  </div>
</div>



<div class="filterrow ratingfilter">
  <h1>Customer Rating (0)</h1>
  <div>
    <button class="rating active">Any</button>
    <button class="rating">
    2.0
    <div>
      <i class="material-icons">star</i> 
      <i class="material-icons">star</i> 
      <i class="material-icons">star_border</i>
      <i class="material-icons">star_border</i>
      <i class="material-icons">star_border</i>
    </div>
  </button>
  <button class="rating">
    3.0
      <div>
        <i class="material-icons">star</i> 
        <i class="material-icons">star</i> 
        <i class="material-icons">star</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
      </div>
  </button>
  <button class="rating">4.0
    <div>
      <i class="material-icons">star</i> 
      <i class="material-icons">star</i> 
      <i class="material-icons">star</i>
      <i class="material-icons">star</i>
      <i class="material-icons">star_border</i>
    </div>
  </button>
  </div>
</div>


<div class="clearfix"></div>

<div class="filterrow martop50px">
  <h1>Preferred View</h1>
        <div class="btn-group">

            <a href="#" id="photoview" class="btn btn-default btn-sm hidden-lg hidden-sm hidden-md">
              <span class="glyphicon glyphicon-picture"></span>Photo View
            </a>

            <a href="#" id="gridmobile" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-th-large"></span>Grid
            </a>
          
        </div>
</div>


  </div>

</div>

<app-foot> </app-foot>
</div>
<router-outlet></router-outlet>
