.glyphicon { margin-right:5px; }
.title-banner h4{
display: block;
text-align: center;
width: 100%;
font-size: 32px;
font-weight: 600;
}
.breadcrums{padding: 15px 0px;}
.searchinnerbanner{
background-image: url('https://s3.us-east-2.amazonaws.com/prefect-image/inner_header.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  padding-top:115px!important;
}
.filterbtnmobile{
  display:none;
}
.searchbarinner{
	margin:20px auto;
}
.filterselectbox{
  display: none;
  position: fixed;
  background: #fff;
  height: 100vh;
  width:100%;
  top: 0px;
  z-index: 999999;
}
.filterselectbox .clearbtn{
  width:45%;
  padding:10px;
  border:1px solid #e72e77;
  background: #fff;
  margin: 10px;
  color: #e72e77;
  text-transform: uppercase;
}
.filterselectbox .applybtn{
  width:45%;
  padding:10px;
  background:#e72e77!important;
  color: #fff;
  border:1px solid #e72e77;
  text-transform: uppercase;
}
.filterrow{
  max-width: 92%!important;
  margin: 10px auto;
}
.filterrow h1{
font-size: 14px;
font-weight: bold;
margin:0px 0px 3px 0px;
}
.filterrow h1 i.material-icons{
float: right;
}
.filterrow .badge{
width:inherit;
height: inherit;
border-radius: 3px;
background: #e5e5e5!important;
padding:3px 6px;
color: #333;
margin-right: 3px;
}
.filterrow .badge i.material-icons{
float: right;
font-size: 14px;
}
.filterrow button.rating{
border: 1px solid #e5e5e5;
padding: 0px 4px;
font-size: 16px;
margin: 2px;
height: 52px;
width: 62px;
float: left;
line-height: 16px;
outline:none;
}
.filterrow button.rating i{
color:orange;
font-size: 10px;
}
.filterrow button.rating.active{
border-bottom:1px solid #e72e77;
background:#e72e77;
color: #fff;
} 
.filterrow button.rating.active i{
color: #fff;
} 
.backicon{
  float: left;
}
.searchbarinner input{
background: #ffffff;
padding:10px;
color: #333333;
border: 0px;
border-right:1px solid #e5e5e5;
font-size: 18px;
border-radius: 0px;
}
.searchbarinner button{
background:#e72e77;
padding:8px 20px 9px 20px;
color: #ffffff;
border: 0px;
font-size: 18px;
margin: 0px;
margin-left: -1px;
border-radius: 0px;
height: 44px;
margin-top: -5px;
}
.font18px{font-size: 18px;}
.whitebg{
	background: #ffffff;
}
.borbottom{
	border-bottom: 1px solid #ccc;
}
.bortop1px{
	border-top: 1px solid #ccc;
}

.marbot20px{margin-bottom: 20px;}
.searchcategoryhead{padding:15px 0px 13px 0px;}
.searchresultbox{
	padding: 2px 5px;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	margin: 0px 5px;
	display: inline-block;
}
.nopadd{padding: 0px;}
a.bottomheadlink{
border-top: 1px solid #e5e5e5;
display: block;
width: 100%;
color: #e72e77;
font-weight: bold;
padding:15px 10px;
}
a:hover.bottomheadlink{
color: #ffffff;
background: #e72e77;
}
.thumbnail{
  padding:0px;
  border:0px;
}
.list-group-item img.list-group-image{
    float: left;
    max-height: inherit;
    height: auto;
    display: block;
    max-width: 100%;
    width:inherit;
    height: 175px;
    object-fit:cover;
}
.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}
.list-group-item{
  border:0px;
  background: transparent;
}
#products .list-group-item .thumbnail .caption{
  text-align:left!important;
  padding:15px 10px!important;
  overflow: hidden;
}

#products .grid-group-item .thumbnail .caption{
  text-align: center!important;
  overflow: hidden;
  padding:10px 10px!important;
}
.thumbnail .caption .wedding_btn{
padding: 3px 18px!important;
font-size: 11px!important;
margin: 3px 0px!important;
}
.cardfoottext{
  font-size:12px!important;
  line-height: 24px!important;
  padding: 0px;
}
#products .list-group-item .thumbnail .caption .cardfoottext{
  max-width: 220px;
  margin-top:5px;
}

.imgnum{
  position:absolute;
  left:0px;
  right:0px;
  text-align:center;
margin-top:-35px;
}
  .imgnum span{
    background: #f5f5f5;
    overflow: hidden;
    display: inline-block;
    padding: 2px 5px;
    margin: 0px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}
.imgnum span i{
  float:left;
}
.imgnum span span{
  background: transparent;
  overflow: hidden;
  display: inline-block;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  box-shadow: none;
  float: right;
  line-height: 24px;
  margin-left: 5px;
}
#products .list-group-item .card .thumbnail .imgnum{
  max-width:260px!important;
  bottom:4px!important;
}
#products .list-group-item .thumbnail .caption .locat_icon{
padding-top: 5px;
padding-bottom: 5px;
}
.recomslider{
background-color:#fcfcfc;
height: auto; 
margin: 50px 0 0px 0;
padding: 30px 0px 40px 0;
}
.list-group{
	flex-direction:inherit;
}
.book_mark i{
  position: absolute;
  right: 6px;
  top: 7px;
  font-size: 20px;
  cursor: pointer;
  background: rgba(229, 229, 229,0.8);
  padding:5px;
  border-radius:100%;
  transition:0.5s;
}
.book_mark i:hover{  background: rgba(220,0,112,0.8);  
  color: #ffffff; 
}
.searchfilterbox .panel{
    background: transparent;
    border-bottom: 0px solid #fff;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.showhidefilter{
  margin:0px auto;
  background:linear-gradient(40deg, #d8005a, #dc0070) !important;
  border-radius: 6px;
  padding: 7px 10px;
  border:0px;
  outline: none;
  color:#fff;
  font-weight: 700;
  font-size: 14px;
}
.showhidefilter i{
  float: left;
}
.showhidefilter span{
  float: left;
}
.showhidefilter .showtext{
  display: none;
}
.showhidefilter .hidetext{
  display: inherit;
}
.showhidef



ilter.textshowhide .hidetext{
  display: none;
}
.showhidefilter.textshowhide .showtext{
  display: inherit;
}

.searchfilterbox .panel-heading{
padding: 0px;
}
.searchfilterbox .panel-heading h3.panel-title{
font-weight: bold;
margin-bottom:20px;
}
.searchfilterbox .panel-heading h3.panel-title i.material-icons {
  float: left;
  margin-right: 5px;
}
.showhidefilter i.material-icons{
transition: .5s;
 margin-right: 5px;
}
.showhidefilter.textshowhide i.material-icons{
transform: translateY(0px) translateX(0px) rotate(-135deg);
}
.searchfilterbox .panel-heading h4.panel-title{
padding:10px 20px 10px 10px;
font-weight: bold;
border-bottom:0px solid #e5e5e5;
color: #000 !important;
}
.panel-collapse{
border-bottom:1px solid #e5e5e5;
}
.filterbox{
	padding: 0px;
}
.filterbox .panel-heading{
	background: #ffffff !important;
	border-radius: 0px;
	font-weight: normal;
	color: #000;
    margin-bottom: 10px;
}

.panel-collapse.collapse{
    margin-bottom: 10px;
}
 #list, #grid, #photoview{
	margin-right:10px;
	color: #000000;
	font-size: 20px;
}
 #list i, #grid i, #photoview{
	font-size: 30px;
}
.filterbox .panel-collapse{padding: 10px;
	border-bottom: 0px solid #ccc;
}
.checkbox1 label{
display: block;
}
.cityscroll{
	max-height: 105px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 10px 0px;
}
.cityinput{
  width: 100%;
  border-radius: 50px;
    border: none;
    text-indent: 30px;
    box-shadow: 0px 0px 6px #999;
    cursor: pointer;
    padding:6px 5px;
}
.city_position{
  position: relative;
}
.searchmobtitlebar{
  position: relative;
}
.category-body .icon-small{
  width: auto;
    max-height: 15px;
    vertical-align: middle;
    position: absolute;
    top: 15px;
    left: 10px;
}
.category-body .regular, .city-body .regular {
  text-align: left;
  padding: 6px 0px;
  font-size: 16px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-body[_ngcontent-c2] .regular[_ngcontent-c2] i[_ngcontent-c2] {
  margin-right: 15px;
}
.category-body .regular i img {
  margin-right: 10px;
  margin-left: 10px;
  width: 24px !important;
}
.regular .all_categry{
  margin-left: 10px;
  font-weight: bold;
}
.cityscroll22{
  padding:10px 0px;
}
.cityscroll22 .material-icons{
  font-size: 20px;
  position: relative;
  top: 4px;
  margin-left:5px;
  display:initial!important;
}
.city_position .material-icons{
  position: absolute;
  left: 10px;
  top: 7px;
  color: #e72e77
}
.collapse.show{
  display: block!important;
}
.filterbox h4.panel-title a{
display: block;
font-weight: normal;
}
.filterbox h4.panel-title a .indicator {
float: right;
}
.filterbox h4.panel-title a:hover {
	color:#000000;
}
.favicon{
	position: absolute;
	top: 15px;
	right: 25px;
	color: #ffffff;
	cursor: pointer;
	text-shadow: 0px 0px 20px #000000;
}
.footer_bg {margin-top: 20px;}
.hover_effect {
    transition: all .25s;
    background-color: #fff;
}
.onHoverDiv {
    display: none;
    float: left;
    position: absolute;
    transition: all .3s ease;
    width: 100%;
}
.onHoverDiv h5 {
    margin-right: 0;
    text-align: right;
    font-size: 16px;
    color: #292929;
    float: left;
    font-weight: normal;
    line-height: 1.1;
    margin: 0;
    width: 100%;
}
.onHoverDiv h5 a {
    margin-right: 1px;
    border: 0;
    color: #ed434c;
    outline: 0;
    text-decoration: none;
}

div.share_div {
    background: #fff;
    box-shadow: 0 0 10px -1px #d3d3d3;
    display: none;
    float: right;
    margin-right: 8%;
    opacity: .8;
    padding: 0;
    position: relative;
    width: 105px;
    z-index: 12;
}
.jssocials-shares {
    margin: .2em 0;
}
.totalpage{
  color:#aeaeaf;
  position: absolute;
  top:5px;
  right: 10px; 
  text-transform:uppercase;
  font-weight: bold;
  }
.page-nation{
  position: relative;
}
.carousel_cat_body {
    margin: 0 5px;
    padding: 5px 0;
}
img.lazyOwl{
  max-height: 150px;
  max-width: 100%;
  padding:6px;
}
.carousel_cat {
    background: #e72e77;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 22px;
    font-weight: 700;
    padding: 0px 8px;
    text-transform: uppercase;
}
.carousel_content{
    padding: 0px 5px 5px 5px;
}
.carousel_title {
    color: #383838;
    font-weight: 700;
    margin: 0 5px;
   
    text-transform: capitalize;
}
.carousel_city {
    
    background-size: 10px;
    color: #6e798a;
    font-size: 12px;
    font-weight: 400;
    margin: 0 2px;
    padding: 0 0 0 3px;
    text-transform: capitalize;
}
.carousel_rating {
    color: #6e798a;
    font-size: 12px;
    font-weight: 400;
    padding-left: 5px;

}
.owl-item{
     width: 215px !important;
}
.mar_bottom{
   margin-bottom: 20px;
}
.checked{
   color: #e72e77 ;
}


/*slider css*/

.slider_top{
   margin-top: 80px;
   padding: 20px 30px;
   margin-bottom: 20px;
}

.sub_div_slider{
   background-color: #fff;
   margin-top: 0px;
   padding-left: 10px;
   color: #000;
   padding-top: 10px;
}

.sub_div_slider .heading{
    color: #e72e77;
    font-size: 18px;
    padding: 5px 0px;

}
.mony_city span{
   display: inline-block;
   margin-right: 0 !important;
   color: #e72e77;
}
.sub_div_slider p{
   line-height: 5px !important;
}

/*End slider css*/

.thumbnail{margin-bottom: 0px !important;}
.carousel-control.left{
    background-image: url("https://s3.us-east-2.amazonaws.com/prefect-image/ic_arrow_right.png");
    background-repeat: no-repeat;
    rotate:180deg;
    width: 50px;
    height: 50px;
    opacity: 1;
    transform: rotate(180deg);
    top:35%;
    left:20px;
}
.carousel-control.left span, .carousel-control.right span{
    display: none;
}
.carousel-control.right{
    background-image: url("https://s3.us-east-2.amazonaws.com/prefect-image/ic_arrow_right.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    opacity: 1;
    top:35%;
    right:20px;
}
.carousel-indicators{
    display: none;
}
.searchtopbar{
margin-bottom: 20px;
margin-top: 20px;
overflow: hidden;
}
.searchtopbar div{
    padding: 0px;
}
.searchtopbar input, .searchtopbar select{
    width: 100%;
    background: #ffffff;
    border:1px solid #ccc;
    -webkit-apperience:none;
    height: 40px;
    text-indent: 10px;
}
.carousel_city span{
    display: inline-block;
    margin-right: 0 !important;
    color: #e72e77
}
.check_input span{
  margin-left: 5px;
  font-size: 14px;
}
.check_input input{
    margin-left: 5px;
}
.cityinput2{
    background: url(https://s3.us-east-2.amazonaws.com/prefect-image/location_new.png) #ffffff no-repeat 7px 10px !important;
    text-indent: 20px!important;
}

.venueinput{
    background: url(https://s3.us-east-2.amazonaws.com/prefect-image/select_category_new.png) #ffffff no-repeat 7px 10px !important;
    text-indent: 35px!important;
}
.searchinput{
    background: url(https://s3.us-east-2.amazonaws.com/prefect-image/search_new.png) #ffffff no-repeat 7px 10px !important;
    text-indent: 35px!important;
}
.hover_effect:hover{
    transform: scale(1.03);
    box-shadow: 0 0 2px 2px #d3d3d3;
}
.jssor_1{

    padding-top: 100px;
}

.jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        .jssorb057 .i {position:absolute;cursor:pointer;}
        .jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
        .jssorb057 .i:hover .b {stroke-opacity:.7;}
        .jssorb057 .iav .b {stroke-opacity: 1;}
        .jssorb057 .i.idn {opacity:.3;}

        .jssora073 {display:block;position:absolute;cursor:pointer;}
        .jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
        .jssora073:hover {opacity:.8;}
        .jssora073.jssora073dn {opacity:.4;}
        .jssora073.jssora073ds {opacity:.3;pointer-events:none;}

.sub_div_slider{
  
  width: 100%;
  top: 150px;
}
.img_height div img{

  height: 150px !important;
}



/* carosel css*/
.caro_control{
  top: 25%;
}
.bordre_rad1{
  border: 0px solid rgb(228, 223, 223);
  border-radius: 1px;
  font-size: 14px;
  position: relative;
  box-shadow:0px 0px 20px #e5e5e5!important;
  margin-top:0px!important;
  margin-bottom:20px!important;
}
.card-body a{
  color: #444;
}
.in_list ul li{
  list-style-type: none;
}
.information_ico{
  display: inline-block;
  width: 20px;
  float: right !important;
}

.card-body{
  background-color: #fff;
  padding: 10px 0px;
}
.card-body .card_icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.list{
  padding: 0%;
  margin: 0%;
  margin-left: -15px;
 
}

.card-body .list ul{
  margin: 0%;
  padding: 0%;
} 
.card-body .list ul li{
  list-style-type: none; 
  margin: 0;
  padding: 0;
} 
.card-body h6{
  font-weight: bold !important;
  margin-bottom: 5px !important;
}

.list span{
  font-size: 12px;
  display: block;
}
.padd_zero{
  padding: 0;
}
.list span i{
  font-size: 13px;

}
.john_btn{
  background-color: palevioletred;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.card-body span{
  display: block;
}
.marg_top{
  margin-top: 20px;
  border-top: 1px solid rgb(247, 243, 243);
  padding: 10px 0px;
  font-size: 13px;
}
.marg_top span{
  margin-bottom: 5px;
}
.flo_left{
  float: left;
}
.flo_righ{
  float: right;
}
.span_mag span{
   margin-bottom: 10px;
}
.caroosel_headin{
margin-bottom:30px;
    margin-top: 50px;
}


  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
   height: 175px;
    width: 100%;
    border-radius: 0px;
    object-fit:cover;
  }
  .badge{
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .card_tittle img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
  }
  .card_tittle .top_padd{
    margin-top: 10px;
  }
  .top_padd ul{
    padding: 0%;
    margin: 0%;
    float: left;
  }
  .top_padd ul li{
    list-style-type: none;
  }
  .pad_leftd{
    padding-left: 0 !important;
  }
  .pad_rigtd{
    padding-right: 0 !important;
  }
.btn_next{
  position: absolute;
  left: -35px;
  opacity:0.4;
  top: 150px;
}
.btn_pre{
  position: absolute;
  right: -35px;
  top: 150px;
  opacity:0.4;
}

  .feature_supp{
    background-color: #888;
   margin-top: 50px;
   margin-bottom: 50px;
  }
  figure.effect-layla h2{
    padding-top: 0% !important;
    font-size: 20px;
  }
  .grid-hover figure{
    max-height: 250px !important;
  }
  .grid-hover{
     padding: 0px !important;
  }
  figure.effect-layla img{
    height: 380px !important;
  }
.vendors_tools{
  background-color:#fcfcfc;
  padding: 30px 0px;
  margin-bottom: 50px;
}
.vendors_head{
  text-align: center;

}
.vender_headin{
  margin-bottom: 50px;
}
.homeTools[_ngcontent-c3]{
  background-color: unset !important;
}
.homeTools__item{
  width: 100% !important;
}
.wedding_btn{
  background-color: #e72e77;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0px 18px;
  font-size: 10px;
}
.statr_point{
  margin-bottom: 5px !important;
  font-size:12px!important; 
}
.statr_point span{
  display: inline-block;
}
.locat_icon i{
  position: relative;
  top: 2px;
  font-size: 0.80rem;
}
.locat_icon {
  margin-bottom: 0;
    font-size: 0.80rem;
}
.imgfloatleft{
  float:left;
  max-width:25px;
  margin-right:10px;
}
.pad_left_5px{
  padding-left: 5px !important;
}
.pad_left_0 {
  text-align: left !important;
}
.pad_left_0 i {
  font-size: 40px;
}
.pric_200 {
  margin-top: -8px;
  color: #e72e77;
}

.span_positin{
  padding-left: 0 !important;
  padding-right: 0 !important;
  float:right;
  max-width:70px;
  padding-top:7px;
}
.span_positin span{
  display: inline-block;
  color: #b215ff;
  margin-left: 10px;
  float:right;
  width:34px;
  line-height:14px;
  text-align:center;
}

.span_positin img{
  float:left;
  max-width:25px;
  max-height:25px;
  top:0px;
}
.pad_righ_0{
  padding-left: 0 !important;
  padding-right: 0 !important; 
}


.collapse.show{
  display: block!important;
  }



.martopless18px{
  margin-top:-18px;
}
.breadcrumbcontainer{
  background: transparent;
  padding:0px;
  float: left;
}
.btn-group{
  float: right;
}
#list, #grid, #photoview{
    margin-right: 10px;
    color: #000000;
    font-size: 16px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 10px;
    background: transparent;
    border:0px;
    box-shadow: none!important;
  }
  #list:hover, #grid:hover, #photoview:hover{
    border:0px;
    outline: none!important;
  }
.badgecontainer .badge{
  width: inherit!important;
  height: inherit!important;
  border-radius: 5px!important;
  margin-right: 5px!important;
  margin-bottom: 5px!important;
  letter-spacing: normal!important;
  line-height: 26px!important;
}
.badgecontainer select{
  float: right;
    height: 38px;
    padding: 5px;
    border-radius: 6px;
    background: linear-gradient(40deg, #d8005a, #dc0070) !important;
    color: #fff;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
}
.badgecontainer select option{color:#000;}
.badgecontainer .badge img{
  max-height: 20px;
  max-width: 20px;
  float: left;
  margin-right: 5px;
}

.filterbox .panel-collapse{
  background: #fff!important;
  margin-top: -10px!important;
}

.collapse.show.in{
  display: block!important;
  }

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


.funkyradio{
    overflow:hidden;
    padding-bottom: 10px;
}
.funkyradio label {
  width: 100%;
  border-radius: 3px;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  // display: none;
  // radio show
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 30px;
  margin-top:5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.funkyradio-info{
font-size:14px;
}
.funkyradio-info i img{
  max-width: 20px;
}
.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 10px;
  bottom: 0;
  left: 0;
  content: '';
  width: 1.5em;
  height:1.5em;
  background: #ffffff;
  border:1px solid #666;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: 5px;
  line-height:1.4em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  color: #333;
  text-indent: 5px;
  line-height:1.4em;
  background-color: #fff;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
  border:1px solid #5bc0de;

}

//pagination


:host /deep/ .page-link{
  margin-right: 0;
  border-radius: 0;
  border-width: 1px;
}

:host /deep/ .page-item{
  &:first-child{
      .page-link{
          border-top-left-radius: 0.3em;
          border-bottom-left-radius: 0.3em;
      }
  }
  &:last-child{
      .page-link{
          border-top-right-radius: 0.3em;
          border-bottom-right-radius: 0.3em;
      }
  }
}
:host /deep/ .pagination-lg, .pagination-sm {
  .page-item:first-child .page-link{
      border-top-left-radius: 0.3em;
      border-bottom-left-radius: 0.3em;
  }
}

:host /deep/ .pagination-lg, .pagination-sm {
  .page-item:last-child .page-link{
      border-top-right-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
  }

}


@media (max-width:768px){
  .totalpage{
   position: relative; 
   text-align:center;
   display:block;
   margin-top:-7px;
   margin-bottom:20px;
   }
   .panel-heading{
     margin-bottom: 15px!important;
   }
   .list-group{
     padding: 10px!important;
   }
   .panel-collapse.collapse{
     display: block!important;
     visibility: visible!important;
   }
   .panel-heading h4{
     padding-bottom: 15px;
     line-height: 24px;
   }
 
 .mobviewbox{
 margin-top:70px!important;
 text-align:center!important;
 float: inherit!important;
 }
 .mobpad5px{
   padding: 0px 5px!important;
 }
 .btn-group{
   float: inherit;
   margin: 0px auto;
 }
 .breadcrumbcontainer {
   display: none;
 }
 .showhidefilter{
   display: none;
 }
 .badgecontainer select{
 float: inherit;
 }
 .searchfilterbox .panel-heading h3.panel-title{
 font-weight: bold;
 margin: 0px auto;
 width: 100%;
 }
 img.lazyOwl{
   max-height: inherit;
 }
  .recomslider{display:none;}
   .searchcategoryhead{text-align: center;}
   .searchcategoryhead .btn-group{
     display: none;
   }
   .searchresultbox{
     margin-bottom: 5px;
   }
   .searchbarinner{
     max-width: 90%;
     margin: 0px auto;
   }
   .searchbarinner input{
     width: 100%;
     border-bottom: 1px solid #e5e5e5;
     border-right:0px;
   }
   .searchbarinner button{
     width: 100%;
     margin-left: 0px;
     margin-top:-1px;
   }
     .mob_top_mar{
      margin-top: 20px;
     }
     .carousel_content{
     padding-left: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
     }
     .py-3{
     padding-bottom: 0px !important;
     padding-top: 0px !important;
     }
   .searchfilterbox{
   display:none;
   position: fixed;
   z-index: 999999;
   height: 100vh;
   background: #ffffff;
   top:0px;
   }
   .searchinput50{
   max-width:50%!important;
   float:left;
   }
   .fixedsearch{
   position: fixed;
   z-index: 99999;
   width: 50%;
   top:50px;
   box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
   -moz-box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
   -webkit-box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
   }
  .fixedsearch select {
   border:0px solid #fff;
   }
   .fixedsearch select option {
   display:none!important; 
   opacity:0;
   }
   .left0{
   left:0px;
   }
   .right0{
   right:0px;
   border-left:1px solid #ccc;
   }
   .mobserchfieldpage{
   padding:4%!important;
   margin-top:15px;
   }
   .searchtopbar{
   margin-bottom:5px;
   }
   .mobserchfieldpage .searchinput{
   border-radius:20px;
   border:0px solid #fff;
   box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
   -moz-box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
   -webkit-box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
   }
   .FilterDialog{
     position: fixed;
     height: 100vh;
     left: 0px;
     top: 0px;
     width: 100%;
     background: #333;
     z-index: 999999;
     overflow: scroll;
     overflow-x: hidden;
 }
 
 
 
 .icon-small {
   width: auto;
   max-height: 15px;
   vertical-align: middle;
   position:absolute;
   top:15px;
   left:10px;
 }
 .searchmobtitlebar{
   position:relative;
 }
 .searchmobtitlebar input{
 padding:10px;
 width:100%;
 border:0px solid #fff;
 outline:none!important;
 text-indent:25px;
 color:#000000;
 }
 .category-body, .city-body{
 text-align:left;
 color: inherit;
 outline: none;
 background:transparent;
 }
 .text-tertiary{
     text-align: left;
     padding: 10px 20px;
     font-size: 16px;
     color: #999;
 }
 .category-body .regular, .city-body .regular{
     text-align: left;
     padding: 6px 20px;
     font-size: 16px;
     color: #333;
 }
 .filterbtnmobile{
     position: fixed;
     width: 50px;
     height: 50px;
     line-height: 50px;
     text-align: center;
     right: 5%;
     top: 60%;
     color: white;
     font-weight: bold;
     border-radius: 50%;
     box-shadow: 0 0 10px -1px black;
     z-index: 10;
     cursor: pointer;
     background:#e72e77;
     display:block;
 }
 .searchfilterbox .panel-heading h3.panel-title {
     padding: 12px 10px 12px 35px;
     border-bottom: 1px solid #e5e5e5;
 }
 
 .filterbox{
   max-width:90%;
   margin:0px auto;
 }
 .filterbox .panel-heading{
 margin-bottom:0px;
 border-bottom:1px solid #e5e5e5;
 }
 .left280px{
   left:280px!important;
 }
 .left467px{
   left:467px!important;
 }
 .col-8{
   float: left;
 }
 #list{
   display: none;
 }
 #products .grid-group-item .thumbnail .caption {
   padding: 10px 0px!important;
 }
 .grid-group-item .col-8{
   max-width: 100px;
   padding-right: 0px!important;
 }
 .grid-group-item .imgfloatleft, .grid-group-item .span_positin img{
   max-width: 20px!important;
 }
 .grid-group-item .cardfoottext{
   font-size: 11px;
 }
 .grid-group-item .span_positin{
 max-width: 65px;
 padding-right: 5px!important;
 }
 .grid-group-item .span_positin span{
 margin-left:1px;
 }
 #products .photo-group-item .thumbnail .caption {
   padding: 15px 10px!important;
   overflow: hidden;
   text-align: center;
 }
 #products .photo-group-item .thumbnail img{
 max-height: inherit;
 }
 
 .page-nation{
   margin-bottom: 10px;
 }
 .category-body .cityscroll22{
     overflow-x: hidden;
     overflow-y: scroll;
     position: relative;
     height: 100vh;
 }
 .ipadnone,.searchfilterbox{
  display: none;
}
.mobviewbox{
  max-width: inherit;
}
.listingtab{
  flex: inherit;
  max-width: inherit;
}
.ipad100{
  flex: inherit; 
  max-width: inherit;
}
.ipadwidth{
  max-width: inherit;
}
 
 }


 @media (max-width:736px){
  
  .ipadnone,.searchfilterbox{
    display: none;
  }
  .mobviewbox{
    max-width: inherit;
  }
  .listingtab{
    flex: inherit;
    max-width: inherit;
  }
  .ipad100{
    flex: inherit; 
    max-width: inherit;
  }
  .ipadwidth{
    max-width: inherit;
  }
 }
 