<app-menu></app-menu>


<!-- jassor carousel-slider -->
 <div class="carousel-inner " role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
            <div class="col-md-4 bordre_rad">
                <div class="card mb-2 bordre_rad1 bordre_rad1">
                    <img class="card-img-top img-responsive" src="../../assets/img/sup_photo.jpeg" alt="Card image cap">
                    <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>
      
            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="../../assets/img/flowrist_sup.jpg" alt="Card image cap">
                    <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
                    <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-4">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                    <div class="card-body">
                      <div class="col-md-8 card_body_inner">
                          <a href="#"> <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon"></a>
                          <div class="in_list">

                            <ul style="margin: 0%;padding: 0%;">
                              <li><a href="#"> John In Happiness</a></li>
                              <li style="float: left;margin-left: 10px;"> <a href="#"> <i class="material-icons">edit_location</i>  Indore </a></li>
                            </ul> 
                          
                        </div>
                        </div>  
                      <div class="col-md-4 in_list">
                          <ul style="margin: 0%;padding: 0%;">
                              <li style="margin-left: 13px;" class="fa fa-star checked"> <a href="#" style="color: #fff;"> &nbsp; 4.9</a></li>
                              <li style="float: left;margin-left: 17px;"> <a href="#"> 8 reviews</a></li>
                            </ul>  

                        
                      </div>

                      <div class="clearfix"></div>
                      <hr style="border-color:rgb(243, 238, 238)"> 
                     <div class="col-md-6 span_mag">
                        <span class="flo_left"> <a href="#"> Photo Package</a>  </span>
                        <span class="flo_left"> <a href="#" class="john_btn" style="color: #fff;"> Photography</a>  </span>

                     </div>
                     <div class="col-md-6">
                        <span> <a href="#" style="color: palevioletred;font-size: 15px;"> Rs. 50,000 per day </a> </span>  
                        <span  style="  margin-top: 10px;margin-right: 5px;">  <i class="large material-icons information_ico">information</i> </span>
                     </div>


                           


                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                    <div class="card-body">
                      <div class="col-md-8 card_body_inner">
                          <a href="#"> <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon"></a>
                          <div class="in_list">

                            <ul style="margin: 0%;padding: 0%;">
                              <li><a href="#"> John In Happiness</a></li>
                              <li style="float: left;margin-left: 10px;"> <a href="#"> <i class="material-icons">edit_location</i>  Indore </a></li>
                            </ul> 
                          
                        </div>
                        </div>  
                      <div class="col-md-4 in_list">
                          <ul style="margin: 0%;padding: 0%;">
                              <li style="margin-left: 13px;" class="fa fa-star checked"> <a href="#" style="color: #fff;"> &nbsp; 4.9</a></li>
                              <li style="float: left;margin-left: 17px;"> <a href="#"> 8 reviews</a></li>
                            </ul>  

                        
                      </div>

                      <div class="clearfix"></div>
                      <hr style="border-color:rgb(243, 238, 238)"> 
                     <div class="col-md-6 span_mag">
                        <span class="flo_left"> <a href="#"> Photo Package</a>  </span>
                        <span class="flo_left"> <a href="#" class="john_btn" style="color: #fff;"> Photography</a>  </span>

                     </div>
                     <div class="col-md-6">
                        <span> <a href="#" style="color: palevioletred;font-size: 15px;"> Rs. 50,000 per day </a> </span>  
                        <span  style="  margin-top: 10px;margin-right: 5px;">  <i class="large material-icons information_ico">information</i> </span>
                     </div>


                           


                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                    <div class="card-body">
                      <div class="col-md-8 card_body_inner">
                        <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon">
                          
                        </div>  
  
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

            <div class="col-md-4">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Card image cap">
                    <div class="card-body">
                      <div class="col-md-8 card_body_inner">
                          <a href="#"> <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon"></a>
                          <div class="in_list">

                            <ul style="margin: 0%;padding: 0%;">
                              <li><a href="#"> John In Happiness</a></li>
                              <li style="float: left;margin-left: 10px;"> <a href="#"> <i class="material-icons">edit_location</i>  Indore </a></li>
                            </ul> 
                          
                        </div>
                        </div>  
                      <div class="col-md-4 in_list">
                          <ul style="margin: 0%;padding: 0%;">
                              <li style="margin-left: 13px;" class="fa fa-star checked"> <a href="#" style="color: #fff;"> &nbsp; 4.9</a></li>
                              <li style="float: left;margin-left: 17px;"> <a href="#"> 8 reviews</a></li>
                            </ul>  

                        
                      </div>

                      <div class="clearfix"></div>
                      <hr style="border-color:rgb(243, 238, 238)"> 
                     <div class="col-md-6 span_mag">
                        <span class="flo_left"> <a href="#"> Photo Package</a>  </span>
                        <span class="flo_left"> <a href="#" class="john_btn" style="color: #fff;"> Photography</a>  </span>

                     </div>
                     <div class="col-md-6">
                        <span> <a href="#" style="color: palevioletred;font-size: 15px;"> Rs. 50,000 per day </a> </span>  
                        <span  style="  margin-top: 10px;margin-right: 5px;">  <i class="large material-icons information_ico">information</i> </span>
                     </div>


                           


                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Card image cap">
                    <div class="card-body">
                      <div class="col-md-8 card_body_inner">
                          <a href="#"> <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon"></a>
                          <div class="in_list">

                            <ul style="margin: 0%;padding: 0%;">
                              <li><a href="#"> John In Happiness</a></li>
                              <li style="float: left;margin-left: 10px;"> <a href="#"> <i class="material-icons">edit_location</i>  Indore </a></li>
                            </ul> 
                          
                        </div>
                        </div>  
                      <div class="col-md-4 in_list">
                          <ul style="margin: 0%;padding: 0%;">
                              <li style="margin-left: 13px;" class="fa fa-star checked"> <a href="#" style="color: #fff;"> &nbsp; 4.9</a></li>
                              <li style="float: left;margin-left: 17px;"> <a href="#"> 8 reviews</a></li>
                            </ul>  

                        
                      </div>

                      <div class="clearfix"></div>
                      <hr style="border-color:rgb(243, 238, 238)"> 
                     <div class="col-md-6 span_mag">
                        <span class="flo_left"> <a href="#"> Photo Package</a>  </span>
                        <span class="flo_left"> <a href="#" class="john_btn" style="color: #fff;"> Photography</a>  </span>

                     </div>
                     <div class="col-md-6">
                        <span> <a href="#" style="color: palevioletred;font-size: 15px;"> Rs. 50,000 per day </a> </span>  
                        <span  style="  margin-top: 10px;margin-right: 5px;">  <i class="large material-icons information_ico">information</i> </span>
                     </div>


                           


                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Card image cap">
                    <div class="card-body">
                      <div class="col-md-8 card_body_inner">
                          <a href="#"> <img src="../../assets/img/card_icon.jpg" style="float: left;" class="card_icon" alt="card_icon"></a>
                          <div class="in_list">

                            <ul style="margin: 0%;padding: 0%;">
                              <li><a href="#"> John In Happiness</a></li>
                              <li style="float: left;margin-left: 10px;"> <a href="#"> <i class="material-icons">edit_location</i>  Indore </a></li>
                            </ul> 
                          
                        </div>
                        </div>  
                      <div class="col-md-4 in_list">
                          <ul style="margin: 0%;padding: 0%;">
                              <li style="margin-left: 13px;" class="fa fa-star checked"> <a href="#" style="color: #fff;"> &nbsp; 4.9</a></li>
                              <li style="float: left;margin-left: 17px;"> <a href="#"> 8 reviews</a></li>
                            </ul>  

                        
                      </div>

                      <div class="clearfix"></div>
                      <hr style="border-color:rgb(243, 238, 238)"> 
                     <div class="col-md-6 span_mag">
                        <span class="flo_left"> <a href="#"> Photo Package</a>  </span>
                        <span class="flo_left"> <a href="#" class="john_btn" style="color: #fff;"> Photography</a>  </span>

                     </div>
                     <div class="col-md-6">
                        <span> <a href="#" style="color: palevioletred;font-size: 15px;"> Rs. 50,000 per day </a> </span>  
                        <span  style="  margin-top: 10px;margin-right: 5px;">  <i class="large material-icons information_ico">information</i> </span>
                     </div>


                           


                    </div>
                </div>
            </div>

        </div>
        <!--/.Third slide-->

    </div>

<!--End jassor carousel-slider -->







<div class="container">
	<div class="row">
		<div class="col-sm-3  nopadd searchfilterbox">
			<div id="accordion" class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Search Filter</h3>
					</div>
					<div class="panel-body  filterbox" >
						<!-- location filter -->
						<div class="panel-heading" >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse0">Locations
									<i class="indicator fa fa-caret-down" aria-hidden="true"></i> 
								</a>
							</h4>
						</div>
						<div id="collapse0" class="panel-collapse collapse ">
							<div><input type="text" class="cityinput" placeholder="Type the city"/></div>

							<div class="cityscroll">
								<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											Delhi NCR
										</label>
									</div>
									<div class="checkbox1" >
										<label>
											<input type="checkbox" value="">
											Mumbai
										</label>
									</div>
									<div class="checkbox1"  >
										<label>
											<input type="checkbox" value="">
											Banglore
										</label>
									</div>
									<div class="checkbox1"  >
										<label>
											<input type="checkbox" value="">
											Indore
										</label>
									</div>
									<div class="checkbox1"  >
										<label>
											<input type="checkbox" value="">
											Pune
										</label>
									</div>
							</div>
							
						</div>
						<!-- Price Range  -->
						<div class="panel-heading ">
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse1">
									<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Price Range
								</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse" >
							<div data-role="main" class="ui-content">
	    						<form method="post" action="/action_page_post.php">
							      <div data-role="rangeslider">
							        <label for="price-min">Price:</label>
							        <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
							        <label for="price-max">Price:</label>
							        <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
							      </div>
							    </form>
	  						</div>
						</div>
						<!-- Category -->
						<div class="panel-heading filterbox" >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse2">
									<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Category
								</a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse " >
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											citroen
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											citroen
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											citroen
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											citroen
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											citroen
										</label>
									</div>
								
						</div>
						<!-- Customer Rating -->
						<div class="panel-heading" >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Customer Rating</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
							
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											1 <i class="fa fa-star"></i>  & above
										</label>
									</div>
								<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											2 <i class="fa fa-star"></i>  & above
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											3 <i class="fa fa-star"></i>  & above
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											4 <i class="fa fa-star"></i>  & above
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											5 <i class="fa fa-star"></i>  & above
										</label>
									</div>
						</div>
					</div>
			</div>
		</div>

		<div class="col-sm-9 mob_top_mar">
<div class="photo_cont">
  <div class="container-fluid nopadd ">
  
<div class="searchtopbar">
	<div class="col-sm-2">
		<select class="cityinput2">
		    <option>All Cities</option>
		    <option>Indore</option>
		    <option>Bhopal</option>
		</select>
	</div>
<div class="col-sm-2">
		<select class="venueinput">
		    <option> Venue</option>
		    <option>Photo</option>
		    <option>Photo</option>
		</select>
	</div>
	<div class="col-sm-8">
		<input type="text" name="" placeholder="Search" class="searchinput">
	</div>

</div>
   





 </div>

	    	<div id="products" class="row list-group">
	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>


	       		<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>



	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	
	        	
	        	
	        	
	    	</div>
		</div>
</div>

</div>
</div>

<app-foot> </app-foot>
<router-outlet></router-outlet>
