<app-menu></app-menu>
<div class="sign_up_container container" id="up">
   <h2 class="text-center font-bold pt-4 pb-5 mb-5"><strong> Vendor Registration </strong></h2>
   <!-- Stepper -->
   <div class="steps-form-2" (click)="loadScript()">
      <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
         <div class="steps-step-2">
            <a href="#step-1" type="button" class="first_step btn btn-amber btn-circle-2 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="Your Business Category "><i class="fa fa-folder-open-o" aria-hidden="true"></i>
            </a>
            <div class="clearfix"></div>
            <p class="ml-yb">   Your Business Category  </p>
         </div>
         <div class="steps-step-2">
            <a href="#step-2" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="General Information"><i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <p> General Information  </p>
         </div>
         <div class="steps-step-2">
            <a href="#step-3" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Business Information"><i class="fa fa-photo" aria-hidden="true"></i>
            </a>
            <p> Business Information </p>
         </div>
         <div class="steps-step-2">
            <a href="#step-4" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect mr-0" data-toggle="tooltip" data-placement="top" title="Payment"><i class="fa fa-check" aria-hidden="true"></i>
            </a>
            <p> Payment   </p>
         </div>
      </div>
   </div>
   <!-- First Step -->
   <form role="form" action="" method="post" class="mt-25 mtx-0" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row setup-content-2" id="step-1">
        <div class="col-md-12 cate_list">
            <div class="data">
                <!--   <div  class="show" *ngFor="let category of categoryArray"> -->
                <div  class="show" >
                <div class="col-md-12 nopadd">
                    <ul class="unstyled centered">
                        <li class="col-md-4 col-sm-4" *ngFor="let category of categoryArray">
                        <input                 
                            type="radio" 
                            name="category"               
                            id=" {{category.categoryId}} "
                            checked
                            [value]="category.categoryId"
                            [(ngModel)]= "user.vendorCategories[0].categoryId"
                            #required="ngModel"
                            required
                        /> 
                        <label>{{category.categoryName}} </label>
                        <span class="focus-border"></span>
                        <!-- <small class="form-text text-muted danger validationErrorMsg" *ngIf="required.touched && required.errors?.required">Category is required!</small> -->
                        <!-- <small class="form-text text-muted danger" *ngIf="!category.valid && (category.dirty || category.untouched)">category is required!</small> -->
                    </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12 btnholder">
                <!-- [disabled]="!required.valid" -->
            <button class="btn gradint_blue white signup_nextbtn btnborradius pull-right nextBtn-2" type="button"> Next </button>
        </div>
    </div>
    <!-- Second Step -->
    <div class="row setup-content-2" id="step-2">
        <div class="logininfobox">
            <h3 class="pl-0 my-4 lc_head"> Account Information </h3>
            <div class="form-group">
                  <label>First Name</label>
                <input 
                    class="form-control" 
                    type="text" 
                    id="firstName" 
                    ngModel #firstName="ngModel" 
                    [ngModelOptions]="{updateOn: 'blur'}"
                    [(ngModel)] = "user.logInInfo.firstName" 
                    name = "firstName" 
                    pattern="^[a-zA-Z]{3,}$"
                    required
                />
                <small class="form-text text-muted danger" *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">Firstname is required!</small>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input 
                    class="form-control" 
                    type="text"  
                    [(ngModel)] = "user.logInInfo.lastName" 
                    name = "lastName" 
                    id="lastName" 
                    ngModel 
                    #lastName="ngModel" 
                    [ngModelOptions]="{updateOn: 'blur'}"
                    required 
                    pattern="^[a-zA-Z]{3,}$"
                />
                <small class="form-text text-muted danger" *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">Lastname is required!</small>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input 
                    class="form-control" 
                    type="email" 
                    id="email" 
                    name = "email" 
                    ngModel 
                    #email="ngModel" 
                    [ngModelOptions]="{updateOn: 'blur'}"
                    autocomplete="username"
                    [(ngModel)] = "user.contactInfo.email" 
                    required 
                    pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,}$"
                />
                <small class="form-text text-muted danger" *ngIf="!email.valid && (email.dirty || email.touched)">Email is required!</small>
            </div>
            <!-- [(ngModel)] = "user.contactInfo.email"   -->
            <div class="form-group">
                 <label>Password</label>
                <input 
                    class="form-control" 
                    type="password" 
                    [(ngModel)] = "user.logInInfo.password" 
                    name = "password" 
                    ngModel 
                    #password="ngModel" 
                    autocomplete="new-password"  
                    [ngClass]="{ 'is-invalid': password.invalid }"
                    required 
                    minlength="6"
                    validateEqual="confirmPassword" reverse="true"
                />
                <!-- <div *ngIf="password.touched && password.invalid" class="invalid-feedback form-submit">
                        <small class="form-text text-muted danger"  *ngIf="password.errors.required">Password is required!</small>
                        <small class="form-text text-muted danger"  *ngIf="password.errors.minlength">Password must be at least 6 characters!</small>
                </div> -->
                <div *ngIf="password.invalid && (password.dirty || password.touched)"  class="form-text text-muted danger" >
                        <div  class="form-text text-muted danger"  *ngIf="password.errors.required">
                               Password is required.
                        </div>
                        <div  class="form-text text-muted danger"  *ngIf="password.errors.minlength">
                                Password must be at least 6 characters!
                        </div>
                    </div>
            </div>
            <div class="form-group">
                 <label>Confirm Password</label>
                <input 
                    class="form-control" 
                    type="password" 
                    autocomplete="new-password"
                    id="confirmPassword" 
                    ngModel 
                    #confirmPassword="ngModel" 
                    [(ngModel)] = "user.logInInfo.confirmPassword" 
                    name = "confirmPassword" 
                    minlength="6" 
                    [ngClass]="{ 'is-invalid': confirmPassword.invalid }"
                    required
                    validateEqual="password" reverse="false"
                />
                <!-- <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
                        Password mismatch
                      </small> -->
                <!-- <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="invalid-feedback form-submit">
                        <small class="form-text text-muted danger"  *ngIf="confirmPassword.errors.required">Confirm Password is required!</small>
                        <small class="form-text text-muted danger"  *ngIf="confirmPassword.errors.minlength">Confirm Password must be at least 6 characters!</small>
                </div> -->
                    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"  class="form-text text-muted danger" >
                        <div  class="form-text text-muted danger"  *ngIf="confirmPassword.errors.required">
                               Confirm Password is required.
                        </div>
                        <div  class="form-text text-muted danger"  *ngIf="confirmPassword.errors.minlength">
                                Confirm Password must be at least 6 characters!
                              </div>
                        <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
                                Password mismatch
                        </small>
                    </div>

            </div>
            <div class="form-group">
                 <label>Phone No</label>
                <input 
                    class="form-control" 
                    type="text"  
                    id="phone"  
                    ngModel #phone="ngModel" 
                    [ngModelOptions]="{updateOn: 'blur'}"
                    [(ngModel)] = "user.contactInfo.phone" 
                    name = "phone" 
                    required
                    minlength="7" 
                    maxlength="10"
                />
                <small class="form-text text-muted danger" *ngIf="!phone.valid && (phone.dirty || phone.touched)">Phone is required!</small>

            </div>
            <!-- [(ngModel)] = "user.contactInfo.phone"  -->
        </div>
        <div class="col-sm-12 btnholder">
            <button class="btn btn-raised prevBtn-2 gradint_blue white signup_nextbtn btnborradius pull-left" type="button">Previous</button>
            <button class="btn btn-raised gradint_blue white signup_nextbtn btnborradius nextBtn-2 pull-right" type="button" [disabled]="!phone.valid">Next</button>
        </div>
    </div>
    <!-- Third Step -->
    <div class="row setup-content-2" id="step-3">
        <div class="logininfobox">
            <h3 class="pl-0 my-4 lc_head"> Business Information </h3>
            <div class="form-group">
                 <label>Name of your Bussiness</label>
                <input 
                    class="form-control" 
                    type="text" 
                    placeholder="Name of your Bussiness"
                    id="nameOfBusiness"  
                    ngModel 
                    #nameOfBusiness="ngModel" 
                    [ngModelOptions]="{updateOn: 'blur'}" 
                    [(ngModel)] = "user.businessInfo.nameOfBusiness" 
                    name = "nameOfBusiness" 
                    required
                />
                <!-- pattern="^[a-zA-Z ]{3,}$"  -->
                <small class="form-text text-muted danger" *ngIf="!nameOfBusiness.valid && (nameOfBusiness.dirty || nameOfBusiness.touched)">Name is required!</small>
            </div>
            <!-- <div class="input-effect form-group md-form mt-3 ">
                <input class="effect-16 validate" 
                type="hidden"
                id="countryName" 
                [(ngModel)] = "user.businessInfo.countryName" 
                name = "countryName"  
                placeholder="Country" 
                required
                >
                <label>Country </label>
                <span class="focus-border"></span>
            </div> -->
            <div class="form-group">
                 <label>Country</label>
                <select name="country"   class="form-control"   [(ngModel)] = "country_id " name="country_id" (change)="country($event)">
                        <option   *ngFor="let country of countryArray ;let c =index" 
                            type="text"
                            id="{{country.countryName}}"
                            checked
                            name = "countryName"  
                            placeholder="Country" 
                            [value]="c"
                            required>

                            {{country.countryName }}
                        
                        </option>
                        <!-- <input 
                        type="hidden" 
                        [(ngModel)] = "user.businessInfo.countryId" 
                        id="{{country.countryId}}"
                        checked
                        name = "countryId"  
                        placeholder="Country" 
                        [value]="country.countryId"
                        required
                        > -->
                </select>
            </div>
            <!-- {{district |json}} -->
            <div class="form-group">
                <label>District</label>
                 <select name="district"   class="form-control"  [(ngModel)] = "city_id"  name="city_id"(change)="districtA($event)"  > 
                        <!-- (change)="country($event)" -->
                    <option   *ngFor="let dist of district ;let d =index" 
                        type="text"
                        id="{{dist.name}}"
                        checked
                        name = "dist"  
                        placeholder="District" 
                        [value]="d"
                        required >
                        {{dist.name }}
                    
                    </option>
                   
                 </select>
            </div>
                <div class="form-group">
                    <label>Suburb</label>
                    <select class="form-control" [(ngModel)] = "sub_id"  name="sub_id" (change)="subr($event)" > 
                            <!-- (change)="country($event)" -->
                        <option   *ngFor="let sub of suburb ;let s =index" 
                            type="text"
                            id="{{sub.name}}"
                            checked
                            name = "sub"  
                            placeholder="Suburb" 
                            [value]="s"
                            required>
                            {{sub.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Postal Code</label>
                    <input 
                        class="form-control" 
                        type="text" 
                        placeholder="Postal Code"
                        id="postalCode" 
                        ngModel 
                        #postalCode="ngModel" 
                        [ngModelOptions]="{updateOn: 'blur'}" 
                        [(ngModel)] = "user.businessInfo.postalCode" 
                        name = "postalCode" 
                        pattern="[0-9]{4,6}"
                    />
                    <!-- Postal Code must be 6 digit -->
                    <!-- <small class="form-text text-muted danger" *ngIf="!postalCode.valid && (postalCode.dirty || postalCode.touched)">postal code is required!</small> -->
                </div>

            <div class="form-group">
                <label>Street Address</label>
                <input 
                    class="form-control" 
                    type="text" 
                    id="address" 
                    ngModel #address="ngModel" 
                    [ngModelOptions]="{updateOn: 'blur'}" 
                    [(ngModel)] = "user.businessInfo.address" 
                    name = "address"
                    placeholder="Street Address" 
                    required 
                    minlength="3"
                />
                <small class="form-text text-muted danger" *ngIf="!address.valid && (address.dirty || address.touched)">address is required!</small>
            </div>

            <!-- <div class="input-effect form-group md-form mt-3">
                    <input class="effect-16 validate" 
                    type="text" 
                    id="contactPerson" 
                    [(ngModel)] = "user.contactInfo.contactPerson"
                    name = "contactPerson" 
                    placeholder="contactPerson" 
                    required>
                    <label>Contact Person</label>
                    <span class="focus-bo+rder"></span>
                </div> -->
            <div class="form-group">
                <label>Website</label>
                <input 
                    class="form-control" 
                    type="text" 
                    id="website" 
                    ngModel 
                    #website="ngModel" 
                    [ngModelOptions]="{updateOn: 'blur'}"  
                    [(ngModel)] = "user.contactInfo.website"
                    name = "website" 
                    placeholder="Website"
                />
                <!-- pattern="^(ftp|http|https):\/\/[^ "]+$" -->
                <!-- <small class="form-text text-muted danger" *ngIf="!website.valid && (website.dirty || website.touched)">website is required!</small> -->

            </div>
            <!--[(ngModel)] = "user.businessInfo.postalCode"  -->
        </div>
        <div class="col-sm-12 btnholder">
            <button class="btn btn-raised gradint_blue white signup_nextbtn prevBtn-2 btnborradius pull-left" type="button">Previous</button>
            <button class="btn btn-raised gradint_blue white signup_nextbtn nextBtn-2 btnborradius pull-right" [disabled]="!address.valid" type="button">Next</button>
        </div>
    </div>
    <!-- Fourth Step -->
    
<div class="row setup-content-2" id="step-4">
    <div class="col-md-12">
        <div class="card">
            <div>
                <p class="text-center"><strong>PICK THE BEST PLAN FOR YOU</strong></p>
                <ul class="tabbingdesign">
                    <li class="card-title gradint_blue Suppliertab">Semi Annually</li>
                    <li class="card-title Registertab">Annually</li>
                    <img src="../../assets/img/arrow.svg" class="tabarrow" />
                </ul>
               <div class="clearfix"></div>
                <span class="arrowimg">
                    <img src="https://s3.us-east-2.amazonaws.com/prefect-image/imgpsh_fullsize.png"/>
                </span>
                <p class="text-center">Paying Annually you get <br/><strong>2 additional months for free!</strong></p>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="col-sm-12 mobtextcenter">
                    <input type="text" class="vouchercodeinput" placeholder="Voucher Code" />
                    <button class="btn btnbluecode gradint_blue">Enter</button>
                    <span class="greentext">Voucher Applied 50% Off</span>
                </div>
            </div>
            <section id="filter" style="display: block;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card martop0px" >
                                <div id="membershipcarousel" class="owl-carousel" >
                                    <div  class="col-sm-12" *ngFor="let plan of planArray">
                                        <div class="panel card item" >
                                            <div class="panel-heading arrow_box text-center">
                                                <span class="mostpopulartext">Free</span>
                                                <h3>{{plan.title}}</h3>
                                                <div class="pricesec">
                                                <table align="center">
                                                    <tr>
                                                    <td>MUR</td>
                                                    <td class="pricebig">8</td>
                                                    <td class="text-left lineheight16px">00<br/>/Month</td>
                                                    </tr>
                                                </table>
                                                </div>
                                                <div class="basiccard">Billed Annually</div>
                                            </div>
                                            <ul class="list-group list-group-flush text-center">
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Storefront</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Leads Management</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Linked Accounts</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Wedding Calendar</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Promote Profile</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Publish Events</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Review Management</li>
                                                <li class="list-group-item"><i class="material-icons redtext">cancel</i> Pinned reviews</li>
                                                <li class="list-group-item"><i class="material-icons bluetext">report</i> Limited Photos</li>
                                                <li class="list-group-item"><i class="material-icons redtext">cancel</i> No Album</li>
                                                <li class="list-group-item"><i class="material-icons redtext">cancel</i> No Performance analytics</li>
                                                <li class="list-group-item"><i class="material-icons bluetext">report</i> 1 location</li>
                                                <li class="list-group-item"><i class="material-icons bluetext">report</i> Low Priority in Search Results</li>
                                            </ul>
                                            <div class="panel-footer text-center">
                                                <a class="btn btnchoosetik" type="button" 
                                                (click)= 
                                                "idgenerate(plan)">Select
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <section id="action" style="display: none;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card martop0px">
                                <div id="membershipcarouselann" class="owl-carousel" >
                                    <div class="col-sm-12" *ngFor="let plan of planArray">
                                        <div class="panel card item">
                                            <div class="panel-heading arrow_box text-center">
                                                <span class="mostpopulartext">Free</span>
                                            <h3>{{plan.title}}</h3>
                                                <div class="pricesec">
                                                <table align="center">
                                                    <tr>
                                                    <td>MUR</td>
                                                    <td class="pricebig">8</td>
                                                    <td class="text-left lineheight16px">00<br/>/Annually</td>
                                                    </tr>
                                                </table>
                                                </div>
                                                <div class="basiccard">Billed Annually</div>
                                            </div>
                                            <ul class="list-group list-group-flush text-center">
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Storefront</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Leads Management</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Linked Accounts</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Wedding Calendar</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Promote Profile</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Publish Events</li>
                                                <li class="list-group-item"><i class="material-icons greentext">check_circle</i> Review Management</li>
                                                <li class="list-group-item"><i class="material-icons redtext">cancel</i> Pinned reviews</li>
                                                <li class="list-group-item"><i class="material-icons bluetext">report</i> Limited Photos</li>
                                                <li class="list-group-item"><i class="material-icons redtext">cancel</i> No Album</li>
                                                <li class="list-group-item"><i class="material-icons redtext">cancel</i> No Performance analytics</li>
                                                <li class="list-group-item"><i class="material-icons bluetext">report</i> 1 location</li>
                                                <li class="list-group-item"><i class="material-icons bluetext">report</i> Low Priority in Search Results</li>
                                            </ul>
                                            <div class="panel-footer text-center">
                                                <a class="btn btnchoosetik" type="button" (click)= "annualPrice(plan)">Select
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <div class="clearfix"></div>
            <div class="col-sm-12 btnholder">
                <button class="btn btn-raised prevBtn-2 gradint_blue white signup_nextbtn btnborradius pull-left" type="button">Previous</button>
                <button class="btn btn-raised gradint_blue white nextBtn-2 signup_nextbtn btnborradius pull-right" type="submit" [disabled]="!f.valid">Submit</button>
            </div>   
        </div>
    </div>
 </div>    


</form>
</div>
<app-foot></app-foot>
<router-outlet></router-outlet>


 