.registerbox{
  min-width: 750px !important;
  margin-left: auto;
  margin-right: auto;
}
.wizard-container {
  z-index: 3;
  padding-top: 0px!important;
}
.registerbox .input-group .form-group{
  width: calc(100% - 50px);
}
.materialfirstwizard{
display: block;
width:24px;
padding: 6px 15px 0px;
}
.wizard-card .info-text {margin-left: auto!important;margin-right: auto;}