
<app-menu></app-menu> 
<div class="sign_up_container container" id="up">
    <h2 class="text-center font-bold pt-4 pb-5 mb-5"><strong> Vendor Registration </strong></h2>
    <!-- Stepper -->
    <div class="steps-form-2" (click)="loadScript()">
        <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
            <div class="steps-step-2">
                <a href="#step-1" type="button" class="first_step btn btn-amber btn-circle-2 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="Your Business Category "><i class="fa fa-folder-open-o" aria-hidden="true"></i>
                    
                </a>
                <div class="clearfix"> </div>
                <p class="ml-yb">   Your Business Category  </p>
            </div>
            <div class="steps-step-2">
                <a href="#step-2" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="General Information"><i class="fa fa-pencil" aria-hidden="true"></i>
                    
                </a>
                <p> General Information  </p>
            </div>
            <div class="steps-step-2">
                <a href="#step-3" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Business Information"><i class="fa fa-photo" aria-hidden="true"></i>
                    
                </a>
                <p> Business Information    </p>
            </div>
            <div class="steps-step-2">
                <a href="#step-4" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect mr-0" data-toggle="tooltip" data-placement="top" title="Payment"><i class="fa fa-check" aria-hidden="true"></i>
                    
                </a>
                <p> Payment   </p>  
            </div>
        </div>
    </div>
    <!-- First Step -->
    <form role="form" action="" method="post" class="mt-25 mtx-0" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="row setup-content-2" id="step-1">
            <div class="col-md-12 cate_list">
                <div class="data">
                    <div  class="show" *ngFor="let category of categoryArray">
                        <div class="col-md-4">
                            <ul class="unstyled centered">
                                <h5>{{category.categoryName}}</h5>
                                <li>
                                <input class="styled-checkbox validate" id="styled-checkbox-2" type="checkbox" value="value2" required="required">
                                <label for="styled-checkbox-2">Hotel </label>
                                </li>
                                <li>
                                    <input class="styled-checkbox validate " id="styled-checkbox-3" type="checkbox" value="value3" required="required">
                                    <label for="styled-checkbox-3">Resort </label>
                                </li>
                                <li>
                                    <input class="styled-checkbox validate " id="styled-checkbox-4" type="checkbox" value="value4" required="required">
                                    <label for="styled-checkbox-4">FarmHouse </label>
                                </li>
                                <li>
                                    <input class="styled-checkbox validate " id="styled-checkbox-5" type="checkbox" value="value5" required="required">
                                    <label for="styled-checkbox-5">party loung </label>
                                </li>
                            </ul>
                        </div> 
                    </div>    
                </div> 
            </div> 
            <button class="btn btn-raised gradint_blue  white signup_nextbtn" type="button">
            Next
           </button>
        </div>
        <!-- Second Step -->
        <div class="row setup-content-2" id="step-2">  
            <div class="col-md-6">
                <h3 class="pl-0 my-4 lc_head"> Login Information </h3>
                <div class="input-effect form-group md-form mt-3">
                    <input class="effect-16" type="text" 
                    placeholder="" 
                    id="userName" 
                    [(ngModel)] = "user.logInInfo.userName" 
                    name = "userName" 
                    required >
                    <label>First Name</label>
                    <span class="focus-border"></span>
                </div>   
                <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16" type="text" 
                        placeholder=""  
                        required>
                        <label>Last Name</label>
                        <span class="focus-border"></span>
                </div>   
                <div class="input-effect form-group md-form mt-3">
                    <input class="effect-16" type="password" 
                    placeholder="" 
                    id="password" 
                    [(ngModel)] = "user.logInInfo.password" 
                    name = "password" required>
                    <label>Password</label>
                    <span class="focus-border"></span>
                </div>     
                <div class="input-effect form-group md-form mt-3 mb-xs-20">
                    <input class="effect-16" 
                    type="password" 
                    placeholder="" 
                    id="confirmPassword" 
                    [(ngModel)] = "user.logInInfo.confirmPassword" 
                    name = "confirmPassword" 
                    required>
                    <label>confirm Password</label>
                    <span class="focus-border"></span>
                </div>
            </div>
            <div class="col-md-6">
            <h3 class="pl-0 my-4 lc_head"> Contact Information </h3>
                <div class="input-effect form-group md-form mt-3">
                    <input class="effect-16  validate" type="text" 
                    id="contactPerson" 
                    [(ngModel)] = "user.contactInfo.contactPerson" 
                    name = "contactPerson" 
                    required 
                    placeholder="">
                    <label>contact person </label>
                    <span class="focus-border"></span>
                </div>
                <div class="input-effect form-group md-form mt-3">
                    <input class="effect-16  validate" type="email" 
                    id="email" 
                    [(ngModel)] = "user.contactInfo.email" 
                    name = "email" 
                    required 
                    placeholder="">
                    <label>Email</label>
                    <span class="focus-border"></span>
                </div>
                <div class="input-effect form-group md-form mt-3">
                    <input class="effect-16  validate" type="text"  
                    id="phone" 
                    [(ngModel)] = "user.contactInfo.phone" 
                    name = "phone" 
                    required
                    placeholder="">
                    <label>Phone no</label>
                    <span class="focus-border"></span>
                </div>
                <div class="input-effect form-group md-form mt-3">
                    <input class="effect-16  validate" 
                    type="text"
                    id="website" 
                    [(ngModel)] = "user.contactInfo.website" 
                    name = "website" 
                    required 
                    placeholder="">
                    <label>Website</label>
                    <span class="focus-border"></span>
                </div>
            </div>
            <button class="btn btn-raised gradint_blue white signup_nextbtn" type="button">Next</button>
        </div>
        <!-- Third Step -->
        <div class="row setup-content-2" id="step-3">
            <div class="busi_cont">
                <div class="col-md-12">
                    <h3 class="pl-0 my-4 lc_head"> Business Information </h3>
                    <div class="input-effect form-group md-form mt-3 ">
                        <input class="effect-16 validate" 
                        type="text"
                        id="countryName" 
                        [(ngModel)] = "user.businessInfo.country.countryName" 
                        name = "countryName"  
                        placeholder="" 
                        required
                        >
                        <label>country</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16 validate" 
                        type="text"
                        id="city" 
                        [(ngModel)] = "user.businessInfo.city" 
                        name = "city" 
                        placeholder="" 
                        required
                        >
                        <label>state/city</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16 validate" 
                        type="text" 
                        id="postalCode" 
                        [(ngModel)] = "user.businessInfo.postalCode" 
                        name = "postalCode" 
                        placeholder="" 
                        required>
                        <label>Postal code</label>
                        <span class="focus-bo+rder"></span>
                    </div>               
                    <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16 validate md-textarea" 
                        type="text" 
                        id="address" 
                        [(ngModel)] = "user.businessInfo.address" 
                        name = "address"
                        placeholder="" 
                        required>
                        <label>Address</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16 validate" 
                        type="text" 
                        placeholder=""
                        id="nameOfBusiness" 
                        [(ngModel)] = "user.businessInfo.nameOfBusiness" 
                        name = "nameOfBusiness" 
                        required>
                        <label>Name of your Bussiness</label>
                        <span class="focus-border"></span>
                    </div>
                <button class="btn btn-raised gradint_blue white signup_nextbtn" style="display:inherit;" type="button">Next</button> 
                </div>
            </div>
        </div>
        <!-- Fourth Step -->
        <div class="row setup-content-2" id="step-4">
            <div class="col-md-6 mt-xs-20"> 
                <div class="panel price panel-grey">
                    <div class="panel-heading arrow_box text-center">
                    <h3>FREE PLAN</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:30px"><strong>$0 / month</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><i class="icon-ok text-success"></i> Personal use</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> photo upload</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 chat</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-primary white_text" href="JavaScript:void(0);">BUY NOW!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel price panel-green">
                    <div class="panel-heading arrow_box text-center">
                        <h3>Business Plan</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:30px"><strong>$10 / month</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><i class="icon-ok text-success"></i> Leads</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> Photo upload</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 support</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="JavaScript:void(0);">BUY NOW!</a>
                    </div>
                </div>
                
             
            </div>
            <div class="clearfix"></div>
                <div class="col-sm-12 text-center">


                        <button class="btn btn-raised gradint_blue white signup_nextbtn" style="display:inherit;" id="type-success" (click)="typeSuccess()" type="submit">Signup Success</button> 
                       
                    </div>
        </div>
    </form>
</div>   
<app-foot></app-foot>
<router-outlet></router-outlet> 




   