.freq_ask{
   margin-bottom: 50px;
}
#wrappervendor{
    overflow:hidden!important;
}
.box_text{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-top:none;
}
.freq_ask {
    width: 100wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.box_text p{
    text-align: justify;
}
.col-md-3{
  margin-bottom: 20px;
}

.main_background_advertise{background-image: linear-gradient(to right, #292057, #561d60, #81115e, #a70151, #c2183a);
	    margin-top: -40px;
}
.pt-max {
    padding-top: 20%;
}
.text-center {
    text-align: center !important;
}
.position-relative {
    position: relative !important;
}
.text-white {
    color: #fff !important;
}
.white {
    color: #fff;
}
.primary-btn.banner-btn {
    color: #fff;
    margin-top: 1.875rem;
}
.primary-btn {
    line-height: 2.5rem;
    padding: 0 2.5rem;
    border-radius: 1.25rem;
    background: transparent;
    border: 1px solid #f83a72;
    color: #222222;
    display: inline-block;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.arrow {
    text-align: center;
    margin: 8% 0;
}
.banner-img {
    width: 30%;
    margin-top: 7%;
    margin-left: 3rem !important;
    position: absolute !important;
}
.primary-btn.banner-btn:hover{text-decoration: none;
color: #fff;background: #b10949;}

/*-----top-header end--------*/


section.business-features {
    text-align: center;
    margin-top: 50px;
}
.business-features .fa{
	font-size: 40px;
	color: #585657;
}
.business-features .fa:hover{
	color: #b60e44;
}
.business-features h4 {
    font-size: 20px;
    margin: 20px 0 8px 0;
    font-weight: 600;
}
.col-md-3.social-icon {
    margin-top: 30px;
}
/*--bg-img--*/
.background-image{
	background: url(../../assets/img/img-parallax.png);
	    margin-top: 50px;
        background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .background-image h3 {
    font-size: 1.75rem;
    text-align: center;
    color: #fff;
    padding: 120px 0 30px 0;
}
a.background-image {
    text-align: center;
    display: inline-block;
    background: #fb1b26;
    color: #fff;
    padding: 8px 16px;
    margin: 20px 0 150px 0;
}
.bg-btn{
	text-align: center;
}


/*---form-div---*/
.form-div span {
    color: #ee524c;
}
button.send-btn {
    float: right;
    padding: 4px 30px;
    background: #ee524c;
    border: none;
    color: #fff;
}
section.form-div h3 {
    text-align: center;
    margin: 40px 0;
    position: relative;
}
section.form-div p{
    text-align: center;
    margin: 40px 0;
}
section.form-div h3:after{
	content:'';
    position:absolute;
    left:0; right:0;
    top:100%;
    margin:10px auto;
    width:8%;
    height:2px;
    background:#ee524c;
}
label.form-check-label {
    font-size: 15px;
}
.form-check {
    padding-left: 0;
    margin-bottom: 20px;
}
form label {
    margin-left: 16px;
    letter-spacing: 0;
}



















@media only screen and (max-width: 767px) {
    .banner-heading {
    padding: 0;
}
}
@media only screen and (max-width: 460px) {
    .first-img {
    display: none;
}
.second-img {
    top: 60%;
}
h1.text-white {
    font-size: 30px;
}
h3.white {
    font-size: 20px;
}
button.send-btn {
    float: left;
    margin: 20px 0;
}
.social-icon {
    margin: 0;
}
}