.date{
  padding-left: 90%;
  padding-top: -2%;
}
.pull-left{
 float:left; 
}
 .man_img img{

    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  .Reviews_page{
    margin-top: -20px;
    padding-top: 20px;
  }
  .man_info h2{
    padding-bottom: 10px;
  }
  .revie_name{
    font-size: 22px;
  margin-left: 10px;
  }
  .man_img{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 0px solid #ccc;
    padding-left: 26px;
    padding-top: 20px;
    box-shadow:0px 0px 10px #ccc;
  }
  .checked {
    color: orange;
}
.rating_star{
  margin-top: 10px;
  margin-left: 10px;
}
.responsediv{
    margin-left: 60px;
    border-left: 1px solid #ccc;
    padding-left: 15px;
    font-size:16px;
}
.editbtn{
  position:absolute;
  right:20px;
  background:transparent;
  border:0px;
  box-shadow:none;
}
.editbtn i{    
float: left;
    font-size: 20px;
    line-height: 24px;
    margin-right: 5px;
}
.reviewdate{
  position:absolute;
  right:30px;
  font-size:14px;
}
.sortselect{
  float: right;
  padding: 5px;
  border:1px solid #e5e5e5;
  font-size:14px;
  margin-top:10px;
}

.responsediv strong{font-size:16px;}
.weeks_ago strong{
  color: #ccc;
  margin-left: 10px;
}
.btn-success , .btn-danger{
  color: #fff !important;
}
.btn-success{
  margin-right: 20px !important;
  font-size: 18px !important;
  padding: 5px 20px !important;
}
.btn_button{
  margin-top: 40px;
}
.man_info{
  margin-bottom: 50px;
}


.gradient-pomegranate {
background-image: linear-gradient(45deg, #9B3cb7, #FF396f);

}
.signup_nextbtn[_ngcontent-c5] {
width: 177px;
height: 50px;
font-size: 19px;
margin: 30px auto 20px;
text-transform: uppercase;
padding: 10px 20px !important;
}
.first_rew{
margin-top: 20px;
}
.rating_star span{
margin-right: 2px;
margin-left: 0px; 
}
.share_i{
    margin-left: 100px;
}
.share_i b{
    position: relative;
    top: -6px;
}
.martop20px{
    margin-top: 20px;
}
@media(max-width:767px){
 
  .btn-success{
    margin-right: 20px !important;
  }
  .content{
    padding-left: 0;
    padding-right: 0px;
  }
  .man_info {
    margin-bottom: 30px !important;
  }
  .btn_button {
      text-align: center;
  }
  .man_info{
      margin-top: 60px;
  }
}