<app-menu></app-menu>
<app-tool></app-tool>

<section class="Reviews_page container-fluid">
  <div class="col-sm-12">
    <div class="man_info">
      <h2 class="martop20px"> Reviews
        <!-- <form (ngSubmit)="SortReview()" #sort="ngForm"> -->
        <select class="sortselect" [(ngModel)]="ReviewSearchVMObj.Enum" name="Enum" (change)="changeData()">
          <option>Sort By: Most Helpful</option>
          <option *ngFor="let sort of SortBy ;let s = index" [value]="sort.id">{{sort.name}}</option>
        </select>
        <!-- </form> -->
      </h2>
      <div *ngFor="let review of filtered_reviews">
        <div class="man_img">
          <img src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="">
          <span class="revie_name"> <strong>
              {{review.sendByFirstName}} {{review.sendByLastName}}
            </strong> <br>
            <h5>{{review.sendByEmail}}</h5>
          </span>
          <p class="date">{{review.dateAddedOnString}}</p>
          <div class="rating_star">
            <rating [(ngModel)]="review.rating"></rating>
            <!-- <p>Rate: <b>{{review.rating}}</b></p> -->
            <!-- <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>  -->
            <span class="weeks_ago"> <strong> 2 weeks ago </strong> </span>

          </div>
          <p> {{review.comments}}
            <!-- Excellent Service.Very Friendly Staff and on time. Would highly recommend Excellent Service.Very Friendly Staff and on time. -->
          </p>

          <!-- <div class="btn_button ">
          <p> 
            <span><i class="material-icons">thumb_up</i>{{review.isPinned}} </span> 
            <span class="share_i"> <i class="material-icons"> share </i> <b> Share </b>  </span>  
          </p>
          </div>  -->
          <i class="material-icons rivie_edit" (click)="showNewTaskPopup(tskService.objTodoVm) ">create</i>
        </div>
        <br>
      </div>
      <!-- <div class="man_img first_rew">
        <img src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="" class="pull-left"> 
        <span class="pull-left">
        <span class="revie_name" > 
          <strong> Peeter Parker </strong> 
        </span>
        <span class="reviewdate">
          Apr 28, 2018
        </span>
        <div class="clearfix"></div>
        <span class="rating_star">
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star"></span>
           <span class="fa fa-star"></span> 
           <span class="weeks_ago"> <strong> 2 weeks ago   </strong>  </span>
        </span>
        </span>
        <div class="clearfix"></div>
        <p class="martop20px"> Excellent Service.Very Friendly Staff and on time. Would highly recommend Excellent Service.Very Friendly Staff and on time.</p>
        <div class="responsediv">
          <strong>Response from the owner</strong> 5 months ago
          <div class="clearfix"></div>
          Thank you, It was my pleasure to work with you  to get your website

          <button class="editbtn">
            <i class="material-icons">create</i> Edit
          </button>
        </div>
      </div> 
       <div class="man_img first_rew">
        <img src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="" class="pull-left"> 
        <span class="pull-left">
        <span class="revie_name" > 
          <strong> Peeter Parker </strong> 
        </span>
        <span class="reviewdate">
          Apr 28, 2018
        </span>
        <div class="clearfix"></div>
        <span class="rating_star">
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star"></span>
           <span class="fa fa-star"></span> 
           <span class="weeks_ago"> <strong> 2 weeks ago   </strong>  </span>
        </span>
        </span>
        <div class="clearfix"></div>
        <p class="martop20px"> Excellent Service.Very Friendly Staff and on time. Would highly recommend Excellent Service.Very Friendly Staff and on time.</p>
        <div class="responsediv">
          <strong>Response from the owner</strong> 5 months ago
          <div class="clearfix"></div>
          Thank you, It was my pleasure to work with you  to get your website

          <button class="editbtn">
            <i class="material-icons">create</i> Edit
          </button>
        </div>
      </div>  -->
      <div class="modal fade" [ngClass]="{'show' : Newtast_dialog}" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title text-left" style="width:100%;">Review : Name of my business</h4>
              <button class="btnradius50per" (click)="close()" type="button"> X </button>
            </div>
            <div class="modal-body">
              <div>
                <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
                  <div class="vp_review_txt">
                    <div class="vp_giveReviewBox"><span>Give A Review:</span><span class="rateYo jq-ry-container" id="rateYoRateAndComment"
                        style="width: 60px">
                        <div class="jq-ry-group-wrapper">
                          <div class="jq-ry-normal-group jq-ry-group">
                            <rating name="rating"  ng-reflect-name="rating"  class="ng-untouched ng-pristine ng-valid"><span
                                aria-valuemin="0" class="rating" role="slider" tabindex="0"
                                aria-valuemax="5" aria-valuenow="">
                                <span><i data-icon="★" class="star-icon half0" title="1">☆</i></span>
                                <span><i data-icon="★" class="star-icon half-100" title="2">☆</i></span>
                                <span><i data-icon="★" class="star-icon half-200" title="3">☆</i></span>
                                <span><i data-icon="★" class="star-icon half-300" title="4">☆</i></span>
                                <span><i data-icon="★" class="star-icon half-400" title="5">☆</i></span></span>
                              </rating>
                          </div>
                        </div>
                      </span>
                      <div class="textInput">
                         <input class="textInputInner ng-untouched ng-pristine ng-invalid" name="comments"
                          placeholder="Write a Review"  type="text">
                          <button class="textInputSubmit" type="submit" value="SUBMIT">SUBMIT</button>
                          <input class="submitedRating" type="hidden" value="0">
                        <div class="errorInValidation sendAReview"> Your review is empty. SUBMIT again to send
                          this anyway </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-foot></app-foot>
<router-outlet></router-outlet>