<app-menu></app-menu>
<app-tool></app-tool>
<section class="Reviews_page container-fluid">
  <div class="col-sm-12">
    <div class="man_info">
      <h2 class="martop20px"> Reviews
        <select class="sortselect" [(ngModel)]="ReviewSearchVMObj.Enum" name="Enum" (change)="changeData()">
          <option disabled [value]="undefined">Sort By: Most Helpful</option>
          <!-- <option *ngFor="let sort of SortBy ;let s = index" [value]="sort.id">{{sort.name}}</option> -->
        </select>
      </h2>
      <div *ngFor="let review of filtered_reviews">
        <div class="man_img">
          <img src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg">
          <span class="revie_name"> <strong>
              {{review.sendByFirstName}} {{review.sendByLastName}}
            </strong> <br>
            <h5>{{review.sendByEmail}}</h5>
          </span>
          <p class="date">{{review.dateAddedOnString}}</p>
          <div class="rating_star"> 
            <rating [(ngModel)]="review.rating"></rating>
            <span class="weeks_ago"> <strong> 2 weeks ago </strong> </span>
          </div>
          <p> {{review.comments}}
            <!-- Excellent Service.Very Friendly Staff and on time. Would highly recommend Excellent Service.Very Friendly Staff and on time. -->
          </p>

          <!-- <div class="btn_button ">
          <p> 
            <span><i class="material-icons">thumb_up</i>{{review.isPinned}} </span> 
            <span class="share_i"> <i class="material-icons"> share </i> <b> Share </b>  </span>  
          </p>
          </div>  -->
          <i class="material-icons rivie_edit" (click)="showNewTaskPopup(review)">create</i>
        </div>
        <br>
      </div>
      
      <div class="modal fade" [ngClass]="{'show' : Newtast_dialog }" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title text-left" style="width:100%;">Give A Review:</h4>
              <button class="btnradius50per" (click)="close()" type="button"> X </button>
            </div>
            <div class="modal-body">
              <div>
                <!--Update Review Form Start-->
                <form (ngSubmit)="updateReview(rev)" class="ng-untouched ng-pristine ng-invalid" #rev="ngForm">
                  <div class="vp_review_txt">
                    <div class="vp_giveReviewBox">
                      <span class="rateYo jq-ry-container" id="rateYoRateAndComment"
                        style="width: 60px">
                        <input type="hidden" id="reviewId" name="reviewId" [(ngModel)]="updateReviewObj.reviewId" class="form-control">
                        <div class="jq-ry-group-wrapper">
                          <div class="jq-ry-normal-group jq-ry-group">
                              <rating [(ngModel)]="updateReviewObj.rating" name="rating"></rating>
                          </div>
                        </div>
                      </span>
                      <div class="textInput">
                         <input 
                              class="textInputInner ng-untouched ng-pristine ng-invalid" 
                              name="comments"
                              placeholder="Write a Review"  
                              type="text"
                              [(ngModel)]="updateReviewObj.comments"
                              />
                          <button class="textInputSubmit" type="submit">SUBMIT</button>
                      </div>
                    </div>
                  </div>
                </form>
                 <!--Update Review Form End-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-foot></app-foot>
<router-outlet></router-outlet>