<app-menu></app-menu>
<app-tool></app-tool>

<section class="Reviews_page container-fluid">
  <div class="col-sm-12">
  <div class="man_info">
    <h2 class="martop20px"> Reviews 
      <select class="sortselect">
        <option>Sort By: Most Helpful</option>
      </select>
    </h2>
    <div *ngFor="let review of reviewsArray" >
      <div class="man_img" >
        <img src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt=""> 
        <span class="revie_name"> <strong> 
          {{review.sendByFirstName}} {{review.sendByLastName}} 
        </strong> <br>
        <h5>{{review.sendByEmail}}</h5>
        </span>
        <p class="date">{{review.dateAddedOnString}}</p>
        <div class="rating_star">
            <rating [(ngModel)]="review.rating"></rating>
            <!-- <p>Rate: <b>{{review.rating}}</b></p> -->
            <!-- <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>  -->
            <span class="weeks_ago"> <strong> 2 weeks ago   </strong>  </span>
            
        </div>
        <p> {{review.comments}}
           <!-- Excellent Service.Very Friendly Staff and on time. Would highly recommend Excellent Service.Very Friendly Staff and on time. -->
        </p>

        <div class="btn_button ">
          <p> <span><i class="material-icons">thumb_up</i> </span> <span class="share_i"> <i class="material-icons"> share </i> <b> Share </b>  </span>  </p>
        </div>
      </div>
      <br>
    </div>
     <!-- <div class="man_img first_rew">
        <img src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="" class="pull-left"> 
        <span class="pull-left">
        <span class="revie_name" > 
          <strong> Peeter Parker </strong> 
        </span>
        <span class="reviewdate">
          Apr 28, 2018
        </span>
        <div class="clearfix"></div>
        <span class="rating_star">
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star"></span>
           <span class="fa fa-star"></span> 
           <span class="weeks_ago"> <strong> 2 weeks ago   </strong>  </span>
        </span>
        </span>
        <div class="clearfix"></div>
        <p class="martop20px"> Excellent Service.Very Friendly Staff and on time. Would highly recommend Excellent Service.Very Friendly Staff and on time.</p>
        <div class="responsediv">
          <strong>Response from the owner</strong> 5 months ago
          <div class="clearfix"></div>
          Thank you, It was my pleasure to work with you  to get your website

          <button class="editbtn">
            <i class="material-icons">create</i> Edit
          </button>
        </div>
      </div> 
       <div class="man_img first_rew">
        <img src="https://s3.us-east-2.amazonaws.com/prefect-image/cake.jpg" alt="" class="pull-left"> 
        <span class="pull-left">
        <span class="revie_name" > 
          <strong> Peeter Parker </strong> 
        </span>
        <span class="reviewdate">
          Apr 28, 2018
        </span>
        <div class="clearfix"></div>
        <span class="rating_star">
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star"></span>
           <span class="fa fa-star"></span> 
           <span class="weeks_ago"> <strong> 2 weeks ago   </strong>  </span>
        </span>
        </span>
        <div class="clearfix"></div>
        <p class="martop20px"> Excellent Service.Very Friendly Staff and on time. Would highly recommend Excellent Service.Very Friendly Staff and on time.</p>
        <div class="responsediv">
          <strong>Response from the owner</strong> 5 months ago
          <div class="clearfix"></div>
          Thank you, It was my pleasure to work with you  to get your website

          <button class="editbtn">
            <i class="material-icons">create</i> Edit
          </button>
        </div>
      </div>  -->

     

       


  </div>
</div>

</section> 

      <app-foot></app-foot>
<router-outlet></router-outlet> 